@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
                                          {
                                              settings.Name = "gridViewCharges";
                                              settings.CallbackRouteValues = new
                                                                             {
                                                                                 Controller = "Charges",
                                                                                 Action = "ListViewPartial"
                                                                             };

                                              settings.SettingsEditing.DeleteRowRouteValues = new
                                                                                              {
                                                                                                  Controller = "Charges",
                                                                                                  Action = "ListViewPartialDelete"
                                                                                              };

                                              settings.Width = Unit.Percentage(100);

                                              settings.CommandColumn.Visible = false;

                                              settings.KeyFieldName = "Id";

                                              settings.EnableRowsCache = true;

                                              settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                              settings.SettingsPager.Visible = true;
                                              settings.Settings.ShowGroupPanel = true;
                                              settings.Settings.ShowFilterRow = true;
                                              settings.Settings.GridLines = GridLines.Both;

                                              settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                                              settings.SettingsBehavior.AllowSelectByRowClick = true;
                                              settings.SettingsBehavior.ConfirmDelete = true;
                                              settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                                              settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                                              settings.SettingsPager.FirstPageButton.Visible = true;
                                              settings.SettingsPager.LastPageButton.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.Width = Unit.Pixel(150);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ChargeViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsEditCharge))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-purple btn-circle' href='{Url.Action("Edit", "Charges", new { id = row.Id })}'><span class='fa fa-pencil'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsDeleteCharge))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsAddCharge))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("Add", "Charges")}'><span class='fa fa-plus'></span></a>");
                                                                                                             }
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("ChargeCode").Width = Unit.Pixel(200);
                                              settings.Columns.Add("Description").Width = Unit.Pixel(400);
                                              var col = settings.Columns.Add("ValidFrom", MVCxGridViewColumnType.DateEdit);
                                              col.Settings.AutoFilterCondition = AutoFilterCondition.GreaterOrEqual;
                                              col.Width = Unit.Pixel(200);
                                              col = settings.Columns.Add("ValidTo", MVCxGridViewColumnType.DateEdit);
                                              col.Settings.AutoFilterCondition = AutoFilterCondition.LessOrEqual;
                                              col.Width = Unit.Pixel(200);
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "ChargeAmount";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ChargeViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             if (row.IsChargeInPercentage)
                                                                                                             {
                                                                                                                 Html.DevExpress().Label(s => { s.Text = row.ChargeAmount.ToString("P0"); }).Render();
                                                                                                             }
                                                                                                             else
                                                                                                             {
                                                                                                                 Html.DevExpress().Label(s => { s.Text = row.ChargeAmount.ToString("C"); }).Render();
                                                                                                             }
                                                                                                         });
                                                                   });
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "ServiceId";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.Caption = "Service";
                                                                       column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                                                       var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                                                                       comboBoxProperties.DataSource = OrdersController.GetServices();
                                                                       comboBoxProperties.TextField = "Name";
                                                                       comboBoxProperties.ValueField = "Id";
                                                                       comboBoxProperties.ValueType = typeof(int);
                                                                   });
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "SizeId";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.Caption = "Size";
                                                                       column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                                                       var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                                                                       comboBoxProperties.DataSource = OrdersController.GetSizes();
                                                                       comboBoxProperties.TextField = "Name";
                                                                       comboBoxProperties.ValueField = "Id";
                                                                       comboBoxProperties.ValueType = typeof(int);
                                                                   });
                                              settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

                                              settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
                                          });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = ChargesController.GetCharges(); }).GetHtml()