﻿@using Courier_Management_System.Areas.Admin.Controllers
@model Courier_Management_System.Models.AddEditChargeViewModel

@{
    ViewBag.Title = "Edit Charge";
    var services = ViewBag.Services as List<SelectListItem> ?? new List<SelectListItem>();
    var sizes = ViewBag.Sizes as List<SelectListItem> ?? new List<SelectListItem>();
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-add-charge').addClass("active");
            $('#menu-add-charge').parents('.treeview').addClass("active");
            $('#menu-add-charge').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            editor = $(".textarea").wysihtml5();

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('#date-range-selector').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Next 7 Days': [moment(), moment().add(6, 'days')],
                        'Next 30 Days': [moment(), moment().add(29, 'days')],
                        'This Month': [moment().startOf('month'), moment().endOf('month')]
                    },
                    startDate: moment(),
                    endDate: moment().add(29, 'days')
                },
                function (start, end) {
                    $('#ValidFrom').val(start.format('DD/MM/YYYY'));
                    $('#ValidTo').val(end.format('DD/MM/YYYY'));
                }
            );

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.ChargeCode)
                            <label>@(Model?.ChargeCode)</label>
                            @Html.HiddenFor(m => m.ChargeCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new
                       {
                           @class = "form-control textarea",
                           rows = "5"
                       })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-left" id="date-range-selector" value="@(Model?.ValidFrom != null && Model?.ValidTo != null ? (Model?.ValidFrom.Value.ToString("MM/dd/yyyy") + " - " + Model?.ValidTo.Value.ToString("MM/dd/yyyy")) : "")">
                            </div>
                            @Html.HiddenFor(m => m.ValidFrom)
                            @Html.HiddenFor(m => m.ValidTo)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ChargeAmount)
                            @Html.TextBoxFor(m => m.ChargeAmount, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_min_value = "-999999999"
                       })
                            @Html.ValidationMessageFor(m => m.ChargeAmount)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsChargeInPercentage)
                                Is Charge in Percentage?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsChargeInPercentage)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ServiceId)
                            @Html.DropDownListFor(m => m.ServiceId, services, new
                            {
                                @class = "form-control"
                            })
                            @Html.ValidationMessageFor(m => m.ServiceId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SizeId)
                            @Html.DropDownListFor(m => m.SizeId, sizes, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.SizeId)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
