﻿@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddEditCodOptionViewModel

@{
    ViewBag.Title = "Edit COD Option";
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-add-cod-option').addClass("active");
            $('#menu-add-cod-option').parents('.treeview').addClass("active");
            $('#menu-add-cod-option').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            editor = $(".textarea").wysihtml5();

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new
                       {
                           @class = "form-control textarea",
                           rows = "5"
                       })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Type)
                            @Html.DropDownListFor(m => m.Type, EnumHelper.GetSelectList(typeof(CodOptionTypes)), new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Type)
                        </div>

                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.ChargeAmount)
                            @Html.TextBoxFor(m => m.ChargeAmount, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_min_value = "0"
                       })
                            @Html.ValidationMessageFor(m => m.ChargeAmount)
                        </div>
                        <div class="form-group for-staff">
                            <label>
                                @Html.CheckBoxFor(m => m.IsChargeInPercentage)
                                Is Charge in Percentage?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsChargeInPercentage)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
