﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.container {
    width: 100%;
}

.map {
    border: solid 1px #ccc;
    min-height: 50vh;
    margin-bottom: 15px;
}

.navbar-inverse {
    background-color: #1E5B94;
}

    .navbar-inverse .navbar-brand {
        color: #F37028;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;
    }

        .navbar-inverse .navbar-brand img {
            float: left;
            margin-right: 5px;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #F3ED33;
    }

.navbar .navbar-btn {
    margin-left: 15px;
}

.template {
    display: none;
    visibility: hidden;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0 15px;
}

    .validation-summary-errors ul li {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid transparent;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }

.input-validation-error {
    border-color: #c87872;
    -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}

    .input-validation-error:focus {
        border-color: #b9554d;
        -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
        -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
        box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    }

.warningCode {
    background-color: #FF9900;
    color: #000;
}

.errorCode {
    background-color: #CC0000;
    color: #DDDDDD;
}

#locationsForm .table-responsive, #vehiclesForm .table-responsive {
    min-height: 400px;
}

#addressList, #vehicleList {
    -moz-min-width: 1800px;
    -ms-min-width: 1800px;
    -o-min-width: 1800px;
    -webkit-min-width: 1800px;
    min-width: 1800px;
}

    #addressList .col-1 {
        width: 11%;
    }

    #addressList .col-2 {
        width: 12%;
    }

    #addressList .col-3 {
        width: 10%;
    }

    #addressList .col-4 {
        width: 9%;
    }

    #addressList .col-5 {
        width: 8%;
    }

    #addressList .col-6 {
        width: 10%;
    }

    #addressList .col-7 {
        width: 10%;
    }

    #addressList .col-8 {
        width: 12%;
    }

    #addressList .col-9 {
        width: 9%;
    }

    #addressList .col-10 {
        width: 9%;
    }

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
}

@media (min-width: 1400px) {
    #addressList .col-1 {
        width: 12%;
    }

    #addressList .col-2 {
        width: 20%;
    }

    #addressList .col-3 {
        width: 8%;
    }

    #addressList .col-4 {
        width: 8%;
    }

    #addressList .col-5 {
        width: 7%;
    }

    #addressList .col-6 {
        width: 9%;
    }

    #addressList .col-7 {
        width: 9%;
    }

    #addressList .col-8 {
        width: 11%;
    }

    #addressList .col-9 {
        width: 8%;
    }

    #addressList .col-10 {
        width: 8%;
    }
}
