﻿
@{
    ViewBag.Title = "Show Pricing";
    var services = ViewBag.Services as List<Service> ?? new List<Service>();
    var productTypes = ViewBag.ProductTypes as List<ProductType> ?? new List<ProductType>();
    var sizes = ViewBag.Sizes as List<Size> ?? new List<Size>();
    var prices = Model as List<Pricing> ?? new List<Pricing>();
}


@section scripts
{
    <script>
        $(function () {
            $('#menu-show-pricing').addClass("active");
            $('#menu-show-pricing').parents('.treeview').addClass("active");
            $('#menu-show-pricing').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $("input").change(function () {
                var idParts = $(this).attr("id").split('_');
                if (idParts.length < 4) {
                    return;
                }

                var url, params;
                if (idParts[0] == "cost") {
                    url = "@Url.Action("UpdatePrice", "Pricing")";
                    params = {
                        serviceId: idParts[1],
                        productTypeId: idParts[2],
                        sizeId: idParts[3],
                        cost: $(this).val()
                    }
                }
                else {
                    return;
                }

                var that = this;
                $(this).attr("disabled", "disabled");
                $.ajax({
                    url: url,
                    data: params,
                    type: 'POST',
                    success: function (data) {
                        if (data.Error == true) {
                            $(that).addClass("input-validation-error");
                        } else {
                            $(that).removeClass("input-validation-error");
                        }
                        $(that).removeAttr("disabled");
                    },
                    error: function () {
                        $(that).removeAttr("disabled");
                    }
                });
            });
        });
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-horizontal">
            <div class="dxgvCSD" style="overflow-x: auto; overflow-y: hidden;">
                <table class="dxgvTable_Moderno" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; empty-cells: show; table-layout: fixed; overflow: hidden;">
                    <tbody>
                        <tr>
                            <td class="dxgvHeader_Moderno" style="border-top-width: 0px; border-left-width: 0px; width: 100px;">
                                Service
                            </td>
                            @foreach (var type in productTypes)
                            {
                                <td class="dxgvHeader_Moderno" style="border-top-width: 0px; border-left-width: 0px; width: 200px;">
                                    @type.ProductTypeName
                                </td>
                            }
                        </tr>
                        @for (var i = 0; i < services.Count; i++)
                        {
                            var service = services[i];
                            <tr class="dxgvDataRow_Moderno @(i % 2 != 0 ? "dxgvDataRowAlt_Moderno" : "")">
                                <td class="dxgvHeader_Moderno" style="border-bottom-width: 0px; border-top-width: 0px; border-left-width: 0px;">@service.ServiceName</td>
                                @foreach (var type in productTypes)
                                {
                                    <td class="dxgv" style="border-bottom-width: 0px;">
                                        @foreach (var size in sizes.Where(x=>x.ProductTypeId == type.Id))
                                        {
                                            var pricing = prices.FirstOrDefault(x => x.ServiceId == service.Id && x.ProductTypeId == type.Id && x.SizeId == size.Id);
                                            <div class="form-group">
                                                <label for="cost_@(service.Id)_@(type.Id)_@(size.Id)" class="col-md-3 col-sm-4 control-label">@size.SizeName</label>
                                                <div class="col-md-9 col-sm-8">
                                                    <input id="cost_@(service.Id)_@(type.Id)_@(size.Id)" name="cost_@(service.Id)_@(type.Id)_@(size.Id)" type="text" placeholder="Charged Fee"
                                                           class="form-control number-spinner" data-step="0.01" data-decimals="2" data-prefix="$" value="@(pricing?.ChargedCost ?? 0)" />
                                                </div>
                                            </div>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
