@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewPricePlans";
        settings.CallbackRouteValues = new
        {
            Controller = "PricePlans",
            Action = "ListViewPartial"
        };

        settings.SettingsEditing.DeleteRowRouteValues = new
        {
            Controller = "PricePlans",
            Action = "ListViewPartialDelete"
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(150);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (PricePlanViewModel) e.Grid.GetRow(e.VisibleIndex);
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersEditPricePlan))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-purple btn-circle' href='{Url.Action("Edit", "PricePlans", new { id = row.Id })}'><span class='fa fa-pencil'></span></a>");
                }
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersDeletePricePlan))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                }
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddPricePlan))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("Add", "PricePlans")}'><span class='fa fa-plus'></span></a>");
                }
            });
        });
        settings.Columns.Add("PlanName").Width = Unit.Pixel(200);
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "LimitValue";
        //    column.Width = Unit.Pixel(200);
        //    column.SetDataItemTemplateContent(e =>
        //    {
        //        var row = (PricePlanViewModel) e.Grid.GetRow(e.VisibleIndex);
        //        if (row.UnitType == UnitTypes.SpentAmount)
        //        {
        //            Html.DevExpress().Label(s => { s.Text = row.LimitValue.ToString("C"); }).Render();
        //        }
        //        else
        //        {
        //            Html.DevExpress().Label(s => { s.Text = row.LimitValue.ToString("N0"); }).Render();
        //        }
        //    });
        //});
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "UnitType";
        //    column.Width = Unit.Pixel(200);
        //    column.Caption = "Unit Type";
        //    column.ColumnType = MVCxGridViewColumnType.ComboBox;

        //    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
        //    comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(UnitTypes));
        //    comboBoxProperties.TextField = "Text";
        //    comboBoxProperties.ValueField = "Value";
        //    comboBoxProperties.ValueType = typeof(int);
        //});
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "Comparison";
        //    column.Width = Unit.Pixel(200);
        //    column.Caption = "Comparison Type";
        //    column.ColumnType = MVCxGridViewColumnType.ComboBox;

        //    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
        //    comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(ComparisonTypes));
        //    comboBoxProperties.TextField = "Text";
        //    comboBoxProperties.ValueField = "Value";
        //    comboBoxProperties.ValueType = typeof(int);
        //});
        //var col = settings.Columns.Add("RebateAmount");
        //col.Width = Unit.Pixel(200);
        //col.PropertiesEdit.DisplayFormatString = "P0";
        //settings.Columns.Add(column =>
        //{
        //    column.FieldName = "PeriodType";
        //    column.Width = Unit.Pixel(200);
        //    column.Caption = "Period Type";
        //    column.ColumnType = MVCxGridViewColumnType.ComboBox;

        //    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
        //    comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(PeriodTypes));
        //    comboBoxProperties.TextField = "Text";
        //    comboBoxProperties.ValueField = "Value";
        //    comboBoxProperties.ValueType = typeof(int);
        //});
        settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

        settings.Columns.Add(column => {
            column.Caption = "Default Promo Code";
            column.FieldName = "DefaultPromoCode";
            column.Width = Unit.Pixel(300);
            column.SetDataItemTemplateContent(e =>
            {
                var rows = (PricePlanViewModel) e.Grid.GetRow(e.VisibleIndex);

                if(rows.DefaultPromoCode != null)
                    foreach (var row in rows.DefaultPromoCode.ToString().Split(','))
                    {
                        Html.ViewContext.Writer.Write(row.ToString());
                        Html.ViewContext.Writer.Write("</br>");
                    }
            }
            );

        });

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = PricePlansController.GetCustomerPricePlans(); }).GetHtml()