﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@model Courier_Management_System.Models.AddEditPricePlanViewModel

@{
    ViewBag.Title = "Edit Customer Price Plan";
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-add-price-plan').addClass("active");
            $('#menu-add-price-plan').parents('.treeview').addClass("active");
            $('#menu-add-price-plan').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $("input.number-spinner").each(function() {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.PlanName) (*)
                            @Html.TextBoxFor(m => m.PlanName, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.PlanName)
                        </div>
                        @*<div class="form-group" style="display:none">
                            @Html.LabelFor(m => m.LimitValue) (*)
                            @Html.TextBoxFor(m => m.LimitValue, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2"
                       })
                            @Html.ValidationMessageFor(m => m.LimitValue)
                        </div>
                        <div class="form-group" style="display:none">
                            @Html.LabelFor(m => m.UnitType) (*)
                            @Html.EnumDropDownListFor(m => m.UnitType, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.UnitType)
                        </div>
                        <div class="form-group" style="display:none">
                            @Html.LabelFor(m => m.Comparison) (*)
                            @Html.EnumDropDownListFor(m => m.Comparison, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Comparison)
                        </div>
                        <div class="form-group" style="display:none">
                            @Html.LabelFor(m => m.RebateAmount) (*)
                            @Html.TextBoxFor(m => m.RebateAmount, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "1",
                           data_decimals = "0",
                           data_postfix = "%"
                       })
                            @Html.ValidationMessageFor(m => m.RebateAmount)
                        </div>
                        <div class="form-group" style="display:none">
                            @Html.LabelFor(m => m.PeriodType) (*)
                            @Html.EnumDropDownListFor(m => m.PeriodType, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.PeriodType)
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.DefaultPromoCode)
                            @Html.DevExpress().TokenBox(settings =>
                                                        {
                                                            settings.Name = "DefaultPromoCode";
                                                            settings.Width = Unit.Percentage(100);
                                                            settings.Properties.AllowCustomTokens = false;
                                                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                                            settings.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Always;
                                                            settings.Properties.TextField = "Text";
                                                            settings.Properties.ValueField = "Value";
                                                        }).BindList(PricePlansController.GetCharges()).Bind(Model?.DefaultPromoCode).GetHtml()
                            @Html.ValidationMessageFor(m => m.DefaultPromoCode)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
