﻿@model Courier_Management_System.Models.AddEditZipCodeViewModel

@{
    ViewBag.Title = "Add Postal Code";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-add-postal').addClass("active");
            $('#menu-add-postal').parents('.treeview').addClass("active");
            $('#menu-add-postal').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.PostalCode) (*)
                            @Html.TextBoxFor(m => m.PostalCode, new
                           {
                               @class = "form-control"
                           })
                            @Html.ValidationMessageFor(m => m.PostalCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BuildingName)
                            @Html.TextBoxFor(m => m.BuildingName, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.BuildingName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UnitNumber)
                            @Html.TextBoxFor(m => m.UnitNumber, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.UnitNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StreetName)
                            @Html.TextBoxFor(m => m.StreetName, new
                            {
                                @class = "form-control"
                            })
                            @Html.ValidationMessageFor(m => m.UnitNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BuildingType)
                            @Html.TextBoxFor(m => m.BuildingType, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.BuildingType)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.Latitude)
                            @Html.TextBoxFor(m => m.Latitude, new
                           {
                               @class = "form-control number-spinner",
                               data_step = "0.000000001",
                               data_decimals = "9",
                               data_min_value = "-999999999"
                           })
                            @Html.ValidationMessageFor(m => m.Latitude)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.Longitude)
                            @Html.TextBoxFor(m => m.Longitude, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.000000001",
                           data_decimals = "9",
                           data_min_value = "-999999999"
                       })
                            @Html.ValidationMessageFor(m => m.Longitude)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DistrictCode)
                            @Html.TextBoxFor(m => m.DistrictCode, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.DistrictCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Zone)
                            @Html.TextBoxFor(m => m.Zone, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Zone)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
