﻿@{
    ViewBag.Title = "Update Geolocation";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-update-postals').addClass("active");
            $('#menu-update-postals').parents('.treeview').addClass("active");
            $('#menu-update-postals').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function submitForm() {
            if ($('#updateForm').valid()) {
                $('#updateForm button[type=submit]').hide();
            }
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="updateForm" role="form" method="POST" onsubmit="submitForm()">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@Html.Raw(message)</li>
                                    }
                                </ul>
                            </div>
                        }
                        else if (ViewBag.Counter != null)
                        {
                            <div class="alert alert-success alert-dismissible">
                                Update Geolocation process is completed at item #@ViewBag.Counter
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="ServerKey">Google Server key</label>
                            <input class="form-control" data-val="true" data-val-required="The Server key field is required." id="ServerKey" name="ServerKey" type="text" aria-required="true" />
                        </div>
                        <div class="form-group">
                            <label for="StartFrom">Start From Index</label>
                            <input class="form-control" data-val="true" data-val-regex="The Start Form Index must be a number." data-val-regex-pattern="[0-9]+" id="StartFrom" name="StartFrom" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="NumberItems">Number of Items</label>
                            <input class="form-control" data-val="true" data-val-regex="The Number of Items must be a number." data-val-regex-pattern="[0-9]+" id="NumberItems" name="NumberItems" type="text" />
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Start</button>
                        <br />
                        <em class="text-danger"><strong>Caution:</strong> this progcess will runs very slowly and consume your Google account's credit for geolocation retrieving.</em>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
