﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewOrders";
        settings.CallbackRouteValues = new
        {
            Controller = "Requests",
            Action = "RepickupViewPartial"
        };

        settings.SettingsEditing.DeleteRowRouteValues = new
        {
            Controller = "Requests",
            Action = "RepickupViewPartialDelete"
        };

        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView)sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.SettingsCookies.StoreColumnsVisiblePosition = true;
        settings.SettingsCookies.StoreColumnsWidth = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.GridLines = GridLines.Both;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(150);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (RequestViewModel)e.Grid.GetRow(e.VisibleIndex);
                if (row.Status == OrderStatuses.PickupFailed)
                {
                    if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditFailedOrder))
                    {
                        ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("EditFailed", "Orders", new
                        {
                            id = row.OrderId
                        }) + "'><span class='fa fa-pencil'></span></a>");
                    }
                    if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditRePickupRequest))
                    {
                        ViewContext.Writer.Write($"<a class='btn bg-navy btn-circle' href='javascript:doAction({row.Id}, \"apply\")'><span class='fa fa-reply-all'></span></a>");
                    }
                }
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersDeleteRePickupRequest))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                }
            });
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "ConsignmentNumber";
            column.Width = Unit.Pixel(200);
            column.Caption = "Consignment Number";
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

            column.SetDataItemTemplateContent(e =>
            {
                var row = (RequestViewModel)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"{row.ConsignmentNumber}");
                if (!string.IsNullOrEmpty(row.QrCodePath))
                {
                    ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-purple' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.QrCodePath) + "\", \"" + row.ConsignmentNumber + "\")'>Show QR code</a>");
                }
            });
        });
        var col = settings.Columns.Add("BinCode");
        col.Width = Unit.Pixel(150);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("FailedPickupDate");
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col = settings.Columns.Add("RequestDate");
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col = settings.Columns.Add("PickupRequest");
        col.Caption = "Remark";
        col.Width = Unit.Pixel(300);
        col = settings.Columns.Add("PickupDate", MVCxGridViewColumnType.DateEdit);
        col.Caption = "Rescheduled Date";
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        settings.Columns.Add(column =>
        {
            column.FieldName = "PickupTimeSlotId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Rescheduled Time Slot";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
            {
                Id = x.Id,
                Name = x.Name,
                FromTime = x.FromTime.ToString("HH:mm"),
                ToTime = x.ToTime.ToString("HH:mm")
            }).ToList();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
            comboBoxProperties.Columns.Add("FromTime");
            comboBoxProperties.Columns.Add("ToTime");
        });
        col = settings.Columns.Add("CustomerCompany");
        col.Width = Unit.Pixel(200);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Columns.Add(column =>
        {
            column.FieldName = "FromName";
            column.Width = Unit.Pixel(200);
            column.Caption = "From Name";
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

            column.SetDataItemTemplateContent(e =>
            {
                var row = (RequestViewModel)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"{row.FromName}");
                if (!string.IsNullOrEmpty(row.FromSignature))
                {
                    if (row.Status == OrderStatuses.PickupFailed)
                    {
                        ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-olive' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.FromSignature) + "\")'>Show proof of pickup</a>");
                    }
                    else
                    {
                        ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-olive' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.FromSignature) + "\")'>Show sender's signature</a>");
                    }
                }
            });
        });
        settings.Columns.Add("FromZipCode").Width = Unit.Pixel(200);
        col = settings.Columns.Add("FromDistrictCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("FromZoneCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("FromAddress");
        col.Width = Unit.Pixel(300);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("FromMobilePhone");
        col.Width = Unit.Pixel(200);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Columns.Add(column =>
        {
            column.FieldName = "ToName";
            column.Width = Unit.Pixel(200);
            column.Caption = "To Name";
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

            column.SetDataItemTemplateContent(e =>
            {
                var row = (RequestViewModel)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"{row.ToName}");
                if (!string.IsNullOrEmpty(row.ToSignature))
                {
                    if (row.Status == OrderStatuses.DeliveryFailed)
                    {
                        ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.ToSignature) + "\")'>Show proof of delivery</a>");
                    }
                    else
                    {
                        ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.ToSignature) + "\")'>Show receiver's signature</a>");
                    }
                }
            });
        });
        settings.Columns.Add("ToZipCode").Width = Unit.Pixel(200);
        col = settings.Columns.Add("ToDistrictCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("ToZoneCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("ToAddress");
        col.Width = Unit.Pixel(300);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("ToMobilePhone");
        col.Width = Unit.Pixel(200);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("DeliveryDate", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        settings.Columns.Add(column =>
        {
            column.FieldName = "DeliveryTimeSlotId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Delivery Time Slot";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
            {
                Id = x.Id,
                Name = x.Name,
                FromTime = x.FromTime.ToString("HH:mm"),
                ToTime = x.ToTime.ToString("HH:mm")
            }).ToList();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
            comboBoxProperties.Columns.Add("FromTime");
            comboBoxProperties.Columns.Add("ToTime");
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ServiceId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Service";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetServices();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ProductTypeId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Product Type";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetProductTypes();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "SizeId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Size";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetSizes();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "PaymentTypeId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Payment Type";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetPaymentTypes();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        if (User.IsInRole(AccountHelper.AdministratorRole))
        {
            col = settings.Columns.Add("Price");
            col.Width = Unit.Pixel(200);
            col.PropertiesEdit.DisplayFormatString = "c";
        }
        settings.Columns.Add("PromoCode").Width = Unit.Pixel(200);
        col = settings.Columns.Add("CreatedOn");
        col.Width = Unit.Pixel(200);
        col.SortOrder = ColumnSortOrder.Descending;

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.CustomJSProperties = (s, e) =>
        {
            var g = (ASPxGridView)s;
            e.Properties["cpFilterExpression"] = g.FilterExpression;
        };
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
                                             {
                                                 e.QueryableSource = RequestsController.GetPickupRequests();
                                             }).GetHtml()
