    /* CSS Document */
    #Body {
        color: #000000;
        background: #FFF;
    }

    .body_bg {
        min-height: 100%;
    }

    html,
    body {
        margin: 0px;
        padding: 0px;
        color: #8a8a8a;
        height: 100%;
        font-size: 14px;
        font-family: 'helveticaregular';
    }

    p {
        margin: 0px 0px 8px 0px;
        color: inhiler;
        font-size: 14px;
    }

    header,
    nav,
    section,
    footer {
        display: block;
    }


    A,
    A:link {
        text-decoration: none;
        transition: color ease 300ms;
        -moz-transition: color ease 300ms; /* Firefox 4 */
        -webkit-transition: color ease 300ms; /* Safari and Chrome */
        -o-transition: color ease 300ms; /* Opera */
        -ms-transition: color ease 300ms; /* IE9? */
        color: #ec9424;
    }

        A:active {
            color: #ec9424;
            text-decoration: none;
        }

        A:visited {
            color: #ec9424;
            text-decoration: none;
        }

        A:hover {
            color: #ec9424;
            text-decoration: none;
        }

        A:focus {
            color: #ec9424;
            outline: none;
            -moz-outline: none;
        }

    h1 {
        color: #ec9424;
        font-family: 'helveticaregular';
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 5px 0 10px 0;
    }

    h2 {
        color: #ec9424;
        font-family: 'helveticaregular';
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 5px 0 10px 0;
    }

    h3 {
        color: #000000;
        font-family: 'helveticaregular';
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 5px 0 10px 0;
    }

    h4 {
        color: #000000;
        font-family: 'helveticaregular';
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 5px 0 10px 0;
    }

    h5 {
        color: #000000;
        font-family: 'helveticaregular';
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 5px 0 10px 0;
    }

    form#Form {
        height: 100%;
    }

    .ModuleTitle_SubMenu {
        z-index: 9999 !important;
    }

    .clearfix:after {
        clear: both;
        content: ".";
        height: 0px;
        font-size: 0px;
        visibility: hidden;
        display: block;
    }

    .clearfix {
        display: inline-block;
    }

    .clearfix {
        display: block;
    }

    #dnn_ControlPanel #dnnCPWrap {
        filter: none !important;
    }

    ul.dnnActionMenuBody li ul li a,
    ul.dnnActionMenuBody li ul li a img {
        color: #328DDE !important;
    }

    .clear {
        clear: both;
    }

    /* ********** Container Style ************** */


    .Head {
        font-weight: bold;
        font-family: 'helveticaregular';
    }

    .SubHead {
        font-family: 'helveticaregular';
    }

    .SubSubHead {
        font-family: 'helveticaregular';
    }

    .Normal {
        font-family: 'helveticaregular';
        font-size: 14px;
        color: #000;
        /*	font-family: 'Conv_helveticaneue';*/
    }


    /**************** Login page******************/
    @media only screen and (max-width:767px) {

        .loginContent .LoginPanel {
            width: 100% !important;
        }

        .loginContent .dnnFormItem .dnnLoginRememberMe {
            white-space: nowrap;
        }

        .loginContent .dnnFormLabel {
            display: block !important;
            text-align: left !important;
        }
    }
    /**************** register page******************/


    @media only screen and (max-width:767px) {

        .dnnRegistrationForm {
            min-width: inherit !important;
        }

            .dnnRegistrationForm .dnnForm {
                width: 100%;
            }

            .dnnRegistrationForm .dnnFormLabel {
                display: block !important;
                text-align: left !important;
            }

            .dnnRegistrationForm .dnnForm .dnnFormItem .dnnLabel {
                display: block !important;
                float: none !important;
                text-align: left !important;
                width: 100%;
            }

            .dnnRegistrationForm .dnnForm .dnnFormItem a.dnnFormHelp {
                right: auto !important;
                position: static !important;
                margin-left: 5px !important;
            }

            .dnnRegistrationForm .dnnForm .dnnFormItem {
                padding: 0px !important;
                margin: 0px !important;
            }

            .dnnRegistrationForm .dnnFormItem input[type="text"],
            .dnnRegistrationForm .dnnFormItem input[type="password"],
            .dnnRegistrationForm .dnnFormItem input[type="email"],
            .dnnRegistrationForm .dnnFormItem input[type="tel"],
            .dnnRegistrationForm .dnnFormItem select,
            .dnnRegistrationForm .dnnFormItem textarea {
                width: 100%;
                margin-bottom: 10px !important;
            }
    }



    /**************** Password page******************/
    @media only screen and(max-width:767px) {
        .dnnSendPasswordContent {
            width: auto !important;
        }

            .dnnSendPasswordContent .dnnLabel {
                display: block !important;
                width: 100% !important;
                text-align: left;
            }

            .dnnSendPasswordContent a.dnnFormHelp, .dnnSendPasswordContent .dnnForm .dnnFormItem a.dnnFormHelp, .dnnSendPasswordContent .dnnTooltip label a.dnnFormHelp {
                position: static;
            }

            .dnnSendPasswordContent input[type="text"], .dnnSendPasswordContent input[type="password"], .dnnSendPasswordContent input[type="email"], .dnnSendPasswordContent input[type="tel"], .dnnSendPasswordContent select, .dnnSendPasswordContent textarea {
                width: 90%;
                margin-bottom: 10px !important;
            }

            .dnnSendPasswordContent ul.dnnActions {
                padding: 0 !important;
            }
    }



    /* ********** Control Panel Style ************** */
    .CommandButton,
    A.CommandButton:link,
    A.CommandButton:visited,
    A.CommandButton:active {
        font-size: 12px;
        color: #973939;
        text-decoration: none;
        font-weight: normal;
    }

    A.CommandButton:hover {
        color: #973939;
        text-decoration: underline;
        font-size: 12px;
        font-weight: normal;
    }

    .FileManager A,
    .FileManager A:link,
    .FileManager A:visited,
    .FileManager A:active {
        color: #000;
        text-decoration: underline;
    }

        .FileManager A:hover {
            color: #000;
            text-decoration: none;
        }
    /* ********** Pane Style ************** */



    .row [class*="Pane"] {
        padding: 0px 0px 0 0px;
    }

    .DNNEmptyPane {
        display: none;
    }
    /* ---- combination filters ---- */
    .isotope_grid {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

        .isotope_grid .loading {
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin: 0 0 0 -10px;
        }

    /* Portfolios bug*/
    .portfolio_block.isotope {
        width: auto;
    }

    .isotope_grid .isotope_main {
        width: 100%;
        overflow: hidden;
        position: relative;
        min-height: 30px;
    }

    .isotope_grid .isotope_item {
        width: 0px;
        margin: 0px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

        .isotope_grid .isotope_item .pic_box img {
            width: 100%;
        }

        .isotope_grid .isotope_item > div {
            margin: 0;
        }

    .isotope_grid2 .filter_main {
        margin: 0 auto 30px;
        clear: both;
    }

        .isotope_grid2 .filter_main:after {
            content: "";
            clear: both;
            display: block;
            height: 0;
            overflow: hidden;
        }

    .isotope_grid2 .filter_box .title {
        font-size: 15px;
        padding: 10px 0;
    }

    .isotope_grid2 .filter_box {
        float: left;
    }

    .isotope_grid2 .filter_list {
        display: none;
    }

    .isotope_grid2 .active_filter {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        width: 270px;
        padding: 0 10px;
        border: 1px solid #E84B4E;
        cursor: pointer;
        position: relative;
        font-size: 14px;
    }

        .isotope_grid2 .active_filter:before {
            content: "";
            border: 8px solid transparent;
            border-top-color: #E84B4E;
            position: absolute;
            right: 15px;
            top: 17px;
        }

    .isotope_grid2 .isotope_group,
    .isotope_grid2 .sort_box,
    .isotope_grid2 .desc_asc {
        position: relative;
        display: inline-block;
        margin: 0 10px 0px 0;
        vertical-align: middle;
    }

    .isotope_grid2 .filter_list {
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: #E84B4E;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

        .isotope_grid2 .filter_list a {
            display: block;
            height: 45px;
            line-height: 45px;
            color: #FFF;
            padding: 0 10px;
            font-size: 13px;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            transition: background-color ease-in 200ms;
            -webkit-transition: background-color ease-in 200ms;
        }

            .isotope_grid2 .filter_list a:hover {
                text-decoration: none;
                background-color: rgba(255,255,255,0.3);
            }

            .isotope_grid2 .filter_list a.active {
                background-color: rgba(255,255,255,0.1);
            }
    /* Magnific Popup CSS */
    .mfp-bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1042;
        overflow: hidden;
        position: fixed;
        background: #0b0b0b;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .mfp-wrap {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1043;
        position: fixed;
        outline: none !important;
        -webkit-backface-visibility: hidden;
    }

    .mfp-container {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .mfp-container:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

    .mfp-align-top .mfp-container:before {
        display: none;
    }

    .mfp-content {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;
    }

    .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
        width: 100%;
        cursor: auto;
    }

    .mfp-ajax-cur {
        cursor: progress;
    }

    .mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
        cursor: -moz-zoom-out;
        cursor: -webkit-zoom-out;
        cursor: zoom-out;
    }

    .mfp-zoom {
        cursor: pointer;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .mfp-auto-cursor .mfp-content {
        cursor: auto;
    }

    .mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .mfp-loading.mfp-figure {
        display: none;
    }

    .mfp-hide {
        display: none !important;
    }

    .mfp-preloader {
        color: #CCC;
        position: absolute;
        top: 50%;
        width: auto;
        text-align: center;
        margin-top: -0.8em;
        left: 8px;
        right: 8px;
        z-index: 1044;
    }

        .mfp-preloader a {
            color: #CCC;
        }

            .mfp-preloader a:hover {
                color: #FFF;
            }

    .mfp-s-ready .mfp-preloader {
        display: none;
    }

    .mfp-s-error .mfp-content {
        display: none;
    }

    button.mfp-close, button.mfp-arrow {
        overflow: visible;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        display: block;
        outline: none;
        padding: 0;
        z-index: 1046;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    .mfp-close {
        width: 44px;
        height: 44px;
        line-height: 44px;
        position: absolute;
        right: 0;
        top: 0;
        text-decoration: none;
        text-align: center;
        opacity: 0.65;
        filter: alpha(opacity=65);
        padding: 0 0 18px 10px;
        color: #FFF;
        font-style: normal;
        font-size: 28px;
        font-family: Arial, Baskerville, monospace;
    }

        .mfp-close:hover, .mfp-close:focus {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .mfp-close:active {
            top: 1px;
        }

    .mfp-close-btn-in .mfp-close {
        color: #333;
    }

    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
        color: #FFF;
        right: -6px;
        text-align: right;
        padding-right: 6px;
        width: 100%;
    }

    .mfp-counter {
        position: absolute;
        top: 0;
        right: 0;
        color: #CCC;
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;
    }

    .mfp-arrow {
        position: absolute;
        opacity: 0.65;
        filter: alpha(opacity=65);
        margin: 0;
        top: 50%;
        margin-top: -55px;
        padding: 0;
        width: 90px;
        height: 110px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

        .mfp-arrow:active {
            margin-top: -54px;
        }

        .mfp-arrow:hover, .mfp-arrow:focus {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 35px;
            margin-left: 35px;
            border: medium inset transparent;
        }

        .mfp-arrow:after, .mfp-arrow .mfp-a {
            border-top-width: 13px;
            border-bottom-width: 13px;
            top: 8px;
        }

        .mfp-arrow:before, .mfp-arrow .mfp-b {
            border-top-width: 21px;
            border-bottom-width: 21px;
            opacity: 0.7;
        }

    .mfp-arrow-left {
        left: 0;
    }

        .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
            border-right: 17px solid #FFF;
            margin-left: 31px;
        }

        .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
            margin-left: 25px;
            border-right: 27px solid #3F3F3F;
        }

    .mfp-arrow-right {
        right: 0;
    }

        .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
            border-left: 17px solid #FFF;
            margin-left: 39px;
        }

        .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
            border-left: 27px solid #3F3F3F;
        }

    .mfp-iframe-holder {
        padding-top: 40px;
        padding-bottom: 40px;
    }

        .mfp-iframe-holder .mfp-content {
            line-height: 0;
            width: 100%;
            max-width: 900px;
        }

        .mfp-iframe-holder .mfp-close {
            top: -40px;
        }

    .mfp-iframe-scaler {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: 56.25%;
    }

        .mfp-iframe-scaler iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            background: #000;
        }

    /* Main image in popup */
    img.mfp-img {
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        line-height: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 0 40px;
        margin: 0 auto;
    }

    /* The shadow behind the image */
    .mfp-figure {
        line-height: 0;
    }

        .mfp-figure:after {
            content: '';
            position: absolute;
            left: 0;
            top: 40px;
            bottom: 40px;
            display: block;
            right: 0;
            width: auto;
            height: auto;
            z-index: -1;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            background: #444;
        }

        .mfp-figure small {
            color: #BDBDBD;
            display: block;
            font-size: 12px;
            line-height: 14px;
        }

        .mfp-figure figure {
            margin: 0;
        }

    .mfp-bottom-bar {
        margin-top: -36px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        cursor: auto;
    }

    .mfp-title {
        text-align: left;
        line-height: 18px;
        color: #F3F3F3;
        word-wrap: break-word;
        padding-right: 36px;
    }

    .mfp-image-holder .mfp-content {
        max-width: 100%;
    }

    .mfp-gallery .mfp-image-holder .mfp-figure {
        cursor: pointer;
    }

    @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
        /**
           * Remove all paddings around the image on small screen
           */
        .mfp-img-mobile .mfp-image-holder {
            padding-left: 0;
            padding-right: 0;
        }

        .mfp-img-mobile img.mfp-img {
            padding: 0;
        }

        .mfp-img-mobile .mfp-figure:after {
            top: 0;
            bottom: 0;
        }

        .mfp-img-mobile .mfp-figure small {
            display: inline;
            margin-left: 5px;
        }

        .mfp-img-mobile .mfp-bottom-bar {
            background: rgba(0, 0, 0, 0.6);
            bottom: 0;
            margin: 0;
            top: auto;
            padding: 3px 5px;
            position: fixed;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .mfp-img-mobile .mfp-bottom-bar:empty {
                padding: 0;
            }

        .mfp-img-mobile .mfp-counter {
            right: 5px;
            top: 3px;
        }

        .mfp-img-mobile .mfp-close {
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            text-align: center;
            padding: 0;
        }
    }

    @media all and (max-width: 900px) {
        .mfp-arrow {
            -webkit-transform: scale(0.75);
            transform: scale(0.75);
        }

        .mfp-arrow-left {
            -webkit-transform-origin: 0;
            transform-origin: 0;
        }

        .mfp-arrow-right {
            -webkit-transform-origin: 100%;
            transform-origin: 100%;
        }

        .mfp-container {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    .mfp-ie7 .mfp-img {
        padding: 0;
    }

    .mfp-ie7 .mfp-bottom-bar {
        width: 600px;
        left: 50%;
        margin-left: -300px;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .mfp-ie7 .mfp-container {
        padding: 0;
    }

    .mfp-ie7 .mfp-content {
        padding-top: 44px;
    }

    .mfp-ie7 .mfp-close {
        top: 0;
        right: 0;
        padding-top: 0;
    }

    /* text-based popup styling */
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 40px;
        width: auto;
        max-width: 375px;
        margin: 0 auto;
        background: url(/images/light_bg.jpg) no-repeat center center;
    }

    .light_con {
        text-align: center;
    }

        .light_con [type="text"] {
            background: #fff;
            border: 1px solid #c8c7c5;
            height: 40px;
            line-height: 40px;
            color: #000;
            display: block;
            width: 100%;
            padding: 0 5px 0 15px;
            font-size: 14px;
        }

        .light_con img {
            padding: 0 0 15px 0;
        }

        .light_con [type="button"] {
            border: none;
            background: #f8a231;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            text-transform: uppercase;
            margin: 10px 0 0 0;
        }

    .mfp-zoom-in {
    }

        .mfp-zoom-in .mfp-content {
            opacity: 0;
            transition: all 0.2s ease-in-out;
            transform: scale(0.8);
        }

        .mfp-zoom-in.mfp-bg {
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        .mfp-zoom-in.mfp-ready .mfp-content {
            opacity: 1;
            transform: scale(1);
        }

        .mfp-zoom-in.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-zoom-in.mfp-removing .mfp-content {
            transform: scale(0.8);
            opacity: 0;
        }

        .mfp-zoom-in.mfp-removing.mfp-bg {
            opacity: 0;
        }

    .mfp-newspaper {
    }

        .mfp-newspaper .mfp-content {
            opacity: 0;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.5s;
            transform: scale(0) rotate(500deg);
        }

        .mfp-newspaper.mfp-bg {
            opacity: 0;
            transition: all 0.5s;
        }

        .mfp-newspaper.mfp-ready .mfp-content {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }

        .mfp-newspaper.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-newspaper.mfp-removing .mfp-content {
            transform: scale(0) rotate(500deg);
            opacity: 0;
        }

        .mfp-newspaper.mfp-removing.mfp-bg {
            opacity: 0;
        }

    .mfp-move-horizontal {
    }

        .mfp-move-horizontal .mfp-content {
            opacity: 0;
            transition: all 0.3s;
            transform: translateX(-50px);
        }

        .mfp-move-horizontal.mfp-bg {
            opacity: 0;
            transition: all 0.3s;
        }

        .mfp-move-horizontal.mfp-ready .mfp-content {
            opacity: 1;
            transform: translateX(0);
        }

        .mfp-move-horizontal.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-move-horizontal.mfp-removing .mfp-content {
            transform: translateX(50px);
            opacity: 0;
        }

        .mfp-move-horizontal.mfp-removing.mfp-bg {
            opacity: 0;
        }

    .mfp-move-from-top {
    }

        .mfp-move-from-top .mfp-content {
            opacity: 0;
            transition: all 0.2s;
            transform: translateY(-100px);
        }

        .mfp-move-from-top.mfp-bg {
            opacity: 0;
            transition: all 0.2s;
        }

        .mfp-move-from-top.mfp-ready .mfp-content {
            opacity: 1;
            transform: translateY(0);
        }

        .mfp-move-from-top.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-move-from-top.mfp-removing .mfp-content {
            transform: translateY(-50px);
            opacity: 0;
        }

        .mfp-move-from-top.mfp-removing.mfp-bg {
            opacity: 0;
        }

    .mfp-3d-unfold {
    }

        .mfp-3d-unfold .mfp-content {
            perspective: 2000px;
        }

        .mfp-3d-unfold .mfp-content {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            transform-style: preserve-3d;
            transform: rotateY(-60deg);
        }

        .mfp-3d-unfold.mfp-bg {
            opacity: 0;
            transition: all 0.5s;
        }

        .mfp-3d-unfold.mfp-ready .mfp-content {
            opacity: 1;
            transform: rotateY(0deg);
        }

        .mfp-3d-unfold.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-3d-unfold.mfp-removing .mfp-content {
            transform: rotateY(60deg);
            opacity: 0;
        }

        .mfp-3d-unfold.mfp-removing.mfp-bg {
            opacity: 0;
        }

    .mfp-zoom-out {
    }

        .mfp-zoom-out .mfp-content {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            transform: scale(1.3);
        }

        .mfp-zoom-out.mfp-bg {
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        .mfp-zoom-out.mfp-ready .mfp-content {
            opacity: 1;
            transform: scale(1);
        }

        .mfp-zoom-out.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-zoom-out.mfp-removing .mfp-content {
            transform: scale(1.3);
            opacity: 0;
        }

        .mfp-zoom-out.mfp-removing.mfp-bg {
            opacity: 0;
        }

    @keyframes hinge {
        0% {
            transform: rotate(0);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        20%, 60% {
            transform: rotate(80deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        40% {
            transform: rotate(60deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        80% {
            transform: rotate(60deg) translateY(0);
            opacity: 1;
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }

        100% {
            transform: translateY(700px);
            opacity: 0;
        }
    }

    .hinge {
        animation-duration: 1s;
        animation-name: hinge;
    }

    .mfp-with-fade .mfp-content,
    .mfp-with-fade.mfp-bg {
        opacity: 0;
        transition: opacity .5s ease-out;
    }

    .mfp-with-fade.mfp-ready .mfp-content {
        opacity: 1;
    }

    .mfp-with-fade.mfp-ready.mfp-bg {
        opacity: 0.8;
    }

    .mfp-with-fade.mfp-removing.mfp-bg {
        opacity: 0;
    }


    .mobile_icon {
        font-size: 26px;
        color: #3f3f3f;
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid #FFF;
        border-right: 1px solid rgba(255,255,255,0.2);
        line-height: 50px;
        cursor: pointer;
        width: 50px;
        text-align: center;
    }

    .mob_box {
        float: left;
        position: absolute;
        width: 100%;
        margin: 0 0 0 0;
        top: 88px;
    }

    .mobile_icon.Open .glyphicons:before {
        content: "\E208";
        font-size: 22px;
    }

    #mobile_menu {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        z-index: 906;
        background: #2e2e2e;
        display: none;
    }

    .mobile_icon.active .fa:before {
        content: "\f00d";
        font-size: 30px;
        color: #ec9424;
    }

    #mobile_menu .menu_main {
        padding: 10px;
    }

    .multi_menu {
        margin: auto;
    }

        .multi_menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .multi_menu ul li {
                margin: 0px;
                padding: 0px;
                list-style: none;
            }

                .multi_menu ul li img {
                    vertical-align: middle;
                }

                .multi_menu ul li a {
                    font-size: 15px;
                    line-height: 20px;
                    padding: 0px;
                    margin: 0px;
                    color: #cccccc;
                    display: block;
                    text-decoration: none;
                    outline: none;
                    text-align: left;
                    border-bottom: 1px dashed #3a3a3a;
                }

                    .multi_menu ul li a:after {
                        clear: both;
                        content: ".";
                        height: 0px;
                        font-size: 0px;
                        visibility: hidden;
                        display: block;
                    }

                .multi_menu ul li a {
                    display: inline-block;
                }

                .multi_menu ul li a {
                    display: block;
                }

                .multi_menu ul li span {
                    padding: 10px 0px;
                    display: block;
                }

                .multi_menu ul li .menu_arrow {
                    background-image: url(/images/arrow-1.png);
                    background-repeat: no-repeat;
                    background-position: right -80px;
                    display: block;
                    width: 40px;
                    padding: 0px;
                    height: 40px;
                    float: right;
                    text-indent: 0px;
                    overflow: hidden;
                    margin: 0px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 0;
                }

                    .multi_menu ul li .menu_arrow.arrow_opened {
                    }

                    .multi_menu ul li .menu_arrow.arrow_closed {
                        background-position: right -178px;
                    }

            .multi_menu ul ul {
                display: none;
                background: #2e2e2e;
                padding: 2px 0px 5px 0px;
                margin: 0px;
            }

            .multi_menu ul li.current > ul {
                display: block;
            }

            .multi_menu ul li.active > a,
            .multi_menu ul li a:hover {
            }

            .multi_menu ul li.current > a,
            .multi_menu ul li.current > a:hover {
                border-bottom: 1px solid #2e2e2e;
                color: #FFF;
            }

            .multi_menu ul li a {
                padding: 0 0 0 15px;
            }

            .multi_menu ul li li a {
                padding: 0 0 0 30px;
            }

            .multi_menu ul li li li a {
                padding: 0 0 0 45px;
            }

            .multi_menu ul li li li li a {
                padding: 0 0 0 60px;
            }

    .header_element.Open .icon {
        background-color: #153cd7;
    }

    .multi_menu ul li.active > a,
    .multi_menu ul li a:hover {
        color: #ec9424;
    }

    .multi_menu ul li.current > a,
    .multi_menu ul li.current > a:hover {
        background-color: #153cd7;
    }


    /* ********** Breadcrumb Style ************** */


    .breadcrumb,
    a.breadcrumb:link,
    a.breadcrumb:active,
    a.breadcrumb:visited {
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: #2e2e2e;
    }

    a.breadcrumb:hover {
        font-weight: normal;
        text-decoration: underline;
    }

    .Breadcrumb_bg {
        margin-bottom: 30px;
    }
    /*top menu*/
    #top_menu {
        position: relative;
    }

        #top_menu ul {
            margin: 0px;
            padding: 0px 0px;
            display: block;
        }

            #top_menu ul:after {
                content: ".";
                font-size: 0px;
                height: 0px;
                display: block;
                clear: both;
                visibility: hidden;
            }

        #top_menu li {
            list-style: none;
            float: left;
            position: relative;
            margin: 0px;
            padding: 0px;
        }

        #top_menu ul li a {
            text-decoration: none;
            display: block;
            cursor: pointer;
            width: auto;
            float: left;
        }

        #top_menu > div > ul > li > a > span {
            position: relative;
            font-family: 'Helvetica';
            color: #3f3f3f;
            background-color: transparent;
            font-size: 14px;
            line-height: 47px;
            height: 47px;
            padding: 0 20px;
            margin: 0 0;
            text-transform: uppercase;
            font-weight: bold;
            ;
            display: block;
            transition: background-color ease-in 200ms;
            -moz-transition: background-color ease-in 200ms; /* Firefox 4 */
            -webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
            -o-transition: background-color ease-in 200ms; /* Opera */
            -ms-transition: background-color ease-in 200ms; /* IE9? */
        }

        #top_menu > div > ul > li > a:hover > span,
        #top_menu > div > ul > li.current > a > span,
        #top_menu > div > ul > li > a.menu_hover > span {
            background-color: #006fff;
            color: #FFF;
        }


        /*sub menu*/
        #top_menu .menuslide {
            display: none;
            float: left;
            overflow: hidden;
            position: absolute;
        }

        #top_menu ul ul {
            background-color: #f5f5f5;
        }

        #top_menu .menuslide ul li {
            display: block;
            clear: both;
            padding: 0px;
            margin: 0px;
            position: relative;
        }

            #top_menu .menuslide ul li span {
                color: inherit;
                display: block;
                padding: 9px 35px 9px 35px;
                margin: 0px;
                background: none;
                white-space: nowrap;
                font-size: 13px;
            }

            #top_menu .menuslide ul li a {
                display: block;
                font-weight: normal;
                margin: 0px;
                padding: 0px;
                background: none;
                float: left;
                line-height: 24px;
                height: auto;
                position: relative;
                text-align: left;
                border-bottom: 1px solid #dbdbdb;
            }

        #top_menu .menuslide > ul > li:last-child > a {
            border-bottom: none;
        }

        #top_menu .menuslide ul {
            float: left;
            left: 0px;
            position: relative;
        }

            #top_menu .menuslide ul a {
                color: #777777;
                transition: background-color ease-in 200ms;
                -moz-transition: background-color ease-in 200ms; /* Firefox 4 */
                -webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
                -o-transition: background-color ease-in 200ms; /* Opera */
                -ms-transition: background-color ease-in 200ms; /* IE9? */
            }

            #top_menu .menuslide ul > li.dir > a {
                background: url(/images/arrow-1.png) no-repeat right -59px;
            }

                #top_menu .menuslide ul > li.dir > a:hover,
                #top_menu .menuslide ul > li.dir > a.menu_hover {
                    background-position: right 16px;
                }

                #top_menu .menuslide ul a:hover,
                #top_menu .menuslide ul a.menu_hover,
                #top_menu .menuslide ul > li.dir > a:hover,
                #top_menu .menuslide ul > li.dir > a.menu_hover {
                    background-color: #153cd7;
                    color: #FFFFFF;
                }

    /* ********** Other Style ************** */
    .dnn_layout {
        width: 980px;
        margin: 0px auto;
    }

    /* ********** HEADER ************** */
    .header_bg {
        padding: 15px 0 0 0;
        background: #f7f7f7;
    }

    .dnn_logo {
        float: left;
        padding-bottom: 5px;
        margin-top: -14px;
    }

    .nav_box, .Login {
        margin: 0;
    }

    .nav_box {
        margin-top: 20px;
        clear: both;
    }

    .Login {
        float: right;
        height: 47px;
        /*line-height: 47px;*/
    }

        .Login a {
            color: #3f3f3f;
            font-size: 16px;
            font-weight: bold;
        }

    .new_pos {
        min-height: 312px;
        position: relative;
    }

    .banner_bg {
        background: url(/images/banner_bg.jpg) repeat-x center bottom;
        position: relative;
        /* background-attachment: fixed;*/
        background-size: cover;
        min-height: 312px;
    }

    .banner_left {
        bottom: 0;
        width: 27%;
        position: absolute;
    }

    .banner_right {
        bottom: 25px;
        color: #fff;
        padding-left: 28%;
        position: absolute;
    }

    .sep {
        border-right: 3px solid #363636;
        margin: 0 70px 0 35px;
    }

    .banner_right h2 {
        color: #fff;
        font-family: "bebas_neueregular";
        font-size: 46px;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1;
        margin: 0;
    }

    .banner_right p {
        color: #fff;
        font-family: 'helveticaregular';
        font-size: 14px;
    }

    a.Bnt {
        display: inline-block;
        color: #fff;
        text-align: center;
        background: #153bd7;
        padding: 8px 30px;
        font-weight: bold;
        line-height: 18px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin: 15px 0 0 0;
        transition: all ease-in 200ms;
        -moz-transition: all ease-in 200ms; /* Firefox 4 */
        -webkit-transition: all ease-in 200ms; /* Safari and Chrome */
        -o-transition: all ease-in 200ms; /* Opera */
        -ms-transition: all ease-in 200ms; /* IE9? */
    }

    a:hover.Bnt {
        background: #ec9424;
    }

    .center {
        text-align: center;
    }

    /* ********** CONTENT ************** */
    .link_pos {
        position: absolute;
        right: 40px;
        bottom: 20px;
    }

        .link_pos a {
            display: block;
            padding: 10px 0 0 0;
        }

    .con_two {
        border-top: 6px solid #fff;
        /* -moz-box-shadow:	5px 5px 5px #999 inset; 
    -webkit-box-shadow: 5px 5px 5px #999 inset; 
    box-shadow:	5px 5px 5px #999 inset;*/
    }

    .form_bg {
        background: #bcc5d7;
        padding: 10px 0;
    }

        .form_bg input[type="text"] {
            background: #fff;
            border: 3px solid #000;
            height: 37px;
            width: 40%;
            padding: 0 20px;
            color: #000;
            font-weight: bold;
            margin: 0 5px 0 0;
        }


        .form_bg input[type="button"] {
            background: #153cd7;
            border: none;
            padding: 9px 5px;
            line-height: 18px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            /* height: 18px; */
            font-weight: bold;
            text-transform: uppercase;
            transition: all ease-in 200ms;
            -moz-transition: all ease-in 200ms; /* Firefox 4 */
            -webkit-transition: all ease-in 200ms; /* Safari and Chrome */
            -o-transition: all ease-in 200ms; /* Opera */
            -ms-transition: all ease-in 200ms; /* IE9? */
            width: 15%;
        }

            .form_bg input[type="button"]:hover {
                background: #a96d24;
            }

    .con_bg {
        background: url(/images/content_bg.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
    }

    .inside_one_bg {
        background: url(/images/content_bg03.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
    }

    .con_one {
        padding: 100px 0;
        font-size: 18px;
        color: #fff;
        line-height: 22px;
    }

    .tit_bg {
        background: #ec9424;
        width: 50%;
        height: 72px;
        position: absolute;
        top: 0;
    }

        .tit_bg:after {
            border: 18px solid transparent;
            border-top: 72px solid #ec9424;
            content: "";
            display: block;
            position: absolute;
            right: -18px;
            top: 0;
            width: 0;
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }

    .tit_pos {
        position: relative;
        height: 72px;
    }

    .tit {
        height: 72px;
        position: relative;
        z-index: 100;
        font-family: 'bebas_neueregular';
        text-transform: uppercase;
        font-size: 58px;
        color: #fff;
        line-height: 80px;
        margin: 0;
        font-weight: normal;
        letter-spacing: normal;
    }

        .tit a {
            color: #fff;
        }

    .con_one h2 {
        font-family: 'bebas_neueregular';
        font-size: 58px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        font-weight: normal;
        letter-spacing: normal;
    }

    .one_con {
        padding: 15px 0 20px 0;
    }

    .con_one a {
        text-align: right;
        color: #fff;
        text-decoration: underline;
        font-style: italic;
        font-size: 23px;
        display: block;
        background: url(/images/arrow01.png) no-repeat right bottom;
        padding: 0 30px 0 0;
    }

    .con_bg02 {
        background: url(/images/content_bg02.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        padding: 35px 0 0 0;
    }

    .pt-90 {
        padding-top: 90px;
    }



    .con_box {
        position: relative;
        min-height: 190px;
    }

    .con_box_one .con_box:first-child .con {
        padding-top: 0;
    }

    .con_box_one .con_box:nth-child(2) .con {
        padding-top: 0;
    }

    .con_box_two .con_box:first-child .con {
        padding-top: 0;
    }

    .con_box_two .con_box:nth-child(2) .con {
        padding-top: 0;
    }

    .con_box_three .con_box:nth-child(1) .con {
        padding-top: 0;
    }

    .con_box_three .con_box:nth-child(2) .con {
        padding-top: 0;
    }

    .two_pad {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .con_box span {
        position: absolute;
    }

    .con_box .con {
        padding-left: 170px;
    }


        .con_box .con h2 {
            font-size: 22px;
            color: #fff;
            font-weight: bold;
            /* background:url(images/arrow02.png) no-repeat right center;*/
            display: inline-block;
            padding: 0 20px 0 0;
            letter-spacing: normal;
            line-height: 24px;
            margin: 5px 0 10px;
            font-family: 'helveticaregular';
            text-transform: inherit;
        }

        .con_box .con p {
            font-size: 16px;
            color: #fff;
            font-family: 'helveticaregular';
        }

    .inside_bre {
        font-size: 61px;
        font-family: 'bebas_neueregular';
        color: #fff;
    }

    .InsidBannerPane {
        position: absolute;
        bottom: 20px;
        right: 0;
    }

    .Inside_pos {
        position: relative;
        min-height: 312px;
    }

    .full-button {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
    }

    .active {
        background: #2338bd;
    }






    /* ********** FOOTER ************** */
    .footer_bg {
        background: url(/images/footer_bg.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        padding: 0 0 30px 0;
    }

    .footer_bottom {
        border-bottom: 13px solid #2338bd;
        padding: 13px 0;
        text-align: center;
        color: #000;
        font-size: 12px;
    }

    .footer_L {
        float: left;
        width: 50%;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }

        .footer_L p {
            line-height: 22px;
            color: #fff;
            font-family: 'helveticaregular';
            font-size: 14px;
        }

    .footer_R {
        float: right;
        width: 50%;
        color: #fff;
        border-left: 1px solid #6178b1;
        padding: 30px 0 30px 40px;
    }

    .contact_box {
        position: relative;
        padding: 10px 0;
    }

        .contact_box span {
            position: absolute;
            color: #c0c0c0;
        }

    .contact_con {
        padding: 0 0 0 20px;
    }

    .footer_R h2 {
        font-size: 16px;
        color: #fff;
        margin: 0;
        letter-spacing: normal;
        text-transform: inherit;
        font-family: 'helveticaregular';
    }

    .footer_R p {
        font-size: 14px;
        margin: 0 0 20px 0;
        color: #fff;
        font-family: 'helveticaregular';
        font-size: 14px;
    }

    .footer_R .fa {
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background: #cd332c;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        font-size: 20px;
        margin-right: 5px;
    }

        .footer_R .fa.c5fa3d9 {
            background: #5fa3d9;
        }

        .footer_R .fa.c6178b1 {
            background: #6178b1;
        }

    .right_new {
        float: right;
    }

    .inside_one {
        padding: 55px 0;
    }

    .inside_con {
        background: #0b4a7f;
        position: relative;
        min-height: 200px;
        padding: 15px 15px 0 15px;
    }

        .inside_con h2 {
            position: absolute;
            bottom: 0;
            left: 50px;
            margin: 0;
        }

        .inside_con ul {
            padding: 0 0 0 380px;
            margin: 0;
        }

            .inside_con ul li {
                list-style: none;
            }

                .inside_con ul li a {
                    color: #fff;
                    line-height: 25px;
                }

                .inside_con ul li em {
                    display: inline-block;
                    color: #4da430;
                    font-size: 16px;
                    padding: 0 12px 0 0;
                }

                .inside_con ul li span {
                    float: right;
                }

                .inside_con ul li span {
                    color: #fff;
                }

                    .inside_con ul li span a {
                        text-decoration: underline;
                    }

    .inside_one p {
        text-align: center;
        background: #fff;
        padding: 15px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }



    /*******HTML*********/
    @media only screen and (min-width: 1250px) {

        .dnn_layout {
            width: 1250px;
        }

        .form_bg input[type="button"] {
            width: 15%;
            font-size: 15px;
        }

        .con_box_one .con_box:first-child .con {
            padding-top: 65px;
        }

        .con_box_one .con_box:nth-child(2) .con {
            padding-top: 60px;
        }

        .con_box_two .con_box:first-child .con {
            padding-top: 60px;
        }

        .con_box_two .con_box:nth-child(2) .con {
            padding-top: 0;
        }

        .con_box_three .con_box:nth-child(1) .con {
            padding-top: 45px;
        }

        .con_box_three .con_box:nth-child(2) .con {
            padding-top: 45px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width:1020px) {
        .dnn_layout {
            width: 736px;
        }

        #top_menu > div > ul > li > a > span {
            padding: 0 20px;
        }

        .sep {
            margin: 0 40px 0 20px;
        }

        .right_new {
            float: none;
        }

        #top_menu .menuslide ul li span {
            padding: 9px 20px 9px 20px;
        }

        .inside_con ul {
            margin: 0;
            padding: 0 0 0 270px;
        }

        .inside_con h2 {
            left: 15px;
        }

        .con_box span {
            width: 80px;
        }

        .con_box .con {
            padding-left: 92px;
        }
    }

    @media only screen and (max-width: 785px) {
        .dnn_layout {
            width: auto;
            padding: 0 15px;
        }

        .dnn_logo {
            float: none;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 5px;
        }

        .header_bg {
            padding: 30px 0;
        }

        .banner_bg {
            background-size: cover;
        }

        .banner_left {
            display: none;
        }


        .banner_right {
            bottom: 0;
            padding-left: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            position: inherit;
        }

        .tit_bg {
            height: 50px;
            width: 80%;
        }

        .tit {
            font-size: 30px;
            height: 50px;
            line-height: 50px;
        }

        .tit_bg:after {
            border-top: 50px solid #ec9424;
        }

        .con_one h2 {
            font-size: 30px;
        }

        .con_box:first-child .con,
        .con_box:nth-child(2) .con,
        .con_box:nth-child(3) .con,
        .con_box:nth-child(4) .con,
        .con_box:nth-child(5) .con,
        .con_box:nth-child(6) .con {
            padding-top: 0;
        }

        .con_box .con {
            padding-left: 0;
        }

        .con_box span {
            position: inherit;
        }

            .con_box span img {
                margin: 0 auto;
            }

        .con_box {
            min-height: auto;
            padding-bottom: 20px;
        }

        .right_new {
            float: none;
        }

            .right_new img {
                margin: 0 auto;
            }

        .link_pos {
            bottom: 0;
            position: inherit;
            right: 0;
            margin: 10px 0 20px 0;
        }

            .link_pos img {
                margin: 0 auto;
            }

        .pt-90 {
            padding-top: 0;
        }

        .footer_L {
            float: none;
            width: 100%;
        }

        .footer_R {
            border-left: medium none;
            float: none;
            padding: 30px 0 0;
            width: 100%;
        }

        .nav_box, .Login {
            position: relative;
            z-index: 999;
        }

        .sep {
            display: none;
        }

        .form_bg input[type="text"] {
            padding: 0 5px;
            width: 100%;
            margin: 0 0 15px 0;
        }

        .form_bg input[type="button"] {
            width: auto;
        }

        .banner_bg {
            min-height: auto;
        }

        .InsidBannerPane {
            bottom: 0;
            position: inherit;
            right: 0;
        }

        .Inside_pos {
            min-height: auto;
            position: relative;
        }

        .inside_bre {
            font-size: 50px;
            line-height: 1;
            padding: 50px 0;
        }

        .inside_con ul {
            margin: 0;
            padding: 0 0 0 0;
        }

        .inside_con h2 {
            bottom: 0;
            left: 0;
            margin: 0;
            position: inherit;
        }

        .inside_con {
            padding: 15px;
        }

        #top_menu > div > ul > li > a > span {
            padding: 0 18px 0 0;
        }

        .header_bg {
            padding: 30px 0 15px;
        }
    }

    @media only screen and (max-width: 350px) {
        #top_menu > div > ul > li > a > span {
            padding: 0;
        }

        #top_menu > div > ul > li.nav_pad > a > span {
            padding: 0 15px;
        }

        .Login {
            float: none;
        }

        .nav_box {
            float: none;
        }

        .nav_box {
            margin: 0;
        }
    }



    /*
    .dnnFormPopup{
      padding:70px 18px;}

    .dnnFormPopup .ui-dialog-titlebar{
      background:url(images/login_img.jpg) no-repeat center center;
      border:none;
      padding:0 0 32px 0;
      }
  
     .dnnFormPopup.dnnFormPopupMobileView .ui-dialog-titlebar{
      padding:0 0 32px 0; 
     }
  
    .dnnFormPopup .ui-dialog-titlebar span{
      display:none;}
  
    .dnnFormPopup{
      background:url(images/login_bg.jpg) repeat center center; 

        }
    .dnnFormPopup #iPopUp{
      padding-top:25px;}
  
    .dnnFormPopup .dnnModalCtrl {
        display: block;
        position: absolute;
        top: -70px;
        right: -18px;
        width: 69px;
        height: 26px;
        border-radius: 0;
        background-color: #fff;
        -webkit-border-radius: 0;
        box-shadow: 0px 0px 0 #666;
    }
    .dnnFormPopup .dnnModalCtrl a.dnnToggleMax{
      display:none;}
  
    .dnnFormPopup .dnnModalCtrl .ui-dialog-titlebar-close{
     background:url(images/login_close.png) no-repeat;
      margin:10px 0 0 1px;
      }
  
    .dnnFormPopup .dnnModalCtrl .ui-dialog-titlebar-close:hover{  
      background:url(images/login_close_hover.png) no-repeat;
       }
      */

    .inside_one_bg {
        display: none;
    }

    .gomenu {
        float: left;
    }

    .Theme_Normal_Default_1674 .btn:hover {
        background: #ec9424 !important;
    }

    .index_pad {
        padding: 20px 0 0 0;
    }

    .dnnForm {
        padding: 20px 0 0 !important;
    }

    /*html*/

    .content_bg04 {
        background: url(/images/content_bg04.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        padding: 20px 0;
    }

        .content_bg04 a {
            font-size: 26px;
            color: #fff;
            background: url(/images/arrow01.png) no-repeat center right;
            padding: 0 25px 0 0;
        }

    .content_bg04_pd {
        padding-top: 80px;
    }

    .content_bg05 {
        background: url(/images/content_bg05.jpg) repeat center center;
        background-attachment: fixed;
        background-size: cover;
        padding: 40px 0;
    }

    .new_btn-group,
    .new_btn-group .btn {
        width: 100%;
        background: #fff;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
    }

        .new_btn-group .btn {
            text-align: left;
            padding: 10px 100px 10px 100px;
            font-size: 26px;
            color: #8b8b8b;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 40px;
        }

        .new_btn-group .caret {
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 20px solid #2c57a3;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            right: 25px;
            top: 50%;
            margin: -10px 0 0 0;
        }

    .content_bg04_01 {
        background: #e9e9e9;
        padding: 30px 0;
        text-align: center;
    }

    .html_box {
        float: left;
        margin: 5px 10px;
    }

        .html_box h2 {
            font-size: 2em;
            color: #005772;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            margin: 0;
            line-height: 1;
        }

    .center_html_box {
        display: inline-block;
    }

    .html_box p {
        margin: 0;
        font-size: 2em;
        line-height: 1;
    }

    .products-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .products-list li {
            width: 250px;
            float: left;
            color: #fff;
            text-align: center;
        }

            .products-list li:first-child {
                border-right: solid 4px #fff;
            }

            .products-list li img {
                max-height: 100px;
                margin: auto;
                margin-bottom: 10px;
            }

            .products-list li a {
                background: none;
                font-size: 20px;
                display: block;
            }

            .products-list li .price {
                margin-top: 5px;
                padding: 10px 20px;
                border-radius: 5px;
                background: #fff;
                color: #303030;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
            }

    .html_box a {
        display: block;
        color: #000;
        padding: 10px 25px;
        background: #fff;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .html_box.selected a {
        border: solid 5px #153cd7;
    }

    .form_box select {
        -webkit-appearance: none;
        moz-appearance: none;
        appearance: none;
    }

        .form_box select::-ms-expand {
            display: none;
        }

    @-moz-document url-prefix() {
        .date_one, .time_one {
            overflow: hidden;
        }

        .form_box select {
            width: 110%;
        }
    }

    .form_box .form-label {
        line-height: 50px;
        display: block;
    }

    .form_box .checkbox {
        display: block;
    }

        .form_box .checkbox .iradio_square-blue {
            margin-right: 10px;
        }

    .field-validation-error {
        color: #ff0000;
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
    }

    .input-validation-error {
        border: solid 1px #ff0000 !important;
    }

    .datepicker .day {
        background: #00bfff;
        color: #fff;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -o-border-radius: 14px;
        border-radius: 14px;
    }

    .selectpicker {
        color: #000;
        padding: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

    select[disabled] {
        background-color: rgb(235, 235, 228) !important;
    }

    .button {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background: #153cd7;
        line-height: 40px;
        padding: 10px 100px;
        border: none;
        text-align: center;
        display: inline-block;
        margin-top: 15px;
    }

    .add-payment {
        display: none;
    }

        .add-payment input, .add-payment select {
            border: solid 1px #ccc !important;
        }

            .add-payment input.input-validation-error, .add-payment select.input-validation-error {
                border: solid 1px #ff0000 !important;
            }

        .add-payment .for-credit-card {
            display: none;
        }

    .payment-item {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 40px;
        border: none;
        display: block;
        margin-top: 15px;
        padding-right: 60px;
        position: relative;
    }

        .payment-item button {
            color: #fff;
            background: #ec9424;
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 10px 20px;
            text-align: left;
        }

        .payment-item:hover button {
            color: #000;
        }

        .payment-item a {
            display: block;
            position: absolute;
            width: 60px;
            height: 60px;
            right: 0;
            top: 0;
            line-height: 60px;
            text-align: center;
            background: #ec9424;
            border-left: solid 1px #fff;
            color: #fff;
        }

            .payment-item a:hover {
                background-color: #000;
            }

    .pager a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        background-color: #fff;
    }

        .pager a.active, .pager a:hover {
            font-weight: bold;
            color: #000;
        }

    .nav-wizard {
        margin-bottom: 10px;
    }

        .nav-wizard li {
            width: 25%;
        }

    .surcharge > label > p, .surcharge > label > div {
        display: inline-block;
    }
