﻿@model Courier_Management_System.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <form role="form" method="POST" class="form-horizontal">
                @Html.AntiForgeryToken()
                <h4>Change Password Form</h4>
                <hr />
                @Html.ValidationSummary("", new
       {
           @class = "text-danger"
       })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new
           {
               @class = "col-md-2 control-label"
           })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new
               {
                   @class = "form-control"
               })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new
           {
               @class = "col-md-2 control-label"
           })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new
               {
                   @class = "form-control"
               })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new
           {
               @class = "col-md-2 control-label"
           })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new
               {
                   @class = "form-control"
               })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            </form>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</div>