﻿@model Courier_Management_System.Models.AddCustomerViewModel
@{
    ViewBag.Title = "Register";
    var paymentTypes = ViewBag.PaymentTypes as List<SelectListItem> ?? new List<SelectListItem>();
    paymentTypes.Insert(0, new SelectListItem()
                           {
                               Text = "Select payment type",
                               Value = ""
                           });
    var countryCodes = ViewBag.CountryCodes as List<SelectListItem> ?? new List<SelectListItem>();
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function() {
            $('#ZipCode')
                .on(
                    'change',
                    function() {
                        $.ajax({
                            url: '/api/locations/checkZipCode/' + $('#ZipCode').val(),
                            type: 'POST',
                            success: function(data) {
                                $('#Address')
                                    .val((data.UnitNumber || "")
                                        + (data.StreetName != null ? (" " + data.StreetName) : ""));
                            }
                        });
                    });
        });

        function submitForm() {
            if ($('#registerForm').valid()) {
                $('#registerForm input[type = submit]').hide();
            }
        }
    </script>
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @using (Html.BeginForm("CustomerRegister", "Account", FormMethod.Post, new
                                                                                   {
                                                                                       @class = "form-horizontal",
                                                                                       role = "form",
                                                                                       id = "registerForm",
                                                                                       onsubmit = "submitForm()"
                                                                                   }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new
                                            {
                                                @class = "text-danger"
                                            })
                if (ViewBag.ErrorMessages != null)
                {
                    <div class="alert alert-danger">
                        @foreach (var error in ViewBag.ErrorMessages)
                        {
                            @Html.Raw(error)
                        }
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new
                                                    {
                                                        @class = "col-md-2 control-label"
                                                    })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new
                                                          {
                                                              @class = "form-control",
                                                              placeholder = "User name"
                                                          })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new
                                                 {
                                                     @class = "col-md-2 control-label"
                                                 })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new
                                                       {
                                                           @class = "form-control",
                                                           placeholder = "E-mail addresss"
                                                       })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new
                                                    {
                                                        @class = "col-md-2 control-label"
                                                    })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new
                                                           {
                                                               @class = "form-control",
                                                               placeholder = "Password"
                                                           })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new
                                                           {
                                                               @class = "col-md-2 control-label"
                                                           })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                                                                  {
                                                                      @class = "form-control",
                                                                      placeholder = "Re-type password"
                                                                  })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new
                                                {
                                                    @class = "col-md-2 control-label"
                                                })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new
                                                      {
                                                          @class = "form-control",
                                                          placeholder = "Full name"
                                                      })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Company, new
                                                   {
                                                       @class = "col-md-2 control-label"
                                                   })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Company, new
                                                         {
                                                             @class = "form-control",
                                                             placeholder = "Company"
                                                         })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new
                                                   {
                                                       @class = "col-md-2 control-label"
                                                   })
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ZipCode, new
                                                         {
                                                             @class = "form-control",
                                                             placeholder = "Postal code"
                                                         })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Address, new
                                                         {
                                                             @class = "form-control",
                                                             placeholder = "Address"
                                                         })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MobileNumber, new
                                                        {
                                                            @class = "col-md-2 control-label"
                                                        })
                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.CountryCode, countryCodes, new
                                                                                {
                                                                                    @class = "form-control"
                                                                                })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.MobileNumber, new
                                                              {
                                                                  @class = "form-control",
                                                                  placeholder = "Mobile number"
                                                              })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaymentType, new
                                                       {
                                                           @class = "col-md-2 control-label"
                                                       })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.PaymentType, paymentTypes, new
                                                                                {
                                                                                    @class = "form-control"
                                                                                })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyPrefix, new
                                                         {
                                                             @class = "col-md-2 control-label"
                                                         })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CompanyPrefix, new
                                                               {
                                                                   @class = "form-control",
                                                                   placeholder = "Company Prefix"
                                                               })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>