﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-info">
                Please check your email to reset your password.
            </div>
        </div>
    </div>
</div>

