﻿@model Courier_Management_System.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                }

                <h4>Enter your username.</h4>
                <hr />
                @Html.ValidationSummary("", new
           {
               @class = "text-danger"
           })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new
               {
                   @class = "col-md-2 control-label"
               })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new
                   {
                       @class = "form-control"
                   })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Email Link" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>
