﻿@using Courier_Management_System.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section scripts {
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        })
    </script>
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("Login", "Account", new
            {
                ReturnUrl = ViewBag.ReturnUrl
            }, FormMethod.Post, new
            {
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new
           {
               @class = "text-danger"
           })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new
               {
                   @class = "form-control",
                   placeholder = "UserName"
               })
                    @Html.ValidationMessageFor(m => m.UserName, "", new
               {
                   @class = "text-danger"
               })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new
               {
                   @class = "form-control",
                   placeholder = "Password"
               })
                    @Html.ValidationMessageFor(m => m.Password, "", new
               {
                   @class = "text-danger"
               })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a>
                </div>
                </div>
            }
        </div>
        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            @{ Html.RenderPartial("_ExternalLoginsListPartial", new ExternalLoginListViewModel()
                {
                    ReturnUrl = ViewBag.ReturnUrl
                }); }
        </div>*@
        <div class="clearfix"></div>
    </div>
</div>
