﻿@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@model PaymentViaBankModel

@{
    ViewBag.Title = "Selecting Payment Method";
}

@section scripts {
    <script>
        $(function() {
            $("#TransactionAmount")
                .TouchSpin({
                    min: 1,
                    max: 1000000000,
                    step: 1,
                    maxboostedstep: 100,
                    prefix: '$',
                    postfix: '',
                    decimals: 0
                });
            $('#TransactionDate')
                .datepicker({
                    'format': 'dd/mm/yyyy',
                    'autoclose': true,
                    'endDate': new Date()
                });
            $('#TransactionTime')
                .timepicker({
                    minuteStep: 1,
                    appendWidgetTo: 'body',
                    showSeconds: false,
                    showMeridian: false,
                    defaultTime: 'current'
                });

            $("#paymentForm")
                .on(
                    "submit",
                    function () {
                        if ($("#paymentForm").valid()) {
                            $("#paymentForm input[type=submit]").hide();
                        }
                    });
        });
    </script>
}

<style>
    .datepicker .day {
        background: none;
        color: #000;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">

        @if (Model != null)
        {
            <form id="paymentForm" method="POST">
                @Html.AntiForgeryToken()

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                }

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="text-center">
                        @Html.Raw(ViewBag.SuccessMessage)
                    </div>
                }

                @if (ViewBag.SuccessMessage == null)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form_box">
                                <h3>
                                    <label for="CompanyName" class="text-left" style="display: block;">COMPANY NAME</label>
                                </h3>
                                @Html.TextBoxFor(m => m.CompanyName, new
                                                                     {
                                                                         @class = "FROM"
                                                                     })
                                @Html.ValidationMessageFor(m => m.CompanyName)
                                <h3>
                                    <label for="Username" class="text-left" style="display: block;">USER NAME</label>
                                </h3>
                                @Html.TextBoxFor(m => m.Username, new
                                                                  {
                                                                      @class = "FROM",
                                                                      @readonly = "readonly"
                                                                  })
                                @Html.ValidationMessageFor(m => m.Username)
                                <h3>
                                    <label for="TransactionNumber" class="text-left" style="display: block;">TRANSACTION REFERENCE NO.</label>
                                </h3>
                                @Html.TextBoxFor(m => m.TransactionNumber, new
                                                                           {
                                                                               @class = "FROM"
                                                                           })
                                @Html.ValidationMessageFor(m => m.TransactionNumber)
                                <h3>
                                    <label for="TransactionAmount" class="text-left" style="display: block;">TRANSFERRED AMOUNT</label>
                                </h3>
                                <div style="margin-bottom: 10px;">
                                    @Html.TextBoxFor(m => m.TransactionAmount, new
                                                                               {
                                                                                   @class = "FROM",
                                                                                   style = "margin-bottom:0; padding-top: 2px; padding-bottom: 2px;"
                                                                               })
                                </div>
                                @Html.ValidationMessageFor(m => m.TransactionAmount)
                                <h3>
                                    <label for="TransactionDate" class="text-left" style="display: block;">TRANSFERRED DATE & TIME</label>
                                </h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.TransactionDate, new
                                                                                 {
                                                                                     @class = "FROM"
                                                                                 })
                                        @Html.ValidationMessageFor(m => m.TransactionDate)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.TransactionTime, new
                                                                                 {
                                                                                     @class = "FROM"
                                                                                 })
                                        @Html.ValidationMessageFor(m => m.TransactionTime)
                                    </div>
                                </div>
                                <h3>
                                    <label for="MobileNumber" class="text-left" style="display: block;">MOBILE NUMBER</label>
                                </h3>
                                @Html.TextBoxFor(m => m.MobileNumber, new
                                                                      {
                                                                          @class = "FROM"
                                                                      })
                                @Html.ValidationMessageFor(m => m.MobileNumber)
                                <input type="submit" value="CONFIRM TRANSACTION" />
                            </div>
                        </div>
                    </div>
                }
            </form>
        }
    </div>
</div>