﻿@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@model EditCustomerViewModel

@{
    ViewBag.Title = "Profile";
    var countryCodes = ViewBag.CountryCodes as List<SelectListItem> ?? new List<SelectListItem>();
    var paymentTypes = ViewBag.PaymentTypes as List<SelectListItem> ?? new List<SelectListItem>();
    var paymentAccounts = ViewBag.PaymentAccounts as List<PaymentAccount> ?? new List<PaymentAccount>();
    var model = ViewBag.PaymentAccount as PaymentAccountViewModel ?? new PaymentAccountViewModel();
    var paymentHistory = ViewBag.PaymentHistory as List<PaymentHistoryModel> ?? new List<PaymentHistoryModel>();
}

@section scripts {
    <script type="text/javascript">
        var paypal = @((int) PaymentAccountTypes.PaypalAccount);
        var reopenAdd = "@(ViewBag.ReopenAdd == true ? "True" : "False")";

        $(function() {
            @if (User.IsInRole(AccountHelper.VendorRole))
            {
                <text>
                    $('#top_menu ul li:eq(6)').addClass("current");</text>
            }
            else
            {
                <text>
                    $('#top_menu ul li:eq(5)').addClass("current");</text>
            }

            $('#ZipCode')
                .on(
                    'change',
                    function() {
                        $.ajax({
                            url: '/api/locations/checkZipCode/' + $('#ZipCode').val(),
                            type: 'POST',
                            success: function(data) {
                                $('#Address')
                                    .val((data
                                            .UnitNumber
                                            || "")
                                        + (data.StreetName != null ? (" " + data.StreetName) : ""));
                                $('#BuildingName').val(data.BuildingName);
                            }
                        });
                    });

            $('#AccountType')
                .on(
                    'change',
                    function() {
                        $('.for-credit-card').hide();
                        if ($('#AccountType').val() != paypal) {
                            // Show credit card info
                            $('.for-credit-card').show();
                        }
                    });

            if (reopenAdd == "True") {
                showAddPayment();

                $('#AccountType').val(@(model.AccountType));
                $('#AccountType').trigger('change');
                $('#FirstName').val('@(model.FirstName)');
                $('#LastName').val('@(model.LastName)');
                $('#CardNumber').val('@(model.CardNumber)');
                $('#ExpireMonth').val(@(model.ExpireMonth));
                $('#ExpireYear').val(@(model.ExpireYear));
                $('#Currency').val('@(model.Currency)');
            }
        });

        function checkTopUpSubmit() {
            var errorMessage = "<span class='field-validation-error' style='float:left' data-valmsg-for='topUpAmount'><span>Please enter numeric value. Minimum is $50</span></span>";
            var isValid = true;
            if ($.isNumeric($('#topUpAmount').val())) {
                var value = parseInt($('#topUpAmount').val()) || 0;
                if (value < parseInt(50)) {
                    isValid = false;
                }
            }
            else {
                isValid = false;
            }

            if (!isValid) {
                if ($("#topUpAmount").parent().find(".field-validation-error").length == 0) // only add if not added
                {
                    $("#topUpAmount").parent().append(errorMessage);
                }
                $('#topUpAmount').focus();
                return false;
            }
        }

        function showAddPayment() {
            $('#addPaymentBlock').slideDown();
        }

        function checkSubmit() {
            $('.add-payment input, add-payment.select').removeClass("input-validation-error");
            $('.field-validation-error').text("");

            // Validate all info
            if (!$('#AccountType').val()) {
                $('#AccountType').addClass("input-validation-error");
                $('#AccountType').focus();
                $('#AccountType').next('.field-validation-error').text('Account Type must be chosen.');
                return false;
            }

            if (!$('#FirstName').val()) {
                $('#FirstName').addClass("input-validation-error");
                $('#FirstName').focus();
                $('#FirstName').next('.field-validation-error').text('First Name is required.');
                return false;
            }

            if (!$('#LastName').val()) {
                $('#LastName').addClass("input-validation-error");
                $('#LastName').focus();
                $('#LastName').next('.field-validation-error').text('Last Name is required.');
                return false;
            }

            if ($('#AccountType').val() != paypal) {
                if (!$('#CardNumber').val()) {
                    $('#CardNumber').addClass("input-validation-error");
                    $('#CardNumber').focus();
                    $('#CardNumber').next('.field-validation-error').text('Card Number is required.');
                    return false;
                }

                if (!$('#CardCVV').val()) {
                    $('#CardCVV').addClass("input-validation-error");
                    $('#CardCVV').focus();
                    $('#CardCVV').next('.field-validation-error').text('Card CVV is required.');
                    return false;
                }

                if (!$('#ExpireMonth').val()) {
                    $('#ExpireMonth').addClass("input-validation-error");
                    $('#ExpireMonth').focus();
                    $('#ExpireMonth').next('.field-validation-error').text('Expire Month must be chosen.');
                    return false;
                }

                if (!$('#ExpireYear').val()) {
                    $('#ExpireYear').addClass("input-validation-error");
                    $('#ExpireYear').focus();
                    $('#ExpireYear').next('.field-validation-error').text('Expire Year must be chosen.');
                    return false;
                }

                if (!$('#Currency').val()) {
                    $('#Currency').addClass("input-validation-error");
                    $('#Currency').focus();
                    $('#Currency').next('.field-validation-error').text('Currency must be chosen.');
                    return false;
                }
            }

            $('#addPaymentBlock button[type = submit]').hide();

            return true;
        }

    </script>
}

<div class="content_bg05">
    <div class="dnn_layout">

        @if (Model != null)
        {
            <form method="POST">
                @Html.AntiForgeryToken()

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                }

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
                }

                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.PaymentType)

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <h3>
                                <label class="text-left" style="display: block;">FULL NAME</label>
                            </h3>
                            @Html.TextBoxFor(m => m.Name, new
                                                          {
                                                              @class = "FROM"
                                                          })
                            @Html.ValidationMessageFor(m => m.Name)
                            <div class="row">
                                <div class="col-sm-8 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">COMPANY</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.Company, new
                                                                     {
                                                                         @class = "FROM"
                                                                     })
                                    @Html.ValidationMessageFor(m => m.Company)
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">COMPANY PREFIX</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.CompanyPrefix, new
                                                                           {
                                                                               @class = "FROM",
                                                                               @readonly = "readonly"
                                                                           })
                                    @Html.ValidationMessageFor(m => m.CompanyPrefix)
                                </div>
                            </div>
                            <h3>
                                <label class="text-left" style="display: block;">EMAIL</label>
                            </h3>
                            @Html.TextBoxFor(m => m.Email, new
                                                           {
                                                               @class = "FROM"
                                                           })
                            @Html.ValidationMessageFor(m => m.Email)
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">POSTAL CODE</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ZipCode, new
                                                                     {
                                                                         @class = "FROM"
                                                                     })
                                    @Html.ValidationMessageFor(m => m.ZipCode)
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">ADDRESS</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.Address, new
                                                                     {
                                                                         @class = "FROM"
                                                                     })
                                    @Html.ValidationMessageFor(m => m.Address)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.UnitNumber, new
                                                                        {
                                                                            placeholder = "UNIT NO."
                                                                        })
                                    @Html.ValidationMessageFor(m => m.UnitNumber)
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-8 col-xs-8">
                                    <h3>
                                        <label class="text-left" style="display: block;">BUILDING NAME</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.BuildingName, new
                                                                          {
                                                                              placeholder = "BUILDING NAME"
                                                                          })
                                    @Html.ValidationMessageFor(m => m.BuildingName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                                    <h3>
                                        <label class="text-left" style="display: block;">COUNTRY CODE</label>
                                    </h3>
                                    @Html.DropDownListFor(m => m.CountryCode, countryCodes, new
                                                                                            {
                                                                                                @class = "FROM"
                                                                                            })
                                    @Html.ValidationMessageFor(m => m.CountryCode)
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                                    <h3>
                                        <label class="text-left" style="display: block;">MOBILE NUMBER</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.MobileNumber, new
                                                                          {
                                                                              @class = "FROM"
                                                                          })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                            </div>
                            <hr />
                            <em>Leave these fields blank if you don't want to change your password</em>
                            <h3>
                                <label class="text-left" style="display: block;">CURRENT PASSWORD</label>
                            </h3>
                            @Html.PasswordFor(m => m.CurrentPassword, new
                                                                      {
                                                                          @class = "FROM"
                                                                      })
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                            <h3>
                                <label class="text-left" style="display: block;">NEW PASSWORD</label>
                            </h3>
                            @Html.PasswordFor(m => m.NewPassword, new
                                                                  {
                                                                      @class = "FROM"
                                                                  })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                            <h3>
                                <label class="text-left" style="display: block;">CONFIRM NEW PASSWORD</label>
                            </h3>
                            @Html.PasswordFor(m => m.ConfirmPassword, new
                                                                      {
                                                                          @class = "FROM"
                                                                      })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)

                            <input type="submit" lang="Save" value="SAVE" title="SAVE" />
                        </div>
                    </div>
                </div>
            </form>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="form_box">
                        <h3>
                            <label class="text-left" style="display: block;">PAYMENT TYPE</label>
                        </h3>
                        <input class="FROM" readonly="readonly" type="text" value="@(paymentTypes.Where(x => x.Value == Model.PaymentType.ToString()).Select(x => x.Text).FirstOrDefault())" />
                        <h3>
                            <label class="text-left" style="display: block;">BALANCE</label>
                        </h3>
                        <input class="FROM" readonly="readonly" type="text" value="@Model.Credit.ToString("C")" />
                        <div class="row">
                            <form action="@Url.Action("TopupPayment", "Account")" method="GET" onsubmit="return checkTopUpSubmit();">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <h3>
                                        <label class="text-left" style="display: block;">TOP-UP VALUE</label>
                                    </h3>
                                    <input type="text" id="topUpAmount" name="TopUpAmount" placeholder="minimum top up is $50"><br>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3>
                                        <label style="display: block;">&nbsp;</label>
                                    </h3>
                                    <button id="btnSubmitTopUp" type="submit" class="button" style="width: 100%; margin-top: 0">ADD</button>
                                </div>
                            </form>
                        </div>
                        @*<h3>
                            <label class="text-left" style="display: block;">PAYMENT METHODS</label>
                        </h3>
                        <div>
                            @for (var i = 0; i < paymentAccounts.Count; i++)
                            {
                                <div class="payment-item">
                                    @if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.PaypalAccount)
                                    {
                                        <button>Paypal Account of @paymentAccounts[i].LastName @paymentAccounts[i].FirstName</button>
                                    }
                                    else if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.VisaCard)
                                    {
                                        <button>Visa Credit Card (@paymentAccounts[i].CardNumber)</button>
                                    }
                                    else if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.MasterCard)
                                    {
                                        <button>Master Credit Card (@paymentAccounts[i].CardNumber)</button>
                                    }
                                    <a href="@Url.Action("RemovePaymentAccount", "Account", new {id = paymentAccounts[i].Id})"><span class="glyphicon glyphicon-minus"></span></a>
                                </div>
                            }
                        </div>*@

                        @*<a class="button" href="javascript:void(0)" onclick="showAddPayment()">+ Add Payment Method</a>

                        <form id="addPaymentBlock" action="@Url.Action("PaymentAccounts", "Account")" method="POST" class="add-payment" onsubmit="return checkSubmit();">
                            <hr />
                            @Html.AntiForgeryToken()
                            <div>
                                @if (ViewBag.PaymentAccountMessage != null)
                                {
                                    <div class="alert alert-danger">@Html.Raw(ViewBag.PaymentAccountMessage)</div>
                                }
                                <h3>
                                    <label class="text-left" style="display: block;">ACCOUNT TYPE</label>
                                </h3>
                                <select id="AccountType" name="AccountType">
                                    <option value="">Choose Account Type</option>
                                    <option value="0">Paypal Account</option>*@
                        @*@foreach (var type in EnumHelper.GetSelectList(typeof(PaymentAccountTypes)))
                                        {
                                            <option value="@type.Value">@type.Text</option>
                                        }*@@*
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">FIRST NAME</label>
                                    </h3>
                                    <input type="text" id="FirstName" name="FirstName" />
                                    <span class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">LAST NAME</label>
                                    </h3>
                                    <input type="text" id="LastName" name="LastName" />
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="row for-credit-card">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <h3>
                                        <label class="text-left" style="display: block;">CARD NUMBER</label>
                                    </h3>
                                    <input type="text" id="CardNumber" name="CardNumber" />
                                    <span class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">CVV</label>
                                    </h3>
                                    <input type="text" id="CardCVV" name="CardVV" />
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="row for-credit-card">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">EXPIRE MONTH</label>
                                    </h3>
                                    <select id="ExpireMonth" name="ExpireMonth">
                                        <option value="">MONTH</option>
                                        @for (var i = 1; i <= 12; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <span class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">EXPIRE YEAR</label>
                                    </h3>
                                    <select id="ExpireYear" name="ExpireYear">
                                        <option value="">YEAR</option>
                                        @for (var i = 1980; i <= 2100; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <span class="field-validation-error"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">CURRENCY</label>
                                    </h3>
                                    <select id="Currency" name="Currency">
                                        <option value="">CURRENCY</option>
                                        <option value="SGD">SGD</option>
                                        <option value="USD">USD</option>
                                    </select>
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>

                            <div>
                                <button class="button" type="submit">Submit</button>
                            </div>
                        </form>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <label class="text-left" style="display: block;">TRANSACTION HISTORY</label>
                    </h3>
                    @if (paymentHistory.Count == 0)
                    {
                        <div class="text-center">- No records are found -</div>
                    }
                    else
                    {
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Transaction Time</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Payment Mode</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in paymentHistory)
                                {
                                    <tr>
                                        <td>@(row.TransactionDate?.ToString("dd/MM/yyyy"))</td>
                                        <td>@(row.TransactionDate?.ToString("HH:mm"))</td>
                                        <td>@row.TransactionAmount.ToString("C")</td>
                                        <td>@(EnumHelpers.GetDisplayValue(row.AccountType))</td>
                                        <td>
                                            @if (row.Status == PaymentStatus.Pending)
                                            {
                                                <a href="@Url.Action("PaymentConfirm", "Account", new { id = row.Id })" target="_blank">@row.Status.ToString()</a>
                                            }
                                            else
                                            {
                                                @(row.Status == PaymentStatus.Approved ? "Processed" : row.Status.ToString())
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        }
    </div>
</div>