﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-info">
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new
                                            {
                                                id = "loginLink"
                                            })
            </div>
        </div>
    </div>
</div>
