﻿@model Courier_Management_System.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="container">
    <div clss="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password.</h4>
                <hr />
                @Html.ValidationSummary("", new
           {
               @class = "text-danger"
           })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new
               {
                   @class = "col-md-2 control-label"
               })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new
                   {
                       @class = "form-control"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new
               {
                   @class = "col-md-2 control-label"
               })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new
                   {
                       @class = "form-control"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new
               {
                   @class = "col-md-2 control-label"
               })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                   {
                       @class = "form-control"
                   })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Reset" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
