﻿@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@model List<PaymentAccount>

@{
    ViewBag.Title = "Selecting Payment Method";
    var paymentAccounts = ViewBag.PaymentAccounts as List<PaymentAccount> ?? new List<PaymentAccount>();
}

<style>
    .blur {
        -ms-opacity: 0.5;
        opacity: 0.5;
    }

    #bank-form a img {
        max-width: 300px;
        max-height: 50px;
        margin: 0 30px;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">

        <div class="row">
            <div class="col-sm-12">
                <div class="form_box">
                    <div class="form_top">
                        <form method="POST" id="checkout-form" class="payments">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="value" value="@ViewBag.TopupAmount" />
                            <input type="hidden" name="payment-method-nonce">
                            <input type="hidden" name="paymentAccountType">

                            @if (ViewBag.SuccessMessage == null)
                            {
                                <p style="font-weight: bold; font-size: 20px;">
                                    Select Payment Method for Adding Top-up
                                </p>

                                <div style="margin-bottom: 30px;">
                                    <a id="pay-via-bank" href="javascript:void(0);" title="Pay through Bank" data-type="@((int) PaymentAccountTypes.Bank)">
                                        <img src="@Url.Content("~/Content/ibanking.jpg")" alt="iBanking" style="max-height: 50px;" />
                                    </a>
                                    <a id="pay-with-cc" href="javascript:void(0);" style="margin-left: 30px;" title="Pay with Visa or Master Card" data-type="@((int) PaymentAccountTypes.CreditCard)">
                                        <img src="@Url.Content("~/Content/visa_mastercard_1.gif")" alt="VISA - MASTER CARD" />
                                    </a>
                                    <a id="pay-with-paypal" href="javascript:void(0);" class="btn btn-info" title="Pay with PayPal" style="font-size: 22px; margin-left: 30px; color: #fff;" data-type="@((int) PaymentAccountTypes.PaypalAccount)">
                                        PayPal
                                    </a>
                                </div>
                            }

                            @if (ViewBag.SuccessMessage != null)
                            {
                                @Html.Raw(ViewBag.SuccessMessage)
                            }
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                            }

                            <div style="margin-bottom: 30px;" id="error-message"></div>

                            <div id="bank-form" style="margin-top: 30px; display: none;">
                                <h4 class="text-left">Choose a bank to transfer:</h4>
                                <a href="https://www.dbs.com.sg" target="_blank" data-bank="DBS">
                                    <img src="@Url.Content("~/Content/dbs.png")" alt="DBS" />
                                </a>
                                <a href="https://www.ocbc.com" target="_blank" data-bank="OCBC">
                                    <img src="@Url.Content("~/Content/ocbc.png")" alt="OCBC" />
                                </a>
                                <a href="http://www.uobgroup.com" target="_blank" data-bank="UOB">
                                    <img src="@Url.Content("~/Content/uob.png")" alt="UOB" />
                                </a>

                                <div class="payment-item margin-bottom" style="padding-right: 0; display: none;">
                                    <button type="submit" style="text-align: center;">Transaction completed. Proceed to next step.</button>
                                </div>
                                <div style="margin-top: 20px;">
                                    <em>* Transaction Reference No. is required in the next step. Please make sure that you have completed the transaction before proceeding.</em>
                                </div>
                            </div>

                            <div id="payment-form" style="margin-top: 30px; display: none;">

                                <h4 class="text-left margin-bottom">
                                    Please note that there will be an administrative charge of 3.9% + S$0.50 per transaction.
                                </h4>

                                <div class="row">
                                    <div class="col-sm-12 form-group" style="border-bottom: solid 1px #ccc; border-top: solid 1px #ccc;">
                                        <label for="card-number" class="form-label text-left">Card Number</label>
                                        <div class="hosted-field" id="card-number" style="height: 70px;"></div>
                                    </div>

                                    <div class="col-sm-6" style="border-bottom: solid 1px #ccc; border-right: solid 1px #ccc;">
                                        <label for="expiration-date" class="form-label text-left">Expiration Date</label>
                                        <div class="hosted-field" id="expiration-date" style="height: 70px;"></div>
                                    </div>

                                    <div class="col-sm-6" style="border-bottom: solid 1px #ccc;">
                                        <label for="cvv" class="form-label text-left">CVV</label>
                                        <div class="hosted-field" id="cvv" style="height: 70px;"></div>
                                    </div>
                                </div>

                                <div class="payment-item" style="padding-right: 0; display: none;">
                                    <button type="submit" style="text-align: center;">Pay</button>
                                </div>

                            </div>

                            <div id="paypal-form" style="margin-top: 30px; display: none;">
                                <h4 class="text-left margin-bottom">
                                    Please note that there will be an administrative charge of 3.9% + S$0.50 per transaction.
                                    <br />
                                    If you wish to proceed, please click <a href="javascript:void(0);" id="braintree-paypal-button">here</a>
                                </h4>

                                <div class="payment-item" style="padding-right: 0; display: none;">
                                    <button type="submit" style="text-align: center;">Transaction completed. Proceed to next step.</button>
                                </div>
                            </div>

                        </form>

                        @*<form method="POST">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="value" value="@ViewBag.TopupAmount"/>

                                @for (var i = 0; i < paymentAccounts.Count; i++)
                                {
                                    <div class="payment-item">
                                        @if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.PaypalAccount)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@paymentAccounts[i].Id">Paypal Account of @paymentAccounts[i].LastName @paymentAccounts[i].FirstName</button>
                                        }
                                        else if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.VisaCard)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@paymentAccounts[i].Id">Visa Credit Card (@paymentAccounts[i].CardNumber)</button>
                                        }
                                        else if (paymentAccounts[i].AccountType == (int) PaymentAccountTypes.MasterCard)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@paymentAccounts[i].Id">Master Credit Card (@paymentAccounts[i].CardNumber)</button>
                                        }
                                    </div>
                                }
                            </form>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*<script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>*@
<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.0.0/js/client.min.js"></script>
<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.0.0/js/hosted-fields.min.js"></script>
<!-- Load the PayPal component. -->
<script src="https://js.braintreegateway.com/web/3.0.0/js/paypal.min.js"></script>

<script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var clientToken = "@Html.Raw(ViewBag.BrainTreeClientToken)";

    //braintree.setup(clientToken, "dropin", {
    //    container: "payment-form",
    //    onError: function () {
    //        $('form.payments button[type=submit]').show();
    //        $('form.payments #payment-form').show();
    //    }
    //});

    var form = document.querySelector('#checkout-form');
    var paypalButton = document.querySelector('#braintree-paypal-button');

    braintree.client.create({
            authorization: clientToken
        },
        function(clientErr, clientInstance) {
            if (clientErr) {
                // Handle error in client creation
                $("#error-message").html("<div class='alert alert-danger'>" + clientErr.message + "</div>");
                return;
            }

            braintree.hostedFields.create({
                    client: clientInstance,
                    styles: {
                        'input': {
                            'font-size': '26px'
                        },
                        'input.invalid': {
                            'color': 'red'
                        },
                        'input.valid': {
                            'color': 'green'
                        }
                    },
                    fields: {
                        number: {
                            selector: '#card-number',
                            placeholder: '1111 1111 1111 1111'
                        },
                        cvv: {
                            selector: '#cvv',
                            placeholder: '123'
                        },
                        expirationDate: {
                            selector: '#expiration-date',
                            placeholder: '10 / 2019'
                        }
                    }
                },
                function(hostedFieldsErr, hostedFieldsInstance) {
                    if (hostedFieldsErr) {
                        // Handle error in Hosted Fields creation
                        $("#error-message")
                            .html("<div class='alert alert-danger'>" + hostedFieldsErr.message + "</div>");
                        return;
                    }

                    $('#payment-form .payment-item').show();

                    form.addEventListener('submit',
                        function(event) {

                            if ($("input[name='paymentAccountType']").val() != $("#pay-with-cc").data("type")) {
                                return;
                            }

                            event.preventDefault();

                            $('#payment-form button[type=submit]').hide();

                            hostedFieldsInstance.tokenize(function(tokenizeErr, payload) {
                                if (tokenizeErr) {
                                    // Handle error in Hosted Fields tokenization
                                    $("#error-message")
                                        .html("<div class='alert alert-danger'>" + tokenizeErr.message + "</div>");
                                    $('#payment-form button[type=submit]').show();
                                    return;
                                }

                                // Put `payload.nonce` into the `payment-method-nonce` input, and then
                                // submit the form
                                document.querySelector('input[name="payment-method-nonce"]').value = payload.nonce;
                                form.submit();
                            });
                        },
                        false);
                });

            // Create a PayPal component.
            braintree.paypal.create({
                    client: clientInstance
                },
                function(paypalErr, paypalInstance) {

                    // Stop if there was a problem creating PayPal.
                    // This could happen if there was a network error or if it's incorrectly
                    // configured.
                    if (paypalErr) {
                        $("#error-message").html("<div class='alert alert-danger'>" + paypalErr.message + "</div>");
                        return;
                    }

                    // When the button is clicked, attempt to tokenize.
                    paypalButton.addEventListener('click',
                        function(event) {

                            // Because tokenization opens a popup, this has to be called as a result of
                            // customer action, like clicking a button—you cannot call this at any time.
                            paypalInstance.tokenize({
                                    flow: 'vault'
                                },
                                function(tokenizeErr, payload) {
                                    // Stop if there was an error.
                                    if (tokenizeErr) {
                                        $("#error-message")
                                            .html("<div class='alert alert-danger'>" + tokenizeErr.message + "</div>");
                                        return;
                                    }

                                    // Tokenization succeeded!
                                    $("#paypal-form .payment-item").show();
                                    document.querySelector('input[name="payment-method-nonce"]').value = payload.nonce;

                                    $("#paypal-form button[type=submit]")
                                        .on("click",
                                            function() {
                                                $(this).hide();
                                            });
                                });
                        },
                        false);

                });
        });

    $(document)
        .ready(function() {
            $("#pay-via-bank")
                .on("click",
                    function() {
                        $("#pay-with-cc").addClass("blur");
                        $("#pay-with-paypal").addClass("blur");
                        $("#pay-via-bank").removeClass("blur");
                        $("#bank-form").show();
                        $("#payment-form").hide();
                        $("#paypal-form").hide();
                        $("#bank-form .payment-item").hide();
                        $("input[name='payment-method-nonce']").val("");
                        $("input[name='paymentAccountType']").val($(this).data("type"));
                    });
            $("#pay-with-cc")
                .on("click",
                    function() {
                        $("#pay-with-cc").removeClass("blur");
                        $("#pay-via-bank").addClass("blur");
                        $("#pay-with-paypal").addClass("blur");
                        $("#bank-form").hide();
                        $("#payment-form").show();
                        $("#paypal-form").hide();
                        $("input[name='payment-method-nonce']").val("");
                        $("input[name='paymentAccountType']").val($(this).data("type"));
                    });
            $("#pay-with-paypal")
                .on("click",
                    function() {
                        $("#pay-with-paypal").removeClass("blur");
                        $("#pay-via-bank").addClass("blur");
                        $("#pay-with-cc").addClass("blur");
                        $("#bank-form").hide();
                        $("#payment-form").hide();
                        $("#paypal-form").show();
                        $("#paypal-form .payment-item").hide();
                        $("input[name='payment-method-nonce']").val("");
                        $("input[name='paymentAccountType']").val($(this).data("type"));
                    });

            $("#bank-form a[data-bank]")
                .on("click",
                    function() {
                        // Show submit button
                        $("#bank-form .payment-item").show();
                        $("input[name='payment-method-nonce']").val($(this).data("bank"));
                    });

            $("#bank-form button[type=submit]")
                .on("click",
                    function() {
                        $(this).hide();
                    });
        });
</script>