@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
                                          {
                                              settings.Name = "gridViewUsers";
                                              settings.CallbackRouteValues = new
                                                                             {
                                                                                 Controller = "Users",
                                                                                 Action = "AccessRightsViewPartial"
                                                                             };

                                              settings.Width = Unit.Percentage(100);

                                              settings.AfterPerformCallback = (sender, args) =>
                                                                              {
                                                                                  if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
                                                                                  {
                                                                                      return;
                                                                                  }

                                                                                  ((MVCxGridView) sender).DataBind();
                                                                              };

                                              settings.CommandColumn.Visible = false;

                                              settings.KeyFieldName = "Id";

                                              settings.EnableRowsCache = true;

                                              settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                              settings.SettingsPager.Visible = true;
                                              settings.Settings.ShowGroupPanel = true;
                                              settings.Settings.ShowFilterRow = true;
                                              settings.Settings.GridLines = GridLines.Both;

                                              settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                                              settings.SettingsBehavior.AllowSelectByRowClick = true;
                                              settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                                              settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                                              settings.SettingsPager.NumericButtonCount = 7;
                                              settings.SettingsPager.FirstPageButton.Visible = true;
                                              settings.SettingsPager.LastPageButton.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

                                              var col = settings.Columns.Add("UserName");
                                              col.Width = Unit.Pixel(200);
                                              col.FixedStyle = GridViewColumnFixedStyle.Left;
                                              settings.Columns.Add("Email").Width = Unit.Pixel(200);
                                              foreach (var role in (List<AspNetRole>) ViewBag.Roles)
                                              {
                                                  settings.Columns.Add(column =>
                                                                       {
                                                                           column.ToolTip = role.Name;
                                                                           column.Width = Unit.Pixel(150);
                                                                           column.SetHeaderCaptionTemplateContent("<span style='white-space: normal;'>" + role.Name + "<span>");
                                                                           column.SetDataItemTemplateContent(e =>
                                                                                                             {
                                                                                                                 var user = (UserViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                                 @Html.DevExpress().CheckBox(checkboxSettings =>
                                                                                                                                             {
                                                                                                                                                 checkboxSettings.Name = "isActiveCheckbox_" + user.Id + "_" + role.Id;
                                                                                                                                                 checkboxSettings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { gridViewUsers.PerformCallback({ id: \"" + user.Id + "\", isChecked: s.GetChecked(), role: \"" + role.Name + "\" }); }";
                                                                                                                                             }).Bind(user.Roles.Contains(role.Name)).GetHtml()
                                                                                                                 ;
                                                                                                             });
                                                                       });
                                              }
                                          });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = UsersController.GetAccessRights(); }).GetHtml()