@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewUsers";
        settings.CallbackRouteValues = new
        {
            Controller = "Users",
            Action = "ListViewPartial",
            role = ViewBag.FilterRole
        };

        settings.Width = Unit.Percentage(100);

        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView) sender).DataBind();
        };

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(120);
            column.SetDataItemTemplateContent(e =>
            {
            var row = (UserViewModel) e.Grid.GetRow(e.VisibleIndex);
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.UsersEditUser))
                {
                    ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("Edit", "Users", new
                                                                                                                        {
                                                                                                                            id = row.Id
                                                                                                                        }) + "'><span class='fa fa-pencil'></span></a>");
                    if (row.IsActive)
                    {
                        ViewContext.Writer.Write("<a class='btn bg-maroon btn-circle' href='javascript:doAction(\"deactive\", \"" + row.UserName + "\")'><span class='fa fa-user-times'></span></a>");
                    }
                    else
                    {
                        ViewContext.Writer.Write("<a class='btn bg-maroon btn-circle' href='javascript:doAction(\"active\", \"" + row.UserName + "\")'><span class='fa fa-user'></span></a>");
                    }
                }
            });
        });
        settings.Columns.Add("UserName").Width = Unit.Pixel(200);
        settings.Columns.Add("Email").Width = Unit.Pixel(200);
        settings.Columns.Add("IsActive", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(200);
        settings.Columns.Add(column =>
        {
            column.FieldName = "Roles";
            column.Caption = "Roles";
            column.Width = Unit.Pixel(200);

            column.SetDataItemTemplateContent(e =>
            {
                var row = (UserViewModel) e.Grid.GetRow(e.VisibleIndex);
                foreach (var role in row.Roles)
                {
                    ViewContext.Writer.Write("<span>" + role + "</span><br />");
                }
            });

            column.SetFilterTemplateContent(e =>
            {
                Html.DevExpress().ComboBox(cs =>
                {
                    cs.Name = "RoleFilter";
                    cs.Width = Unit.Percentage(100);
                    cs.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cs.Properties.DataSource = ViewBag.Roles;
                    cs.Properties.TextField = "Name";
                    cs.Properties.ValueField = "Name";
                    cs.Properties.ValueType = typeof(string);
                    cs.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;

                    cs.SelectedIndex = (ViewBag.Roles as List<AspNetRole>).FindIndex(x => x.Name.Equals(ViewBag.FilterRole, StringComparison.OrdinalIgnoreCase));

                    cs.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) { gridViewUsers.PerformCallback({role: s.GetValue()}); }";
                }).BindList(ViewBag.Roles).GetHtml();
            });
        });

        //settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['Role'] = RoleFilter.GetValue(); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = UsersController.GetUsers(ViewBag.FilterRole);
}).GetHtml()
