﻿@{
    ViewBag.Title = "Access Rights";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-show-access-rights').addClass("active");
            $('#menu-show-access-rights').parents('.treeview').addClass("active");
            $('#menu-show-access-rights').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function doAction(action, id) {
            gridViewUsers.PerformCallback({ id: id, command: action });
        }
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("AccessRightsViewPartial")
        </div>
    </div>
</section>
