﻿@model Courier_Management_System.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-show-users').addClass("active");
            $('#menu-show-users').parents('.treeview').addClass("active");
            $('#menu-show-users').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Roles)
                            <div class="row">
                                @for (var i = 0; i < Model.Roles.Count; i++)
                                {
                                    <label class="col-md-3">
                                        @Html.CheckBoxFor(m => m.Roles[i].IsSelected)
                                        @Html.HiddenFor(m => m.Roles[i].Name)
                                        @Model.Roles[i].Name
                                    </label>
                                }
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
