﻿@{
    ViewBag.Title = "Show Users";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-show-users').addClass("active");
            $('#menu-show-users').parents('.treeview').addClass("active");
            $('#menu-show-users').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function doAction(action, id) {
            gridViewUsers.PerformCallback({ id: id, command: action });
        }
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("ListViewPartial", new
            {
                role = ViewBag.FilterRole
            })
        </div>
    </div>
</section>
