﻿@{
    ViewBag.Title = "Show Roles";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-show-roles').addClass("active");
            $('#menu-show-roles').parents('.treeview').addClass("active");
            $('#menu-show-roles').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            @if (ViewBag.WarningMessage != null)
            {
                <text>
            swal({
                title: "Cannot delete?",
                text: "@ViewBag.WarningMessage",
                type: "warning"
            });
            </text>
            }
        });

        function deleteRow(index) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                gridViewRoles.DeleteRow(index);
            });
        }
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("RoleListViewPartial")
        </div>
    </div>
</section>
