@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewSettings";
        settings.CallbackRouteValues = new
        {
            Controller = "Settings",
            Action = "ListViewPartial"
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(150);
            column.SetDataItemTemplateContent(e =>
            {
            var row = (Setting) e.Grid.GetRow(e.VisibleIndex);
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.SettingsEditSetting))
                {
                    ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("Edit", "Settings", new
                                                                                                                           {
                                                                                                                               id = row.Id
                                                                                                                           }) + "'><span class='fa fa-pencil'></span></a>");
                }
            });
        });
        settings.Columns.Add("Name").Width = Unit.Pixel(200);
        settings.Columns.Add(column =>
        {
            column.Caption = "Description";
            column.Width = Unit.Pixel(300);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (Setting) e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write(SettingProvider.GetPropertyDescription(row.Name));
            });
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Value";
            column.Width = Unit.Pixel(400);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (Setting)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write(row.Value?.Replace("\n", "<br />"));
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Type";
            column.Width = Unit.Pixel(200);
            column.Caption = "Type";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(PropertyTypes));
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = SettingsController.GetSettings();
}).GetHtml()
