﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers
@model Setting

@{
    ViewBag.Title = "Edit Setting";
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-edit-setting').addClass("active");
            $('#menu-edit-setting').parents('.treeview').addClass("active");
            $('#menu-edit-setting').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            if ($("#Value").val() == "True") {
                $('#value_check').iCheck('check');
            } else {
                $('#value_check').iCheck('uncheck');
            }

            $('#value_check').on('ifChecked', function (event) {
                $("#Value").val('True');
            });
            $('#value_check').on('ifUnchecked', function (event) {
                $("#Value").val('False');
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new
                       {
                           @class = "form-control",
                           @readonly = "readonly"
                       })
                            @Html.ValidationMessageFor(m => m.Name)
                            <p class="help-block">@SettingProvider.GetPropertyDescription(Model?.Name)</p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Value)
                            @if (Model?.Type == (int)PropertyTypes.String)
                            {
                                @Html.TextBoxFor(m => m.Value, new
                           {
                               @class = "form-control"
                           })
                            }
                            else if (Model?.Type == (int)PropertyTypes.StringArray)
                            {
                                <div>One per line</div>
                                @Html.TextAreaFor(m => m.Value, new
                           {
                               @class = "form-control",
                               rows = "5"
                           })
                            }
                            else if (Model?.Type == (int)PropertyTypes.Integer)
                            {
                                @Html.TextBoxFor(m => m.Value, new
                           {
                               @class = "form-control number-spinner",
                               data_min_value = "-9999999999"
                           })
                            }
                            else if (Model?.Type == (int)PropertyTypes.Float || Model?.Type == (int)PropertyTypes.Decimal)
                            {
                                @Html.TextBoxFor(m => m.Value, new
                           {
                               @class = "form-control number-spinner",
                               data_min_value = "-9999999999",
                               data_step = "0.01",
                               data_decimals = "2"
                           })
                            }
                            else if (Model?.Type == (int)PropertyTypes.Boolean)
                            {
                                @Html.HiddenFor(m => m.Value)
                                <input type="checkbox" id="value_check" />
                            }
                            else if (Model?.Type == (int)PropertyTypes.DateTime)
                            {
                            }
                            else if (Model?.Type == (int)PropertyTypes.DateArray)
                            {
                                <script>
                                    function SaveSelectedDates(s, e) {
                                        DateToken.ClearTokenCollection();
                                        var selectedDates = s.GetSelectedDates();
                                        var selectedDateStr = [];
                                        for (var i = 0; i < selectedDates.length; i++) {
                                            var day = selectedDates[i].getDate();
                                            var month = selectedDates[i].getMonth() + 1;
                                            var year = selectedDates[i].getFullYear();
                                            DateToken.AddToken([
                                                (day < 10 ? "0" : "") + day.toString(),
                                                (month < 10 ? "0" : "") + month.toString(),
                                                year.toString()
                                            ].join("/"));
                                            selectedDateStr.push([
                                                (day < 10 ? "0" : "") + day.toString(),
                                                (month < 10 ? "0" : "") + month.toString(),
                                                year.toString()
                                            ].join("/"));
                                        }
                                        $('#Value').val(selectedDateStr.join(','));
                                    }

                                    function TokensChanged(s, e) {
                                        var dates = DateToken.GetTokenCollection();
                                        calendar.ClearSelection();
                                        for (var i = 0; i < dates.length; i++) {
                                            var dateParts = dates[i].split('/');
                                            calendar.SelectDate(new Date(parseInt(dateParts[2]), parseInt(dateParts[1]) - 1, parseInt(dateParts[0])));
                                        }
                                        $('#Value').val(dates.join(','));
                                    }
                                </script>
                                @Html.HiddenFor(m => m.Value)
                                @Html.DevExpress().TokenBox(settings =>
                           {
                               settings.Name = "DateToken";
                               settings.Width = Unit.Percentage(100);
                               settings.Properties.AllowCustomTokens = false;
                               settings.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Never;

                               settings.Properties.ClientSideEvents.TokensChanged = "TokensChanged";
                           }).BindList(Model?.Value != null ? Model?.Value.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries) : new string[] { }).GetHtml()
                                <br />
                                @Html.DevExpress().Calendar(settings =>
                           {
                               settings.Name = "Calendar";
                               settings.Properties.HighlightToday = false;
                               settings.Properties.HighlightWeekends = true;
                               settings.Properties.ShowClearButton = true;
                               settings.Properties.ShowTodayButton = false;
                               settings.Properties.ShowDayHeaders = true;
                               settings.Properties.ShowHeader = true;
                               settings.Properties.ShowWeekNumbers = false;
                               settings.Properties.EnableMultiSelect = true;
                               settings.Properties.Columns = 4;
                               settings.Properties.Rows = 3;

                               settings.Properties.ClientSideEvents.SelectionChanged = "SaveSelectedDates";
                               settings.Properties.ClientSideEvents.Init = "SaveSelectedDates";

                               if (ViewData["SelectedDates"] != null)
                               {
                                   settings.SelectedDates.Add((DateTime[])ViewData["SelectedDates"]);
                               }
                           }).GetHtml()
                            }

                            @Html.ValidationMessageFor(m => m.Value)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
