﻿
@{
    ViewBag.Title = "Show Settings";
}


@section scripts
{
    <script>
        $(function () {
            $('#menu-show-settings').addClass("active");
            $('#menu-show-settings').parents('.treeview').addClass("active");
            $('#menu-show-settings').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("ListViewPartial")
        </div>
    </div>
</section>
