﻿@using Vehicle_Routing_Planer.Models

@{
    ViewBag.Title = "Obtain Latitude and Longitude";
    var googleApiKey = SettingProvider.GoogleApi ?? "";
    var maxRetries = SettingProvider.MaxRetriesQueryGoogleMaps <= 0 ? 10 : SettingProvider.MaxRetriesQueryGoogleMaps;
    var plan = ViewBag.Plan as Plan ?? new Plan();
    var starting = ViewBag.StartingLocation as Location ?? new Location();
    var locations = ViewBag.VisitingLocations as List<Location> ?? new List<Location>();
}

@section scripts {
    <script src="@Url.Content("~/Scripts/geolocations.js")"></script>
    <script>
        var maxRetries = @maxRetries;
        var numberOfCustomers = @plan.NumberOfCustomers;
        var computationMethod = @plan.ComputationMethod;
        var curIdx = 0;
        var locations = [];
        var locationListUrl = '@Url.Action("LocationList", new {id = plan.Id})';

        $(document).ready(function() {
            $('.navbar-nav li:eq(0)').addClass("active");

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('#next').on('click', function() {
                geocoding = false;
                outOfLimit = false;
            });

            $('#locationsForm').on('submit', preProcessBeforeSubmit);

            // Reopen import popup if need
            @if (ViewBag.ErrorMessage != null)
            {
                // Just show error message
                <text>
            sweetAlert({
                title: "Oops...",
                text: "@Html.Raw(ViewBag.ErrorMessage.Replace("\n", "<br />").Replace("\r", ""))",
                type: "error",
                html: true
            });
            </text>
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(googleApiKey)&signed_in=true&libraries=places&callback=initMap"></script>
}

<h2>Step 3: Obtains Latitude and Longitude</h2>

<div class="row">
    <div class="col-md-12">
        <div id="map" class="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form id="locationsForm" method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" name="indexList" id="indexList" />
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header navbar-left" style="line-height: 40px; padding-top: 5px;">
                        <label>Distance / Duration computation: @VrpCollections.GetText(VrpCollections.ComputationMethods, plan.ComputationMethod)</label>
                    </div>
                    <div class="navbar-header navbar-right">
                        <a id="back" class="btn btn-info navbar-btn" href="@Url.Action("Locations", new { id = plan.Id })">Back</a>
                        <button type="submit" id="next" class="btn btn-success navbar-btn">Next</button>
                    </div>
                </div>
            </nav>
            @Html.ValidationSummary()
            <div class="form-group">
                <div class="row">
                    <label class="col-md-6">Start address (Warehouse)</label>
                    <label for="startLatitude" class="col-md-3">Latitude</label>
                    <label for="startLongitude" class="col-md-3">Longitude</label>
                </div>
                <div class="row">
                    <label class="col-md-6" id="startAddress">@starting.StreetName</label>
                    <div class="col-md-3">
                        <input type="text" name="startLatitude" id="startLatitude" class="form-control number-spinner" placeholder="Latitude" value="@starting.Latitude" data-step="0.000000001" data-decimals="9" data-min-value="-999999999" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="startLongitude" id="startLongitude" class="form-control number-spinner" placeholder="Longitude" value="@starting.Longitude" data-step="0.000000001" data-decimals="9" data-min-value="-999999999" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="table-responsive">
                    <table id="addressList" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%;">Company / Name</th>
                                <th style="width: 40%;">Address</th>
                                <th style="width: 20%;">Latitude</th>
                                <th style="width: 20%;">Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < locations.Count; i++)
                            {
                                <tr id="row@(i + 1)">
                                    <td>
                                        <input type="hidden" name="id@(i + 1)" id="id@(i + 1)" value="@locations[i].Id" />
                                        <label name="name@(i + 1)" id="name@(i + 1)">@locations[i].CustomerName</label>
                                    </td>
                                    <td>
                                        <label name="address@(i + 1)" id="address@(i + 1)">@locations[i].StreetName</label>
                                    </td>
                                    <td>
                                        <input type="text" name="latitude@(i + 1)" id="latitude@(i + 1)" class="form-control number-spinner" placeholder="Latitude" data-step="0.000000001" data-decimals="9" data-min-value="-999999999" value="@locations[i].Latitude" />
                                    </td>
                                    <td>
                                        <input type="text" name="longitude@(i + 1)" id="longitude@(i + 1)" class="form-control number-spinner" placeholder="Longitude" data-step="0.000000001" data-decimals="9" data-min-value="-999999999" value="@locations[i].Longitude" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="waitingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="waitingModalLabel">Processing</h4>
            </div>
            <div class="modal-body" style="color: #00CC00">
                Calculating Latitude and Longitude of points, please wait... Running in <span id="progress">0</span> seconds.
            </div>
        </div>
    </div>
</div>
