﻿
@using System.Web.UI.WebControls
@using Newtonsoft.Json
@using Vehicle_Routing_Planer.Models
@model List<Vehicle_Routing_Planer.Models.HistoryModel>

@{
    ViewBag.Title = "History";
    var totalPages = ViewBag.ItemsCount / ViewBag.ItemsPerPage;
    if (ViewBag.ItemsCount % ViewBag.ItemsPerPage != 0)
    {
        ++totalPages;
    }
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.navbar-nav li:eq(1)').addClass("active");
            $('.datepicker').datetimepicker({
                format: "DD/MM/YYYY"
            });
        });
    </script>
}

<h2>History</h2>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form>
            <div class="navbar-header navbar-left">
                <input type="text" name="start" class="form-control navbar-btn datepicker" style="display: inline-block; width: 150px;" placeholder="From Date" value="@Request["start"]" />
                <input type="text" name="end" class="form-control navbar-btn datepicker" style="display: inline-block; width: 150px;" placeholder="To Date" value="@Request["end"]" />
                <button class="btn btn-info navbar-btn">Filter</button>
            </div>
            <div class="navbar-header navbar-right">
                <button class="btn btn-danger navbar-btn" name="DeleteAll" value="Delete All">Delete All</button>
                <a class="btn btn-primary navbar-btn" href="@Url.Action("Index")">Start new plan</a>
            </div>
        </form>
    </div>
</nav>
<div class="table-responsive">
    <table id="historyList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th rowspan="2">Number of customers</th>
                <th rowspan="2">Number of vehicle types</th>
                <th rowspan="2">Computation method</th>
                <th rowspan="2">Infeasibilities</th>
                <th colspan="4">Routes</th>
                <th rowspan="2">Created on</th>
                <th rowspan="2">Created by</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>Vehicle</th>
                <th>Stops</th>
                <th>Gross profit ($)</th>
                <th>Total distances</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                var result = JsonConvert.DeserializeObject(Model[i].Result) as dynamic;
                var vehicles = new List<dynamic>();
                var stops = new List<dynamic>();
                var profits = new List<dynamic>();
                var distances = new List<dynamic>();
                foreach (var route in result.Routes)
                {
                    vehicles.Add(route.Vehicle.VehicleNumber);
                    stops.Add(route.Stops);
                    profits.Add(route.NetProfit.ToString("0.00"));
                    distances.Add(route.Distances[route.Distances.Count - 1].ToString("0.00"));
                }

                <tr>
                    <td rowspan="@result.Routes.Count">
                        @(i + 1)
                    </td>
                    <td rowspan="@result.Routes.Count">
                        @Model[i].Plan.NumberOfCustomers
                    </td>
                    <td rowspan="@result.Routes.Count">
                        @Model[i].Plan.NumberOfVehicleTypes
                    </td>
                    <td rowspan="@result.Routes.Count">
                        @VrpCollections.GetText(VrpCollections.ComputationMethods, Model[i].Plan.ComputationMethod)
                    </td>
                    <td rowspan="@result.Routes.Count">
                        @(result.Infeasibilities != null ? result.Infeasibilities.Count : 0)
                    </td>
                    <td>@(vehicles.Count > 0 ? vehicles[0] : "")</td>
                    <td>@(stops.Count > 0 ? stops[0] : "")</td>
                    <td>@(profits.Count > 0 ? profits[0] : "")</td>
                    <td>@(distances.Count > 0 ? distances[0] : "")</td>
                    <td rowspan="@result.Routes.Count">
                        @Model[i].UpdatedOn.ToString("dd/MM/yyyy HH:mm:ss")
                    </td>
                    <td rowspan="@result.Routes.Count">
                        @Model[i].Plan.CreatedBy
                    </td>
                    <td rowspan="@result.Routes.Count">
                        <a class="btn btn-primary btn-block" href="@Url.Action("Plan", new {id = Model[i].Id, historyMode = true})">View plan</a>
                        <form method="POST" action="@Url.Action("ExportPlan", new {
                                                            id = Model[i].Plan.Id
                                                        })">
                            <button class="btn btn-warning btn-block" style="margin-top: 10px;" type="submit">Export to CDS</button>
                        </form>
                    </td>
                </tr>

                for (var j = 1; j < result.Routes.Count; j++)
                {
                    <tr>
                        <td>@vehicles[j]</td>
                        <td>@stops[j]</td>
                        <td>@profits[j]</td>
                        <td>@distances[j]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination">
        <li class="@(ViewBag.Page > 1 ? "" : "disabled")">
            <a href="@(ViewBag.Page > 1 ? Url.Action("History", new { page = ViewBag.Page - 1, start = Request["start"], end = Request["end"] }) : "")" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var page = ViewBag.Page; page <= Math.Min(10, totalPages); page++)
        {
            <li class="@(page == ViewBag.Page ? "active" : "")"><a href="@Url.Action("History", new { page = page, start = Request["start"], end = Request["end"] })">@page</a></li>
        }
        <li class="@(ViewBag.Page < totalPages ? "" : "disabled")">
            <a href="@(ViewBag.Page < totalPages ? Url.Action("History", new { page = ViewBag.Page + 1, start = Request["start"], end = Request["end"] }) : "")" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
