﻿@using Vehicle_Routing_Planer.Models
@model PlanViewModel

@{
    ViewBag.Title = "Configuration";
    var vehicles = ViewBag.Vehicles as List<VehicleViewModel> ?? new List<VehicleViewModel>();
    var selectedVehicles = ViewBag.SelectedVehicles as string[] ?? new string[] { };
}

@section scripts {
    <script>
        $(document)
            .ready(function() {
                $('.navbar-nav li:eq(0)').addClass("active");

                $("input.number-spinner")
                    .each(function() {
                        $(this)
                            .TouchSpin({
                                min: $(this).data('min-value') || 0,
                                max: $(this).data('max-value') || 1000000000,
                                step: $(this).data('step') || 1,
                                maxboostedstep: $(this).data('max-boosted-step') || 1000,
                                prefix: $(this).data('prefix') || '',
                                postfix: $(this).data('postfix') || ''
                            });
                    });

                $('.timepicker')
                    .datetimepicker({
                        format: "HH:mm"
                    });
            });

        function vehicleChanged() {
            $("#NumberOfVehicleTypes").val($("input[name='Vehicles']:checked").length);
        }
    </script>
}

<h2>Step 1: Configuration</h2>

<div class="row">
    <form method="POST" class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header navbar-right">
                        <button type="submit" id="next" class="btn btn-success navbar-btn">Next</button>
                    </div>
                </div>
            </nav>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        @Html.ValidationSummary()
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.NumberOfCustomers, new
                                                         {
                                                             @class = "col-md-5 control-label"
                                                         })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.NumberOfCustomers, new
                                                               {
                                                                   @class = "form-control number-spinner"
                                                               })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ComputationMethod, new
                                                         {
                                                             @class = "col-md-5 control-label"
                                                         })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.ComputationMethod, VrpCollections.ComputationMethods, new
                                                                                                       {
                                                                                                           @class = "form-control"
                                                                                                       })
                </div>
            </div>
            @*<div class="form-group">
                     @Html.LabelFor(m => m.RouteType, new
                {
                    @class = "col-md-5 control-label"
                })
                     <div class="col-md-7">
                         @Html.DropDownListFor(m => m.RouteType, VrpCollections.RouteTypes, new
                    {
                        @class = "form-control"
                    })
                     </div>
                 </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.AverageVehicleSpeed, new
                                                           {
                                                               @class = "col-md-5 control-label"
                                                           })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.AverageVehicleSpeed, new
                                                                 {
                                                                     @class = "form-control number-spinner",
                                                                     data_max_value = "500"
                                                                 })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NumberOfVehicleTypes, new
                                                            {
                                                                @class = "col-md-5 control-label"
                                                            })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.NumberOfVehicleTypes, new
                                                                  {
                                                                      @class = "form-control",
                                                                      @readonly = "readonly"
                                                                  })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TimeWindowType, new
                                                      {
                                                          @class = "col-md-5 control-label"
                                                      })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.TimeWindowType, VrpCollections.TimeWindowTypes, new
                                                                                                 {
                                                                                                     @class = "form-control"
                                                                                                 })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsIncludingWaitingTime, new
                                                              {
                                                                  @class = "col-md-5 control-label"
                                                              })
                <div class="col-md-7">
                    @Html.DropDownListFor(m => m.IsIncludingWaitingTime, VrpCollections.YesNoOptions, new
                                                                                                      {
                                                                                                          @class = "form-control"
                                                                                                      })
                </div>
            </div>
            @Html.HiddenFor(m => m.ReturnToDepot)
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%"></th>
                            <th style="width: 4%">#</th>
                            <th style="width: 10%">Vehicle ID</th>
                            <th style="width: 25%">Name</th>
                            <th style="width: 10%">Capacity</th>
                            <th style="width: 18%">Fixed cost per trip ($)</th>
                            <th style="width: 18%">Cost per kilometer ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < vehicles.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="Vehicles" value="@vehicles[i].Id" onchange="vehicleChanged()" @(selectedVehicles.Contains(vehicles[i].Id.ToString()) ? "checked=checked" : "") />
                                </td>
                                <td>@(i + 1)</td>
                                <td>@vehicles[i].Id</td>
                                <td>@vehicles[i].VehicleNumber</td>
                                <td>@vehicles[i].Capacity</td>
                                <td>@vehicles[i].FixedCostPerTrip</td>
                                <td>@vehicles[i].CostPerKilometer</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>