﻿@using Vehicle_Routing_Planer.Models

@{
    ViewBag.Title = "Set-up locations";
    var googleApiKey = SettingProvider.GoogleApi ?? "";
    var serviceBase = SettingProvider.CourierSystemServiceBase ?? "http://cds.roadbull.com/";
    var plan = ViewBag.Plan as Plan ?? new Plan();
    var starting = ViewBag.StartingLocation as Location ?? new Location();
    var locations = ViewBag.Locations as List<Location> ?? new List<Location>();
}

@section scripts {
    <script src="@Url.Content("~/Scripts/locations.js")"></script>
    <script>
        var numberOfCustomers = @plan.NumberOfCustomers;
        var locations = [];
        var locationListUrl = '@Url.Action("LocationList", new {id = plan.Id})';
        var postalUrl = "@serviceBase" + "api/locations/checkZipCode/";

        $(document).ready(function() {
            $('.navbar-nav li:eq(0)').addClass("active");

            // Reopen import popup if need
            @if (ViewBag.ReopenImport)
            {
                <text>
            sweetAlert({
                title: "Oops...",
                text: "@Html.Raw(ViewBag.ErrorMessage.Replace("\n", "<br />").Replace("\r", ""))",
                type: "error",
                html: true
            },
                function () {
                    $('#import').click();
                });
            </text>
            }
            else if (ViewBag.ErrorMessage != null)
            {
                // Just show error message
                <text>
            sweetAlert({
                title: "Oops...",
                text: "@Html.Raw(ViewBag.ErrorMessage.Replace("\n", "<br />").Replace("\r", ""))",
                type: "error",
                html: true
            });
            </text>
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(googleApiKey)&signed_in=true&libraries=places&callback=initMap"></script>
}

<h2>Step 2: Set-up locations</h2>

<div class="row">
    <div class="col-md-12">
        <div id="map" class="map" style="height: 0; min-height: 0;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form id="locationsForm" method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" name="indexList" id="indexList" />
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header navbar-left" style="line-height: 40px; padding-top: 5px;">
                        <label>Distance / Duration computation: @VrpCollections.GetText(VrpCollections.ComputationMethods, plan.ComputationMethod)</label>
                    </div>
                    <div class="navbar-header navbar-right">
                        @*<button type="button" id="addRow" class="btn btn-info navbar-btn">Add new row</button>*@
                        <a id="back" class="btn btn-info navbar-btn" href="@Url.Action("Index", new { id = plan.Id })">Back</a>
                        <button type="submit" id="next" class="btn btn-success navbar-btn">Next</button>
                        <button type="button" id="import" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#importModal">Import</button>
                    </div>
                </div>
            </nav>
            @Html.ValidationSummary()
            <div class="form-group">
                <label for="startPostalCode" style="width: 60%">Start address (Warehouse)</label>
                <label for="startWorkStartTime" style="width: 15%">Work start time</label>
                <label for="startServiceTime" style="width: 15%">Service time</label>
                <div class="form-inline">
                    <input type="text" name="startPostalCode" id="startPostalCode" class="form-control" placeholder="Postal code" style="width: 20%" data-val="true" data-val-required="Start postal code must be inputed" value="@starting.PostalCode"/>
                    <input type="hidden" name="startLatitude" id="startLatitude" value="@starting.Latitude" />
                    <input type="hidden" name="startLongitude" id="startLongitude" value="@starting.Latitude" />
                    <input type="text" name="startAddress" id="startAddress" class="form-control" placeholder="Unit number and Street name" style="width: 40%" data-val="true" data-val-required="Start address must be inputed" value="@starting.StreetName" autocomplete="off" />
                    <div class="input-group timepicker" style="width: 15%">
                        <input type="text" class="form-control" name="startWorkStartTime" id="startWorkStartTime" placeholder="Work start time" value="@Utilities.ConvertDoubleToHour(starting.FromTime)" />
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                    </div>
                    <div class="input-group timepicker" style="width: 15%">
                        <input type="text" class="form-control" name="startServiceTime" id="startServiceTime" placeholder="Service time" value="@Utilities.ConvertDoubleToHour(starting.ServiceTime)" />
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="returnToStart" id="returnToStart" @(plan.ReturnToDepot ? "checked='checked'" : "") /> Return to start
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberMe" id="rememberMe" /> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="table-responsive">
                    <table id="addressList" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-1">Company / Name</th>
                                <th class="col-2">Address</th>
                                @*<th class="col-3">Must be visited?</th>*@
                                <th class="col-4">Service time</th>
                                <th class="col-5">Type</th>
                                <th class="col-6">Pickup Qty</th>
                                <th class="col-7">Delivery Qty</th>
                                <th class="col-8">Profit</th>
                                <th class="col-9">From time</th>
                                <th class="col-10">To time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < locations.Count; i++)
                            {
                                //var visitOpts = new List<SelectListItem>();
                                //visitOpts.AddRange(VrpCollections.MustBeVisitedOptions);
                                //foreach (var item in visitOpts)
                                //{
                                //    item.Selected = false;
                                //    if (item.Value == locations[i].MustBeVisited.ToString())
                                //    {
                                //        item.Selected = true;
                                //    }
                                //}
                                var typeOpts = new List<SelectListItem>();
                                typeOpts.AddRange(VrpCollections.ProductTypes);
                                foreach (var item in typeOpts)
                                {
                                    item.Selected = false;
                                    if (item.Value == locations[i].Type.ToString())
                                    {
                                        item.Selected = true;
                                    }
                                }

                                <tr id="row@(i + 1)">
                                    <td>
                                        <input type="hidden" name="id@(i + 1)" id="id@(i + 1)" value="@locations[i].Id" />
                                        <input type="text" name="name@(i + 1)" id="name@(i + 1)" class="form-control" placeholder="Name / Company to deliver" data-val="true" data-val-required="Name / Company to deliver must be input" value="@locations[i].CustomerName" />
                                    </td>
                                    <td class="form-inline">
                                        <input type="text" name="postal@(i + 1)" id="postal@(i + 1)" class="form-control" style="width: 30%" placeholder="Postal code" value="@locations[i].PostalCode" />
                                        <input type="text" name="address@(i + 1)" id="address@(i + 1)" class="form-control" style="width: 65%" placeholder="Street name and Unit number" data-val="true" data-val-required="Address to deliver must be input" value="@locations[i].StreetName"/>
                                        <input type="hidden" name="latitude@(i + 1)" id="latitude@(i + 1)" value="@locations[i].Latitude" />
                                        <input type="hidden" name="longitude@(i + 1)" id="longitude@(i + 1)" value="@locations[i].Longitude" />
                                    </td>
                                    @*<td>
                                        @Html.DropDownList("visited" + (i + 1), visitOpts, new
                                   {
                                       @class = "form-control"
                                   })
                                    </td>*@
                                    <td>
                                        <div class="input-group timepicker">
                                            <input type="text" class="form-control" name="time@(i + 1)" id="time@(i + 1)" placeholder="Service time" value="@Utilities.ConvertDoubleToHour(locations[i].ServiceTime)" />
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DropDownList("type" + (i + 1), typeOpts, new
                                   {
                                       @class = "form-control"
                                   })
                                    </td>
                                    <td>
                                        <input type="text" name="pickup@(i + 1)" id="pickup@(i + 1)" class="form-control number-spinner" placeholder="Pickup amount" data-step="1" data-decimals="0" value="@locations[i].PickupAmount" />
                                    </td>
                                    <td>
                                        <input type="text" name="delivery@(i + 1)" id="delivery@(i + 1)" class="form-control number-spinner" placeholder="Delivery amount" data-step="1" data-decimals="0" value="@locations[i].DeliveryAmount" />
                                    </td>
                                    <td>
                                        <input type="text" name="profit@(i + 1)" id="profit@(i + 1)" class="form-control number-spinner" data-prefix="$" data-decimals="2" placeholder="Profit" value="@locations[i].Profit" />
                                    </td>
                                    <td>
                                        <div class="input-group timepicker">
                                            <input type="text" class="form-control" name="fromTime@(i + 1)" id="fromTime@(i + 1)" placeholder="From time" value="@Utilities.ConvertDoubleToHour(locations[i].FromTime)" />
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group timepicker">
                                            <input type="text" class="form-control" name="toTime@(i + 1)" id="toTime@(i + 1)" placeholder="To time" value="@Utilities.ConvertDoubleToHour(locations[i].ToTime)" />
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-time"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Import", "Home", new
        {
            id = plan.Id
        }, FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="importModalLabel">Import locations</h4>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary()
                    <input type="file" name="importFile" data-val="true" data-val-required="File must be selected to import" />
                    <br />
                    <div class="alert alert-warning">
                        <strong>Caution: </strong> Data from this file will override old data of current working plan.
                    </div>
                    <br />
                    <ul>
                        <li>
                            <em>You can upload Excel (XLS or XLSX extension) files with <a href="@Url.Content("~/Content/Vrp_Locations.xlsx")">sample format here.</a></em>
                        </li>
                        <li>
                            <em>You can supply both Latitude and Longitude of location if any; otherwise, website will obtain from address.</em>
                        </li>
                        <li>
                            <em>Starting location <strong>MUST</strong> be the 1st row and <strong>MUST</strong> have <strong>"Starting location"</strong> in <strong>Must be visited?</strong> column.</em>
                        </li>
                        <li>
                            <em>You can ommit <strong>Distances</strong> sheet if you want website calculates for you.</em>
                        </li>
                        <li>
                            <em>If you supply <strong>Distances</strong>, you <strong>MUST</strong> supply all combinations, i.e each location combines with each location in list; otherwise, website will calculate new one.</em>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Start importing</button>
                </div>
            </div>
        }
    </div>
</div>
