﻿@using Vehicle_Routing_Planer.Models
@{
    ViewBag.Title = "Plan";
    var googleApiKey = SettingProvider.GoogleApi ?? "";
    var planId = ViewBag.PlanId as int?;
    var realPlanId = ViewBag.RealPlanId as int?;
    var totalTime = SettingProvider.CpuTimeLimit;
}

@section scripts {
    <script src="@Url.Content("~/Scripts/randomColor.js")"></script>
    <script src="@Url.Content("~/Scripts/plan.js")"></script>
    <script>
        var planId = @planId;
        var totalTime = @totalTime;
        var computePlanUrl = "@(ViewBag.HistoryMode == true ? Url.Action("GetHistory") : Url.Action("ComputePlan"))";

        $(document).ready(function () {
            $('.navbar-nav li:eq(0)').addClass("active");

            @if (ViewBag.Message != null)
            {
                <text>
            sweetAlert({
                title: "@(ViewBag.IsError ? "Oops..." : "Got it...")",
                text: "@Html.Raw(ViewBag.Message.Replace("\n", "<br />").Replace("\r", ""))",
                type: "@(ViewBag.IsError ? "error" : "success")",
                html: true
            });
            </text>
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(googleApiKey)&signed_in=true&callback=initMap"></script>
}

<h2>Step 5: Plan</h2>

<div class="row">
    <div class="col-md-12">
        <div id="map" class="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <button class="btn btn-primary navbar-btn" onclick="showAllPaths()">Show all paths</button>
                    <a class="btn btn-info navbar-btn" href="@Url.Action("Report", new {id = realPlanId})">View report</a>
                    <form id="exportForm" method="POST" action="@Url.Action("ExportPlan", new { id = realPlanId })" style="display: inline-block" onsubmit="return errorWarn();">
                        <button class="btn btn-warning" style="margin-left: 15px;" type="submit">Export to CDS</button>
                    </form>
                </div>
                <div class="navbar-header navbar-right">
                    @if (planId.HasValue && planId == realPlanId)
                    {
                        <a id="back" class="btn btn-info navbar-btn" href="@Url.Action("Locations", new {id = realPlanId})">Back</a>
                    }
                    <a id="next" class="btn btn-success navbar-btn" href="@Url.Action("Index")">New plan</a>
                    @if (planId.HasValue && planId == realPlanId)
                    {
                        <a id="rerun" class="btn btn-primary navbar-btn">Re-run computation</a>
                    }
                </div>
            </div>
        </nav>
        <div id="infeasibilities"></div>
        <div id="resultTables"></div>
        <div class="clearfix">
            <div class="alert errorCode" style="float: right; margin-left: 15px;">This cell with a red background signals an error</div>
            <div class="alert warningCode" style="float: right;">This cell with an orange background signals a warning</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="waitingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="waitingModalLabel">Processing</h4>
            </div>
            <div class="modal-body" style="color: #0000ff">
                We are optimizing to find the best route, please wait... Computing in <span id="runTime">0</span> seconds.
            </div>
        </div>
    </div>
</div>
