﻿@using Newtonsoft.Json
@using Vehicle_Routing_Planer.Models

@{
    ViewBag.Title = "Report";
    var googleApiKey = SettingProvider.GoogleApi ?? "";
    var locations = ViewBag.Locations as List<Location> ?? new List<Location>();
}

@section scripts{
    <script>
        var totalDirections = 0;
        var count = 0;
        function afterInitMap() {
            $('#waitingModal').modal({
                keyboard: false,
                backdrop: 'static',
                show: false
            });

            $('#waitingModal').modal('show');

            totalDirections = $('.directions').length;
            count = 0;
            $('.directions').each(function () {
                startExploring($(this));
            });
        }

        function startExploring(element) {
            var loc1 = new google.maps.LatLng(element.find('.latitude1').val(), element.find('.longitude1').val());
            var loc2 = new google.maps.LatLng(element.find('.latitude2').val(), element.find('.longitude2').val());
            calculateRoute(loc1, loc2, function (legs) {
                element.find('.steps').html("");
                for (var i = 0; i < legs.length; i++) {
                    for (var j = 0; j < legs[i].steps.length; j++) {
                        element.find('.steps').append(legs[i].steps[j].instructions + "<br />");
                    }
                }
                ++count;
                if (count >= totalDirections) {
                    $('#waitingModal').modal('hide');
                }
            }, function () {
                setTimeout(function () {
                    startExploring(element);
                }, 2000);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(googleApiKey)&signed_in=true&callback=initMap"></script>
}

<style type="text/css" media="print">
    body {
        padding-top: 0;
    }

    table {
        -moz-page-break-inside: avoid;
        page-break-inside: avoid;
    }

    tr {
        -moz-page-break-inside: avoid;
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    h2 {
        display: none;
    }

    hr {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<h2>
    Report
    <button class="btn btn-primary navbar-btn navbar-right" onclick="window.print()">Print</button>
</h2>

<div id="map" class="map hidden"></div>

@if (ViewBag.Result != null)
{
    for (var idx = 0; idx < ViewBag.Result.Routes.Count; idx++)
    {
        var route = ViewBag.Result.Routes[idx];

        var path = JsonConvert.DeserializeObject(route.Path.ToString());
        <table id="reportList" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="3">Vehicle Number:</th>
                    <th colspan="3">@route.Vehicle.Name</th>
                    <th>Date:</th>
                    <th colspan="4">@ViewBag.History.UpdatedOn.ToString("dd MMM yyyy")</th>
                </tr>
                <tr>
                    <th colspan="3">Total Number of Customers:</th>
                    <th colspan="2">@route.Stops</th>
                    <th style="width: 10%">Max Driving Time:</th>
                    <th colspan="2">@Utilities.ConvertDoubleToFullyHour((double) route.DrivingTimes[route.DrivingTimes.Count - 1])</th>
                    <th style="width: 10%">Max Working Time:</th>
                    <th colspan="2">@Utilities.ConvertDoubleToFullyHour((double) route.WorkingTimes[route.WorkingTimes.Count - 1])</th>
                </tr>
                <tr>
                    <th style="width: 5%">#</th>
                    <th colspan="2" style="width: 10%">FROM</th>
                    <th style="width: 10%">CLIENT NAME</th>
                    <th colspan="2" style="width: 15%">ADDRESS</th>
                    <th style="width: 10%">Type</th>
                    <th style="width: 10%">Pickup Qty</th>
                    <th style="width: 10%">Delivery Qty</th>
                    <th colspan="2" style="width: 35%">Road Directions</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < route.Steps.Count - 1; i++)
                {
                    var location = locations.FirstOrDefault(x => x.Id == (int) ViewBag.Result.Locations[(int) route.Steps[i + 1] - 1].Id);
                    <tr>
                        <td>@(i + 1)</td>
                        <td colspan="2">@ViewBag.Result.Locations[(int) route.Steps[i] - 1].CustomerName</td>
                        <td>@location.CustomerName</td>
                        <td colspan="2">@(location != null ? location.StreetName : "")</td>
                        <td>@(location != null ? VrpCollections.GetText(VrpCollections.ProductTypes, location.Type) : "")</td>
                        <td>@location.PickupAmount</td>
                        <td>@location.DeliveryAmount</td>
                        <td colspan="2" class="directions">
                            <input type="hidden" class="latitude1" value="@path[i].Latitude" />
                            <input type="hidden" class="longitude1" value="@path[i].Longitude" />
                            <input type="hidden" class="latitude2" value="@path[i + 1].Latitude" />
                            <input type="hidden" class="longitude2" value="@path[i + 1].Longitude" />
                            <div class="steps">

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        if (idx < ViewBag.Result.Routes.Count - 1)
        {
            <div style="page-break-before: always"></div>
        }
    }
}

<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="waitingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="waitingModalLabel">Processing</h4>
            </div>
            <div class="modal-body" style="color: #FF6633">
                We are generating the report, please wait
            </div>
        </div>
    </div>
</div>
