﻿@using Vehicle_Routing_Planer.Models

@{
    ViewBag.Title = "Settings";
    var settings = SettingProvider.GetProperties();
    var settingList = ViewBag.Settings as List<Setting> ?? new List<Setting>();
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.navbar-nav li:eq(2)').addClass("active");

            @if (ViewBag.Message != null)
            {
                <text>
            sweetAlert({
                title: "@(ViewBag.IsError ? "Oops..." : "Got it...")",
                text: "@Html.Raw(ViewBag.Message.Replace("\n", "<br />").Replace("\r", ""))",
                type: "@(ViewBag.IsError ? "error" : "success")",
                html: true
            });
            </text>
            }
        });
    </script>
}

<h2>Settings</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.ErrorMessage)
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @Html.Raw(ViewBag.Message)
    </div>
}

<form class="form-horizontal" method="POST" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @for (var i = 0; i < settings.Count; i++)
    {
        <div class="form-group">
            <label for="setting_@(i + 1)" class="col-sm-2 control-label">@settings[i]</label>
            <div class="col-sm-10">
                <input type="hidden" name="settingName_@(i + 1)" value="@settings[i]" />
                <input type="text" class="form-control" id="setting_@(i + 1)" name="setting_@(i + 1)" value="@(settingList.Where(x => x.Name == settings[i]).Select(x => x.Value).FirstOrDefault())" />
            </div>
        </div>
    }
    @*<div class="form-group">
        <label for="importFile" class="col-sm-2 control-label">Import postal code</label>
        <div class="col-sm-10">
            <input type="file" name="importFile" id="importFile" />
            <em><strong>Caution:</strong> This will take very much time if there are many items in file</em>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
