﻿@using Courier_Management_System.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Roadbull Courier System | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/styles/admin")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .field-validation-error {
            color: #dd4b39 !important;
        }

        .input-validation-error {
            border-color: #dd4b39 !important;
        }

        .btn-circle {
            width: 40px;
            height: 40px;
            line-height: 25px;
            border-radius: 50%;
        }
    </style>

    @RenderSection("styles", required: false)

    <script>
        function encodeHtml(input) {
            return String(input).
                replace(/&/g, '&amp;').
                replace(/"/g, '&quot;').
                //replace(/'/g, '&#39;').
                //replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, function (value) {
                //    var hi = value.charCodeAt(0);
                //    var low = value.charCodeAt(1);
                //    return '&#' + (((hi - 0xD800) * 0x400) + (low - 0xDC00) + 0x10000) + ';';
                //}).
                //replace(/([^\#-~| |!])/g, function (value) {
                //    return '&#' + value.charCodeAt(0) + ';';
                //}).
                replace(/</g, '&lt;').
                replace(/>/g, '&gt;');
        }

        function validateForm() {
            // Encode textarea
            $('textarea').each(function () {
                var input = $(this).val();
                var output = encodeHtml(input);
                $(this).val(output);
            });
            return true;
        }
    </script>

    @RenderSection("headerScripts", required: false)

    @Scripts.Render("~/bundles/jqueryadmin")

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit }
    //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
)

    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    //new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    //new Script { ExtensionSuite = ExtensionSuite.Chart },
    //new Script { ExtensionSuite = ExtensionSuite.Report },
    //new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.RichEdit }
    //new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    //new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        @RenderBody()
        <!-- /.content -->
        <footer class="main-footer" style="margin-left: 0;">
            <strong>Copyright<a href="http://roadbull.com"> Roadbull Logistics Pte Ltd</a>, Singapore.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/admin")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
