﻿@using Courier_Management_System.Helpers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>Roadbull Courier System | @ViewBag.Title</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        @Styles.Render("~/styles/admin")
        @Scripts.Render("~/bundles/modernizr")

        <style>
            .field-validation-error {
                color: #dd4b39 !important;
            }

            .input-validation-error {
                border-color: #dd4b39 !important;
            }

            .btn-circle {
                width: 40px;
                height: 40px;
                line-height: 25px;
                border-radius: 50%;
            }
        </style>

        @RenderSection("styles", required : false)

        <script>
            function encodeHtml(input) {
                return String(input)
                    .replace(/&/g, '&amp;')
                    .replace(/"/g, '&quot;')
                    .
                    //replace(/'/g, '&#39;').
                    //replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, function (value) {
                    //    var hi = value.charCodeAt(0);
                    //    var low = value.charCodeAt(1);
                    //    return '&#' + (((hi - 0xD800) * 0x400) + (low - 0xDC00) + 0x10000) + ';';
                    //}).
                    //replace(/([^\#-~| |!])/g, function (value) {
                    //    return '&#' + value.charCodeAt(0) + ';';
                    //}).
                    replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;');
            }

            function validateForm() {
                // Encode textarea
                $('textarea')
                    .each(function() {
                        var input = $(this).val();
                        var output = encodeHtml(input);
                        $(this).val(output);
                    });
                return true;
            }
        </script>

        @RenderSection("headerScripts", required : false)

        @Scripts.Render("~/bundles/jqueryadmin")

        @Html.DevExpress().GetStyleSheets(
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
                                          //new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
                                          //new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
                                          //new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
                                          new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit }
             //new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
             //new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
             )

        @Html.DevExpress().GetScripts(
                                      new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                      new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
                                      new Script { ExtensionSuite = ExtensionSuite.GridView },
                                      new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
                                      new Script { ExtensionSuite = ExtensionSuite.Editors },
                                      //new Script { ExtensionSuite = ExtensionSuite.Chart },
                                      //new Script { ExtensionSuite = ExtensionSuite.Report },
                                      //new Script { ExtensionSuite = ExtensionSuite.Scheduler },
                                      new Script { ExtensionSuite = ExtensionSuite.TreeList },
                                      new Script { ExtensionSuite = ExtensionSuite.RichEdit }
             //new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
             //new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
             )

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition fixed skin-red sidebar-mini">
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Dashboard")" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">
                    <img src="@Url.Content("~/favicon-96x96.png")" alt="Roadbull" style="max-height: 40px" />
                </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                    <img src="@Url.Content("~/favicon-96x96.png")" alt="Roadbull" style="max-height: 40px" />
                    <b>Roadbull</b> Admin
                </span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu">
                                <a href="@Url.Action("Index", "Dashboard")" class="dropdown-toggle" @*data-toggle="dropdown"*@>
                                    <i class="fa fa-bell-o"></i>
                                    @*<span class="label label-warning">10</span>*@
                                </a>
                                @*<ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>*@
                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            @*<li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Create a nice theme
                                                        <small class="pull-right">40%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Some task I need to do
                                                        <small class="pull-right">60%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">60% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Make beautiful transitions
                                                        <small class="pull-right">80%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>*@
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@Url.Content("~/Content/Admin/img/avatar.png")" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="@Url.Content("~/Content/Admin/img/avatar.png")" class="img-circle" alt="User Image">

                                        <p>
                                            @User.Identity.Name
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    @*<li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </li>*@
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="/Account/ChangePassword?returnUrl=@Request.Url.AbsolutePath" class="btn btn-default btn-flat">Change password</a>
                                        </div>
                                        <div class="pull-right">
                                            <form action="/Account/LogOff" method="POST">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="@Url.Action("List", "Settings")" data-toggle="control-sidebar">
                                    <i class="fa fa-gears"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="@Url.Content("~/Content/Admin/img/avatar.png")" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@User.Identity.Name</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header text-yellow">ORDER MANAGEMENT</li>
                        <li id="menu-dashboard" class="treeview">
                            <a href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Orders</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowOrders))
                                {
                                    <li id="menu-show-orders">
                                        <a href="@Url.Action("List", "Orders")"><i class="fa fa-circle-o"></i> Show Orders</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersAddOrder))
                                {
                                    <li id="menu-add-order">
                                        <a href="@Url.Action("Add", "Orders")"><i class="fa fa-circle-o"></i> Add Order</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditOrder) || User.IsInRole(AccountHelper.EditOrderPrice))
                                {
                                    <li id="menu-edit-order">
                                        <a href="@Url.Action("EditOrderNew", "Orders")"><i class="fa fa-circle-o"></i> Edit Order</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersBulkUpdate))
                                {
                                    <li id="menu-bulk-update-order">
                                        <a href="@Url.Action("BulkUpdate", "Orders")"><i class="fa fa-circle-o"></i> Bulk Update Order</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersBulkExportVrp))
                                {
                                    <li id="menu-bulk-export-vrp-order">
                                        <a href="@Url.Action("BulkExportVRP", "Orders")"><i class="fa fa-circle-o"></i> Bulk Export VRP</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersBulkPrintQr))
                                {
                                    <li id="menu-bulk-printQR-order">
                                        <a href="@Url.Action("BulkPrintQRLabel", "Orders")"><i class="fa fa-circle-o"></i> Bulk Print QR Labels</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowOrderEvents))
                                {
                                    <li id="menu-show-report-orders">
                                        <a href="@Url.Action("Orders", "Reports")"><i class="fa fa-circle-o"></i> Show Order Events</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowTodayOrders))
                                {
                                    <li id="menu-show-today-orders">
                                        <a href="@Url.Action("Today", "Orders")"><i class="fa fa-circle-o"></i> Show Today Orders</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowInvoicesReport))
                                {
                                    <li id="menu-show-report-invoices">
                                        <a href="@Url.Action("Invoices", "Reports")"><i class="fa fa-circle-o"></i> Show Invoices Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowFailedOrders))
                                {
                                    <li id="menu-show-failed-orders">
                                        <a href="@Url.Action("Failed", "Orders")"><i class="fa fa-circle-o"></i> Show Failed Orders</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowRePickupRequests))
                                {
                                    <li id="menu-show-re-pickup-request">
                                        <a href="@Url.Action("Repickup", "Requests")"><i class="fa fa-circle-o"></i> Show Re-Pickup Requests</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowReDeliveryRequests))
                                {
                                    <li id="menu-show-re-delivery-request">
                                        <a href="@Url.Action("Redelivery", "Requests")"><i class="fa fa-circle-o"></i> Show Re-Delivery Requests</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowSalesReport))
                                {
                                    <li id="menu-show-sales-report">
                                        <a href="@Url.Action("Sales", "Reports")"><i class="fa fa-circle-o"></i> Show Sales Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowManagementReport))
                                {
                                    <li id="menu-show-management-report">
                                        <a href="@Url.Action("Management", "Reports")"><i class="fa fa-circle-o"></i> Show Management Report</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file-text-o"></i>
                                <span>Dispatch Orders</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchShowTodayJobs))
                                {
                                    <li id="menu-show-today-jobs">
                                        <a href="@Url.Action("List", "Jobs")"><i class="fa fa-circle-o"></i> Show Today Jobs</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchShowSpecialJobs))
                                {
                                    <li id="menu-show-special-jobs">
                                        <a href="@Url.Action("Special", "Jobs")"><i class="fa fa-circle-o"></i> Show Special Jobs</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchShowJobsReport))
                                {
                                    <li id="menu-show-report-jobs">
                                        <a href="@Url.Action("Jobs", "Reports")"><i class="fa fa-circle-o"></i> Show Jobs Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchTrackDriversLocation))
                                {
                                    <li id="menu-show-report-track-locations">
                                        <a href="@Url.Action("TrackLocations", "Reports")"><i class="fa fa-circle-o"></i> Track Drivers Location</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchDriverHistory))
                                {
                                    <li id="menu-show-history-jobs">
                                        <a href="@Url.Action("History", "Jobs")"><i class="fa fa-circle-o"></i> Driver History</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>Reports</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsSalesDeliveryReport))
                                {
                                    <li id="menu-sales-delivery-report">
                                        <a href="@Url.Action("SalesDelivery", "Reports")"><i class="fa fa-circle-o"></i> Sales Delivery Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsSalesServiceReport))
                                {
                                    <li id="menu-sales-service-report">
                                        <a href="@Url.Action("SalesService", "Reports")"><i class="fa fa-circle-o"></i> Sales Service Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsFailedDeliveryReport))
                                {
                                    <li id="menu-failed-delivery-report">
                                        <a href="@Url.Action("FailedDelivery", "Reports")"><i class="fa fa-circle-o"></i> Failed Delivery Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsCodReport))
                                {
                                    <li id="menu-cod-report">
                                        <a href="@Url.Action("Cod", "Reports")"><i class="fa fa-circle-o"></i> COD Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsJobHistoryReport))
                                {
                                    <li id="menu-job-history-report">
                                        <a href="@Url.Action("JobsHistory", "Reports")"><i class="fa fa-circle-o"></i> Jobs History Report</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsOpsDeliverySummary))
                                {
                                    <li id="menu-ops-delivery-summary">
                                        <a href="@Url.Action("OPSDeliverySummary", "Reports")"><i class="fa fa-circle-o"></i> OPS Delivery Summary</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsOpsPickupSummary))
                                {
                                    <li id="menu-ops-pickup-summary">
                                        <a href="@Url.Action("OPSPickUpSummary", "Reports")"><i class="fa fa-circle-o"></i> OPS PickUp Summary</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsBillingSummary))
                                {
                                    <li id="menu-billing-summary">
                                        <a href="@Url.Action("BillingSummary", "Reports")"><i class="fa fa-circle-o"></i> Billing Summary</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsBillingReport))
                                {
                                    <li id="menu-billing-report">
                                        <a href="@Url.Action("Billing", "Reports")"><i class="fa fa-circle-o"></i> Billing Report</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="header text-yellow">COURIER MANAGEMENT</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-male"></i>
                                <span>Drivers</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversShowDrivers))
                                {
                                    <li id="menu-show-drivers">
                                        <a href="@Url.Action("List", "Drivers")"><i class="fa fa-circle-o"></i> Show Drivers</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversAddDriver))
                                {
                                    <li id="menu-add-driver">
                                        <a href="@Url.Action("Add", "Drivers")"><i class="fa fa-circle-o"></i> Add Driver</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversShowPayScheme))
                                {
                                    <li id="menu-show-pay-scheme">
                                        <a href="@Url.Action("PaySchemes", "Drivers")"><i class="fa fa-circle-o"></i> Show Pay Scheme</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversAddPayScheme))
                                {
                                    <li id="menu-add-pay-scheme">
                                        <a href="@Url.Action("AddPayScheme", "Drivers")"><i class="fa fa-circle-o"></i> Add Pay Scheme</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>Customers</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersShowCustomers))
                                {
                                    <li id="menu-show-customers">
                                        <a href="@Url.Action("List", "Customers")"><i class="fa fa-circle-o"></i> Show Customers</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddCustomer))
                                {
                                    <li id="menu-add-customer">
                                        <a href="@Url.Action("Add", "Customers")"><i class="fa fa-circle-o"></i> Add Customer</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersShowPaymentTypes))
                                {
                                    <li id="menu-show-payment-types">
                                        <a href="@Url.Action("List", "PaymentTypes")"><i class="fa fa-credit-card"></i> Show Payment Types</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddPaymentType))
                                {
                                    <li id="menu-add-payment-type">
                                        <a href="@Url.Action("Add", "PaymentTypes")"><i class="fa fa-credit-card"></i> Add Payment Type</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersShowPaymentStatus))
                                {
                                    <li id="menu-show-payment-status">
                                        <a href="@Url.Action("PaymentStatus", "Customers")"><i class="fa fa-money"></i> Show Payment Status</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddRefund))
                                {
                                    <li id="menu-add-refund">
                                        <a href="@Url.Action("AddRefundOrExtraCharge", "Customers")"><i class="fa fa-circle-o"></i> Add Refund/Extra Charge</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddRefund))
                                {
                                    <li id="menu-add-refund-bulk">
                                        <a href="@Url.Action("AddRefundOrExtraChargeBulk", "Customers")"><i class="fa fa-circle-o"></i> Add Refund/Extra Charge Bulk</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersShowRefundStatus))
                                {
                                    <li id="menu-show-refund-status">
                                        <a href="@Url.Action("RefundOrExtraCharge", "Customers")"><i class="fa fa-money"></i> Show Refund/Extra Charge Status</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-truck"></i>
                                <span>Vehicles</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.VehiclesShowVehicles))
                                {
                                    <li id="menu-show-vehicles">
                                        <a href="@Url.Action("List", "Vehicles")"><i class="fa fa-circle-o"></i> Show Vehicles</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.VehiclesAddVehicle))
                                {
                                    <li id="menu-add-vehicle">
                                        <a href="@Url.Action("Add", "Vehicles")"><i class="fa fa-circle-o"></i> Add Vehicle</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Products</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsShowProductTypes))
                                {
                                    <li id="menu-show-product-types">
                                        <a href="@Url.Action("List", "ProductTypes")"><i class="fa fa-cube"></i> Show Product Types</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsAddProductType))
                                {
                                    <li id="menu-add-product-type">
                                        <a href="@Url.Action("Add", "ProductTypes")"><i class="fa fa-cube"></i> Add Product Type</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsShowServices))
                                {
                                    <li id="menu-show-services">
                                        <a href="@Url.Action("List", "Services")"><i class="fa fa-paper-plane-o"></i> Show Services</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsAddService))
                                {
                                    <li id="menu-add-service">
                                        <a href="@Url.Action("Add", "Services")"><i class="fa fa-paper-plane-o"></i> Add Service</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsShowSizes))
                                {
                                    <li id="menu-show-sizes">
                                        <a href="@Url.Action("List", "Sizes")"><i class="fa fa-balance-scale"></i> Show Sizes</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsAddSize))
                                {
                                    <li id="menu-add-size">
                                        <a href="@Url.Action("Add", "Sizes")"><i class="fa fa-balance-scale"></i> Add Size</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsShowTimeSlots))
                                {
                                    <li id="menu-show-time-slots">
                                        <a href="@Url.Action("List", "TimeSlots")"><i class="fa fa-clock-o"></i> Show Time Slots</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsAddTimeSlot))
                                {
                                    <li id="menu-add-time-slot">
                                        <a href="@Url.Action("Add", "TimeSlots")"><i class="fa fa-clock-o"></i> Add Time Slot</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsShowAddOnPrices))
                                {
                                    <li id="menu-show-pricing">
                                        <a href="@Url.Action("List", "Pricing")"><i class="fa fa-money"></i> Show Add-on Prices</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cart-arrow-down"></i>
                                <span>Promotion or Surcharge</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsShowCharges))
                                {
                                    <li id="menu-show-charges">
                                        <a href="@Url.Action("List", "Charges")"><i class="fa fa-circle-o"></i> Show Charges</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsAddCharge))
                                {
                                    <li id="menu-add-charge">
                                        <a href="@Url.Action("Add", "Charges")"><i class="fa fa-circle-o"></i> Add Charge</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsShowCodOptions))
                                {
                                    <li id="menu-show-cod-options">
                                        <a href="@Url.Action("CodOptions", "Charges")"><i class="fa fa-circle-o"></i> Show COD Options</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PromotionsAddCodOption))
                                {
                                    <li id="menu-add-cod-option">
                                        <a href="@Url.Action("AddCodOption", "Charges")"><i class="fa fa-circle-o"></i> Add COD Option</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-trophy"></i>
                                <span>Customer Price Plan</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="menu-show-price-plans"><a href="@Url.Action("List", "PricePlans")"><i class="fa fa-circle-o"></i> Show Customer Price Plans</a></li>
                                <li id="menu-add-price-plan"><a href="@Url.Action("Add", "PricePlans")"><i class="fa fa-circle-o"></i> Add Customer Price Plan</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bell-o"></i>
                                <span>Notifications</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NotificationsForDrivers))
                                {
                                    <li id="menu-show-notifications-drivers">
                                        <a href="@Url.Action("Drivers", "Notifications")"><i class="fa fa-circle-o"></i> Notifications for Drivers</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NotificationsSendToDrivers))
                                {
                                    <li id="menu-add-notifications-drivers">
                                        <a href="@Url.Action("Send", "Notifications")"><i class="fa fa-circle-o"></i> Send Notifications to Drivers</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NotificationsForUsers))
                                {
                                    <li id="menu-show-notifications-users">
                                        <a href="@Url.Action("Users", "Notifications")"><i class="fa fa-circle-o"></i> Notifications for Users</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NotificationsSendToUsers))
                                {
                                    <li id="menu-add-notifications-users">
                                        <a href="@Url.Action("SendUser", "Notifications")"><i class="fa fa-circle-o"></i> Send Notifications to Users</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="header text-yellow">SYSTEM MANAGEMENT</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>Users and Roles</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.UsersShowUsers))
                                {
                                    <li id="menu-show-users">
                                        <a href="@Url.Action("List", "Users")"><i class="fa fa-circle-o"></i> Show Users</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.UsersAccessRights))
                                {
                                    <li id="menu-show-access-rights">
                                        <a href="@Url.Action("AccessRights", "Users")"><i class="fa fa-circle-o"></i> Manage Access Rights</a>
                                    </li>
                                }
                                @*<li id="menu-show-roles"><a href="@Url.Action("Roles", "Users")"><i class="fa fa-circle-o"></i> Show Roles</a></li>*@
                                @*<li id="menu-add-role"><a href="@Url.Action("AddRole", "Users")"><i class="fa fa-circle-o"></i> Add Role</a></li>*@</ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Countries</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CountriesShowCountries))
                                {
                                    <li id="menu-show-countries">
                                        <a href="@Url.Action("List", "Countries")"><i class="fa fa-circle-o"></i> Show Countries</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CountriesAddCountry))
                                {
                                    <li id="menu-add-country">
                                        <a href="@Url.Action("Add", "Countries")"><i class="fa fa-circle-o"></i> Add Country</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-map-marker"></i>
                                <span>Postal Codes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PostalCodesShowPostals))
                                {
                                    <li id="menu-show-postals">
                                        <a href="@Url.Action("List", "Postals")"><i class="fa fa-circle-o"></i> Show Postals</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PostalCodesAddPostal))
                                {
                                    <li id="menu-add-postal">
                                        <a href="@Url.Action("Add", "Postals")"><i class="fa fa-circle-o"></i> Add Postal</a>
                                    </li>
                                }
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.PostalCodesUpdateGeolocation))
                                {
                                    <li id="menu-update-postals">
                                        <a href="@Url.Action("Update", "Postals")"><i class="fa fa-circle-o"></i> Update Geolocation</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span>Settings</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.SettingsShowSettings))
                                {
                                    <li id="menu-show-settings">
                                        <a href="@Url.Action("List", "Settings")"><i class="fa fa-circle-o"></i> Show Settings</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header(Page header) -->
                <section class="content-header">
                    <h1>
                        @ViewBag.Title
                        <small> @ViewBag.SubTitle</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                @RenderBody()
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <strong>Copyright<a href="http://roadbull.com"> Roadbull Logistics Pte Ltd</a>, Singapore.</strong> All rights reserved.
            </footer>

            <!-- Control Sidebar -->
            @*<aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading">Recent Activity</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                        <p>Will be 23 on April 24th</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-user bg-yellow"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                        <p>New phone +1(800)555-1234</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                        <p>nora@example.com</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                        <p>Execution time 5 seconds</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                        <h3 class="control-sidebar-heading">Tasks Progress</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Custom Template Design
                                        <span class="label label-danger pull-right">70%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Update Resume
                                        <span class="label label-success pull-right">95%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Laravel Integration
                                        <span class="label label-warning pull-right">50%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript::;">
                                    <h4 class="control-sidebar-subheading">
                                        Back End Framework
                                        <span class="label label-primary pull-right">68%</span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.control-sidebar-menu -->

                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->
                    <!-- Settings tab content -->
                    <div class="tab-pane" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">General Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Report panel usage
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Some information about this general settings option
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Allow mail redirect
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Other sets of options are available
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Expose author name in posts
                                    <input type="checkbox" class="pull-right" checked>
                                </label>

                                <p>
                                    Allow the user to show his name in blog posts
                                </p>
                            </div>
                            <!-- /.form-group -->

                            <h3 class="control-sidebar-heading">Chat Settings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Show me as online
                                    <input type="checkbox" class="pull-right" checked>
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Turn off notifications
                                    <input type="checkbox" class="pull-right">
                                </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="control-sidebar-subheading">
                                    Delete chat history
                                    <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                                </label>
                            </div>
                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </aside>*@
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
            @*<div class="control-sidebar-bg"></div>*@
        </div>
        <!-- ./wrapper -->
        @Scripts.Render("~/bundles/admin")
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
            $(document)
                .ready(function() {
                    $(".treeview")
                        .each(function() {
                            if ($(this).find(".treeview-menu").length > 0 && $(this).find(".treeview-menu li").length == 0) {
                                $(this).hide();
                            }
                        });

                });
        </script>
        @RenderSection("scripts", required : false)
    </body>
</html>