﻿@using System.Globalization
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.BookOrderViewModel

@{
    ViewBag.Title = "Booking Order";
    var productTypes = ViewBag.ProductTypes as List<ProductType> ?? new List<ProductType>();
    var offDayStrs = (SettingProvider.OutOfServiceDays ?? "").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
    var offDays = new List<DateTime>();
    foreach (var day in offDayStrs)
    {
        offDays.Add(DateTime.ParseExact(day, "dd/MM/yyyy", CultureInfo.CurrentCulture, DateTimeStyles.None));
    }
}

@section scripts {
    <script>
        var closeWindowsTime = @(SettingProvider.CloseWindowTime);
        var timeSlots = @Html.Raw(Json.Encode(ViewBag.TimeSlots));
        var holidays = [
            @foreach(var day in offDays)
{
    <text>
        new Date(@day.Year, @(day.Month - 1), @day.Day),
    </text>
}
        ];

        var holidayStrs = [
    @foreach(var day in offDayStrs)
        {
            @: '@day',
        }
        ];


        var currentSize, currentService;
        var pickupDate, pickupTimeSlot;
        var deliveryDate, deliveryTimeSlot;
        $(function() {
            $('#top_menu ul li:eq(1)').addClass("current");

            // Global ajax error
            $(document).ajaxError(function(e, xhr, settings) {
                if (xhr.status == 401) {
                    // Remove old token if any
                    window.location = '@Url.Action("logoff", "account")';
                }
            });

            $('#basicExample .datepicker').datepicker({
                'format': 'dd/mm/yyyy',
                'daysOfWeekDisabled': [0],
                'datesDisabled': holidayStrs,
                'autoclose': true
            });

            currentSize = $('#SizeId').val();
            currentService = $('#ServiceId').val();

            pickupDate = $('#PickupDate').val();
            pickupTimeSlot = $('#PickupTimeSlotId').val();
            deliveryDate = $('#DeliveryDate').val();
            deliveryTimeSlot = $('#DeliveryTimeSlotId').val();

            if ($('#ProductTypeId').val()) {
                chooseProductType($('#ProductTypeId').val());
            }

            $('#FromZipCode').on('change', function() {
                $.ajax({
                    url: '/api/locations/checkZipCode/' + $('#FromZipCode').val(),
                    type: 'POST',
                    success: function(data) {
                        $('#FromAddress').val(data.UnitNumber + " " + data.StreetName);
                        $('#FromBuildingName').val(data.BuildingName);
                    },
                    error: function() {
                        $('[data-valmsg-for=FromZipCode]').addClass("field-validation-error").text("The Sender's Zip Code field is not valid.");
                    }
                });
            });

            $('#ToZipCode').on('change', function() {
                $.ajax({
                    url: '/api/locations/checkZipCode/' + $('#ToZipCode').val(),
                    type: 'POST',
                    success: function(data) {
                        $('#ToAddress').val(data.UnitNumber + " " + data.StreetName);
                        $('#ToBuildingName').val(data.BuildingName);
                    },
                    error: function() {
                        $('[data-valmsg-for=ToZipCode]').addClass("field-validation-error").text("The Receiver's Zip Code field is not valid.");
                    }
                });
            });
        });

        function chooseProductType(type) {
            $('#ProductTypeId').val(type);
            $('.products-list a').each(function(i, e) {
                if ($(e).attr("id") != ("productType-" + type)) {
                    var src = $(e).find('img').attr("src");
                    var ext = src.substr(src.lastIndexOf('.'));
                    if (src.substr(0, src.length - ext.length).lastIndexOf("_selected") >= 0) {
                        $(e).find('img').attr("src", src.substr(0, src.length - ext.length - "_selected".length) + ext);
                    }
                }
            });

            var src = $('#productType-' + type).find('img').attr("src");
            if (src) {
                var ext = src.substr(src.lastIndexOf('.'));
                if (src.substr(0, src.length - ext.length).lastIndexOf("_selected") >= 0) {
                    return;
                }
                var selected = src.substr(0, src.length - ext.length) + "_selected";
                $('#productType-' + type).find('img').attr("src", selected + ext);
            }

            $('#SizeId').val("");
            $('#ServiceId').val("");

            $('#sizeList').html("");
            $('#serviceList').html("");
            $.ajax({
                url: "/api/orders/sizes",
                data: {
                    productTypeId: type
                },
                type: "POST",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + getCookie("CdsAccessToken"));
                },
                success: function(data) {
                    var maxHeight = 0;
                    for (var i = 0; i < data.length; i++) {
                        var container = $('<div class="html_box" id="size-' + data[i].Id + '">').appendTo($('#sizeList'));
                        var item = $('<a href="javascript:void(0);" onclick="chooseSize(' + data[i].Id + ')">').appendTo(container);
                        item.append('<h2>' + data[i].SizeName + '</h2>');
                        item.append('<p>' + data[i].FromLength + '-' + data[i].ToLength + ' cm<br />' + data[i].FromWeight + '-' + data[i].ToWeight + ' kg</p>');
                        if (maxHeight < container.outerHeight()) {
                            maxHeight = container.outerHeight();
                        }
                    }

                    $('#sizeList .html_box').height(maxHeight + 5);

                    if (currentSize) {
                        chooseSize(currentSize);
                        currentSize = "";
                    }
                }
            });
        }

        function chooseSize(id) {
            $('#SizeId').val(id);
            $('#sizeList .html_box').removeClass('selected');
            $('#size-' + id).addClass("selected");
            
            $('#ServiceId').val("");

            $('#serviceList').html("");
            $.ajax({
                url: "/api/orders/services",
                data: {
                    productTypeId: $('#ProductTypeId').val(),
                    sizeId: id
                },
                type: "POST",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + getCookie("CdsAccessToken"));
                },
                success: function(data) {
                    var maxHeight = 0;
                    for (var i = 0; i < data.length; i++) {
                        var container = $('<div class="html_box" id="service-' + data[i].Id + '">').appendTo($('#serviceList'));
                        var item = $('<a href="javascript:void(0);" onclick="chooseService(' + data[i].Id + ')">').appendTo(container);
                        item.attr("data-cost", data[i].Cost);
                        item.attr("data-is-pickup-date-allow", data[i].IsPickupDateAllow);
                        item.attr("data-is-pickup-time-allow", data[i].IsPickupTimeAllow);
                        item.attr("data-is-delivery-date-allow", data[i].IsDeliveryDateAllow);
                        item.attr("data-is-delivery-time-allow", data[i].IsDeliveryTimeAllow);
                        item.attr("data-available-pickup-date-range", data[i].AvailablePickupDateRange);
                        item.attr("data-available-pickup-times", data[i].AvailablePickupTimes);
                        item.attr("data-available-delivery-date-range", data[i].AvailableDeliveryDateRange);
                        item.attr("data-available-delivery-times", data[i].AvailableDeliveryTimes);
                        item.append('<h2>' + data[i].ServiceName + '</h2>');

                        if (maxHeight < container.outerHeight()) {
                            maxHeight = container.outerHeight();
                        }
                    }

                    $('#serviceList .html_box').height(maxHeight + 5);

                    if (currentService) {
                        chooseService(currentService);
                        currentService = "";
                    }
                }
            });
        }

        function chooseService(id) {
            $('#ServiceId').val(id);
            $('#serviceList .html_box').removeClass('selected');
            $('#service-' + id).addClass("selected");

            updateInputs(id);
        }

        function updateInputs(id) {
            $('#PickupDate').val("");
            $('#PickupDatePicker').val("");
            $('#PickupDatePicker').attr("disabled", "disabled");
            $("#PickupDatePicker").datepicker("setStartDate", null);
            $("#PickupDatePicker").datepicker("setEndDate", null);
            $('#PickupTimeSlotId').val("");
            $('#PickupTimePicker').attr("disabled", "disabled");
            $('#PickupTimePicker').html("");
            $('#DeliveryDate').val("");
            $('#DeliveryDatePicker').val("");
            $('#DeliveryDatePicker').attr("disabled", "disabled");
            $("#DeliveryDatePicker").datepicker("setStartDate", null);
            $("#DeliveryDatePicker").datepicker("setEndDate", null);
            $("#DeliveryDatePicker").data("ranges", "");
            $('#DeliveryTimeSlotId').val("");
            $('#DeliveryTimePicker').attr("disabled", "disabled");
            $('#DeliveryTimePicker').html("");

            $.ajax({
                url: "/api/orders/timeoptions/" + id,
                type: "POST",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + getCookie("CdsAccessToken"));
                },
                success: function(data) {
                    if (data.IsDeliveryDateAllow) {
                        if (data.AvailableDeliveryDateRange) {
                            $("#DeliveryDatePicker").data("ranges", data.AvailableDeliveryDateRange);
                            $("#DeliveryDatePicker").datepicker().on("changeDate", function(e) {
                                $('#DeliveryDate').val($('#DeliveryDatePicker').val());
                                $('#PickupTimePicker').trigger('change');
                            });
                        } else {
                            $("#DeliveryDatePicker").data("ranges", "");
                        }
                    }
                    if (data.IsPickupDateAllow) {
                        $('#PickupDatePicker').removeAttr("disabled");
                        if (data.AvailablePickupDateRange) {
                            var range = data.AvailablePickupDateRange.split(',');
                            var minDate = new Date();
                            minDate.setDate(minDate.getDate() + parseInt(range[0]));
                            var weekend = countWeekendDay(minDate);
                            minDate.setDate(minDate.getDate() + weekend);
                            var maxDate = new Date();
                            maxDate.setDate(maxDate.getDate() + parseInt(range[1]));
                            weekend = countWeekendDay(maxDate);
                            maxDate.setDate(maxDate.getDate() + weekend);
                            $("#PickupDatePicker").datepicker("setStartDate", minDate);
                            $("#PickupDatePicker").datepicker("setEndDate", maxDate);
                            $("#PickupDatePicker").datepicker("setDaysOfWeekDisabled", [0]);
                            $("#PickupDatePicker").datepicker("setDatesDisabled", holidayStrs);
                            $("#PickupDatePicker").datepicker().on("changeDate", function(e) {
                                $('#PickupDate').val($('#PickupDatePicker').val());

                                if ($("#DeliveryDatePicker").data("ranges")) {
                                    $('#DeliveryDatePicker').removeAttr("disabled");
                                    var range = $("#DeliveryDatePicker").data("ranges").split(',');
                                    var minDate = new Date(e.date);
                                    minDate.setDate(minDate.getDate() + parseInt(range[0]));
                                    var weekend = countWeekendDay(minDate, e.date);
                                    minDate.setDate(minDate.getDate() + weekend);
                                    var maxDate = new Date(e.date);
                                    maxDate.setDate(maxDate.getDate() + parseInt(range[1]));
                                    weekend = countWeekendDay(maxDate, e.date);
                                    maxDate.setDate(maxDate.getDate() + weekend);
                                    $("#DeliveryDatePicker").datepicker("setStartDate", minDate);
                                    $("#DeliveryDatePicker").datepicker("setEndDate", maxDate);
                                    $("#DeliveryDatePicker").datepicker("setDaysOfWeekDisabled", [0]);
                                    $("#DeliveryDatePicker").datepicker("setDatesDisabled", holidayStrs);
                                    var now = new Date();
                                    if (minDate.getTime() == maxDate.getTime() && (minDate.getDate() == now.getDate() && minDate.getMonth() == now.getMonth()
                                        && minDate.getFullYear() == now.getFullYear())) {
                                        // Select default if there is 1 item only
                                        $("#DeliveryDatePicker").val(formatDateTime(minDate));
                                        $('#DeliveryDatePicker').attr("disabled", "disabled");
                                        setTimeout(function() {
                                            $('#DeliveryDatePicker').datepicker("update");
                                        }, 300);
                                    }

                                    if (deliveryDate) {
                                        $("#DeliveryDatePicker").val(deliveryDate);
                                        setTimeout(function() {
                                            $('#DeliveryDatePicker').datepicker("update");
                                        }, 300);
                                        deliveryDate = null;
                                    }
                                }

                                // Update time slot picker
                                $('#PickupTimePicker option').removeAttr("disabled");
                                $('#PickupTimePicker option').show();
                                var now = new Date();
                                if (e.date.getDate() == now.getDate() && e.date.getMonth() == now.getMonth() && e.date.getFullYear() == now.getFullYear()) {
                                    var limitHour = (now.getHours() * 60 + now.getMinutes() + closeWindowsTime) / 60.0;
                                    var nowHour = now.getHours() + now.getMinutes() / 60.0;
                                    // Grey out out-of-time
                                    $('#PickupTimePicker option').each(function() {
                                        var timeSlot = getTimeSlot($(this).attr("value"));
                                        if (timeSlot) {
                                            var startTime = new Date(Number(timeSlot.FromTime.substr(1, timeSlot.FromTime.length - 3).substr(5)));
                                            var endTime = new Date(Number(timeSlot.ToTime.substr(1, timeSlot.ToTime.length - 3).substr(5)));
                                            if (timeSlot.IsAllowPreOrder == true) {
                                                if (limitHour >= (startTime.getHours() + startTime.getMinutes() / 60.0) || nowHour > (endTime.getHours() + endTime.getMinutes() / 60.0)) {
                                                    $(this).attr("disabled", "disabled");
                                                    $(this).hide();
                                                    if ($('#PickupTimePicker').val() == $(this).attr("value")) {
                                                        // Clear default value
                                                        $('#PickupTimePicker').val("");
                                                        $('#PickupTimeSlotId').val("");
                                                        $('#DeliveryTimePicker').val("");
                                                        $('#DeliveryTimeSlotId').val("");
                                                    }
                                                }
                                            }
                                            else {
                                                if (nowHour < (startTime.getHours() + startTime.getMinutes() / 60.0) || nowHour > (endTime.getHours() + endTime.getMinutes() / 60.0)) {
                                                    $(this).attr("disabled", "disabled");
                                                    $(this).hide();
                                                    $('#PickupTimePicker').val("");
                                                    $('#PickupTimeSlotId').val("");
                                                    $('#DeliveryTimePicker').val("");
                                                    $('#DeliveryTimeSlotId').val("");
                                                }
                                            }
                                        }
                                    });
                                }
                            });

                            var now = new Date();
                            if (minDate.getTime() == maxDate.getTime() && (minDate.getDate() == now.getDate() && minDate.getMonth() == now.getMonth()
                                && minDate.getFullYear() == now.getFullYear())) {
                                // Select default if there is 1 item only
                                $("#PickupDatePicker").val(formatDateTime(minDate));
                                $('#PickupDatePicker').attr("disabled", "disabled");
                                setTimeout(function() {
                                    $('#PickupDatePicker').datepicker("update");
                                }, 200);
                            }

                            if (pickupDate) {
                                $("#PickupDatePicker").val(pickupDate);
                                setTimeout(function() {
                                    $('#PickupDatePicker').datepicker("update");
                                }, 200);
                                pickupDate = null;
                            }
                        }
                    }
                    if (data.IsPickupTimeAllow) {
                        if (data.AvailablePickupTimes.length == 0) {
                            // No time slot options
                            return;
                        }
                        $('#PickupTimePicker').removeAttr("disabled");
                        $("<option>").attr("value", "").text("TIME").appendTo($('#PickupTimePicker'));
                        for (var i = 0; i < data.AvailablePickupTimes.length; i++) {
                            $("<option>").attr("value", data.AvailablePickupTimes[i].Value).text(data.AvailablePickupTimes[i].Text).appendTo($('#PickupTimePicker'));
                        }
                        $('#PickupTimePicker').on("change", function() {
                            $('#PickupTimeSlotId').val($('#PickupTimePicker').val());

                            var startTimeSlot = getTimeSlot($('#PickupTimePicker').val());
                            $('#DeliveryTimePicker option').removeAttr("disabled");
                            $('#DeliveryTimePicker option').show();
                            if ($("#DeliveryDatePicker").val() == $('#PickupDatePicker').val()) {
                                // Hide slot time
                                if (startTimeSlot) {
                                    var startTime;
                                    if ($('#productType-' + $('#ProductTypeId').val()).attr("class").toLowerCase().indexOf('document') >= 0) {
                                        startTime = new Date(Number(startTimeSlot.FromTime.substr(1, startTimeSlot.FromTime.length - 3).substr(5)));
                                    } else {
                                        startTime = new Date(Number(startTimeSlot.ToTime.substr(1, startTimeSlot.ToTime.length - 3).substr(5)));
                                    }
                                    $('#DeliveryTimePicker option').each(function() {
                                        var timeSlot = getTimeSlot($(this).attr("value"));
                                        if (timeSlot && timeSlot.IsAllowPreOrder == true) {
                                            var endTime = new Date(Number(timeSlot.FromTime.substr(1, timeSlot.FromTime.length - 3).substr(5)));
                                            if (startTime >= endTime) {
                                                $(this).attr("disabled", "disabled");
                                                $(this).hide();
                                                $('#DeliveryTimePicker').val("");
                                                $('#DeliveryTimeSlotId').val("");
                                            }
                                        }
                                    });
                                } else {
                                    $('#DeliveryTimePicker option').attr("disabled", "disabled");
                                    $('#DeliveryTimePicker option').hide();
                                }
                            }

                            var endTimeSlot = getTimeSlot($('#DeliveryTimePicker').val());
                            if (startTimeSlot && endTimeSlot) {
                                var startTime = new Date(Number(startTimeSlot.FromTime.substr(1, startTimeSlot.FromTime.length - 3).substr(5)));
                                var endTime = new Date(Number(endTimeSlot.FromTime.substr(1, endTimeSlot.FromTime.length - 3).substr(5)));
                                if ($("#PickupDatePicker").val() && $("#PickupDatePicker").val() == $("#DeliveryDatePicker").val() && startTime >= endTime && endTimeSlot.IsAllowPreOrder == true) {
                                    $('#DeliveryTimePicker').val("");
                                    $('#DeliveryTimeSlotId').val("");
                                }
                            }

                            if (deliveryTimeSlot) {
                                $('#DeliveryTimePicker').val(deliveryTimeSlot);
                                $('#DeliveryTimeSlotId').val(deliveryTimeSlot);
                                deliveryTimeSlot = null;
                            }
                        });

                        // Default
                        if (data.AvailablePickupTimes.length == 1) {
                            $('#PickupTimePicker').val(data.AvailablePickupTimes[0].Value);
                            $('#PickupTimeSlotId').val($('#PickupTimePicker').val());
                            $('#PickupTimePicker').attr("disabled", "disabled");
                        }

                        if (pickupTimeSlot) {
                            $('#PickupTimePicker').val(pickupTimeSlot);
                            $('#PickupTimeSlotId').val(pickupTimeSlot);
                            pickupTimeSlot = null;
                        }
                    }
                    if (data.IsDeliveryTimeAllow) {
                        if (data.AvailableDeliveryTimes.length == 0) {
                            // No time slot options
                            return;
                        }
                        $('#DeliveryTimePicker').removeAttr("disabled");
                        $("<option>").attr("value", "").text("TIME").appendTo($('#DeliveryTimePicker'));
                        for (var i = 0; i < data.AvailableDeliveryTimes.length; i++) {
                            $("<option>").attr("value", data.AvailableDeliveryTimes[i].Value).text(data.AvailableDeliveryTimes[i].Text).appendTo($('#DeliveryTimePicker'));
                        }
                        $('#DeliveryTimePicker').on("change", function() {
                            $('#DeliveryTimeSlotId').val($('#DeliveryTimePicker').val());

                            $('span[data-valmsg-for="DeliveryTimeSlotId"]').text("");
                            var startTimeSlot = getTimeSlot($('#PickupTimePicker').val());
                            var endTimeSlot = getTimeSlot($('#DeliveryTimePicker').val());
                            if (startTimeSlot && endTimeSlot) {
                                var startTime = new Date(Number(startTimeSlot.FromTime.substr(1, startTimeSlot.FromTime.length - 3).substr(5)));
                                var endTime = new Date(Number(endTimeSlot.FromTime.substr(1, endTimeSlot.FromTime.length - 3).substr(5)));
                                if ($("#PickupDatePicker").val() && $("#PickupDatePicker").val() == $("#DeliveryDatePicker").val() && startTime >= endTime) {
                                    $('span[data-valmsg-for="DeliveryTimeSlotId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Delivery time must be after Pickup time");
                                    $('#DeliveryTimePicker').addClass("input-validation-error");
                                }
                            }
                        });

                        // Default
                        if (data.AvailableDeliveryTimes.length == 1) {
                            $('#DeliveryTimePicker').val(data.AvailableDeliveryTimes[0].Value);
                            $('#DeliveryTimeSlotId').val($('#DeliveryTimePicker').val());
                            $('#DeliveryTimePicker').attr("disabled", "disabled");
                        }
                    }
                }
            });
        }

        function countWeekendDay(toDate, fromDate) {
            if (!fromDate) {
                fromDate = new Date();
            } else {
                fromDate = new Date(fromDate);
            }
            var weekendDayCount = 0;
            while (fromDate <= toDate) {
                if (fromDate.getDay() === 0) {
                    // 0 is Sunday, 1 is Monday, ..., 6 is Saturday
                    ++weekendDayCount;
                }
                else {
                    // Off days
                    for (var i = 0; i < holidays.length; i++) {
                        if (holidays[i].getDate() == fromDate.getDate() && holidays[i].getMonth() == fromDate.getMonth() && holidays[i].getFullYear() == fromDate.getFullYear()) {
                            ++weekendDayCount;
                        }
                    }
                }
                fromDate.setDate(fromDate.getDate() + 1);
            }

            return weekendDayCount;
        }

        function getTimeSlot(id) {
            for (var i = 0; i < timeSlots.length; i++) {
                if (timeSlots[i].Id == id) {
                    return timeSlots[i];
                }
            }

            return null;
        }

        function formatDateTime(time) {
            var date = time.getDate() < 10 ? ("0" + time.getDate()) : time.getDate();
            var month = time.getMonth() + 1 < 10 ? ("0" + (time.getMonth() + 1)) : (time.getMonth() + 1);
            var year = time.getFullYear();
            return date + "/" + month + "/" + year;
        }

        function submitForm() {
            $('span[data-valmsg-for="ProductTypeId"]').text("");
            $('span[data-valmsg-for="ServiceId"]').text("");
            $('span[data-valmsg-for="SizeId"]').text("");
            $('span[data-valmsg-for="PickupDate"]').text("");
            $('span[data-valmsg-for="PickupTimeSlotId"]').text("");
            $('span[data-valmsg-for="DeliveryDate"]').text("");
            $('span[data-valmsg-for="DeliveryTimeSlotId"]').text("");
            if (!$('#ProductTypeId').val()) {
                $('span[data-valmsg-for="ProductTypeId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose type of item");
                return false;
            }
            if (!$('#SizeId').val()) {
                $('span[data-valmsg-for="SizeId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose size of item");
                return false;
            }
            if (!$('#ServiceId').val()) {
                $('span[data-valmsg-for="ServiceId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose delivery service");
                return false;
            }

            var serviceInfo = $('#service-' + $("#ServiceId").val()).children("a");

            if (serviceInfo.data("is-pickup-date-allow") == true && !$("#PickupDate").val()) {
                $('span[data-valmsg-for="PickupDate"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose pickup date");
                return false;
            }

            if (serviceInfo.data("is-pickup-time-allow") == true && !$("#PickupTimeSlotId").val()) {
                $('span[data-valmsg-for="PickupTimeSlotId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose pickup time");
                return false;
            }

            if (serviceInfo.data("is-delivery-date-allow") == true && !$("#DeliveryDate").val()) {
                $('span[data-valmsg-for="DeliveryDate"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose delivery date");
                return false;
            }

            if (serviceInfo.data("is-delivery-time-allow") == true && !$("#DeliveryTimeSlotId").val()) {
                $('span[data-valmsg-for="DeliveryTimeSlotId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose delivery time");
                return false;
            }

            return true;
        }

    </script>
}

@if (ViewBag.Customer == null)
{
    <div class="content_bg04">
        <div class="dnn_layout">
            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
        </div>
    </div>
}
else
{
    <form method="POST">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProductTypeId)
        @Html.HiddenFor(model => model.ServiceId)
        @Html.HiddenFor(model => model.SizeId)
        @Html.HiddenFor(model => model.CustomerId)
        <div class="content_bg04">
            <div class="dnn_layout">
                <div class="row">
                    <div class="col-sm-4 content_bg04_pd">
                        <a href="javascript:void(0)">
                            SELECT TYPE<br />
                            OF ITEM
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <ul class="products-list">
                                @foreach (var type in productTypes)
                                {
                                    if (type.ProductTypeName.ToLower() == "document" || type.ProductTypeName.ToLower() == "parcel")
                                    {
                                        <li>
                                            <a id="productType-@type.Id" href="javascript:void(0)" onclick="chooseProductType(@type.Id)" class="@type.ProductTypeName">
                                                <img class="img-responsive" src="@(type.ProductTypeName.ToLower() == "document" ? Url.Content("~/images/icon_document.png") : Url.Content("~/images/icon_parcel.png"))" alt="@type.ProductTypeName" />
                                                @type.ProductTypeName
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ProductTypeId)
                    </div>
                </div>
            </div>
        </div>
        <div class="content_bg04_01">
            <div class="dnn_layout">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div id="sizeList" class="center_html_box">
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.SizeId)
                </div>
                <div class="row">
                    <div class="col-sm-12 ">
                        <div id="serviceList" class="center_html_box">
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ServiceId)
                </div>
            </div>
        </div>
        <div class="content_bg05">
            <div class="dnn_layout">
                <ul class="nav nav-wizard">
                    <li class="active"><a>Review Order</a></li>
                    <li><a>Confirm Order</a></li>
                    <li><a>Add to Cart</a></li>
                    <li><a>Payment</a></li>
                </ul>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right">
                            <a href="@SettingProvider.TypeOfServiceUrl" target="_blank">More information about Service</a>
                        </div>
                        <div id="formView" class="form_box">
                            <div>
                                <h3>
                                    <label class="text-left" style="display: block;">FROM NAME</label>
                                </h3>
                                @Html.TextBoxFor(m => m.FromName, new
                                {
                                    @class = "FROM",
                                    placeholder = "FROM NAME"
                                })
                                @Html.ValidationMessageFor(m => m.FromName)
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">POSTAL CODE</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.FromZipCode, new
                                    {
                                        @class = "FROM",
                                        placeholder = "POSTAL CODE"
                                    })
                                    @Html.ValidationMessageFor(m => m.FromZipCode)
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 form_two_img">
                                    <h3>
                                        <label class="text-left" style="display: block;">STREET NUMBER AND NAME</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.FromAddress, new
                                    {
                                        @class = "FROM",
                                        placeholder = "FROM"
                                    })
                                    @Html.ValidationMessageFor(m => m.FromAddress)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.FromUnitNumber, new
                               {
                                   placeholder = "UNIT NO."
                               })
                                    @Html.ValidationMessageFor(m => m.FromUnitNumber)
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-8 col-xs-8">
                                    <h3>
                                        <label class="text-left" style="display: block;">BUILDING NAME</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.FromBuildingName, new
                               {
                                   placeholder = "BUILDING NAME"
                               })
                                    @Html.ValidationMessageFor(m => m.FromBuildingName)
                                </div>
                            </div>
                            <div>
                                <h3>
                                    <label class="text-left" style="display: block;">MOBILE NUMBER</label>
                                </h3>
                                @Html.TextBoxFor(m => m.FromMobilePhone, new
                                {
                                    @class = "FROM",
                                    placeholder = "MOBILE NUMBER"
                                })
                                @Html.ValidationMessageFor(m => m.FromMobilePhone)
                            </div>
                            <div class="clearfix">
                                <div class="date_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">PICKUP DATE</label>
                                    </h3>
                                    <input type="hidden" value="@(Model?.PickupDate?.ToString("dd/MM/yyyy"))" name="PickupDate" id="PickupDate" data-val-date="The field When do you want to pickup (date)? must be a date." data-val="true"/>
                                    @Html.TextBox("PickupDatePicker", Model?.PickupDate?.ToString("dd/MM/yyyy"), new
                                    {
                                        @class = "start datepicker",
                                        placeholder = "DATE",
                                        data_val = "false",
                                        disabled = "disabled"
                                    })
                                    <span class="caret"></span>
                                </div>
                                <div class="time_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">PICKUP TIME</label>
                                    </h3>
                                    @Html.HiddenFor(m => m.PickupTimeSlotId)
                                    <select name="PickupTimePicker" id="PickupTimePicker" class="time start" placeholder="TIME"></select>
                                    <span class="caret"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.PickupDate)
                            @Html.ValidationMessageFor(m => m.PickupTimeSlotId)
                            <div class="form_line"> </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                    <h3>
                                        <label class="text-left" style="display: block;">POSTAL CODE</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToZipCode, new
                                    {
                                        @class = "TO",
                                        placeholder = "POSTAL CODE"
                                    })
                                    @Html.ValidationMessageFor(m => m.ToZipCode)
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 form_two_img">
                                    <h3>
                                        <label class="text-left" style="display: block;">TO ADDRESS</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToAddress, new
                                    {
                                        @class = "TO",
                                        placeholder = "TO"
                                    })
                                    @Html.ValidationMessageFor(m => m.ToAddress)
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                    <h3>
                                        <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToUnitNumber, new
                               {
                                   placeholder = "UNIT NO."
                               })
                                    @Html.ValidationMessageFor(m => m.ToUnitNumber)
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-8 col-xs-8">
                                    <h3>
                                        <label class="text-left" style="display: block;">BUILDING NAME</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToBuildingName, new
                               {
                                   placeholder = "BUILDING NAME"
                               })
                                    @Html.ValidationMessageFor(m => m.ToBuildingName)
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="date_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">DELIVERY DATE</label>
                                    </h3>
                                    <input type="hidden" value="@(Model?.DeliveryDate?.ToString("dd/MM/yyyy"))" name="DeliveryDate" id="DeliveryDate" data-val-date="The field When do you want to deliver (date)? must be a date." data-val="true"/>
                                    @Html.TextBox("DeliveryDatePicker", Model?.DeliveryDate?.ToString("dd/MM/yyyy"), new
                                    {
                                        @class = "start datepicker",
                                        placeholder = "DATE",
                                        data_val = "false",
                                        disabled = "disabled"
                                    })
                                    <span class="caret"></span>
                                </div>
                                <div class="time_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">DELIVERY TIME</label>
                                    </h3>
                                    @Html.HiddenFor(m => m.DeliveryTimeSlotId)
                                    <select name="DeliveryTimePicker" id="DeliveryTimePicker" class="time start"></select>
                                    <span class="caret"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.DeliveryDate)
                            @Html.ValidationMessageFor(m => m.DeliveryTimeSlotId)
                            <div class="clearfix forme_two">
                                <div class="date_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">RECEIVER NAME / COMPANY</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToName, new
                                    {
                                        placeholder = "RECEIVER NAME / COMPANY"
                                    })
                                    @Html.ValidationMessageFor(m => m.ToName)
                                </div>
                                <div class="time_one" id="basicExample">
                                    <h3>
                                        <label class="text-left" style="display: block;">RECEIVER CONTACT NUMBER</label>
                                    </h3>
                                    @Html.TextBoxFor(m => m.ToMobilePhone, new
                                    {
                                        placeholder = "RECEIVER CONTACT NUMBER"
                                    })
                                    @Html.ValidationMessageFor(m => m.ToMobilePhone)
                                </div>
                            </div>
                            <h3>
                                <label class="text-left" style="display: block;">REMARK</label>
                            </h3>
                            @Html.TextAreaFor(m => m.Remark, new
                            {
                                placeholder = "REMARK",
                                rows = "4"
                            })
                            @Html.ValidationMessageFor(m => m.Remark)
                            <input type="submit" lang="Submit" value="REVIEW ORDER" title="SEND MESSAGE" onClick="return submitForm();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
