﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Upload bulk consignment numbers for tracking";
}

@section scripts {
    <script>
        $(function () {
            @if (User.IsInRole(AccountHelper.VendorRole))
            {
                <text>
            $('#top_menu ul li:eq(4)').addClass("current");</text>
            }
        });
    </script>
}

<div class="content_bg05">
    <div class="dnn_layout">

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
        }

        @if (ViewBag.Customer != null)
        {
            <form method="POST" enctype="multipart/form-data" class="form_box">
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3>
                                    <label class="text-left" style="display: block;">UPLOAD FILE</label>
                                </h3>
                                <h4 style="margin-bottom: 10px"><a href="@Url.Content("~/Content/bulk_tracking.xlsx")">Download template file</a></h4>

                                <input name="UploadFile" type="file" style="display: inline-block" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3>
                                    <label class="text-left" style="display: block;">INPUT DIRECTLY</label>
                                </h3>
                                <h4 style="margin-bottom: 10px">Input each consigment number per line or separate them by comma (",")</h4>
                                <textarea name="InputList" style="display: inline-block;border: solid 1px #333;" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" lang="Submit" value="UPLOAD BULK CONSIGNMENT NUMBERS" title="UPLOAD BULK CONSIGNMENT NUMBERS" />
            </form>
        }
    </div>
</div>