﻿@using Courier_Management_System.Controllers
@using Courier_Management_System.Helpers
@using TimeSlot = Courier_Management_System.TimeSlot
@model List<Order>
@{
    ViewBag.Title = "Bulk Order Confirmation";
    var timeSlots = ViewBag.TimeSlots as List<TimeSlot> ?? new List<TimeSlot>();
    var services = ViewBag.Services as List<Service> ?? new List<Service>();
    var sizes = ViewBag.Sizes as List<Size> ?? new List<Size>();
    var productTypes = ViewBag.ProductTypes as List<ProductType> ?? new List<ProductType>();
    var offDays = ViewBag.OffDays as List<DateTime> ?? new List<DateTime>();
    var customer = ViewBag.Customer as Customer ?? new Customer();
    var codOptionsList = ViewBag.CodOptions as List<CodOption> ?? new List<CodOption>();
    var cashId = codOptionsList.Where(x => x.Type == (int) CodOptionTypes.Cash).Select(x => x.Id).FirstOrDefault();
    var chequeId = codOptionsList.Where(x => x.Type == (int) CodOptionTypes.Cheque).Select(x => x.Id).FirstOrDefault();
}

@section scripts {
    <script>
        $(function() {
            $('#top_menu ul li:eq(2)').addClass("current");
        });

        function confirmBulk() {
            $('form input[type = submit]').hide();
        }
    </script>
}

<style>
    table tr td {
        vertical-align: middle !important;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout" style="width: 100%;">
        <form method="POST" class="form_box">
            @Html.AntiForgeryToken()
            <div class="form_top">
                <h3>
                    <label class="text-left" style="display: block;">BULK ORDERS</label>
                </h3>

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                }

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" style="min-width: 1400px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>From Name</th>
                                <th>From Postal Code</th>
                                <th>From Address</th>
                                <th>From Mobile Phone</th>
                                <th>To Name</th>
                                <th>To Postal Code</th>
                                <th>To Address</th>
                                <th>To Mobile Phone</th>
                                <th>Size</th>
                                <th>Pickup Date</th>
                                <th>Pickup Time Slot</th>
                                <th>Delivery Date</th>
                                <th>Delivery Time Slot</th>
                                <th>Service</th>
                                <th>Fullfilment Number</th>
                                <th>Order Number</th>
                                <th>Remark</th>
                                <th>Price</th>
                                <th>Is Exchange</th>
                                <th>COD Cash</th>
                                <th>COD Cheque</th>
                                <th>Validation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal total = 0;
                                var valid = 0;
                            }
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                total += Model[i].Price;

                                if (string.IsNullOrEmpty(OrderController.Validate(Model[i], services, timeSlots, productTypes, offDays, Model)))
                                {
                                    ++valid;
                                }

                                <tr>
                                    <td>
                                        @(i + 1)
                                        @Html.HiddenFor(m => m[i].FromName)
                                        @Html.HiddenFor(m => m[i].FromZipCode)
                                        @Html.HiddenFor(m => m[i].FromAddress)
                                        @Html.HiddenFor(m => m[i].FromMobilePhone)
                                        @Html.HiddenFor(m => m[i].ToName)
                                        @Html.HiddenFor(m => m[i].ToZipCode)
                                        @Html.HiddenFor(m => m[i].ToAddress)
                                        @Html.HiddenFor(m => m[i].ToMobilePhone)
                                        @Html.HiddenFor(m => m[i].CustomerId)
                                        @Html.HiddenFor(m => m[i].ProductTypeId)
                                        @Html.HiddenFor(m => m[i].ServiceId)
                                        @Html.HiddenFor(m => m[i].SizeId)
                                        @Html.HiddenFor(m => m[i].PaymentTypeId)
                                        @Html.HiddenFor(m => m[i].Price)
                                        <input type="hidden" name="[@i].PickupDate" id="[@i].PickupDate" value="@(Model[i].PickupDate?.ToString("dd/MM/yyyy"))" />
                                        @Html.HiddenFor(m => m[i].PickupTimeSlotId)
                                        <input type="hidden" name="[@i].DeliveryDate" id="[@i].DeliveryDate" value="@(Model[i].DeliveryDate?.ToString("dd/MM/yyyy"))" />
                                        @Html.HiddenFor(m => m[i].DeliveryTimeSlotId)
                                        @Html.HiddenFor(m => m[i].FullfilmentNumber)
                                        @Html.HiddenFor(m => m[i].OrderNumber)
                                        @Html.HiddenFor(m => m[i].Remark)
                                        @Html.HiddenFor(m => m[i].Location)
                                        @Html.HiddenFor(m => m[i].SKU)
                                        @Html.HiddenFor(m => m[i].Quantity)
                                        @Html.HiddenFor(m => m[i].IsExchange)
                                        @{
                                            var codOptions = Model[i].CodOptionOfOrders.ToList();
                                            @Html.Hidden("[" + i + "].CodOptions.Count", codOptions.Count)
                                            for (var j = 0; j < codOptions.Count; j++)
                                            {
                                                @Html.Hidden("[" + i + "].CodOptions[" + j + "].Amount", codOptions[j].Amount)
                                                @Html.Hidden("[" + i + "].CodOptions[" + j + "].CodOptionId", codOptions[j].CodOptionId)
                                            }
                                        }
                                    </td>
                                    <td>@Model[i].FromName</td>
                                    <td>@Model[i].FromZipCode</td>
                                    <td>@Model[i].FromAddress</td>
                                    <td>@Model[i].FromMobilePhone</td>
                                    <td>@Model[i].ToName</td>
                                    <td>@Model[i].ToZipCode</td>
                                    <td>@Model[i].ToAddress</td>
                                    <td>@Model[i].ToMobilePhone</td>
                                    <td>@(sizes.Where(x => x.Id == Model[i].SizeId).Select(x => x.SizeName).FirstOrDefault())</td>
                                    <td>@(Model[i].PickupDate?.ToString("dd/MM/yyyy"))</td>
                                    <td>@(timeSlots.Where(x => x.Id == Model[i].PickupTimeSlotId).Select(x => x.TimeSlotName + " (" + x.FromTime.ToString("HH:mm") + " - " + x.ToTime.ToString("HH:mm") + ")").FirstOrDefault())</td>
                                    <td>@(Model[i].DeliveryDate?.ToString("dd/MM/yyyy"))</td>
                                    <td>@(timeSlots.Where(x => x.Id == Model[i].DeliveryTimeSlotId).Select(x => x.TimeSlotName + " (" + x.FromTime.ToString("HH:mm") + " - " + x.ToTime.ToString("HH:mm") + ")").FirstOrDefault())</td>
                                    <td>@(services.Where(x => x.Id == Model[i].ServiceId).Select(x => x.ServiceName).FirstOrDefault())</td>
                                    <td>@Model[i].FullfilmentNumber</td>
                                    <td>@Model[i].OrderNumber</td>
                                    <td>@Model[i].Remark</td>
                                    @if (customer.UseGroupPrice && Model[i].Price > 0 && !string.IsNullOrEmpty(Model[i].GroupTrackingNumber))
                                    {
                                        <td rowspan="@Model.Count(x => x.GroupTrackingNumber == Model[i].GroupTrackingNumber)">@Model[i].Price.ToString("C")</td>
                                    }
                                    else if (!customer.UseGroupPrice || string.IsNullOrEmpty(Model[i].GroupTrackingNumber))
                                    {
                                        <td>@Model[i].Price.ToString("C")</td>
                                    }
                                    <td>@(Model[i].IsExchange ? "Yes" : "No")</td>
                                    <td>@Model[i].CodOptionOfOrders.Where(x => x.CodOptionId == cashId).Select(x => x.Amount).FirstOrDefault().ToString("C")</td>
                                    <td>@Model[i].CodOptionOfOrders.Where(x => x.CodOptionId == chequeId).Select(x => x.Amount).FirstOrDefault().ToString("C")</td>
                                    <td class="text-danger" style="white-space: nowrap">@(OrderController.Validate(Model[i], services, timeSlots, productTypes, offDays, Model))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold; font-size: 1.2em;">
                                <td colspan="21" style="text-align: right;">TOTAL</td>
                                <td colspan="2" style="text-align: left;">@(Math.Max(SettingProvider.MinimumOrderAmount, total).ToString("C"))</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <em>
                            <strong>@valid / @Model.Count will be imported.</strong>
                        </em>
                    </div>
                </div>

                <h3>
                    <label class="text-left" style="display: block;">Current Credit account</label>
                </h3>
                <input type="text" readonly="readonly" class="FROM valid" value="@(customer.Credit.ToString("C"))" aria-invalid="false">

                <input type="submit" lang="Submit" value="CONFIRM BULK ORDERS" title="CONFIRM BULK ORDERS" onclick="confirmBulk()" />

            </div>
        </form>
    </div>
</div>