﻿@{
    ViewBag.Title = "Upload bulk orders";
}

@section scripts {
    <script>
        $(function () {
            $('#top_menu ul li:eq(2)').addClass("current");

            $('#postalCode').on("change keypress", function () {
                $('#address').val("");
                $.ajax({
                    url: '/api/locations/checkZipCode/' + $('#postalCode').val(),
                    type: 'POST',
                    success: function (data) {
                        $('#address').val((data.UnitNumber || "") + (data.StreetName != null ? (" " + data.StreetName) : ""));
                    }
                });
            });
            $('#address').on("change keypress", function () {
                $('#postalCode').val("");
                $.ajax({
                    url: '/api/locations/checkAddress/?address=' + $('#address').val(),
                    type: 'POST',
                    success: function (data) {
                        $('#postalCode').val(data.PostalCode);
                    }
                });
            });
        });
    </script>
}

<div class="content_bg05">
    <div class="dnn_layout">

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
        }

        @if (ViewBag.Customer != null)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form_box">
                        <div class="form_top">
                            <h3>
                                <label class="text-left" style="display: block;">POSTAL CODE & ADDRESS LOOKUP</label>
                            </h3>
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <input id="postalCode" type="text" style="border: solid 1px #d0d0d0;" placeholder="Postal Code" />
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <input id="address" type="text" style="border: solid 1px #d0d0d0;" placeholder="Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" class="form_box">
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3>
                                    <label class="text-left" style="display: block;">STANDARD DOCUMENT</label>
                                </h3>
                                <h4 style="margin-bottom: 10px"><a href="@Url.Content("~/Content/std_doc.xlsx")">Download template file</a></h4>

                                <input name="StdDocumentUploadFile" type="file" style="display: inline-block" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3>
                                    <label class="text-left" style="display: block;">STANDARD PARCEL</label>
                                </h3>
                                <h4 style="margin-bottom: 10px"><a href="@Url.Content("~/Content/std_parcel.xlsx")">Download template file</a></h4>

                                <input name="StdParcelUploadFile" type="file" style="display: inline-block" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3>
                                    <label class="text-left" style="display: block;">SCHEDULE PARCEL</label>
                                </h3>
                                <h4 style="margin-bottom: 10px"><a href="@Url.Content("~/Content/sch_parcel.xlsx")">Download template file</a></h4>

                                <input name="ScheduleParcelUploadFile" type="file" style="display: inline-block" />
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" lang="Submit" value="UPLOAD BULK ORDERS" title="UPLOAD BULK ORDERS" />
            </form>
        }
    </div>
</div>