﻿@using Courier_Management_System.Helpers
@using TimeSlot = Courier_Management_System.TimeSlot
@model List<Order>
@{
    ViewBag.Title = "Shopping Cart";
    var timeslots = ViewBag.Timeslots as List<TimeSlot> ?? new List<TimeSlot>();
    decimal totalPrice = 0;
}

<div class="content_bg05">
    <div class="dnn_layout">

        <div class="row">
            <div class="col-sm-12">
                <div class="form_box">
                    <ul class="nav nav-wizard">
                        <li><a>Review Order</a></li>
                        <li><a>Confirm Order</a></li>
                        <li class="active"><a>Add to Cart</a></li>
                        <li><a>Payment</a></li>
                    </ul>

                    <div class="form_top">
                        <h3>
                            <label class="text-left" style="display: block;">SHOPPING CART</label>
                        </h3>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                        }

                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
                        }

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>To Name</th>
                                        <th>To Postal Code</th>
                                        <th>To Address</th>
                                        <th>To Mobile Phone</th>
                                        <th>Product Type</th>
                                        <th>Pickup Date</th>
                                        <th>Pickup Time</th>
                                        <th>Delivery Date</th>
                                        <th>Delivery Time</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null || Model.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="12">Your shopping cart is empty</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        for (var i = 0; i < Model.Count; i++)
                                        {
                                            var order = Model[i];
                                            totalPrice += order.Price;
                                            <tr>
                                                <th scope="row">@(i + 1)</th>
                                                <td>@order.ToName</td>
                                                <td>@order.ToZipCode</td>
                                                <td>@order.ToAddress</td>
                                                <td>@order.ToMobilePhone</td>
                                                <td>@order.ProductType.ProductTypeName</td>
                                                <td>@(order.PickupDate?.ToString("dd/MM/yyyy"))</td>
                                                <td>@(timeslots.Where(x => x.Id == order.PickupTimeSlotId).Select(x => x.TimeSlotName + " (" + x.FromTime.ToString("HH:mm") + " - " + x.ToTime.ToString("HH:mm") + ")").FirstOrDefault())</td>
                                                <td>@(order.DeliveryDate?.ToString("dd/MM/yyyy"))</td>
                                                <td>@(timeslots.Where(x => x.Id == order.DeliveryTimeSlotId).Select(x => x.TimeSlotName + " (" + x.FromTime.ToString("HH:mm") + " - " + x.ToTime.ToString("HH:mm") + ")").FirstOrDefault())</td>
                                                <td>@order.Price.ToString("C")</td>
                                                <td>
                                                    <form action="@Url.Action("RemoveCartItem", "Order", new {id = ViewBag.CartId})" method="POST">
                                                        <input type="hidden" name="consignmentNumber" value="@order.ConsignmentNumber"/>
                                                        <button type="submit" class="btn btn-info" name="action" value="Edit" title="Edit Cart Item">Edit</button>
                                                        <button type="submit" class="btn btn-danger" name="action" value="Remove" title="Remove Cart Item">Remove</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="10" class="text-right"><h4>TOTAL AMOUNT</h4>
                                            A minimum order sum of @SettingProvider.MinimumOrderAmount.ToString("C") is imposed for order less than @SettingProvider.MinimumOrderAmount.ToString("C").</td>
                                        <td colspan="2"><h4><span style="font-size: 1.4em; color: #ec9424">@(Math.Max(totalPrice, SettingProvider.MinimumOrderAmount).ToString("C"))</span></h4></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div>
                            <form method="POST">
                                <a class="button" href="@Url.Action("Book", "Order")" style="margin-right: 10px;">ADD ORDER</a>
                                <input type="submit" lang="Submit" value="PROCEED TO PAYMENT" title="PROCEED TO PAYMENT" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>