﻿@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.BookOrderViewModel

@{
    ViewBag.Title = "Confirming Order";
    var customer = ViewBag.Customer as Customer ?? new Customer();
    var productType = ViewBag.ProductType as ProductType ?? new ProductType();
    var size = ViewBag.Size as Size ?? new Size();
    var service = ViewBag.Service as Service ?? new Service();
    var totalPrice = ViewBag.TotalPrice ?? 0;
    var promotion = ViewBag.Promotion ?? 0;
    //var paymentTypes = ViewBag.PaymentTypes as List<SelectListItem> ?? new List<SelectListItem>();
    var surcharges = ViewBag.Surcharges as List<Charge> ?? new List<Charge>();
    var codOptions = ViewBag.CodOptions as List<CodOption> ?? new List<CodOption>();
}

@section scripts {
    <script>
        $(function() {
            $('input')
                .iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });

            $('#top_menu ul li:eq(1)').addClass("current");

            $('#PromoCode')
                .on('change',
                    function() {
                        updatePrice();
                    });
            $('.surcharge input')
                .on('ifChanged',
                    function() {
                        if ($(this).attr("name").toLowerCase() == "cod") {
                            if ($(this).is(":checked")) {
                                $(this).parents("label").next().removeAttr("disabled");
                            } else {
                                $(this).parents("label").next().attr("disabled", "disabled");
                            }
                        }
                        updatePrice();
                    });
            $('.surcharge input[type=text]')
                .on('change',
                    function () {
                        updatePrice();
                    });
        });

        function updatePrice() {
            var cod = [];
            var codAmounts = [];
            var surchargeCodes = [];
            $('.surcharge input:checked')
                .each(function() {
                    if ($(this).attr("name").toLowerCase() == "cod") {
                        cod.push($(this).val());
                        codAmounts.push($(this).parents("label").next().val());
                    } else if ($(this).attr("name").toLowerCase() == "vas") {
                        surchargeCodes.push($(this).val());
                    }
                });
            surchargeCodes.push($('#PromoCode').val());
            $.ajax({
                url: '/api/orders/price',
                type: 'POST',
                data: {
                    productTypeId: $('#ProductTypeId').val(),
                    serviceId: $('#ServiceId').val(),
                    sizeId: $('#SizeId').val(),
                    customerId: $('#CustomerId').val(),
                    addOnCode: surchargeCodes.join(','),
                    cod: cod.join(','),
                    codAmounts: codAmounts.join(','),
                    isExchange: $("#isExchange").is(":checked")
                },
                dataType: 'json',
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + getCookie("CdsAccessToken"));
                },
                success: function(result) {
                    var total = result.BasePrice +
                        result.AddOnPrice +
                        result.DefaultPromotion -
                        result.Promotion +
                        result.Surcharge;
                    $('#Price').val(total);
                    $('#priceLabel').text('$' + total.toFixed(2));
                    $('#promotion').text('$' + result.Promotion.toFixed(2));
                },
                error: function(e) {
                    $('#price').text("$0.00");
                    $('#promotion').text("$0.00");
                }
            });
        }

        function submitForm() {
            $('input[type=submit]').hide();
        }
    </script>
}

<form method="POST" onsubmit="submitForm()">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.ProductTypeId)
    @Html.HiddenFor(model => model.ServiceId)
    @Html.HiddenFor(model => model.SizeId)
    @Html.HiddenFor(model => model.FromName)
    @Html.HiddenFor(model => model.FromZipCode)
    @Html.HiddenFor(model => model.FromAddress)
    @Html.HiddenFor(model => model.FromUnitNumber)
    @Html.HiddenFor(model => model.FromBuildingName)
    @Html.HiddenFor(model => model.FromMobilePhone)
    @Html.HiddenFor(model => model.Remark)
    @Html.HiddenFor(model => model.ToAddress)
    @Html.HiddenFor(model => model.ToUnitNumber)
    @Html.HiddenFor(model => model.ToBuildingName)
    @Html.HiddenFor(model => model.ToZipCode)
    @Html.HiddenFor(model => model.ToMobilePhone)
    @Html.HiddenFor(model => model.ToName)
    @Html.HiddenFor(model => model.DeliveryTimeSlotId)
    @Html.HiddenFor(model => model.PickupTimeSlotId)
    @Html.HiddenFor(model => model.Price)

    <div class="content_bg05">
        <div class="dnn_layout">

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
            }

            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
            }

            <div class="row">
                <div class="col-sm-12">
                    <div class="form_box">
                        <ul class="nav nav-wizard">
                            <li>
                                <a>Review Order</a>
                            </li>
                            <li class="active">
                                <a>Confirm Order</a>
                            </li>
                            <li>
                                <a>Add to Cart</a>
                            </li>
                            <li>
                                <a>Payment</a>
                            </li>
                        </ul>

                        <div class="form_top">
                            <img class="img-responsive center-block" src="@(productType.ProductTypeName.ToLower() == "document" ? Url.Content("~/images/icon_document_selected.png") : Url.Content("~/images/icon_parcel_selected.png"))" />
                            <h3>@productType.ProductTypeName</h3>
                        </div>
                        <h3>
                            <label class="text-left" style="display: block;">SIZE</label>
                        </h3>
                        <input type="text" value="@size.SizeName, @size.FromLength-@size.ToLength CM, @size.FromWeight-@size.ToWeight KG" class="FROM" readonly="readonly" />
                        <h3>
                            <label class="text-left" style="display: block;">SERVICE</label>
                        </h3>
                        <input type="text" value="@service.ServiceName" class="FROM" readonly="readonly" />
                        <div class="row">
                            <div class="form_two_img col-md-6 col-sm-12">
                                <h3>
                                    <label class="text-left" style="display: block;">FROM STREET NUMBER AND NAME</label>
                                </h3>
                                <input type="text" value="@Model.FromAddress" class="FROM" readonly="readonly" />
                            </div>
                            <div class="form_two_img col-md-3 col-sm-6">
                                <h3>
                                    <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                </h3>
                                <input type="text" value="@Model.FromUnitNumber" class="FROM" readonly="readonly" />
                            </div>
                            <div class="form_two_img col-md-3 col-sm-6">
                                <h3>
                                    <label class="text-left" style="display: block;">BUILDING NAME</label>
                                </h3>
                                <input type="text" value="@Model.FromBuildingName" class="FROM" readonly="readonly" />
                            </div>
                        </div>
                        <div class="clearfix forme_two">
                            <div class="date_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">PICKUP DATE</label>
                                </h3>
                                <input id="PickupDate" name="PickupDate" type="text" readonly="readonly" value="@(Model.PickupDate?.ToString("dd/MM/yyyy") ?? "")" />
                            </div>
                            <div class="time_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">PICKUP TIME SLOT</label>
                                </h3>
                                <input type="text" readonly="readonly" value="@(ViewBag.PickupTime?.TimeSlotName + (ViewBag.PickupTime != null ? ($" ({ViewBag.PickupTime.FromTime.ToString("HH:mm")} - {ViewBag.PickupTime.ToTime.ToString("HH:mm")})") : ""))" />
                            </div>
                        </div>
                        <div class="form_line">
                            @*<img class="img-responsive" src="@Url.Content("~/scripts/lib/images/image03.jpg")"/>*@
                        </div>
                        <div class="row">
                            <div class="form_two_img col-md-6 col-sm-12">
                                <h3>
                                    <label class="text-left" style="display: block;">TO STREET NUMBER AND NAME</label>
                                </h3>
                                <input type="text" value="@Model.ToAddress" class="FROM" readonly="readonly" />
                            </div>
                            <div class="form_two_img col-md-3 col-sm-6">
                                <h3>
                                    <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                </h3>
                                <input type="text" value="@Model.ToUnitNumber" class="FROM" readonly="readonly" />
                            </div>
                            <div class="form_two_img col-md-3 col-sm-6">
                                <h3>
                                    <label class="text-left" style="display: block;">BUILDING NAME</label>
                                </h3>
                                <input type="text" value="@Model.ToBuildingName" class="FROM" readonly="readonly" />
                            </div>
                        </div>
                        <div class="clearfix forme_two">
                            <div class="date_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">DELIVERY DATE</label>
                                </h3>
                                <input id="DeliveryDate" name="DeliveryDate" type="text" readonly="readonly" value="@(Model.DeliveryDate?.ToString("dd/MM/yyyy") ?? "")" />
                            </div>
                            <div class="time_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">DELIVERY TIME SLOT</label>
                                </h3>
                                <input type="text" readonly="readonly" value="@(ViewBag.DeliveryTime?.TimeSlotName + (ViewBag.DeliveryTime != null ? ($" ({ViewBag.DeliveryTime.FromTime.ToString("HH:mm")} - {ViewBag.DeliveryTime.ToTime.ToString("HH:mm")})") : ""))" />
                            </div>
                        </div>
                        <div class="clearfix forme_two">
                            <div class="date_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">RECEIVER NAME</label>
                                </h3>
                                <input type="text" value="@Model.ToName" readonly="readonly" />
                            </div>
                            <div class="time_one" id="basicExample">
                                <h3>
                                    <label class="text-left" style="display: block;">RECEIVER MOBILE PHONE</label>
                                </h3>
                                <input type="text" value="@Model.ToMobilePhone" readonly="readonly" />
                            </div>
                        </div>

                        <h3>
                            <label class="text-left" style="display: block;">REMARK</label>
                        </h3>
                        <textarea rows="4" readonly="readonly">@Model.Remark</textarea>

                        <h3>
                            <label class="text-left" style="display: block;">VALUE-ADDED SERVICES (select where applicable)</label>
                        </h3>
                        @foreach (var surcharge in surcharges)
                        {
                            <div class="checkbox icheck text-left surcharge">
                                <label>
                                    <input type="checkbox" name="vas" value="@surcharge.ChargeCode" />
                                    @Html.Raw(surcharge.Description) (additional @(surcharge.IsChargeInPercentage ? surcharge.ChargeAmount.ToString("P") : surcharge.ChargeAmount.ToString("C")))
                                </label>
                            </div>
                        }
                        @foreach (var codOption in codOptions)
                        {
                            <div class="checkbox icheck text-left surcharge cod">
                                <label>
                                    <input type="checkbox" name="cod" value="@codOption.Id" />
                                    @Html.Raw(codOption.Description) (additional @(codOption.IsChargeInPercentage ? codOption.ChargeAmount.ToString("P") : codOption.ChargeAmount.ToString("C")))
                                </label>
                                <input type="text" class="form-control" name="codAmount" style="display: inline-block; width: 300px; height: 50px; margin-left: 10px;" disabled="disabled" />
                            </div>
                        }
                        <div class="checkbox icheck text-left surcharge">
                            <label>
                                <input type="checkbox" id="isExchange" name="isExchange" value="on" />
                                Exchange Order
                                @if (SettingProvider.ExchangeOrderCharge > 0)
                                {
                                    @: (additional @SettingProvider.ExchangeOrderCharge.ToString("C"))
                                }
                            </label>
                        </div>

                        @*<div>
                                <h3>
                                    <label class="text-left" style="display: block;">PAYMENT TYPE</label>
                                </h3>
                                @Html.DropDownListFor(m => m.PaymentTypeId, paymentTypes)
                            </div>*@
                        <h3>
                            <label class="text-left" style="display: block;">SPECIAL PROMOTION CODE</label>
                        </h3>
                        @Html.TextBoxFor(m => m.PromoCode)

                        <div class="line_bottom"></div>

                        <div class="form_bottom">
                            <p id="priceLabel">@totalPrice.ToString("C") </p>

                            <div class="form_tol">
                                Promotion
                                <h2 id="promotion">@promotion.ToString("C")</h2>
                            </div>

                            <em>After apply Default Promo Code</em>
                            @*<br />
                            <em><strong>A minimum order sum of @SettingProvider.MinimumOrderAmount.ToString("C") is imposed for order less than @SettingProvider.MinimumOrderAmount.ToString("C").</strong></em>*@
                        </div>

                        <h3>
                            <label class="text-left" style="display: block;">Current Credit account</label>
                        </h3>
                        <input type="text" readonly="readonly" class="FROM valid" value="@(customer.Credit.ToString("C"))" aria-invalid="false">

                        <input type="submit" lang="Back" name="submitAction" value="BACK" title="BACK" />
                        <input type="submit" lang="Submit" name="submitAction" value="CONFIRM ORDER" title="CONFIRM ORDER" />

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>