﻿@using Courier_Management_System.Helpers
@model ExtraRequest
@{
    if (Model?.RequestType == (int) ExtraRequestType.DeliveryRequest)
    {
        ViewBag.Title = "Delivery Request";
    }
    else if (Model?.RequestType == (int) ExtraRequestType.ReDeliveryRequest)
    {
        ViewBag.Title = "Re-Delivery Request";
    }
    else if (Model?.RequestType == (int) ExtraRequestType.RePickupRequest)
    {
        ViewBag.Title = "Re-Pickup Request";
    }
    var offDayStrs = (SettingProvider.OutOfServiceDays ?? "").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
    var db = new CourierDBEntities();
    var failedDate = (ViewBag.FromDate as DateTime?) ?? DateTime.Now;
    var fromDate = DateTime.Now.Date.AddDays(1);
    var shift = 0;
    if (Model?.RequestType == (int) ExtraRequestType.ReDeliveryRequest)
    {
        fromDate = DateTime.Now.Date.AddDays(2);
        for (var date = fromDate; ; date = date.AddDays(1))
        {
            if (date.DayOfWeek == DayOfWeek.Sunday || offDayStrs.Contains(date.ToString("dd/MM/yyyy")))
            {
                ++shift;
            }
            else
            {
                break;
            }
        }
        fromDate = fromDate.AddDays(shift);
    }

    var endDate = failedDate.AddDays(4 + shift);
    shift = 0;
    for (var date = fromDate; date <= endDate; date = date.AddDays(1))
    {
        if (date.DayOfWeek == DayOfWeek.Sunday || offDayStrs.Contains(date.ToString("dd/MM/yyyy")))
        {
            ++shift;
        }
    }
    endDate = endDate.AddDays(shift);
}

@section scripts {
    <script>
        var holidayStrs = [
            @foreach (var day in offDayStrs)
            {
                @: '@day',
            }
        ];

        $(function() {
            $('input')
                .iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });

            $('.datepicker')
                .datepicker({
                    'format': 'dd/mm/yyyy',
                    'daysOfWeekDisabled': [0],
                    'datesDisabled': holidayStrs,
                    'autoclose': true,
                    'startDate': new Date(@fromDate.Year, @fromDate.Month - 1, @fromDate.Day),
                    'endDate': new Date(@endDate.Year, @endDate.Month - 1, @endDate.Day)
                });

            $("#Request")
                .on(
                    "focus",
                    function() {
                        $("#Other").iCheck("check");
                    });
        });
    </script>
}

<style>
    .datepicker .day {
        background: none;
        color: #000;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@Html.Raw(ViewBag.Error)</div>
        }
        else if (Model != null)
        {
            var name = Model.RequestType == (int) ExtraRequestType.RePickupRequest
                           ? Model.Order.FromName
                           : Model.Order.ToName;
            var phone = Model.RequestType == (int) ExtraRequestType.RePickupRequest
                            ? Model.Order.FromMobilePhone
                            : Model.Order.ToMobilePhone;
            var date = Model.RequestType == (int) ExtraRequestType.RePickupRequest
                           ? Model.Order.PickupDate
                           : Model.Order.DeliveryDate;
            var timeId = Model.RequestType == (int) ExtraRequestType.RePickupRequest
                             ? Model.Order.PickupTimeSlotId
                             : Model.Order.DeliveryTimeSlotId;
            var time = db.TimeSlots.FirstOrDefault(x => x.Id == timeId);

            if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@Html.Raw(ViewBag.Success)</div>
            }

            <form method="POST">
                @Html.AntiForgeryToken()
                <div class="form_box">
                    <div class="row">
                        @if (Model.RequestType == (int) ExtraRequestType.DeliveryRequest)
                        {
                            <h5 class="col-sm-12 text-left">
                                If you are not around to receive the item, please fill in the below form and select an alternative option for us
                                to deposit the item at your place safely.
                                <br />
                                <br />
                                Should you have other special requests (e.g. change of delivery date & time, change of delivery address, etc.),
                                please contact our friendly Roadbull Customer Care at 3100 1111 for assistance.
                            </h5>
                        }
                        else if (Model.RequestType == (int) ExtraRequestType.ReDeliveryRequest)
                        {
                            <h5 class="col-sm-12 text-left">
                                Please select a date for us to re-deliver your items.
                                <br />
                                <br />
                                Should you have any special request for the re-delivery, please contact our friendly Roadbull Customer Care at 3100 1111.
                            </h5>
                        }
                        else if (Model.RequestType == (int) ExtraRequestType.RePickupRequest)
                        {
                            <h5 class="col-sm-12 text-left">
                                Please select a date for us to re-pickup your items.
                                <br />
                                <br />
                                Should you have any special request for the re-pickup, please contact our friendly Roadbull Customer Care at 3100 1111.
                            </h5>
                        }
                    </div>
                    <div class="row">
                        <h3 class="col-sm-3">
                            <label class="text-left form-label">FULL NAME</label>
                        </h3>
                        <div class="col-sm-9">
                            <input type="text" class="FROM" value="@name" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-3">
                            <label class="text-left form-label">CONTACT NUMBER</label>
                        </h3>
                        <div class="col-sm-9">
                            <input type="text" class="FROM" value="@phone" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-3">
                            <label class="text-left form-label">@(Model.RequestType == (int) ExtraRequestType.RePickupRequest ? "PICKUP DATE" : "DELIVERY DATE")</label>
                        </h3>
                        <div class="col-sm-9">
                            <input type="text" class="FROM" value="@(date?.ToString("dd/MM/yyyy"))" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-3">
                            <label class="text-left form-label">@(Model.RequestType == (int) ExtraRequestType.RePickupRequest ? "PICKUP TIME" : "DELIVERY TIME")</label>
                        </h3>
                        <div class="col-sm-9">
                            <input type="text" class="FROM" value="@(time?.FromTime.ToString("HH:mm")) - @(time?.ToTime.ToString("HH:mm"))" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col-sm-3">
                            <label class="text-left form-label">TRACKING NUMBER</label>
                        </h3>
                        <div class="col-sm-9">
                            <input type="text" class="FROM" value="@Model.Order.ConsignmentNumber" readonly="readonly" />
                        </div>
                    </div>
                    @if (Model.RequestType == (int) ExtraRequestType.DeliveryRequest)
                    {
                        var values = (SettingProvider.DeliveryRequests ?? "").Split(new char[] { '\n', '\r' }, StringSplitOptions.RemoveEmptyEntries);
                        <div class="row">
                            <h3 class="col-sm-3">
                                <label class="text-left form-label">REQUEST</label>
                            </h3>
                            <div class="col-sm-9 text-left">
                                @foreach (var value in values)
                                {
                                    <label class="checkbox">
                                        <input type="radio" name="Request" value="@value" />@value</label>
                                }
                                @*<label class="checkbox"><input id="Other" type="radio" name="Request" value="" />Other</label>
                                <textarea id="Request" name="Request"></textarea>*@
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <h3 class="col-sm-3">
                                <label class="text-left form-label">@(Model.RequestType == (int) ExtraRequestType.ReDeliveryRequest ? "RE-DELIVERY REQUEST" : "RE-PICKUP REQUEST")</label>
                            </h3>
                            <div class="col-sm-9">
                                <input type="text" class="FROM datepicker" name="RequestDate" />
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="col-sm-3">
                                <label class="text-left form-label">REMARK</label>
                            </h3>
                            <div class="col-sm-9">
                                <textarea name="Request" rows="5"></textarea>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" lang="Submit" class="button" style="text-align: center; background-color: #ec9424">SUBMIT REQUEST</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>