﻿@using Courier_Management_System.Helpers
@model List<Courier_Management_System.Models.HistoryPayment>
@{
    ViewBag.Title = "History";
    var total = (decimal) 0;
}

@section scripts {
    <script>
        $(function() {
            @if (User.IsInRole(AccountHelper.VendorRole))
            {
                <text>
                    $('#top_menu ul li:eq(5)').addClass("current");</text>
            }
            else
            {
                <text>
                    $('#top_menu ul li:eq(4)').addClass("current");</text>
            }
        });
    </script>
}

<div class="content_bg05">

    <div class="dnn_layout">
        <div class="col-sm-12 row">
            <form>
                <div class="col-md-4 col-md-offset-4" id="divSearchContent">
                    @Html.TextBox("searchTerm", null, new { @class = "form-control" })
                </div>
                <div class="col-md-2" style="float: left">
                    <input type="submit" class="pull-left btn btn-primary" value="Search" />
                </div>
            </form>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form_box">
                        <div class="form_top">
                            <h3 class="text-left" style="padding-bottom: 10px;">
                                <label>Order on @(item.CreatedOn.ToString("dddd dd/MM/yyy hh:mm:ss tt"))</label>
                                @if (item.Orders.Count > 0)
                                {
                                    <a class="pull-right btn btn-info" href="@Url.Action("Export", "Order", new
                                                                                                            {
                                                                                                                id = item.Id
                                                                                                            })" target="_blank">
                                        Export Order
                                    </a>
                                    <a class="pull-right btn btn-primary" style="margin-right: 10px;" href="@Url.Action("Invoice", "Order", new
                                                                                                                                            {
                                                                                                                                                id = item.Id
                                                                                                                                            })" target="_blank">
                                        Print Invoice
                                    </a>
                                     @*<a class="pull-right btn btn-primary" style="margin-right: 10px;" href="@Url.Action("PrintCode", "Order", new
                                                                                                                                                  {
                                                                                                                                                      id = item.CNI
                                                                                                                                                  })" target="_blank">

                                            Print QR Codes
                                        </a>*@
                                    <a class="pull-right btn btn-primary" style="margin-right: 10px;" data-toggle="modal" data-target="#@item.CNI">
                                        Print QR Codes
                                    </a>

                                    @*Add input start number modal*@
                                    <div id="@item.CNI" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Please enter start order number:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @using (Html.BeginForm("PrintCode", "Order", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="id" value="@item.CNI" />
                                                        <input type="text" name="startNumber" id="startNumber" />
                                                        <input type="submit" value="Submit" />
                                                    }
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </h3>
                            <div class="clearfix"></div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>GroupTracking Number</th>
                                            <th>Consignment Number</th>
                                            <th>Order Tracking Number</th>
                                            <th>To Name</th>
                                            <th>To Address</th>
                                            <th>Status</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.Orders.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="8" class="text-danger">Order is Deleted.</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            bool firstOrder;
                                            var orders = item.Orders.OrderBy(x => x.GroupTrackingNumber).ToList();
                                            for (var i = 0; i < orders.Count; i++)
                                            {
                                                total += orders[i].Price;
                                                var order = orders[i];
                                                if (i == 0 || orders[i - 1].GroupTrackingNumber != order.GroupTrackingNumber)
                                                {
                                                    firstOrder = true;
                                                }
                                                else
                                                {
                                                    firstOrder = false;
                                                }
                                                <tr>
                                                    <th scope="row">@(i + 1)</th>
                                                    @if (firstOrder)
                                                    {
                                                        <td rowspan="@orders.Count(x => x.GroupTrackingNumber == order.GroupTrackingNumber)">@order.GroupTrackingNumber</td>
                                                    }
                                                    <td>
                                                        <a href="@Url.Action("Tracking", "Order", new { id = order.ConsignmentNumber })" target="_blank">@order.ConsignmentNumber</a>
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(order.OrderNumber))
                                                        {
                                                            <a href="@Url.Action("Tracking", "Order", new { id = "RB_" + order.OrderNumber })" target="_blank">RB_@order.OrderNumber</a>
                                                        }
                                                    </td>
                                                    <td>@order.ToName</td>
                                                    <td>@order.ToAddress</td>
                                                    <td>
                                                        @if (order.Status == (int) OrderStatuses.SpecialOrderForDelivery)
                                                        {
                                                            @: Prepare to Delivery
                                                        }
                                                        else if (order.Status == (int) OrderStatuses.SpecialOrderForPickup)
                                                        {
                                                            @: Prepare to Pickup
                                                        }
                                                        else
                                                        {
                                                            @(EnumHelpers.GetDisplayValue((OrderStatuses) order.Status))
                                                        }
                                                    </td>
                                                    <td>@order.Price.ToString("C")</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    @if (string.IsNullOrEmpty(Request["searchTerm"]))
                                    {
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <h4 class="text-right">TOTAL AMOUNT</h4>
                                                </td>
                                                <td>
                                                    <h4>
                                                        <span style="font-size: 1.4em; color: #ec9424">@(item.Orders.Count == 0 ? " " : item.PaymentAmount.ToString("C"))</span>
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    @{
        var page = ViewBag.Page ?? 1;
        var totalPages = ViewBag.TotalPages ?? 1;
        var pages = new List<int> { 1, 2, page - 1, page, page + 1, totalPages - 1, totalPages };
        pages.RemoveAll(x => x < 1 || x > totalPages);
        pages = pages.Distinct().OrderBy(x => x).ToList();

        var isFirstPage = page <= 1;
        var isLastPage = page >= totalPages;
    }
    <div class="pager">
        @if (!isFirstPage)
        {
            <a href="@Url.Action("History", "Order", new
                                                     {
                                                         page = page - 1
                                                     })">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        }


        @foreach (var p in pages)
        {
            <a href="@Url.Action("History", "Order", new
                                                     {
                                                         page = p
                                                     })" @(p == page ? "class=active" : "")>
                @p
            </a>
        }

        @if (!isLastPage)
        {
            <a href="@Url.Action("History", "Order", new
                                                     {
                                                         page = page + 1
                                                     })">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
</div>