﻿@using Courier_Management_System.Helpers
@model List<Courier_Management_System.Models.HistoryPayment>
@{
    ViewBag.Title = "Home";
    var vendor = ViewBag.Vendor;
    var vendors = (ViewBag.Vendors as List<Customer> ?? new List<Customer>()).Select(x => new SelectListItem()
    {
        Text = x.CustomerCompany,
        Value = x.UserName,
        Selected = x.UserName.Equals(vendor, StringComparison.OrdinalIgnoreCase)
    }).ToList();
    // No select option
    vendors.Insert(0, new SelectListItem()
    {
        Text = "-- No Merchant --",
        Value = "",
        Selected = string.IsNullOrEmpty(vendor)
    });
}

@section scripts {
    <script>
        $(function () {
            $('#top_menu ul li:eq(0)').addClass("current");
            $('.datepicker').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true
            });
        });
    </script>
}

<style>
    .datepicker .day {
        background: none;
        color: #000;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">
        <div class="row">
            <form method="get">
                <h3>
                    Please select Date Range:
                    <label style="margin-left: 10px;">From</label>
                    <input class="datepicker" name="startDate" value="@(ViewBag.StartDate.ToString("dd/MM/yyyy"))" />
                    <label style="margin-left: 10px;">To</label>
                    <input class="datepicker" name="endDate" value="@(ViewBag.EndDate.ToString("dd/MM/yyyy"))" />
                </h3>
                <!-- This is for Merchant only -->
                @if (User.IsInRole(AccountHelper.MerchantRole))
                {
                    <h3>
                        Please select Merchant:
                        @Html.DropDownList("Vendor", vendors, new { @class = "selectpicker" })
                    </h3>
                }
                <div>
                    <button type="submit" style="margin-left: 550px;" class="btn btn-info">Apply</button>
                    <br />
                </div>
            </form>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4 col-md-offset-1 col-xs-6 text-center" style="background: #FFD700; color: #fff; padding: 20px;">
                <label>CONFIRMED ORDERS</label>
                <div style="font-size: 3em">@(ViewBag.ConfirmedOrders.ToString("###,##0"))</div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-xs-6 text-center" style="background: #4682B4; color: #fff; padding: 20px;">
                <label>DELIVERED ORDERS</label>
                <div style="font-size: 3em">@(ViewBag.DeliveredOrders.ToString("###,##0"))</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center" style="background: #FA8072; color: #fff; padding: 20px;">
                <label>ITEM IN DEPOT</label>
                <div style="font-size: 3em">@(ViewBag.ItemInDepot.ToString("###,##0"))</div>
            </div>
            <div class="col-md-4 text-center" style="background: #FFA500; color: #fff; padding: 20px;">
                <label>ITEM OUT DEPOT</label>
                <div style="font-size: 3em">@(ViewBag.ItemOutDepot.ToString("###,##0"))</div>
            </div>
            <div class="col-md-4 text-center" style="background: #32CD32; color: #fff; padding: 20px;">
                <label>FAILED DELIVERY</label>
                <div style="font-size: 3em">@(ViewBag.FailedDelivery.ToString("###,##0"))</div>
            </div>
        </div>
    </div>
</div>
