﻿@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.HistoryPayment

@{
    Layout = null;
    var services = ViewBag.Services as List<Service> ?? new List<Service>();
    var sizes = ViewBag.Sizes as List<Size> ?? new List<Size>();
    var total = Model == null ? 0 : Model.PaymentAmount;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Invoice</title>
    <style>
        table tr td {
            border: solid 1px #ccc;
            padding: 5px 10px;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="text-align: left;">
        @if (ViewBag.ErrorMessage != null)
        {
            <div style="color: #ff0000; text-align: center;">@Html.Raw(ViewBag.ErrorMessage)</div>
        }
        else if (Model != null)
        {
            <div>
                Thank you for your order!
                <br />
                If you have any queries regarding your order please contact us at <a href="mailto:info@roadbull.com">info@roadbull.com</a>.
            </div>
            <br />
            <div>
                <div style="float: left; width: 50%">
                    Roadbull Logistics Pte Ltd
                    <br />
                    1 Commonwealth Lane
                    <br />
                    #04-27, One Commonwealth
                    <br />
                    Singapore 149544
                    <br />
                    Website: <a href="http://www.roadbull.com" target="_blank">http://www.roadbull.com</a>
                    <br />
                    <br />
                    RCB Registration No: 201538994R
                </div>
                <div style="float: left; width: 50%">
                    <h2>INVOICE</h2>
                    <br />
                    Invoice #@Model.Id.ToString("000000")
                    <br />
                    Account Type: @(Model.AccountType == (int) PaymentTypes.PrePaid ? "PREPAID" : "POSTPAID")
                    <br />
                    Order Date: @(Model.CreatedOn.ToString("dd/MM/yyyy HH:ss"))
                </div>
            </div>
            <div style="clear: both;"></div>
            <br />
            <div>
                <strong>Bill to:</strong>
                <br />
                @Model.Payer.CustomerName
                <br />
                @Model.Payer.CustomerCompany
                <br />
                @Model.Payer.CustomerAddress
                <br />
                @Model.Payer.CustomerZipCode
                <br />
                @Model.Payer.CustomerPhone
            </div>
            <br />
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                @for (var i = 0; i < Model.Orders.Count; i++)
                {
                    var order = Model.Orders[i];
                    <tr>
                        <td colspan="2"><label>TO</label></td>
                        <td colspan="2"><label>ADDRESS</label></td>
                        <td colspan="2"><label>PHONE</label></td>
                    </tr>
                    <tr>
                        <td colspan="2">@order.ToName</td>
                        <td colspan="2">@(order.ToAddress + ", " + @order.ToZipCode)</td>
                        <td colspan="2">@order.ToMobilePhone</td>
                    </tr>
                    <tr>
                        <td><label>Type of Service</label></td>
                        <td><label>Size</label></td>
                        <td><label>Consignment Number</label></td>
                        <td><label>Price</label></td>
                        <td><label>Qty</label></td>
                        <td><label>Total</label></td>
                    </tr>
                    <tr>
                        <td>@(services.Where(x => x.Id == order.ServiceId).Select(x => x.ServiceName).FirstOrDefault())</td>
                        <td>@(sizes.Where(x => x.Id == order.SizeId).Select(x => x.SizeName).FirstOrDefault())</td>
                        <td>@order.ConsignmentNumber</td>
                        <td>@order.Price.ToString("C")</td>
                        <td>1</td>
                        <td>@order.Price.ToString("C")</td>
                    </tr>
                    if (order.CodOptionOfOrders.Count > 0)
                    {
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="3"><label>Cash On Delivery</label></td>
                        </tr>
                        foreach (var cod in order.CodOptionOfOrders)
                        {
                            total += cod.CodOption.IsChargeInPercentage ? (cod.Amount * cod.CodOption.ChargeAmount) : cod.CodOption.ChargeAmount;
                            <tr>
                                <td colspan="3"></td>
                                <td><label>@(EnumHelpers.GetDisplayValue((CodOptionTypes) cod.CodOption.Type))</label></td>
                                <td>@cod.Amount.ToString("C")</td>
                                <td>@(cod.CodOption.IsChargeInPercentage ? (cod.Amount * cod.CodOption.ChargeAmount).ToString("C") : cod.CodOption.ChargeAmount.ToString("C"))</td>
                            </tr>
                        }
                    }
                }
                @*<tr>
                    <td colspan="5" style="text-align: right">Subtotal</td>
                    <td>@(Model.Orders.Sum(x => x.Price).ToString("C"))</td>
                </tr>*@
                <tr>
                    <td colspan="5" style="text-align: right">
                        <label>Grand Total:</label>
                        <br />
                        <em>Minimum charge of @(SettingProvider.MinimumOrderAmount.ToString("C")) applies</em>
                    </td>
                    <td><label>@total.ToString("C")</label></td>
                </tr>
            </table>
            <br />
            <div>
                <strong>Payment Method: </strong>
                @if (Model.PaymentAccount == null)
                {
                    <label>Paid with Credit Balance</label>
                }
                else if (Model.PaymentAccount.AccountType == (int) PaymentAccountTypes.PaypalAccount)
                {
                    <label>PayPal Website Payments Standard</label>
                }
                else if (Model.PaymentAccount.AccountType == (int) PaymentAccountTypes.VisaCard)
                {
                    <label>Paid by Credit Card</label>
                }
                else if (Model.PaymentAccount.AccountType == (int) PaymentAccountTypes.MasterCard)
                {
                    <label>Paid by Credit Card</label>
                }
                else if (Model.PaymentAccount.AccountType == (int) PaymentAccountTypes.BrainTree)
                {
                    <label>Paid by Credit Card</label>
                }
                @if (Model.AccountType == (int) PaymentTypes.PostPaid)
                {
                    <br/>
                    <h4>Bank Remittance</h4>
                    <strong>Company: </strong>
                    <label>ROADBULL LOGISTICS PTE LTD</label>
                    <br/>
                    <strong>Bank Account Number: </strong>
                    <label>0039337582</label>
                    <br/>
                    <strong>Bank Code: </strong>
                    <label>7171</label>
                    <br/>
                    <strong>Branch Code: </strong>
                    <label>003</label>
                }
            </div>
            <br />
            <em>NOTE: This is a computer-generated invoice/receipt. No signature is needed.</em>
        }
    </div>
    <script>
        window.print();
    </script>
</body>
</html>
