﻿@using System.Globalization
@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Upload e-Market orders";
    var productTypeId = (ViewBag.Service as Service ?? new Service()).ProductTypeId;
    var serviceId = (ViewBag.Service as Service ?? new Service()).Id;
    var customerId = (long)(ViewBag.CustomerId ?? 0);

    var offDayStrs = (SettingProvider.OutOfServiceDays ?? "").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
    var offDays = new List<DateTime>();
    foreach (var day in offDayStrs)
    {
        offDays.Add(DateTime.ParseExact(day, "dd/MM/yyyy", CultureInfo.CurrentCulture, DateTimeStyles.None));
    }

    var availablePickupDateRange = (ViewBag.Service as Service ?? new Service()).AvailablePickupDateRange;
    var pickupTimeslots = ViewBag.PickupTimeSlots as List<SelectListItem> ?? new List<SelectListItem>();
    pickupTimeslots.Insert(0, new SelectListItem()
    {
        Text = "TIME",
        Value = ""
    });
}

@section scripts {
    <script>
        var closeWindowsTime = @(SettingProvider.CloseWindowTime);
        var timeSlots = @Html.Raw(Json.Encode(ViewBag.TimeSlots));
        var holidays = [
            @foreach(var day in offDays)
        {
            <text>
                new Date(@day.Year, @(day.Month - 1), @day.Day),
            </text>
        }
        ];

        var holidayStrs = [
    @foreach(var day in offDayStrs)
        {
            @: '@day',
            }
        ];

        $(function () {
            $('#top_menu ul li:eq(3)').addClass("current");

            $('#basicExample .datepicker').datepicker({
                'format': 'dd/mm/yyyy',
                'daysOfWeekDisabled': [0],
                'datesDisabled': holidayStrs,
                'autoclose': true
            });

            $('#FromZipCode').on("change keypress", function () {
                $('#FromAddress').val("");
                $('#FromBuildingName').val("");
                $.ajax({
                    url: '/api/locations/checkZipCode/' + $('#FromZipCode').val(),
                    type: 'POST',
                    success: function (data) {
                        $('#FromAddress').val(data.UnitNumber + " " + data.StreetName);
                        $('#FromBuildingName').val(data.BuildingName);
                    },
                    error: function() {
                        $('[data-valmsg-for=FromZipCode]').addClass("field-validation-error").text("The Sender's Zip Code field is not valid.");
                    }
                });
            });

            $("#TemplatePicker").on("change", function() {
                $("#template_name").text($(this).find("option:selected").text());
                $("#template_link").attr("href", "/Content/" + $(this).find("option:selected").text() + ".csv");
                if ($(this).find("option:selected").text() == "iCommerce") {
                    $("#template_link").attr("href", "/Content/" + "iCommerce.xlsx");
                }
            });

            var range = "@(availablePickupDateRange)".split(',');
            var minDate = new Date();
            minDate.setDate(minDate.getDate() + parseInt(range[0] || 0));
            var weekend = countWeekendDay(minDate);
            minDate.setDate(minDate.getDate() + weekend);
            var maxDate = new Date();
            maxDate.setDate(maxDate.getDate() + parseInt(range[1] || 0));
            weekend = countWeekendDay(maxDate);
            maxDate.setDate(maxDate.getDate() + weekend);
            $("#PickupDatePicker").datepicker("setStartDate", minDate);
            $("#PickupDatePicker").datepicker("setEndDate", maxDate);
            $("#PickupDatePicker").datepicker("setDaysOfWeekDisabled", [0]);
            $("#PickupDatePicker").datepicker("setDatesDisabled", holidayStrs);
            $("#PickupDatePicker").datepicker().on("changeDate", function(e) {
                $('#PickupDate').val($('#PickupDatePicker').val());

                // Update time slot picker
                $('#PickupTimeSlotId option').removeAttr("disabled");
                $('#PickupTimeSlotId option').show();
                var now = new Date();
                if (e.date.getDate() == now.getDate() && e.date.getMonth() == now.getMonth() && e.date.getFullYear() == now.getFullYear()) {
                    var limitHour = (now.getHours() * 60 + now.getMinutes() + closeWindowsTime) / 60.0;
                    var nowHour = now.getHours() + now.getMinutes() / 60.0;
                    // Grey out out-of-time
                    $('#PickupTimeSlotId option').each(function() {
                        var timeSlot = getTimeSlot($(this).attr("value"));
                        if (timeSlot) {
                            var startTime = new Date(Number(timeSlot.FromTime.substr(1, timeSlot.FromTime.length - 3).substr(5)));
                            var endTime = new Date(Number(timeSlot.ToTime.substr(1, timeSlot.ToTime.length - 3).substr(5)));
                            if (timeSlot.IsAllowPreOrder == true) {
                                if (limitHour >= (startTime.getHours() + startTime.getMinutes() / 60.0) || nowHour > (endTime.getHours() + endTime.getMinutes() / 60.0)) {
                                    $(this).attr("disabled", "disabled");
                                    $(this).hide();
                                    if ($('#PickupTimeSlotId').val() == $(this).attr("value")) {
                                        // Clear default value
                                        $('#PickupTimeSlotId').val("");
                                    }
                                }
                            }
                            else {
                                if (nowHour < (startTime.getHours() + startTime.getMinutes() / 60.0) || nowHour > (endTime.getHours() + endTime.getMinutes() / 60.0)) {
                                    $(this).attr("disabled", "disabled");
                                    $(this).hide();
                                    $('#PickupTimeSlotId').val("");
                                }
                            }
                        }
                    });
                }
            });

            var now = new Date();
            if (minDate.getTime() == maxDate.getTime() && (minDate.getDate() == now.getDate() && minDate.getMonth() == now.getMonth()
                && minDate.getFullYear() == now.getFullYear())) {
                // Select default if there is 1 item only
                $("#PickupDatePicker").val(formatDateTime(minDate));
                $('#PickupDatePicker').attr("disabled", "disabled");
                setTimeout(function() {
                    $('#PickupDatePicker').datepicker("update");
                }, 200);
            }
        });

        function chooseService(day, ele) {
            $(ele).parent().parent().find("a").removeClass("active");
            $(ele).addClass("active");
            $("#SelectService").val(day);
        }

        function countWeekendDay(toDate, fromDate) {
            if (!fromDate) {
                fromDate = new Date();
            } else {
                fromDate = new Date(fromDate);
            }
            var weekendDayCount = 0;
            while (fromDate <= toDate) {
                if (fromDate.getDay() === 0) {
                    // 0 is Sunday, 1 is Monday, ..., 6 is Saturday
                    ++weekendDayCount;
                }
                else {
                    // Off days
                    for (var i = 0; i < holidays.length; i++) {
                        if (holidays[i].getDate() == fromDate.getDate() && holidays[i].getMonth() == fromDate.getMonth() && holidays[i].getFullYear() == fromDate.getFullYear()) {
                            ++weekendDayCount;
                        }
                    }
                }
                fromDate.setDate(fromDate.getDate() + 1);
            }

            return weekendDayCount;
        }

        function getTimeSlot(id) {
            for (var i = 0; i < timeSlots.length; i++) {
                if (timeSlots[i].Id == id) {
                    return timeSlots[i];
                }
            }

            return null;
        }

        function formatDateTime(time) {
            var date = time.getDate() < 10 ? ("0" + time.getDate()) : time.getDate();
            var month = time.getMonth() + 1 < 10 ? ("0" + (time.getMonth() + 1)) : (time.getMonth() + 1);
            var year = time.getFullYear();
            return date + "/" + month + "/" + year;
        }

        function submitForm() {
            $('span[data-valmsg-for="SelectService"]').text("");
            $('span[data-valmsg-for="PickupDate"]').text("");
            $('span[data-valmsg-for="PickupTimeSlotId"]').text("");
            if (!$('#SelectService').val()) {
                $('span[data-valmsg-for="SelectService"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose Service type");
                return false;
            }

            if (!$("#PickupDate").val()) {
                $('span[data-valmsg-for="PickupDate"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose Pickup date");
                return false;
            }

            if (!$("#PickupTimeSlotId").val()) {
                $('span[data-valmsg-for="PickupTimeSlotId"]').removeClass("field-validation-valid").addClass("field-validation-error").text("Please choose Pickup time");
                return false;
            }

            return true;
        }
    </script>
}

<div class="content_bg05">
    <div class="dnn_layout">

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
        }

        @if (ViewBag.Customer != null && ViewBag.Service != null)
        {
            <form method="POST" enctype="multipart/form-data" class="form_box">
                @Html.AntiForgeryToken()
                @Html.Hidden("ProductTypeId", productTypeId)
                @Html.Hidden("ServiceId", serviceId)
                @Html.Hidden("CustomerId", customerId)
                @Html.Hidden("SelectService")

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3 style="font-size: 22px;">
                                    <label class="text-left" style="display: block;">1. SELECT SERVICE TYPE</label>
                                </h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <a href="javascript:void(0);" class="full-button" onclick="chooseService(1, this)"><h2>STANDARD PARCEL(S) 1 DAY</h2></a>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <a href="javascript:void(0);" class="full-button" onclick="chooseService(2, this)"><h2>STANDARD PARCEL(S) 2 DAYS</h2></a>
                                    </div>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="SelectService" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 style="font-size: 22px;">
                                            <label class="text-left" style="display: block;">2. SELECT PICK UP DETAILS</label>
                                        </h3>
                                    </div>
                                    <div class="col-md-4 col-sm-12 date_one" id="basicExample">
                                        <h3>
                                            <label class="text-left" style="display: block;">PICKUP DATE</label>
                                        </h3>
                                        <input type="hidden" name="PickupDate" id="PickupDate" data-val-date="The field When do you want to pickup (date)? must be a date." data-val="true" />
                                        <input class="start datepicker" data-val="false" id="PickupDatePicker" name="PickupDatePicker" placeholder="DATE" type="text" />
                                        <span class="caret"></span>
                                        <span class="field-validation-valid" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-md-8 col-sm-12 time_one" id="basicExample">
                                        <h3>
                                            <label class="text-left" style="display: block;">PICKUP TIME</label>
                                        </h3>
                                        <select name="PickupTimeSlotId" id="PickupTimeSlotId" class="time start" placeholder="TIME" data-val="true" data-val-required="The Pickup Time is required">
                                            @foreach (var item in pickupTimeslots)
                                            {
                                                <option value="@item.Value" disabled="disabled" style="display: none;">@item.Text</option>
                                            }
                                        </select>
                                        <span class="caret"></span>
                                    </div>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="PickupDate" data-valmsg-replace="true"></span>
                                <span class="field-validation-valid" data-valmsg-for="PickupTimeSlotId" data-valmsg-replace="true"></span>
                                <div>
                                    <h3>
                                        <label class="text-left" style="display: block;">FROM NAME</label>
                                    </h3>
                                    <input class="FROM valid" data-val="true" data-val-required="The Sender's Name is required" id="FromName" name="FromName" placeholder="FROM NAME" type="text" value="@ViewBag.FromName" aria-required="true" aria-invalid="false" aria-describedby="FromName-error">
                                    <span class="field-validation-valid" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                        <h3>
                                            <label class="text-left" style="display: block;">POSTAL CODE</label>
                                        </h3>
                                        <input class="FROM" data-val="true" data-val-required="The Sender's Zip Code field is required." id="FromZipCode" name="FromZipCode" placeholder="POSTAL CODE" type="text" value="@ViewBag.FromZipCode">
                                        <span class="field-validation-valid" data-valmsg-for="FromZipCode" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 form_two_img">
                                        <h3>
                                            <label class="text-left" style="display: block;">STREET NUMBER AND NAME</label>
                                        </h3>
                                        <input class="FROM" data-val="true" data-val-required="The Sender's Address is required" id="FromAddress" name="FromAddress" placeholder="FROM" type="text" value="@ViewBag.FromAddress">
                                        <span class="field-validation-valid" data-valmsg-for="FromAddress" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <h3>
                                            <label class="text-left" style="display: block;">UNIT NUMBER</label>
                                        </h3>
                                        <input id="FromUnitNumber" name="FromUnitNumber" placeholder="UNIT NO." type="text" value="@ViewBag.FromUnitNumber">
                                        <span class="field-validation-valid" data-valmsg-for="FromUnitNumber" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-sm-8 col-xs-8">
                                        <h3>
                                            <label class="text-left" style="display: block;">BUILDING NAME</label>
                                        </h3>
                                        <input id="FromBuildingName" name="FromBuildingName" placeholder="BUILDING NAME" type="text" value="@ViewBag.FromBuildingName">
                                        <span class="field-validation-valid" data-valmsg-for="FromBuildingName" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <label class="text-left" style="display: block;">MOBILE NUMBER</label>
                                    </h3>
                                    <input class="FROM" data-val="true" data-val-regex="The Mobile Number field is not a valid mobile number." data-val-regex-pattern="[3689][0-9]{7}" data-val-required="The Sender's Mobile phone field is required." id="FromMobilePhone" name="FromMobilePhone" placeholder="MOBILE NUMBER" type="text" value="@ViewBag.FromMobilePhone">
                                    <span class="field-validation-valid" data-valmsg-for="FromMobilePhone" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form_box">
                            <div class="form_top">
                                <h3 style="font-size: 22px;">
                                    <label class="text-left" style="display: block;">3. SELECT E-MARKET TEMPLATE</label>
                                </h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 date_one" id="basicExample">
                                        <select name="TemplatePicker" id="TemplatePicker" class="start" placeholder="TEMPLATE" data-val="true" data-val-required="You must choose a template.">
                                            <option value="">-- SELECT A TEMPLATE --</option>
                                            <option value="Groupon">GROUPON</option>
                                            <option value="Qoo10">Qoo10</option>
                                            <option value="MLS">MLS</option>
                                            <option value="iCommerce">iCommerce</option>
                                        </select>
                                        <span class="caret" style="top: 40%;"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input name="UploadFile" type="file" style="display: inline-block" />
                                    </div>
                                </div>
                                <div>
                                    <span class="field-validation-valid" data-valmsg-for="TemplatePicker" data-valmsg-replace="true"></span>
                                    Download sample template for <span id="template_name"></span>: <a id="template_link">Download</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="submit" lang="Submit" value="UPLOAD E-MARKET ORDERS" title="UPLOAD E-MARKET ORDERS" onClick="return submitForm();" />
            </form>
        }
    </div>
</div>