﻿@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@model List<PaymentAccount>

@{
    ViewBag.Title = "Selecting Payment Method";
    var model = ViewBag.PaymentAccount as PaymentAccountViewModel ?? new PaymentAccountViewModel();
    var customer = ViewBag.Customer as Customer ?? new Customer();
}

@section scripts {
    <script>
        @*var paypal = @((int)PaymentAccountTypes.PaypalAccount);
        var reopenAdd = "@(ViewBag.ReopenAdd == true ? "True" : "False")";
        $(function() {
            $('#AccountType').on('change', function () {
                $('.for-credit-card').hide();
                if ($('#AccountType').val() != paypal) {
                    // Show credit card info
                    $('.for-credit-card').show();
                }
            });

            if (reopenAdd == "True") {
                showAddPayment();

                $('#AccountType').val(@(model.AccountType));
                $('#AccountType').trigger('change');
                $('#FirstName').val('@(model.FirstName)');
                $('#LastName').val('@(model.LastName)');
                $('#CardNumber').val('@(model.CardNumber)');
                $('#ExpireMonth').val(@(model.ExpireMonth));
                $('#ExpireYear').val(@(model.ExpireYear));
                $('#Currency').val('@(model.Currency)');
            }
        });

        function showAddPayment() {
            $('#addPaymentBlock').slideDown();
        }

        function checkSubmit() {
            $('.add-payment input, add-payment.select').removeClass("input-validation-error");
            $('.field-validation-error').text("");

            // Validate all info
            if (!$('#AccountType').val()) {
                $('#AccountType').addClass("input-validation-error");
                $('#AccountType').focus();
                $('#AccountType').next('.field-validation-error').text('Account Type must be chosen.');
                return false;
            }

            if (!$('#FirstName').val()) {
                $('#FirstName').addClass("input-validation-error");
                $('#FirstName').focus();
                $('#FirstName').next('.field-validation-error').text('First Name is required.');
                return false;
            }

            if (!$('#LastName').val()) {
                $('#LastName').addClass("input-validation-error");
                $('#LastName').focus();
                $('#LastName').next('.field-validation-error').text('Last Name is required.');
                return false;
            }

            if ($('#AccountType').val() != paypal) {
                if (!$('#CardNumber').val()) {
                    $('#CardNumber').addClass("input-validation-error");
                    $('#CardNumber').focus();
                    $('#CardNumber').next('.field-validation-error').text('Card Number is required.');
                    return false;
                }

                if (!$('#CardCVV').val()) {
                    $('#CardCVV').addClass("input-validation-error");
                    $('#CardCVV').focus();
                    $('#CardCVV').next('.field-validation-error').text('Card CVV is required.');
                    return false;
                }

                if (!$('#ExpireMonth').val()) {
                    $('#ExpireMonth').addClass("input-validation-error");
                    $('#ExpireMonth').focus();
                    $('#ExpireMonth').next('.field-validation-error').text('Expire Month must be chosen.');
                    return false;
                }

                if (!$('#ExpireYear').val()) {
                    $('#ExpireYear').addClass("input-validation-error");
                    $('#ExpireYear').focus();
                    $('#ExpireYear').next('.field-validation-error').text('Expire Year must be chosen.');
                    return false;
                }

                if (!$('#Currency').val()) {
                    $('#Currency').addClass("input-validation-error");
                    $('#Currency').focus();
                    $('#Currency').next('.field-validation-error').text('Currency must be chosen.');
                    return false;
                }
            }

            return true;
        }*@

        function formSubmit() {
            $('form.payments button[type=submit]').hide();
            $('form.payments #payment-form').hide();
            $('.or').hide();
            $('.form_top').append("<div class='alert alert-warning' role='alert'>We are processing your request. Please wait...</div>");
        }

    </script>
}

<div class="content_bg05">
    <div class="dnn_layout">

        <div class="row">
            <div class="col-sm-12">
                <div class="form_box">
                    <ul class="nav nav-wizard">
                        <li><a>Review Order</a></li>
                        <li><a>Confirm Order</a></li>
                        <li><a>Add to Cart</a></li>
                        <li class="active"><a>Payment</a></li>
                    </ul>

                    <div class="form_top">
                        <h3>
                            <label class="text-left" style="display: block;">PAYMENT METHODS</label>
                        </h3>

                        @if (ViewBag.PaymentError != null)
                        {
                            <div class="alert alert-danger">@Html.Raw(ViewBag.PaymentError)</div>
                        }

                        <form class="payments" method="POST" action="@Url.Action("Payment", "Order")" onsubmit="formSubmit()">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@ViewBag.ConsignmentNumbers" />

                            <div class="payment-item" style="padding-right: 0;">
                                <button type="submit" name="PaymentAccountId" value="0">Credit Account (@(customer.Credit.ToString("C")))</button>
                            </div>
                        </form>
                        <div class="or" style="font-style: italic; font-size: 1.4em; padding: 15px 0;">- or -</div>

                        <form class="payments" method="POST" action="@Url.Action("Payment", "Order")" onsubmit="formSubmit()">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@ViewBag.ConsignmentNumbers"/>

                            <img src="@Url.Content("~/Content/visa_mastercard_1.gif")" alt="VISA - MASTER CARD" />
                            <div id="payment-form"></div>
                            <h3 class="text-left margin-bottom">
                                Please note that there will be an administrative charge of 3.9% + S$0.50 per transaction.
                            </h3>
                            <div class="payment-item" style="padding-right: 0;">
                                <button type="submit" name="PaymentAccountId" value="-1" style="text-align: center;">Pay</button>
                            </div>

                            @*@for (var i = 0; i < Model.Count; i++)
                                {
                                    <div class="payment-item">
                                        @if (Model[i].AccountType == (int) PaymentAccountTypes.PaypalAccount)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@Model[i].Id">Paypal Account of @Model[i].LastName @Model[i].FirstName</button>
                                        }
                                        else if (Model[i].AccountType == (int) PaymentAccountTypes.VisaCard)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@Model[i].Id">Visa Credit Card (@Model[i].CardNumber)</button>
                                        }
                                        else if (Model[i].AccountType == (int) PaymentAccountTypes.MasterCard)
                                        {
                                            <button type="submit" name="PaymentAccountId" value="@Model[i].Id">Master Credit Card (@Model[i].CardNumber)</button>
                                        }
                                    </div>
                                }*@
                        </form>

                        @*<a class="button" href="javascript:void(0)" onclick="showAddPayment()">+ Add Payment Method</a>

                            <form id="addPaymentBlock" method="POST" class="add-payment" onsubmit="return checkSubmit();">
                                <hr />
                                @Html.AntiForgeryToken()
                                <div>
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                                    }
                                    <h3>
                                        <label class="text-left" style="display: block;">ACCOUNT TYPE</label>
                                    </h3>
                                    <select id="AccountType" name="AccountType">
                                        <option value="">Choose Account Type</option>
                                        @foreach (var type in EnumHelper.GetSelectList(typeof(PaymentAccountTypes)))
                                        {
                                            <option value="@type.Value">@type.Text</option>
                                        }
                                    </select>
                                    <span class="field-validation-error"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <h3>
                                            <label class="text-left" style="display: block;">FIRST NAME</label>
                                        </h3>
                                        <input type="text" id="FirstName" name="FirstName"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                                        <h3>
                                            <label class="text-left" style="display: block;">LAST NAME</label>
                                        </h3>
                                        <input type="text" id="LastName" name="LastName"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="row for-credit-card">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <h3>
                                            <label class="text-left" style="display: block;">CARD NUMBER</label>
                                        </h3>
                                        <input type="text" id="CardNumber" name="CardNumber"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <h3>
                                            <label class="text-left" style="display: block;">CVV</label>
                                        </h3>
                                        <input type="text" id="CardCVV" name="CardVV" />
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="row for-credit-card">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <h3>
                                            <label class="text-left" style="display: block;">EXPIRE MONTH</label>
                                        </h3>
                                        <select id="ExpireMonth" name="ExpireMonth">
                                            <option value="">MONTH</option>
                                            @for (var i = 1; i <= 12; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <h3>
                                            <label class="text-left" style="display: block;">EXPIRE YEAR</label>
                                        </h3>
                                        <select id="ExpireYear" name="ExpireYear">
                                            <option value="">YEAR</option>
                                            @for (var i = 1980; i <= 2100; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <h3>
                                            <label class="text-left" style="display: block;">CURRENCY</label>
                                        </h3>
                                        <select id="Currency" name="Currency">
                                            <option value="">CURRENCY</option>
                                            <option value="SGD">SGD</option>
                                            <option value="USD">USD</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>

                                <div>
                                    <button class="button" type="submit">Submit</button>
                                </div>
                            </form>*@

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>
<script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var clientToken = "@Html.Raw(ViewBag.BrainTreeClientToken)";

    braintree.setup(clientToken, "dropin", {
        container: "payment-form",
        onError: function () {
            $('form.payments button[type=submit]').show();
            $('form.payments #payment-form').show();
            $('.or').show();
            $('.form_top .alert').remove();
        }
    });
</script>