﻿@{
    ViewBag.Title = "Reports";
}
@section scripts {
    <script>
        $(function () {
            $('#top_menu ul li:eq(0)').addClass("current");
            $('.datepicker').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true
            });
        });
    </script>
}

<style>
    .datepicker .day {
        background: none;
        color: #000;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Delivery Summary Report
                </div>
                <div class="panel-body">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                    }
                    @using (Html.BeginForm("ExportToExcel", "Order", FormMethod.Post))
                    {
                        <h3>
                            Please select Date Range:
                            <label style="margin-left: 10px;">From</label>
                            <input class="datepicker" name="StartDate" value="" />
                            <label style="margin-left: 10px;">To</label>
                            <input class="datepicker" name="EndDate" value="" />

                        </h3>
                        <div>
                            <button type="submit" style="margin-left: 550px;" class="btn btn-info">Export to Excel</button>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
