﻿@using Courier_Management_System.Helpers

@{
    ViewBag.Title = "Shipment Tracking";
    var orders = ViewBag.Orders as List<Order> ?? new List<Order>();
    var groups = orders.GroupBy(x => x.GroupTrackingNumber);
    var trackings = ViewBag.OrderTrackings as List<OrderTracking> ?? new List<OrderTracking>();
}

<style>
    table tr td {
        vertical-align: middle !important;
    }
</style>

<div class="content_bg05">
    <div class="dnn_layout">

        <div class="row">
            <div class="col-sm-12">
                <div class="form_box">
                    <div class="form_top">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</div>
                        }
                        else
                        {
                            <h3 class="text-left" style="padding-bottom: 10px;">
                                <label>TRACKING PROGRESS</label>
                                <a class="pull-right btn btn-primary" href="@Url.Action("PrintCode", "Order", new
                                                                            {
                                                                                id = ViewBag.CNI
                                                                            })" target="_blank">Print All QR Codes</a>
                                <a class="pull-right btn btn-primary" style="margin-right: 10px;" href="@Url.Action("ExportTracking", "Order", new
                                                                            {
                                                                                id = ViewBag.CNI,
                                                                                check = ViewBag.Check
                                                                            })" target="_blank">Export All</a>
                            </h3>

                            var groupIdx = 0;
                            foreach (var group in groups)
                            {
                                if (!string.IsNullOrEmpty(group.Key))
                                {
                                    @: <div style="padding: 10px; background: @(groupIdx % 2 == 0 ? "#f0f0f0" : "#ffffff")">
                                        <h3 style="text-align: left;">GroupTrackingNumber: <strong>@group.Key</strong></h3>
                                    ++groupIdx;
                                }

                                var i = 0;
                                foreach (var order in group)
                                {
                                    var tracking = trackings.Where(x => x.ConsignmentNumber.Equals(order.ConsignmentNumber, StringComparison.OrdinalIgnoreCase) && x.Status != (int)OrderStatuses.OrderSubmitted && x.Status != (int)OrderStatuses.SpecialOrderForDelivery && x.Status != (int)OrderStatuses.SpecialOrderForPickup).OrderBy(x => x.CreatedOn).ToList();

                                    if (ViewBag.Check == true)
                                    {
                                        tracking = tracking.OrderByDescending(x => x.CreatedOn).Take(1).ToList();
                                    }

                                    if (i > 0)
                                    {
                                        <hr />
                                    }
                                    ++i;

                                    <h4 style="line-height: 34px;">
                                         RB-Consignment #@order.ConsignmentNumber 
                                       <br />
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  OrderTrackingNumber RB_@order.OrderNumber
                                            <a class="pull-right btn btn-primary" href="@Url.Action("PrintCode", "Order", new { id = order.ConsignmentNumber })" target="_blank">Print QR Code</a>
                                        </h4>
                                    <div class="clearfix"></div>

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Progress</th>
                                                    <th>At Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (tracking.Count > 0)
                                                {
                                                    var count = 0;
                                                    for (var j = 0; j < tracking.Count; j++)
                                                    {
                                                        if (j < tracking.Count - 1 && tracking[j].Status == tracking[j + 1].Status)
                                                        {
                                                            continue;
                                                        }
                                                        ++count;
                                                        <tr>
                                                            <th scope="row">@count</th>
                                                            <td>
                                                                @if (tracking[j].Status == (int)OrderStatuses.ItemCollected)
                                                                {
                                                                    <img style="max-width: 100px;" src="@Url.Content("~/images/Item_Collected.png")" alt="Item Is Collected" />
                                                                    <br />
                                                                }
                                                                else if (tracking[j].Status == (int)OrderStatuses.ItemInDepot)
                                                                {
                                                                    <img style="max-width: 100px;" src="@Url.Content("~/images/Item_At_Warehouse.png")" alt="Item Is In Warehouse" />
                                                                    <br />
                                                                }
                                                                else if (tracking[j].Status == (int)OrderStatuses.ItemOutDepot)
                                                                {
                                                                    <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_In_Progress.png")" alt="Item Is Out Warehouse" />
                                                                    <br />
                                                                }
                                                                else if (tracking[j].Status == (int)OrderStatuses.ItemDelivered)
                                                                {
                                                                    <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_Successful.png")" alt="Item Is Delivered" />
                                                                    <br />
                                                                }
                                                                else if (tracking[j].Status == (int)OrderStatuses.DeliveryFailed)
                                                                {
                                                                    <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_Unsuccessful.png")" alt="Delivery Failed" />
                                                                    <br />
                                                                }
                                                                @EnumHelpers.GetDisplayValue((OrderStatuses)tracking[j].Status)
                                                            </td>
                                                            <td>@(tracking[j].CreatedOn.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    if (order.Status >= (int)OrderStatuses.OrderConfirmed)
                                                    {
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Confirmed</td>
                                                            <td>@(order.ConfirmedOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    if (order.Status == (int)OrderStatuses.OrderCanceled)
                                                    {
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Order is Canceled</td>
                                                            <td>@(order.CanceledOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    else if (order.Status == (int)OrderStatuses.PickupFailed)
                                                    {
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Pickup Failed</td>
                                                            <td>@(order.CollectedOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    else if (order.Status >= (int)OrderStatuses.ItemCollected && order.Status != (int)OrderStatuses.SpecialOrderForPickup)
                                                    {
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>
                                                                <img style="max-width: 100px;" src="@Url.Content("~/images/Item_Collected.png")" alt="Item Is Collected" />
                                                                <br />
                                                                Item is Collected
                                                            </td>
                                                            <td>@(order.CollectedOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    if (order.Status >= (int)OrderStatuses.ItemInDepot && order.Status != (int)OrderStatuses.OrderCanceled && order.Status != (int)OrderStatuses.SpecialOrderForPickup)
                                                    {
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>
                                                                <img style="max-width: 100px;" src="@Url.Content("~/images/Item_At_Warehouse.png")" alt="Item Is In Warehouse" />
                                                                <br />
                                                                Item is in Warehouse
                                                            </td>
                                                            <td>@(order.ProceededOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    if (order.Status >= (int)OrderStatuses.ItemOutDepot && order.Status != (int)OrderStatuses.OrderCanceled && order.Status != (int)OrderStatuses.SpecialOrderForPickup && order.Status != (int)OrderStatuses.SpecialOrderForDelivery)
                                                    {
                                                        <tr>
                                                            <th scope="row">4</th>
                                                            <td>
                                                                <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_In_Progress.png")" alt="Item Is Out Warehouse" />
                                                                <br />
                                                                Item is out Warehouse
                                                            </td>
                                                            <td>@(order.ProceededOutOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    if (order.Status == (int)OrderStatuses.ItemDelivered)
                                                    {
                                                        <tr>
                                                            <th scope="row">5</th>
                                                            <td>
                                                                <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_Successful.png")" alt="Item Is Delivered" />
                                                                <br />
                                                                Item Is Delivered
                                                            </td>
                                                            <td>@(order.DeliveredOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                    else if (order.Status == (int)OrderStatuses.DeliveryFailed)
                                                    {
                                                        <tr>
                                                            <th scope="row">5</th>
                                                            <td>
                                                                <img style="max-width: 100px;" src="@Url.Content("~/images/Delivery_Unsuccessful.png")" alt="Delivery Failed" />
                                                                <br />
                                                                Delivery Failed
                                                            </td>
                                                            <td>@(order.DeliveredOn?.ToString("dddd dd/MM/yyyy hh:mm:ss tt"))</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <br />

                                }

                                if (!string.IsNullOrEmpty(group.Key))
                                {
                                    @: </div>
                                }
                            }
                        }
                    </div>



                </div>
            </div>
            <br />
            <em>(*) Bullet Service will be delivered within 3 hours and Bullet Return Service will be delivered within 4 hours.</em>
            <br /><em>(*) Bullet Services shall commence from 9 am for all bookings done between 00:00  to 08:59 hours.</em>
        </div>

    </div>
</div>