﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Hello @User.Identity.GetUserName()!</a>
        </li>
        <li><a href="@Url.Action("Logout", "Home")">Log off</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@FormsAuthentication.LoginUrl">Log in</a>
        </li>
    </ul>
}
