﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers

@model Courier_Management_System.Models.AddEditCountryViewModel

@{
    ViewBag.Title = "Add Country";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-add-country').addClass("active");
            $('#menu-add-country').parents('.treeview').addClass("active");
            $('#menu-add-country').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function onFileUploadComplete(e) {
            if (e.callbackData) {
                var fileData = e.callbackData.split('|');
                var fileName = fileData[0],
                    fileUrl = fileData[1],
                    fileSize = fileData[2];

                $('#countryImg').attr("src", fileUrl);
                $('#CountryImage').val(fileUrl);
            }
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.CountryCode) (*)
                            @Html.TextBoxFor(m => m.CountryCode, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.CountryCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            <div>@Html.LabelFor(m => m.CountryImage)</div>
                            <div style="float: left; width: 100px; height: 100px; border: dashed 1px #555; overflow: hidden; text-align: center;">
                                <img style="max-width: 100%; max-height: 100%;" id="countryImg" src="@(!string.IsNullOrEmpty(Model?.CountryImage) ? Url.Content(Model.CountryImage) : "")" />
                                @Html.HiddenFor(m => m.CountryImage)
                            </div>
                            <div style="margin-left: 115px;">
                                @Html.DevExpress().UploadControl(
                                    settings =>
                                    {
                                        settings.Name = "uploadControl";
                                        settings.CallbackRouteValues = new
                                        {
                                            Controller = "Countries",
                                            Action = "PhotoUpload"
                                        };

                                        settings.Width = Unit.Percentage(100);
                                        settings.ShowProgressPanel = true;
                                        settings.ShowUploadButton = true;
                                        settings.AdvancedModeSettings.EnableMultiSelect = false;
                                        settings.AdvancedModeSettings.EnableFileList = false;
                                        settings.AdvancedModeSettings.EnableDragAndDrop = true;
                                        settings.NullText = "Select photo file...";

                                        settings.ValidationSettings.Assign(PathHelper.UploadSettings);

                                        settings.ClientSideEvents.FileUploadComplete = "function(s,e) { onFileUploadComplete(e); }";
                                    }).GetHtml()
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
