@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using Newtonsoft.Json
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var db = new CourierDBEntities();

    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewJobs";
        settings.CallbackRouteValues = new
        {
            Controller = "Jobs",
            Action = "HistoryListViewPartial"
        };

        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView) sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Caption = "Orders";
            column.Width = Unit.Pixel(200);
            column.SetFilterTemplateContent(e =>
            {
                Html.DevExpress().TextBox(textSettings =>
                {
                    textSettings.Name = "orderSearch";
                    textSettings.Width = Unit.Percentage(100);
                    textSettings.Text = ViewBag.SearchOrder;
                    textSettings.Properties.ClientSideEvents.ValueChanged = "function(s, e) { gridViewJobs.PerformCallback({ order: s.GetValue() }); $('#SearchOrderText').val(s.GetValue()); }";
                }).Render();
            });
            column.SetDataItemTemplateContent(e =>
            {
                var row = (DriverReportViewModel) e.Grid.GetRow(e.VisibleIndex);
                if ((row.Orders == null || row.Orders.Count == 0) && !string.IsNullOrEmpty(row.Routes) && row.Routes.Contains("{"))
                {
                    var route = JsonConvert.DeserializeObject<JobViewModel>(row.Routes);
                    var orderIds = route.Locations.Where(x => !string.IsNullOrEmpty(x.OrderId)).Select(x => x.OrderId).Distinct().ToList();
                    var ids = new List<string>();
                    foreach (var orderId in orderIds)
                    {
                        ids.AddRange(orderId.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
                    }
                    ids = ids.Distinct().ToList();
                    var orders = db.Orders.Where(x => !x.IsDeleted && ids.Contains(x.Id.ToString())).ToList();
                    for (var i = 0; i < orders.Count; i++)
                    {
                        ViewContext.Writer.Write($"<a style='{(string.IsNullOrEmpty(orders[i].Remark) ? "" : "color: #a94442;")}' href='javascript:showOrderDetail(\"{orders[i].ConsignmentNumber}\")'>{orders[i].ConsignmentNumber}</a>");
                        if (i < orders.Count - 1)
                        {
                            ViewContext.Writer.Write(", ");
                        }
                    }
                }
                else
                {
                    for (var i = 0; i < row.Orders.Count; i++)
                    {
                        ViewContext.Writer.Write($"<a style='{(string.IsNullOrEmpty(row.Orders[i].Remark) ? "" : "color: #a94442;")}' href='javascript:showOrderDetail(\"{row.Orders[i].ConsignmentNumber}\")'>{row.Orders[i].ConsignmentNumber}</a>");
                        if (i < row.Orders.Count - 1)
                        {
                            ViewContext.Writer.Write(", ");
                        }
                    }
                }
            });
        });
        settings.Columns.Add("VehicleNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("VehicleType").Width = Unit.Pixel(200);
        settings.Columns.Add("UserName").Width = Unit.Pixel(200);
        settings.Columns.Add("Name").Width = Unit.Pixel(200);
        settings.Columns.Add("CountryCode").Width = Unit.Pixel(140);
        settings.Columns.Add("MobileNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("ICNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("TakenOn", MVCxGridViewColumnType.DateEdit).Width = Unit.Pixel(200);

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback({ order: $('#SearchOrderText').val() }); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = JobsController.GetHistoryJobs(ViewBag.SearchOrder);
}).GetHtml()
