@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using Newtonsoft.Json
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var db = new CourierDBEntities();
    db.Database.CommandTimeout = 600;

    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewJobs";
        settings.CallbackRouteValues = new
        {
            Controller = "Jobs",
            Action = "ListViewPartial"
        };

        settings.SettingsEditing.DeleteRowRouteValues = new
        {
            Controller = "Jobs",
            Action = "ListViewPartialDelete"
        };

        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView) sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(300);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (DriverReportViewModel) e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"Job ID: <strong>{row.Id}</strong>" + (row.CompletedOn.HasValue ? " - Complete on: " + row.CompletedOn.Value.ToString("MM/dd/yyyy HH:mm:ss") : " - Not complete") + "<br />");
                Html.RenderPartial("_DriversComboBox", row);
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchDeleteJob))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-maroon btn-block' style='margin-top: 5px;' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span> Delete</a>");
                }
            });
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Orders";
            column.Width = Unit.Pixel(200);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (DriverReportViewModel) e.Grid.GetRow(e.VisibleIndex);
                if (!string.IsNullOrEmpty(row.Routes))
                {
                    var route = JsonConvert.DeserializeObject<JobViewModel>(row.Routes);
                    var ids = new List<string>();
                    foreach (var step in route.Route.Steps)
                    {
                        var orderId = route.Locations[step - 1].OrderId;
                        if (!string.IsNullOrEmpty(orderId))
                        {
                            ids.AddRange(orderId.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries));
                        }
                    }

                    ids = ids.Distinct().ToList();
                    var details = JobsController.GetDetailJobs(row.Id);
                    
                    ViewContext.Writer.Write($"Total orders: <strong>{details.TotalOrders:N0}</strong><br />");
                    ViewContext.Writer.Write($"Total completed: <strong>{details.Completed:N0}</strong><br />");
                    ViewContext.Writer.Write($"Total failed: <strong>{details.Failed:N0}</strong><br />");
                    ViewContext.Writer.Write($"Total In Progress: <strong>{details.InProgress:N0}</strong><br />");
                    ViewContext.Writer.Write($"Others: <strong>{details.Others:N0}</strong><br />");
                    ViewContext.Writer.Write($"<a class='btn bg-navy btn-block' style='margin-top: 5px;' href='javascript:showOrderList({row.Id})'>View detail list</a>");
                    //var orders = db.Orders.Where(x => !x.IsDeleted && ids.Contains(x.Id.ToString()))
                    //               .Select(x => new
                    //                            {
                    //                                x.Remark,
                    //                                x.ConsignmentNumber
                    //                            }).ToList();
                    //for (var i = 0; i < orders.Count; i++)
                    //{
                    //    ViewContext.Writer.Write($"<a style='{(string.IsNullOrEmpty(orders[i].Remark) ? "" : "color: #a94442;")}' href='javascript:showOrderDetail(\"{orders[i].ConsignmentNumber}\")'>{orders[i].ConsignmentNumber}</a>");
                    //    if (i < orders.Count - 1)
                    //    {
                    //        ViewContext.Writer.Write(", ");
                    //    }
                    //}
                }
            });
        });
        settings.Columns.Add("VehicleNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("VehicleType").Width = Unit.Pixel(200);
        settings.Columns.Add("UserName").Width = Unit.Pixel(200);
        settings.Columns.Add("Name").Width = Unit.Pixel(200);
        settings.Columns.Add("CountryCode").Width = Unit.Pixel(140);
        settings.Columns.Add("MobileNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("ICNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("TakenOn", MVCxGridViewColumnType.DateEdit).Width = Unit.Pixel(200);

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = JobsController.GetJobs(); }).GetHtml()