﻿
@model Order

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var db = new CourierDBEntities();
    var pickupTime = Model != null ? db.TimeSlots.FirstOrDefault(x => !x.IsDeleted && x.Id == Model.PickupTimeSlotId) : null;
    var deliveryTime = Model != null ? db.TimeSlots.FirstOrDefault(x => !x.IsDeleted && x.Id == Model.DeliveryTimeSlotId) : null;
}

@if (Model != null)
{
    <div>
        <label>Consignment Number:</label>
        @Model.ConsignmentNumber
    </div>
    <div>
        <label>Bin Code:</label>
        @Model.BinCode
    </div>
    <div>
        <label>From Name:</label>
        @Model.FromName
    </div>
    <div>
        <label>From Postal code:</label>
        @Model.FromZipCode
    </div>
    <div>
        <label>From Address:</label>
        @Model.FromAddress
    </div>
    <div>
        <label>From Mobile:</label>
        @Model.FromMobilePhone
    </div>
    <div>
        <label>To Name:</label>
        @Model.ToName
    </div>
    <div>
        <label>To Postal code:</label>
        @Model.ToZipCode
    </div>

    <div>
        <label>To Address:</label>
        @Model.ToAddress
    </div>
    <div>
        <label>To Mobile:</label>
        @Model.ToMobilePhone
    </div>
    <div>
        <label>Pickup Date:</label>
        @(Model.PickupDate?.ToString("dddd, dd/MM/yyyy") ?? "")
    </div>
    <div>
        <label>Pickup Time:</label>
        @(pickupTime != null ? (pickupTime.TimeSlotName + " (" + pickupTime.FromTime.ToString("HH:mm") + "-" + pickupTime.ToTime.ToString("HH:mm") + ")") : "")
    </div>
    <div>
        <label>Delivery Date:</label>
        @(Model.DeliveryDate?.ToString("dddd, dd/MM/yyyy") ?? "")
    </div>
    <div>
        <label>Delivery Time:</label>
        @(deliveryTime != null ? (deliveryTime.TimeSlotName + " (" + deliveryTime.FromTime.ToString("HH:mm") + "-" + deliveryTime.ToTime.ToString("HH:mm") + ")") : "")
    </div>
    <div>
        <label>Remark:</label>
        @Html.Raw((Model.Remark ?? "").Replace("\n", "<br />"))
    </div>
}
