@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewJobs";
        settings.CallbackRouteValues = new
        {
            Controller = "Jobs",
            Action = "SpecialListViewPartial"
        };

        settings.SettingsEditing.DeleteRowRouteValues = new
        {
            Controller = "Jobs",
            Action = "SpecialListViewPartialDelete"
        };

        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }

                                            ((MVCxGridView) sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;
        settings.CommandColumn.Caption = "Select";

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        //settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(300);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (DriverReportViewModel) e.Grid.GetRow(e.VisibleIndex);
                Html.RenderPartial("_DriversComboBox", row);
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchDeleteJob))
                {
                    ViewContext.Writer.Write($"<a class='btn bg-maroon btn-block' style='margin-top: 5px;' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span> Delete</a>");
                }
            });
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Orders";
            column.Width = Unit.Pixel(200);
            column.SetDataItemTemplateContent(e =>
            {
                var row = (DriverReportViewModel) e.Grid.GetRow(e.VisibleIndex);
                if (row.Orders != null)
                {
                    for (var i = 0; i < row.Orders.Count; i++)
                    {
                        ViewContext.Writer.Write($"<a style='{(string.IsNullOrEmpty(row.Orders[i].Remark) ? "" : "color: #a94442;")}' href='javascript:showOrderDetail(\"{row.Orders[i].ConsignmentNumber}\")'>{row.Orders[i].ConsignmentNumber}</a>");
                        if (i < row.Orders.Count - 1)
                        {
                            ViewContext.Writer.Write(", ");
                        }
                    }
                }
            });
        });
        settings.Columns.Add("UserName").Width = Unit.Pixel(200);
        settings.Columns.Add("Name").Width = Unit.Pixel(200);
        settings.Columns.Add("CountryCode").Width = Unit.Pixel(140);
        settings.Columns.Add("MobileNumber").Width = Unit.Pixel(200);
        settings.Columns.Add("ICNumber").Width = Unit.Pixel(200);
        var col = settings.Columns.Add("TakenOn", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(200);
        col.SortOrder = ColumnSortOrder.Ascending;

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.SelectionChanged = "function(s,e) { s.GetSelectedFieldValues('Id',OnGetSelectedFieldValues)}";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = JobsController.GetSpecialJobs(); }).GetHtml()