﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Today Jobs";
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-show-today-jobs').addClass("active");
            $('#menu-show-today-jobs').parents('.treeview').addClass("active");
            $('#menu-show-today-jobs').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function deleteRow(index) {
            swal(
                {
                    title: "Are you sure?",
                    text: "You will not be able to recover this action!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                function() {
                    gridViewJobs.DeleteRow(index);
                });
        }

        function showOrderDetail(cn) {
            popupControl.SetContentUrl("@Url.Action("OrderDetail", "Jobs")" + "?consignmentNumber=" + cn);
            popupControl.Show();
        }

        function showOrderList(id) {
            popupControl.SetWidth($(window).innerWidth() * 0.8);
            popupControl.SetHeight($(window).innerHeight() * 0.8);
            popupControl.SetContentUrl("@Url.Action("OrdersList", "Jobs")" + "/" + id);
            popupControl.Show();
        }
    </script>
}

<section class="content">
    <form method="POST" action="@Url.Action("Import", "Jobs")" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-12 col-sm-12 margin-bottom">
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchImportJobs))
                {
                    <input type="file" name="importFile" style="display: inline-block;" />
                    <button class="btn btn-primary">Import</button>
                }
                <a class="btn btn-info" href="@(SettingProvider.VrpLink.TrimEnd('/') + "/Home/History")" target="_blank">Display Plan</a>
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchPrintPlan))
                {
                    @*<a class="btn btn-warning" href="@Url.Action("PrintPlan", "Jobs")" target="_blank">Print Driver Report</a>*@
                    <div class="dropdown pull-right">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Print Driver Report
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@Url.Action("PrintPlan", "Jobs")">Default</a></li>
                            <li><a href="@Url.Action("PrintPlan", "Jobs",new {sortType = 1})">Ascending by Postal code</a></li>
                            <li><a href="@Url.Action("PrintPlan", "Jobs",new {sortType = 2})">Descending by Postal code</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("ListViewPartial")
            </div>
        </div>

    </form>

</section>

@Html.DevExpress().PopupControl(settings =>
                                {
                                    settings.Name = "popupControl";
                                    settings.CloseAction = CloseAction.OuterMouseClick;
                                    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                                    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                                    settings.AllowDragging = true;
                                    settings.AllowResize = true;
                                    settings.Modal = true;
                                    settings.EnableHotTrack = true;
                                    settings.Width = 600;
                                    settings.Height = 400;
                                    settings.HeaderText = "Orders";
                                }).GetHtml()