﻿@using Courier_Management_System.Models

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Print Plan";
    var jobs = (ViewBag.Jobs as List<DriverReportViewModel> ?? new List<DriverReportViewModel>())
        .GroupBy(x => new
                      {
                          x.Name,
                          x.UserName,
                          TakenOn = x.TakenOn?.ToString("dd MMM yyyy")
                      })
        .OrderBy(x => x.Key.TakenOn).ThenBy(x => x.Key.Name)
        .ToList();
}

@foreach (var group in jobs)
{
    var idx = 0;
    <table id="reportList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th colspan="3">Driver (User name):</th>
                <th colspan="4">@group.Key.Name (@group.Key.UserName)</th>
                <th>Date:</th>
                <th colspan="6">@(group.Key.TakenOn)</th>
            </tr>
            <tr>
                <th style="width: 5%">#</th>
                <th colspan="2" style="width: 10%">FROM COMPANY NAME</th>
                <th style="width: 10%">FROM NAME</th>
                <th colspan="2" style="width: 15%">FROM ADDRESS</th>
                <th style="width: 7%">Postal Code</th>
                <th style="width: 10%">TO NAME</th>
                <th style="width: 10%">TO PHONE</th>
                <th style="width: 15%">TO ADDRESS</th>
                <th style="width: 7%">Postal Code</th>
                <th style="width: 5%">Type</th>
                <th style="width: 6%">Consignment Number</th>
                <th style="width: 15%">Signature</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in group.SelectMany(x => x.Orders).OrderBy(x => x.ToZipCode))
            {
                ++idx;
                <tr>
                    <td>@(idx)</td>
                    <td colspan="2">@order.Customer.CustomerName</td>
                    <td>@order.FromName</td>
                    <td colspan="2">@order.FromAddress</td>
                    <td>@order.FromZipCode</td>
                    <td>@order.ToName</td>
                    <td>@order.ToMobilePhone</td>
                    <td>@order.ToAddress</td>
                    <td>@order.ToZipCode</td>
                    <td>@order.ProductType.ProductTypeName</td>
                    <td>@order.ConsignmentNumber</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>

    <hr />
    <p style="page-break-after: always"></p>
}