﻿@using Courier_Management_System.Models
@using Newtonsoft.Json

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Print Plan";
    var jobs = ViewBag.Jobs as List<JobReportViewModel> ?? new List<JobReportViewModel>();
    var db = new CourierDBEntities();
    var timeSlots = db.TimeSlots.Where(x => !x.IsDeleted).ToList();
}

@for (var idx = 0; idx < jobs.Count; idx++)
{
    var job = jobs[idx];
    var totalPickup = 0D;
    var totalDelivery = 0D;

    <table id="reportList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th colspan="2">Vehicle Number:</th>
                <th colspan="3">@job.VehicleNumber</th>
                <th colspan="3">Date:</th>
                <th colspan="4">@job.CreatedOn.ToString("dd MMM yyyy")</th>
            </tr>
            <tr>
                <th colspan="2">Total Number Of Customers:</th>
                <th colspan="3">@(job.Routes.Route.Stops - 1)</th>
                <th colspan="3">JobId: @job.Id</th>
                <th colspan="4">Driver Name: @job.TakenBy</th>

                @*<th style="width: 10%">Max Driving Time:</th>
                    <th colspan="2">@(job.Routes.Route.DrivingTimes[job.Routes.Route.DrivingTimes.Count - 1].ToString("F2")) hour(s)</th>
                    <th style="width: 10%">Max Working Time:</th>
                    <th colspan="2">@(job.Routes.Route.WorkingTimes[job.Routes.Route.WorkingTimes.Count - 1].ToString("F2")) hour(s)</th>*@
            </tr>
            <tr>
                <th style="width: 3%;" class="print-text-format">#</th>
                <th style="width: 26%;" class="print-text-format">INFORMATION</th>
                @*<th style="width: 8%">FROM COMPANY NAME</th>
                    <th style="width: 8%">TO NAME</th>
                    <th style="width: 13%">TO ADDRESS</th>*@
                <th style="width: 5%" class="print-text-format">Postal Code</th>
                @*<th style="width: 9%">Type</th>*@
                <th style="width: 5%;" class="print-text-format">Pickup Qty</th>
                <th style="width: 5%;" class="print-text-format">Delivery Qty</th>
                <th style="width: 4%;" class="print-text-format">Sizes</th>
                <th style="width: 8%;" class="print-text-format">Consignment Number</th>
                <th style="width: 4%;" class="print-text-format">COD</th>
                <th style="width: 4%;" class="print-text-format">Exchange</th>
                <th style="width: 9%;" class="print-text-format">Order Tracking Number</th>
                <th style="width: 8%;" class="print-text-format">Delivery / Pickup Time Slot</th>
                <th style="width: 7%;" class="print-text-format">Signature</th>
            </tr>
        </thead>
        <tbody>
            @{
                int sortType = ViewBag.SortType as int? ?? 0;
                var defautLocation = job.Routes.Locations;
            }
            @if (sortType != 1 && sortType != 2)
            {
                for (var i = 1; i < job.Routes.Route.Steps.Count - 1; i++)
                {
                    var lastLoad = job.Routes.Route.Loads[i - 1];
                    var location = job.Routes.Locations[job.Routes.Route.Steps[i] - 1];
                    if (location.Type == 0)
                    {
                        totalPickup += job.Routes.Route.Loads[i] - lastLoad;
                    }
                    else if (location.Type == 1)
                    {
                        totalDelivery += lastLoad - job.Routes.Route.Loads[i];
                    }

                    <tr>
                        <td class="print-text-format">@(i)</td>
                        @*<td colspan="2">@(job.Routes.Locations[job.Routes.Route.Steps[i - 1] - 1].CustomerCompany ?? job.Routes.Locations[job.Routes.Route.Steps[i - 1] - 1].CustomerName)</td>*@
                        <td>
                            <b> @(location.Orders.FirstOrDefault()?.Customer?.CustomerCompany) </b> <br />
                            Name: @location.CustomerName <br />
                            @location.CustomerAddress <br />
                            @*@(location.Type == 0 ? location.Orders.FirstOrDefault()?.FromZipCode : location.Orders.FirstOrDefault()?.ToZipCode)*@
                        </td>
                        @*<td>@(location.Orders.FirstOrDefault()?.Customer?.CustomerCompany)</td>
                            <td>@location.CustomerName</td>
                            <td>@location.CustomerAddress</td>*@
                        <td td class="print-text-format">@(location.Type == 0 ? location.Orders.FirstOrDefault()?.FromZipCode : location.Orders.FirstOrDefault()?.ToZipCode)</td>
                        @*<td>@(location.Orders.FirstOrDefault()?.ProductType.ProductTypeName)</td>*@
                        <td class="print-text-format">@(location.Type == 0 ? job.Routes.Route.Loads[i] - lastLoad : 0)</td>
                        <td class="print-text-format">@(location.Type == 1 ? lastLoad - job.Routes.Route.Loads[i] : 0)</td>
                        <td style="vertical-align: middle">@(location.Orders.FirstOrDefault()?.Size.SizeName.ToString())</td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                            @order.ConsignmentNumber
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                            <br />
                                }
                            }
                        </td>
                        <td>
                            @foreach (var order in location.Orders)
                            {
                                foreach (var cod in order.CodOptionOfOrders)
                                {
                            <span>@Html.Raw(cod.CodOption.Description)</span>
                            <span>: </span>
                            <span>@cod.Amount.ToString("C")</span>
                            <br />
                                }
                            }
                        </td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                            @(order.IsExchange ? "Yes" : "No")
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                            <br />
                                }
                            }
                        </td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                            @order.OrderNumber
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                            <br />
                                }
                            }
                        </td>
                        <td class="print-text-format">

                            @if (location.Type == 0)
                            {
                            @(timeSlots.Where(x => x.Id == location.Orders.FirstOrDefault()?.PickupTimeSlotId).Select(x => x.FromTime.ToString("HH:mm") + "-" + x.ToTime.ToString("HH:mm")).FirstOrDefault())
                            }
                            else
                            {
                            <p class="pin-format">
                                @(location.Orders.FirstOrDefault()?.BinCode)
                            </p>
                            }

                        </td>
                        <td></td>
                    </tr>
                }
            }
            else
            {
                var orderLocations = job.Routes.Locations;

                switch (sortType)
                {
                    case 1:
                        orderLocations = job.Routes.Locations.OrderBy(x => x.Orders.Select(o => o.ToZipCode).FirstOrDefault()).ToList();
                        break;
                    case 2:
                        orderLocations = job.Routes.Locations.OrderByDescending(x => x.Orders.Select(o => o.ToZipCode).FirstOrDefault()).ToList();
                        break;
                }

                for (var index = 0; index < orderLocations.Count; index++)
                {
                    var loc = job.Routes.Locations.FindIndex(x => x.OrderId == orderLocations[index].OrderId);
                    var i = job.Routes.Route.Steps.IndexOf(loc + 1);
                    if (i <= 0)
                    {
                        continue;
                    }
                    var lastLoad = job.Routes.Route.Loads[i - 1];
                    var location = job.Routes.Locations[job.Routes.Route.Steps[i] - 1];
                    if (location.Type == 0)
                    {
                        totalPickup += job.Routes.Route.Loads[i] - lastLoad;
                    }
                    else if (location.Type == 1)
                    {
                        totalDelivery += lastLoad - job.Routes.Route.Loads[i];
                    }
                    <tr>
                        <td class="print-text-format">@i</td>
                        @*<td colspan="2">@(job.Routes.Locations[job.Routes.Route.Steps[i - 1] - 1].CustomerCompany ?? job.Routes.Locations[job.Routes.Route.Steps[i - 1] - 1].CustomerName)</td>*@
                        <td>
                            <b> @(location.Orders.FirstOrDefault()?.Customer?.CustomerCompany) </b> <br/>
                            Name: @location.CustomerName <br/>
                            @location.CustomerAddress <br/>
                            @*@(location.Type == 0 ? location.Orders.FirstOrDefault()?.FromZipCode : location.Orders.FirstOrDefault()?.ToZipCode)*@
                        </td>
                        @*<td>@(location.Orders.FirstOrDefault()?.Customer?.CustomerCompany)</td>
                            <td>@location.CustomerName</td>
                            <td>@location.CustomerAddress</td>*@
                        <td td class="print-text-format">@(location.Type == 0 ? location.Orders.FirstOrDefault()?.FromZipCode : location.Orders.FirstOrDefault()?.ToZipCode)</td>
                        @*<td>@(location.Orders.FirstOrDefault()?.ProductType.ProductTypeName)</td>*@
                        <td class="print-text-format">@(location.Type == 0 ? job.Routes.Route.Loads[i] - lastLoad : 0)</td>
                        <td class="print-text-format">@(location.Type == 1 ? lastLoad - job.Routes.Route.Loads[i] : 0)</td>
                        <td style="vertical-align: middle">@(location.Orders.FirstOrDefault()?.Size.SizeName.ToString())</td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                                @order.ConsignmentNumber
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                                    <br/>
                                }
                            }
                        </td>
                        <td>
                            @foreach (var order in location.Orders)
                            {
                                foreach (var cod in order.CodOptionOfOrders)
                                {
                                    <span>@Html.Raw(cod.CodOption.Description)</span>
                                    <span>: </span>
                                    <span>@cod.Amount.ToString("C")</span>
                                    <br/>
                                }
                            }
                        </td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                                @(order.IsExchange ? "Yes" : "No")
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                                    <br/>
                                }
                            }
                        </td>
                        <td class="print-text-format">
                            @foreach (var order in location.Orders)
                            {
                                @order.OrderNumber
                                for (var j = 0; j < Math.Max(1, order.CodOptionOfOrders.Count); j++)
                                {
                                    <br/>
                                }
                            }
                        </td>
                        @*<td>
                                @if (location.ConsignmentNumbers != null)
                                {
                                    foreach (var cn in location.ConsignmentNumbers)
                                    {
                                        @cn
                                        <br />
                                    }
                                }
                            </td>*@
                        <td class="print-text-format">

                            @if (location.Type == 0)
                            {
                                @(timeSlots.Where(x => x.Id == location.Orders.FirstOrDefault()?.PickupTimeSlotId).Select(x => x.FromTime.ToString("HH:mm") + "-" + x.ToTime.ToString("HH:mm")).FirstOrDefault())
                            }
                            else
                            {
                                <p class="pin-format">
                                    @(location.Orders.FirstOrDefault()?.BinCode)
                                </p>
                            }

                        </td>
                        <td></td>
                    </tr>
                }
            }

        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center">
                    <b>@totalPickup</b>
                </td>
                <td style="text-align: center">
                    <b>@totalDelivery</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                @*<td></td>
                    <td></td>*@
                <td></td>
            </tr>
        </tfoot>
    </table>

    <hr />
    <p style="page-break-after: always"></p>

                if (idx < jobs.Count - 1)
                {
                    <div style="page-break-before: always"></div>
                    }
                }

<style>
    .pin-format {
        font-weight: bold;
    }

        .pin-format::first-letter {
            font-weight: initial;
        }

    table tr th.print-text-format,
    table tr td.print-text-format {
        text-align: center;
        vertical-align: middle;
    }
</style>