﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Special Jobs";
}

@section scripts
{
    <script>
        var selectedJobsToDelete = [];

        $(function () {
            $('#menu-show-special-jobs').addClass("active");
            $('#menu-show-special-jobs').parents('.treeview').addClass("active");
            $('#menu-show-special-jobs').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function deleteRow(index) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                gridViewJobs.DeleteRow(index);
            });
        }

        function showOrderDetail(cn) {
            popupControl.SetContentUrl("@Url.Action("OrderDetail", "Jobs")" + "?consignmentNumber=" + cn);
            popupControl.Show();
        }

        // Collect sellected rows
        function OnGetSelectedFieldValues(selectedValues) {
            if (selectedValues.length != 0) {
                $('#multiDelete').removeAttr("disabled");
            }
            else {
                $('#multiDelete').attr("disabled", true);
            }
            selectedJobsToDelete = selectedValues;
        }

        function deleteSelectedRow() {
            if (selectedJobsToDelete.length == 0) {
                return;
            }
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete all selected items!",
                closeOnConfirm: true
            }, function () {
                $('#multiDelete').attr("disabled", true);
                $("#jobsSelected").val(selectedJobsToDelete);
                $('#multiDeleteForm').submit();
            });
        }
    </script>
}

<section class="content">

    <div class="row">
        <div class="col-md-9 col-sm-9 margin-bottom">
            @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchPrintSpecialPlan))
            {
                <a class="btn btn-warning" href="@Url.Action("PrintSpecialPlan", "Jobs")" target="_blank">Print Driver Report</a>
            }
        </div>
        <div class="col-md-3 col-sm-3 margin-bottom">
            @using (Html.BeginForm("SpecialListViewPartialMultiDelete", "Jobs", FormMethod.Post, new { id = "multiDeleteForm", @class = "" }))
            {

                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DispatchDeleteJob))
                {
                    <input type="hidden" name="jobsSelected" id="jobsSelected" value="" />
                    <a id="multiDelete" class="btn bg-maroon pull-right" onclick="deleteSelectedRow()" disabled><span class="fa fa-trash-o"></span> Delete selected rows</a>
                }
            }
        </div>
    </div>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @Html.Raw(ViewBag.ErrorMessage)
        </div>
    }

    <div class="row">
        <div class="col-lg-12 col-xs-12" id="test">
            @Html.Action("SpecialListViewPartial")
        </div>
    </div>
</section>

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "popupControl";
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.AllowDragging = true;
    settings.AllowResize = true;
    settings.Modal = true;
    settings.EnableHotTrack = true;
    settings.Width = 600;
    settings.Height = 500;
    settings.HeaderText = "Order detail";

}).GetHtml()