﻿@model Courier_Management_System.Models.AddEditSizeViewModel

@{
    ViewBag.Title = "Add Size";
    var productTypes = ViewBag.ProductTypes as List<SelectListItem> ?? new List<SelectListItem>();
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-add-size').addClass("active");
            $('#menu-add-size').parents('.treeview').addClass("active");
            $('#menu-add-size').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            editor = $(".textarea").wysihtml5();

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });
        });
    </script>
}

@section headerScripts {
    <script>
        function encodeHtml(input) {
            return String(input).
                replace(/&/g, '&amp;').
                replace(/"/g, '&quot;').
                //replace(/'/g, '&#39;').
                //replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, function (value) {
                //    var hi = value.charCodeAt(0);
                //    var low = value.charCodeAt(1);
                //    return '&#' + (((hi - 0xD800) * 0x400) + (low - 0xDC00) + 0x10000) + ';';
                //}).
                //replace(/([^\#-~| |!])/g, function (value) {
                //    return '&#' + value.charCodeAt(0) + ';';
                //}).
                replace(/</g, '&lt;').
                replace(/>/g, '&gt;');
        }

        function validateForm() {
            // Encode textarea
            var input = $('#Description').val();
            var output = encodeHtml(input);
            $('#Description').val(output);
            return true;
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                           {
                               @class = "form-control"
                           })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new
                            {
                                @class = "form-control textarea",
                                rows = "5"
                            })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductTypeId) (*)
                            @Html.DropDownListFor(m => m.ProductTypeId, productTypes, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.ProductTypeId)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.FromWeight)
                            @Html.TextBoxFor(m => m.FromWeight, new
                           {
                               @class = "form-control number-spinner",
                               data_step = "0.01",
                               data_decimals = "2",
                               data_postfix = "KG"
                           })
                            @Html.ValidationMessageFor(m => m.FromWeight)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.ToWeight)
                            @Html.TextBoxFor(m => m.ToWeight, new
                           {
                               @class = "form-control number-spinner",
                               data_step = "0.01",
                               data_decimals = "2",
                               data_postfix = "KG"
                           })
                            @Html.ValidationMessageFor(m => m.ToWeight)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.FromLength)
                            @Html.TextBoxFor(m => m.FromLength, new
                           {
                               @class = "form-control number-spinner",
                               data_step = "0.01",
                               data_decimals = "2",
                               data_postfix = "CM"
                           })
                            @Html.ValidationMessageFor(m => m.FromLength)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.ToLength)
                            @Html.TextBoxFor(m => m.ToLength, new
                           {
                               @class = "form-control number-spinner",
                               data_step = "0.01",
                               data_decimals = "2",
                               data_postfix = "CM"
                           })
                            @Html.ValidationMessageFor(m => m.ToLength)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
