@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@using TimeSlot = Courier_Management_System.TimeSlot
@{
    var timeSlots = ViewBag.TimeSlots as List<TimeSlot> ?? new List<TimeSlot>();

    var grid = Html.DevExpress().GridView(settings =>
                                          {
                                              settings.Name = "gridViewServices";
                                              settings.CallbackRouteValues = new
                                                                             {
                                                                                 Controller = "Services",
                                                                                 Action = "ListViewPartial"
                                                                             };

                                              settings.SettingsEditing.DeleteRowRouteValues = new
                                                                                              {
                                                                                                  Controller = "Services",
                                                                                                  Action = "ListViewPartialDelete"
                                                                                              };

                                              settings.Width = Unit.Percentage(100);

                                              settings.CommandColumn.Visible = false;

                                              settings.KeyFieldName = "Id";

                                              settings.EnableRowsCache = true;

                                              settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                              settings.SettingsPager.Visible = true;
                                              settings.Settings.ShowGroupPanel = true;
                                              settings.Settings.ShowFilterRow = true;
                                              settings.Settings.GridLines = GridLines.Both;

                                              settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                                              settings.SettingsBehavior.AllowSelectByRowClick = true;
                                              settings.SettingsBehavior.ConfirmDelete = true;
                                              settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                                              settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                                              settings.SettingsPager.FirstPageButton.Visible = true;
                                              settings.SettingsPager.LastPageButton.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.Width = Unit.Pixel(150);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ServiceViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsEditService))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("Edit", "Services", new
                                                                                                                                                                                                                        {
                                                                                                                                                                                                                            id = row.Id
                                                                                                                                                                                                                        }) + "'><span class='fa fa-pencil'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsDeleteService))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ProductsAddService))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("Add", "Services")}'><span class='fa fa-plus'></span></a>");
                                                                                                             }
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("Id").Width = Unit.Pixel(100);
                                              settings.Columns.Add("Name").Width = Unit.Pixel(200);
                                              settings.Columns.Add("Description").Width = Unit.Pixel(400);
                                              var col = settings.Columns.Add("Cost");
                                              col.Width = Unit.Pixel(200);
                                              col.PropertiesEdit.DisplayFormatString = "c";
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "ProductTypeId";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.Caption = "Product Type";
                                                                       column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                                                       var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                                                                       comboBoxProperties.DataSource = OrdersController.GetProductTypes();
                                                                       comboBoxProperties.TextField = "Name";
                                                                       comboBoxProperties.ValueField = "Id";
                                                                       comboBoxProperties.ValueType = typeof(int);
                                                                   });
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "PickupTime";
                                                                       column.Width = Unit.Pixel(300);
                                                                       column.Caption = "Pickup Time";
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ServiceViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             var values = row.PickupTime.Split(new[] { '|' }, StringSplitOptions.None);
                                                                                                             ViewContext.Writer.Write("Time slots: ");
                                                                                                             foreach (var time in values[0].Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write(timeSlots.Where(x => x.Id.ToString() == time).Select(x => x.TimeSlotName).FirstOrDefault());
                                                                                                                 ViewContext.Writer.Write(", ");
                                                                                                             }

                                                                                                             ViewContext.Writer.Write("<br />");
                                                                                                             ViewContext.Writer.Write("Date range from transaction date: ");
                                                                                                             ViewContext.Writer.Write("[" + values[1] + "]");
                                                                                                         });
                                                                   });
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "DeliveryTime";
                                                                       column.Width = Unit.Pixel(300);
                                                                       column.Caption = "Delivery Time";
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ServiceViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             var values = row.DeliveryTime.Split(new[] { '|' }, StringSplitOptions.None);
                                                                                                             ViewContext.Writer.Write("Time slots: ");
                                                                                                             foreach (var time in values[0].Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write(timeSlots.Where(x => x.Id.ToString() == time).Select(x => x.TimeSlotName).FirstOrDefault());
                                                                                                                 ViewContext.Writer.Write(", ");
                                                                                                             }

                                                                                                             ViewContext.Writer.Write("<br />");
                                                                                                             ViewContext.Writer.Write("Date range from pickup date: ");
                                                                                                             ViewContext.Writer.Write("[" + values[1] + "]");
                                                                                                         });
                                                                   });
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "LimitToSizes";
                                                                       column.Width = Unit.Pixel(300);
                                                                       column.Caption = "Limit to Sizes";
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (ServiceViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             foreach (var size in row.LimitToSizes)
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write(size.SizeName + ", ");
                                                                                                             }
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("IsAppliedDefaultPromoCode", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(250);
                                              settings.Columns.Add("IsActive", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(200);
                                              settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

                                              settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
                                          });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = ServicesController.GetServices(); }).GetHtml()