﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@model Courier_Management_System.Models.AddEditServiceViewModel

@{
    ViewBag.Title = "Edit Service";
    var productTypes = ViewBag.ProductTypes as List<SelectListItem> ?? new List<SelectListItem>();
}

@section styles{
    <style>
        .slider {
            display: block;
            margin-top: 30px;
        }

            .slider.slider-horizontal {
                width: 100%;
            }
    </style>
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-add-service').addClass("active");
            $('#menu-add-service').parents('.treeview').addClass("active");
            $('#menu-add-service').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            editor = $(".textarea").wysihtml5();

            $('input[type=checkbox]').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('.slider').bootstrapSlider();

            $('#IsPickupTimeAllow').on('ifChanged', function (e) {
                if ($(this).is(':checked')) {
                    $('.is-pickup-time-allow').show();
                } else {
                    $('.is-pickup-time-allow').hide();
                }
            });

            $('#IsPickupDateAllow').on('ifChanged', function (e) {
                if ($(this).is(':checked')) {
                    $('.is-pickup-date-allow').show();
                } else {
                    $('.is-pickup-date-allow').hide();
                }
            });

            $('#IsDeliveryTimeAllow').on('ifChanged', function (e) {
                if ($(this).is(':checked')) {
                    $('.is-delivery-time-allow').show();
                } else {
                    $('.is-delivery-time-allow').hide();
                }
            });

            $('#IsDeliveryDateAllow').on('ifChanged', function (e) {
                if ($(this).is(':checked')) {
                    $('.is-delivery-date-allow').show();
                } else {
                    $('.is-delivery-date-allow').hide();
                }
            });

        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new
                       {
                           @class = "form-control textarea",
                           rows = "5"
                       })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Cost)
                            @Html.TextBoxFor(m => m.Cost, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_prefix = "$"
                       })
                            @Html.ValidationMessageFor(m => m.Cost)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductTypeId) (*)
                            @Html.DropDownListFor(m => m.ProductTypeId, productTypes, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.ProductTypeId)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsPickupTimeAllow)
                                Allow customer to select pickup time?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsPickupTimeAllow)
                        </div>
                        <div class="form-group is-pickup-time-allow" @(Model?.IsPickupTimeAllow != true ? "style=display:none" : "")>
                            @Html.LabelFor(m => m.AvailablePickupTimeSlots)
                            <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
                                @for (var i = 0; i < Model.AvailablePickupTimeSlots.Count; i++)
                                {
                                    <label class="col-md-3">
                                        @Html.CheckBoxFor(m => m.AvailablePickupTimeSlots[i].IsSelected)
                                        @Html.HiddenFor(m => m.AvailablePickupTimeSlots[i].Id)
                                        @Html.HiddenFor(m => m.AvailablePickupTimeSlots[i].Name)
                                        @Html.Hidden("AvailablePickupTimeSlots[" + i + "].FromTime", Model.AvailablePickupTimeSlots[i].FromTime.ToString("HH:mm"))
                                        @Html.Hidden("AvailablePickupTimeSlots[" + i + "].ToTime", Model.AvailablePickupTimeSlots[i].ToTime.ToString("HH:mm"))
                                        @Model.AvailablePickupTimeSlots[i].Name (@Model.AvailablePickupTimeSlots[i].FromTime.ToString("HH:mm") - @Model.AvailablePickupTimeSlots[i].ToTime.ToString("HH:mm"))
                                    </label>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsPickupDateAllow)
                                Allow customer to select pickup date?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsPickupDateAllow)
                        </div>
                        <div class="form-group is-pickup-date-allow" @(Model?.IsPickupDateAllow != true ? "style=display:none" : "")>
                            @Html.LabelFor(m => m.AvailablePickupDateRange)
                            <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
                                @Html.TextBoxFor(m => m.AvailablePickupDateRange, new
                           {
                               @class = "form-control slider",
                               data_slider_range = "true",
                               data_slider_orientation = "horizontal",
                               data_slider_selection = "before",
                               data_slider_tooltip = "always",
                               data_slider_value = "[" + (Model?.AvailablePickupDateRange ?? "0,3") + "]",
                               data_slider_tooltip_split = "true",
                               data_slider_ticks = "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",
                               data_slider_ticks_positions = "[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
                           })
                            </div>
                            @Html.ValidationMessageFor(m => m.AvailablePickupDateRange)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsDeliveryTimeAllow)
                                Allow customer to select delivery time?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsDeliveryTimeAllow)
                        </div>
                        <div class="form-group is-delivery-time-allow" @(Model?.IsDeliveryTimeAllow != true ? "style=display:none" : "")>
                            @Html.LabelFor(m => m.AvailableDeliveryTimeSlots)
                            <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
                                @for (var i = 0; i < Model.AvailableDeliveryTimeSlots.Count; i++)
                                {
                                    <label class="col-md-3">
                                        @Html.CheckBoxFor(m => m.AvailableDeliveryTimeSlots[i].IsSelected)
                                        @Html.HiddenFor(m => m.AvailableDeliveryTimeSlots[i].Id)
                                        @Html.HiddenFor(m => m.AvailableDeliveryTimeSlots[i].Name)
                                        @Html.Hidden("AvailableDeliveryTimeSlots[" + i + "].FromTime", Model.AvailableDeliveryTimeSlots[i].FromTime.ToString("HH:mm"))
                                        @Html.Hidden("AvailableDeliveryTimeSlots[" + i + "].ToTime", Model.AvailableDeliveryTimeSlots[i].ToTime.ToString("HH:mm"))
                                        @Model.AvailableDeliveryTimeSlots[i].Name (@Model.AvailableDeliveryTimeSlots[i].FromTime.ToString("HH:mm") - @Model.AvailableDeliveryTimeSlots[i].ToTime.ToString("HH:mm"))
                                    </label>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsDeliveryDateAllow)
                                Allow customer to select delivery date?
                            </label>
                            @Html.ValidationMessageFor(m => m.IsDeliveryDateAllow)
                        </div>
                        <div class="form-group is-delivery-date-allow" @(Model?.IsDeliveryDateAllow != true ? "style=display:none" : "")>
                            @Html.LabelFor(m => m.AvailableDeliveryDateRange)
                            <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
                                @Html.TextBoxFor(m => m.AvailableDeliveryDateRange, new
                           {
                               @class = "form-control slider",
                               data_slider_range = "true",
                               data_slider_orientation = "horizontal",
                               data_slider_selection = "before",
                               data_slider_tooltip = "always",
                               data_slider_value = "[" + (Model?.AvailableDeliveryDateRange ?? "0,3") + "]",
                               data_slider_tooltip_split = "true",
                               data_slider_ticks = "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",
                               data_slider_ticks_positions = "[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
                           })
                            </div>
                            @Html.ValidationMessageFor(m => m.AvailableDeliveryDateRange)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsAppliedDefaultPromoCode)
                                Is Default Promo Code Applied
                            </label>
                            @Html.ValidationMessageFor(m => m.IsAppliedDefaultPromoCode)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsActive)
                                Is Active
                            </label>
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LimitToSizes)
                            @Html.DevExpress().TokenBox(settings =>
                       {
                           settings.Name = "LimitToSizes";
                           settings.Width = Unit.Percentage(100);
                           settings.Properties.AllowCustomTokens = false;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                           settings.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Always;
                           settings.Properties.TextField = "Name";
                           settings.Properties.ValueField = "Id";
                       }).BindList(OrdersController.GetSizes()).Bind(Model?.LimitToSizes).GetHtml()
                            @Html.ValidationMessageFor(m => m.LimitToSizes)
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
