@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
                                          {
                                              settings.Name = "gridViewCustomers";
                                              settings.CallbackRouteValues = new
                                                                             {
                                                                                 Controller = "Customers",
                                                                                 Action = "ListViewPartial"
                                                                             };

                                              settings.SettingsEditing.DeleteRowRouteValues = new
                                                                                              {
                                                                                                  Controller = "Customers",
                                                                                                  Action = "ListViewPartialDelete"
                                                                                              };

                                              settings.Width = Unit.Percentage(100);

                                              settings.CommandColumn.Visible = false;

                                              settings.KeyFieldName = "Id";

                                              settings.EnableRowsCache = true;

                                              settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                              settings.SettingsPager.Visible = true;
                                              settings.Settings.ShowGroupPanel = true;
                                              settings.Settings.ShowFilterRow = true;
                                              settings.Settings.GridLines = GridLines.Both;
                                              settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                                              settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                                              settings.SettingsBehavior.AllowSelectByRowClick = true;
                                              settings.SettingsBehavior.ConfirmDelete = true;

                                              if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersShowCustomers))
                                              {
                                                  settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                                                  settings.SettingsPager.FirstPageButton.Visible = true;
                                                  settings.SettingsPager.LastPageButton.Visible = true;
                                                  settings.SettingsPager.PageSizeItemSettings.Visible = true;
                                                  settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
                                              }

                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.Width = Unit.Pixel(150);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (CustomerViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersEditCustomer))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-purple btn-circle' href='{Url.Action("Edit", "Customers", new { id = row.Id })}'><span class='fa fa-pencil'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersDeleteCustomer))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                                                                             }
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersAddCustomer))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("Add", "Customers")}'><span class='fa fa-plus'></span></a>");
                                                                                                             }
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("Name").Width = Unit.Pixel(200);
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "Photo";
                                                                       column.Width = Unit.Pixel(120);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (CustomerViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             Html.DevExpress().Image(controlSettings =>
                                                                                                                                     {
                                                                                                                                         controlSettings.Name = "Photo" + e.VisibleIndex.ToString();
                                                                                                                                         controlSettings.Width = Unit.Pixel(100);
                                                                                                                                     }).Bind(row.Photo).GetHtml();
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("Company").Width = Unit.Pixel(200);
                                              settings.Columns.Add("ZipCode").Width = Unit.Pixel(100);
                                              settings.Columns.Add("Address").Width = Unit.Pixel(300);
                                              settings.Columns.Add("CountryCode").Width = Unit.Pixel(120);
                                              settings.Columns.Add("MobileNumber").Width = Unit.Pixel(150);
                                              settings.Columns.Add("UserName").Width = Unit.Pixel(150);
                                              settings.Columns.Add("Email").Width = Unit.Pixel(200);
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "PaymentType";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                                                       var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                                                                       comboBoxProperties.DataSource = CustomersController.GetPaymentTypes();
                                                                       comboBoxProperties.TextField = "Name";
                                                                       comboBoxProperties.ValueField = "Id";
                                                                       comboBoxProperties.ValueType = typeof(int);
                                                                   });
                                              if (!User.IsInRole(AccountHelper.ShowCustomersWithLimitation))
                                              {
                                                  var col = settings.Columns.Add("Credit");
                                                  col.Width = Unit.Pixel(200);
                                                  col.PropertiesEdit.DisplayFormatString = "c";
                                              }
                                              settings.Columns.Add("Salesperson").Width = Unit.Pixel(200);
                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.FieldName = "PricePlan";
                                                                       column.Width = Unit.Pixel(200);
                                                                       column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                                                       var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                                                                       comboBoxProperties.DataSource = CustomersController.GetPricePlans();
                                                                       comboBoxProperties.TextField = "PlanName";
                                                                       comboBoxProperties.ValueField = "Id";
                                                                       comboBoxProperties.ValueType = typeof(int);
                                                                   });
                                              settings.Columns.Add(column => {
                                                                            column.Caption = "Default Promo Code";
                                                                            column.FieldName = "DefaultPromoCode";
                                                                            column.Width = Unit.Pixel(300);
                                                                            column.SetDataItemTemplateContent(e =>
                                                                            {
                                                                                var rows = (CustomerViewModel) e.Grid.GetRow(e.VisibleIndex);

                                                                                if(rows.DefaultPromoCode != null)
                                                                                foreach (var row in rows.DefaultPromoCode.ToString().Split(','))
                                                                                {
                                                                                    Html.ViewContext.Writer.Write(row.ToString());
                                                                                    Html.ViewContext.Writer.Write("</br>");
                                                                                }
                                                                            }
                                                                            );
                                                                        });
                                              settings.Columns.Add("CompanyPrefix").Width = Unit.Pixel(150);
                                              settings.Columns.Add("UseGroupPrice", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(150);
                                              settings.Columns.Add("IsActive", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(100);
                                              settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

                                              settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
                                          });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = CustomersController.GetCustomers(); }).GetHtml()