@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewPaymentStatus";
        settings.CallbackRouteValues = new
        {
            Controller = "Customers",
            Action = "PaymentStatusListViewPartial"
        };
        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView)sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(150);
            column.SetDataItemTemplateContent(e =>
                                              {
                                                  var row = (PaymentStatusModel) e.Grid.GetRow(e.VisibleIndex);
                                                  if (row.Status == PaymentStatus.Pending)
                                                  {
                                                      if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersEditPaymentStatus))
                                                      {
                                                          ViewContext.Writer.Write($"<a class='btn bg-purple btn-circle' href=\"javascript:doAction(" + row.Id + ", 'approve')\"><span class='fa fa-check'></span></a>");
                                                          ViewContext.Writer.Write($"<a class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'decline')\"><span class='fa fa-ban'></span></a>");
                                                      }
                                                  }
                                              });
        });
        settings.Columns.Add("CompanyName").Width = Unit.Pixel(200);
        settings.Columns.Add("Username").Width = Unit.Pixel(200);
        settings.Columns.Add("TransactionNumber").Width = Unit.Pixel(200);
        var col = settings.Columns.Add("TransactionAmount");
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "c";
        col = settings.Columns.Add("TransactionDate", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col.SortOrder = ColumnSortOrder.Descending;
        col = settings.Columns.Add("TransactionTime", MVCxGridViewColumnType.TimeEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "HH:mm";
        settings.Columns.Add("MobileNumber").Width = Unit.Pixel(150);
        settings.Columns.Add(column =>
        {
            column.FieldName = "AccountType";
            column.Caption = "Payment Mode";
            column.Width = Unit.Pixel(200);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelpers.ConvertEnumToSelectList<PaymentAccountTypes>();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Status";
            column.Width = Unit.Pixel(200);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelpers.ConvertEnumToSelectList<PaymentStatus>();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        col = settings.Columns.Add("ApprovalDate", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col = settings.Columns.Add("ApprovalTime", MVCxGridViewColumnType.TimeEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "HH:mm";

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['StartDate'] = start.format('DD/MM/YYYY'); e.customArgs['EndDate'] = end.format('DD/MM/YYYY'); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = CustomersController.GetPaymentStatuses(ViewBag.StartDate, ViewBag.EndDate);
}).GetHtml()
