﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewRefundOrExtraCharge";
        settings.CallbackRouteValues = new
        {
            Controller = "Customers",
            Action = "RefundOrExtraChargeListViewPartial"
        };
        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView)sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersEditRefundStatus))
        {
            settings.Columns.Add(column =>
            {
                column.Width = Unit.Pixel(150);
                column.SetDataItemTemplateContent(e =>
                {
                    var row = (RefundOrExtraChargeViewModel)e.Grid.GetRow(e.VisibleIndex);
                    if (row.ApprovalStatus == (int)PaymentStatus.Pending)
                    {
                        ViewContext.Writer.Write($"<a class='btn bg-purple btn-circle' href=\"javascript:doAction(" + row.Id + ", 'approve' ," + row.PaymentCategory + ")\"><span class='fa fa-check'></span></a>");
                        ViewContext.Writer.Write($"<a class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'decline' ," + row.PaymentCategory + ")\"><span class='fa fa-ban'></span></a>");
                    }
                });
            });
        }

        settings.Columns.Add(column =>
        {
            column.FieldName = "PaymentCategory";
            column.Caption = "Refund / Extra charge";
            column.Width = Unit.Pixel(200);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelpers.ConvertEnumToSelectList<PaymentCategory>();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });

        settings.Columns.Add("CompanyName").Width = Unit.Pixel(200);
        settings.Columns.Add("UserName").Width = Unit.Pixel(200);
        settings.Columns.Add("CustomerName").Width = Unit.Pixel(200);
        settings.Columns.Add("SalesPerson").Width = Unit.Pixel(200);
        settings.Columns.Add("ConsignmentNumber").Width = Unit.Pixel(200);
        settings.Columns.Add(column =>
        {
            column.FieldName = "Reason";
            column.Caption = "Reason";
            column.Width = Unit.Pixel(200);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = ChargingReasonController.GetChargingReasons();
            comboBoxProperties.TextField = "Description";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        var col = settings.Columns.Add("Amount");
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "c";

        settings.Columns.Add(column =>
        {
            column.FieldName = "ApprovalStatus";
            column.Width = Unit.Pixel(200);
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelpers.ConvertEnumToSelectList<PaymentStatus>();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        col = settings.Columns.Add("CreatedOn", "Request CreatedOn", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col.SortOrder = ColumnSortOrder.Descending;

        settings.Columns.Add("CreatedBy","Request CreatedBy").Width = Unit.Pixel(200);
        col = settings.Columns.Add("UpdatedOn", "Status UpdatedOn", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(150);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        col.SortOrder = ColumnSortOrder.Descending;

        settings.Columns.Add("UpdatedBy","Status UpdatedBy").Width = Unit.Pixel(200);
        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['startDate'] = start.format('DD/MM/YYYY'); e.customArgs['endDate'] = end.format('DD/MM/YYYY'); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = CustomersController.GetRefundOrExtraChargeStatuses(ViewBag.StartDate, ViewBag.EndDate);
}).GetHtml()
