﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddRefundViewModel

@{
    ViewBag.Title = "Add Refund/Extra charge";
    var chargingReasons = ViewBag.ChargingReasons as List<SelectListItem> ?? new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "0" } };
}

@section scripts
{
    <script>
        var findCustomersLink = "@Url.Action("FindCustomers", "Orders")";
        $(function () {
            $('#menu-add-refund').addClass("active");
            $('#menu-add-refund').parents('.treeview').addClass("active");
            $('#menu-add-refund')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('input')
                .iCheck({
                    labelHover: false,
                    cursor: true,
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            $('#ConsignmentNumber').on('change', populateAmount);
            $('#PaymentCategory').on('change', populateReason);
        });

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        $("#CustomerId").select2({
            theme: "classic",
            ajax: {
                url: findCustomersLink,
                type: 'POST',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            placeholder: "Find a customer by name or company",
            allowClear: true,
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: function (item) {
                if (item.loading) {
                    return item.text;
                }

                var markup = '<div class="clearfix">' +
                    '<div class="col-md-3">' + (item.CustomerName + " (" + item.UserName + ")" || "") + '</div>' +
                    '<div class="col-md-3">' + (item.CustomerCompany || "") + '</div>' +
                    '<div class="col-md-6">' + (item.Salesperson || "") + '</div>' +
                    '</div>';

                return markup;
            }
            ,
            templateSelection: function (item) {
                if (item.id) {
                    if (item.text) {
                        return item.text;
                    }
                    return (item.CustomerName + (item.CustomerCompany ? (" / " + item.CustomerCompany) : "") + (item.Salesperson ? (" / " + item.Salesperson) : ""));
                } else {
                    return item.text;
                }
            }
        });

        function populateAmount() {
            $('#Amount').val('');
            $('#ConsignmentNumber').removeClass("input-validation-error");
            $('#ConsignmentNumber').parent().find('span').remove();
            var consignmentNumber = $('#ConsignmentNumber').val();
            //var isPaymentCategoryRefund = $('#PaymentCategory').val() == "1" ? true : false;
            if (consignmentNumber != "" && consignmentNumber != null) {
                $.ajax({
                    url: "/api/orders/info/" + consignmentNumber,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + getCookie("CdsAccessToken"));
                    },
                    type: "POST",
                    success: function (data) {
                        if (data.Order != null && data.Order != "") {
                            //if (isPaymentCategoryRefund)
                            $('#Amount').val(data.Order.Price);
                        }
                        else {
                            $('#ConsignmentNumber').addClass("input-validation-error");
                            $('#ConsignmentNumber')
                                .parent()
                                .append('<span class="field-validation-error" data-valmsg-for="ConsignmentNumber" data-valmsg-replace="true">' +
                                    '<span for="ConsignmentNumber" class="">This Consignment number does not exists.</span></span>');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            }
        }

        function populateReason() {
            $("#Reason").empty();
            $.ajax({

                type: 'POST',
                url: '@Url.Action("GetRefundOrExtraChargeReasons")',
                dataType: 'json',
                data: { paymentCategory: $("#PaymentCategory").val() },
                success: function (reasons) {
                    $.each(reasons, function (i, reason) {
                        $("#Reason").append('<option value="' + reason.Value + '">' +
                             reason.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Reasons.' + ex);
                }
            });
            return false;
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
                        }

                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerId)
                            <select id="CustomerId" name="CustomerId" class="form-control">
                                <option value="@(Model?.CustomerId != 0 ? Model?.CustomerId.ToString() : "")">@(Model?.Customer != null ? ($"{Model?.Customer.CustomerName}" + (string.IsNullOrEmpty(Model?.Customer.CustomerCompany) ? "" : (" / " + Model?.Customer.CustomerCompany)) + $" ({Model?.Customer.Salesperson})") : "")</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.CustomerId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentCategory)
                            @Html.EnumDropDownListFor(m => m.PaymentCategory, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.PaymentCategory)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConsignmentNumber) (*)
                            @Html.TextBoxFor(m => m.ConsignmentNumber, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.ConsignmentNumber)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Reason) (*)
                            @Html.DropDownListFor(m => m.Reason, chargingReasons, new
                       {
                           @class = "form-control"
                       })

                            @Html.ValidationMessageFor(m => m.Reason)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Amount) (*)
                            @Html.TextBoxFor(m => m.Amount, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Amount)
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



