﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddRefundOrExtraChargeBulk

@{
    ViewBag.Title = "Add refund/extra charge (bulk)";
    var rowsAffected = ViewBag.RowsAffected as List<string> ?? new List<string>();
    var rows = ViewBag.Rows as List<string> ?? new List<string>();
    var chargingReasons = ViewBag.ChargingReasons as List<SelectListItem> ?? new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "0" } };
}
@*<style>
        .readonly-gray {
            readOnly
        }
    </style>*@

<script>

    var findCustomersLink = "@Url.Action("FindCustomers", "Orders")";

    $(document).ready(function () {
        debugger;
        $("#CustomerId").select2({
            theme: "classic",
            ajax: {
                url: findCustomersLink,
                type: 'POST',
                dataType: 'json',
                delay: 300,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: data
                    };
                },

                cache: true
            },

            placeholder: "Find a customer by name or company",
            allowClear: true,
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: function (item) {
                if (item.loading) {
                    return item.text;
                }
                var markup = '<div class="clearfix">' +
                    '<div class="col-md-3">' + (item.CustomerName + " (" + item.UserName + ")" || "") + '</div>' +
                    '<div class="col-md-3">' + (item.CustomerCompany || "") + '</div>' +
                    '<div class="col-md-6">' + (item.Salesperson || "") + '</div>' +
                    '</div>';
                return markup;
            },
            templateSelection: function (item) {
                if (item.id) {
                    if (item.text) {
                        return item.text;
                    }
                    return (item.CustomerName + (item.CustomerCompany ? (" / " + item.CustomerCompany) : "") + (item.Salesperson ? (" / " + item.Salesperson) : ""));
                } else {
                    return item.text;
                }
            }
        });
    });
    $(function () {
        $('#menu-add-refund-bulk').addClass("active");
        $('#menu-add-refund-bulk').parents('.treeview').addClass("active");
        $('#menu-add-refund-bulk')
            .parents('.treeview')
            .find('.treeview-menu')
            .addClass("menu-open")
            .css("display", "block");
        $('input')
            .iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        $('#PaymentCategory').on('change', populateReason);
    });

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function populateReason() {
        $("#Reason").empty();
        $("#Reason").append('<option value="0">--Select--</option>');
        $.ajax({

            type: 'POST',
            url: '@Url.Action("GetRefundOrExtraChargeReasons")',
            dataType: 'json',
            data: { paymentCategory: $("#PaymentCategory").val() },
            success: function (reasons) {
                $.each(reasons, function (i, reason) {
                    $("#Reason").append('<option value="' + reason.Value + '">' +
                         reason.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Reasons.' + ex);
            }
        });
        return false;
    }

</script>

<section class="content">
    <span>@ViewBag.Message</span>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <form method="post" role="form" id="bulkRefundOrExtraCharge">
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
                        }
                        @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConsignmentNumbers) (*)
                            @Html.TextAreaFor(m => m.ConsignmentNumbers, new { @class = "form-control", rows = 10 })
                        </div>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-7 text-left">
                                    <label class="control-label">Customer</label> (*)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7">
                                    <select id="CustomerId" name="CustomerId" class="form-control">
                                        <option value="@(Model?.CustomerId != 0 ? Model?.CustomerId.ToString() : "")">
                                            @(Model?.Customer != null ? ($"{Model?.Customer.CustomerName}" +
        (string.IsNullOrEmpty(Model?.Customer.CustomerCompany) ? "" : (" / " + Model?.Customer.CustomerCompany)) + $" ({Model?.Customer.Salesperson})") : "")
                                        </option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.CustomerId)
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-2 text-left">
                                    <label class="control-label">Payment Category</label> (*)
                                </div>
                                <div class="col-xs-3 text-left">
                                    <label class="control-label">Reason</label> (*)
                                </div>
                                @*<div class="col-xs-2 text-left">
                                    <label class="control-label">Amount</label>
                                </div>*@
                            </div>
                            <div>
                                <div class="row" style="margin: 5px -15px;">

                                    <div class="col-xs-2">
                                        @Html.EnumDropDownListFor(m => m.PaymentCategory, new
                                   {
                                       @class = "form-control"
                                   })
                                        @Html.ValidationMessageFor(m => m.PaymentCategory)
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.DropDownListFor(m => m.Reason, chargingReasons, new
                                   {
                                       @class = "form-control"
                                   })
                                        @Html.ValidationMessageFor(m => m.Reason)
                                    </div>
                                    @*<div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.Amount, new
                                   {
                                       @class = "form-control"
                                   })
                                        @Html.ValidationMessageFor(m => m.Amount)
                                    </div>*@
                                    <div class="col-xs-2">
                                        <input type="submit" name="action:AddRefundOrExtraChargeBulk" class="btn btn-primary" value="Load Template" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @if (Model != null && Model.BulkRefundOrExtraCharges != null)
                    {
                        <div class="bulkBulkRefundOrExtraCharges" style="border:groove">
                                @for (int i = 0; i < Model.BulkRefundOrExtraCharges.Count; i++)
                                {
                                    <div class="row" style="margin: 5px -15px;">
                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(m => m.BulkRefundOrExtraCharges[i].ConsignmentNumber, new
                                       {
                                           disabled = "disabled",
                                           @class = "form-control"
                                       })
                                            @Html.HiddenFor(m => m.BulkRefundOrExtraCharges[i].ConsignmentNumber)
                                            @Html.ValidationMessageFor(m => m.BulkRefundOrExtraCharges[i].ConsignmentNumber)
                                        </div>
                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(m => m.BulkRefundOrExtraCharges[i].ExistingPrice, new
                                       {
                                           disabled = "disabled",
                                           @class = "form-control readonly-gray"
                                       })
                                            @Html.HiddenFor(m => m.BulkRefundOrExtraCharges[i].ExistingPrice)
                                            @Html.ValidationMessageFor(m => m.BulkRefundOrExtraCharges[i].ExistingPrice)
                                        </div>

                                        <div class="col-xs-2">
                                            @Html.TextBoxFor(m => m.BulkRefundOrExtraCharges[i].Amount, new
                                       {
                                           @class = "form-control"
                                       })
                                            @Html.ValidationMessageFor(m => m.BulkRefundOrExtraCharges[i].Amount)


                                        </div>
                                        <div class="col-xs-2" style="display:none">
                                            @Html.TextBoxFor(m => m.BulkRefundOrExtraCharges[i].PaymentCategory, new
                                       {
                                           @class = "form-control"
                                       })
                                            @Html.ValidationMessageFor(m => m.BulkRefundOrExtraCharges[i].PaymentCategory)


                                        </div>
                                    </div>
                                }
                            
                            <div class="box-footer disabled">
                                <input type="submit" name="action:SubmitRefundOrExtraChargeBulk" class="btn btn-primary" value="Submit" />
                            </div>
                        </div>
                    }
                </form>

            </div>
        </div>
    </div>
</section>