﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.EditCustomerViewModel

@{
    ViewBag.Title = "Edit Customer";
    var countryCodes = ViewBag.CountryCodes as List<SelectListItem> ?? new List<SelectListItem>();
    var paymentTypes = ViewBag.PaymentTypes as List<SelectListItem> ?? new List<SelectListItem>();
    var pricePlans = ViewBag.PricePlans as List<SelectListItem> ?? new List<SelectListItem>();
    pricePlans.Insert(0, (new SelectListItem { Text = "Undefined", Value = "0" }));
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-add-customer').addClass("active");
            $('#menu-add-customer').parents('.treeview').addClass("active");
            $('#menu-add-customer')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('input')
                .iCheck({
                    labelHover: false,
                    cursor: true,
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });

            $("input.number-spinner")
                .each(function() {
                    $(this)
                        .TouchSpin({
                            min: $(this).data('min-value') || 0,
                            max: $(this).data('max-value') || 1000000000,
                            step: $(this).data('step') || 1,
                            maxboostedstep: $(this).data('max-boosted-step') || 1000,
                            prefix: $(this).data('prefix') || '',
                            postfix: $(this).data('postfix') || '',
                            decimals: $(this).data('decimals') || 0
                        });
                });

            $('#ZipCode').on('change', onCheckZipCode);

            $("#Salesperson")
                .select2({
                    theme: "classic",
                    ajax: {
                        url: "@Url.Action("FindSalesPersons", "Customers")",
                        type: 'POST',
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function(data, page) {
                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                    placeholder: "Find a Salesperson by their username or email",
                    allowClear: true,
                    escapeMarkup: function(markup) { return markup; },
                    minimumInputLength: 1,
                    templateResult: function(item) {
                        if (item.loading) {
                            return item.text;
                        }

                        var markup = '<div class="clearfix">' +
                            '<div class="col-md-6">' +
                            (item.UserName || "") +
                            '</div>' +
                            '<div class="col-md-6">' +
                            (item.Email || "") +
                            '</div>' +
                            '</div>';

                        return markup;
                    },
                    templateSelection: function(item) {
                        if (item.id) {
                            if (item.text) {
                                return item.text;
                            }

                            return (item.UserName + (item.Email ? (" (" + item.Email + ")") : ""));
                        } else {
                            return item.text;
                        }
                    }
                });
        });

        function onCheckZipCode() {
            $.ajax({
                url: "/api/Locations/CheckZipCode/" + $('#ZipCode').val(),
                type: "POST",
                success: function(data) {
                    $('#Address')
                        .val((data.UnitNumber || "") + (data.StreetName != null ? (" " + data.StreetName) : ""));
                }
            });
        }

        function getPromoCode(cntrl) {
            $.ajax({
                url: "/Admin/Customers/GetPromoCode/",
                type: "POST",
                data: { pricePlanId: cntrl.value },
                success: function (data) {
                    if (data != "" && data != null) {
                        DefaultPromoCode.SetText(data);
                        DefaultPromoCode.SetValue(data);
                    }
                    else
                    {
                        DefaultPromoCode.SetText("");
                        DefaultPromoCode.SetValue("");
                    }
                }
            });

        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.UserName)
                        <div class="form-group">
                            @Html.LabelFor(m => m.CurrentPassword)
                            @Html.PasswordFor(m => m.CurrentPassword, new
                                                                      {
                                                                          @class = "form-control"
                                                                      })
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                            <p class="help-block">If you don't want to change password, don't need to fill in this field.</p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new
                                                                  {
                                                                      @class = "form-control"
                                                                  })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new
                                                                      {
                                                                          @class = "form-control"
                                                                      })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                                                          {
                                                              @class = "form-control"
                                                          })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Company)
                            @Html.TextBoxFor(m => m.Company, new
                                                             {
                                                                 @class = "form-control"
                                                             })
                            @Html.ValidationMessageFor(m => m.Company)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new
                                                           {
                                                               @class = "form-control"
                                                           })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ZipCode)
                            @Html.TextBoxFor(m => m.ZipCode, new
                                                             {
                                                                 @class = "form-control"
                                                             })
                            @Html.ValidationMessageFor(m => m.ZipCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address) (*)
                            @Html.TextBoxFor(m => m.Address, new
                                                             {
                                                                 @class = "form-control"
                                                             })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.CountryCode, "Country Code (*)", new
                                                                                       {
                                                                                           @class = "col-md-3"
                                                                                       })
                                @Html.LabelFor(m => m.MobileNumber, "Mobile Number (*)", new
                                                                                         {
                                                                                             @class = "col-md-9"
                                                                                         })
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.CountryCode, countryCodes, new
                                                                                            {
                                                                                                @class = "form-control"
                                                                                            })
                                    @Html.ValidationMessageFor(m => m.CountryCode)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.MobileNumber, new
                                                                          {
                                                                              @class = "form-control"
                                                                          })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentType) (*)
                            @Html.DropDownListFor(m => m.PaymentType, paymentTypes, new
                                                                                    {
                                                                                        @class = "form-control"
                                                                                    })
                            @Html.ValidationMessageFor(m => m.PaymentType)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.Credit) (*)
                            @Html.TextBoxFor(m => m.Credit, new
                                                            {
                                                                @class = "form-control number-spinner",
                                                                data_step = "0.01",
                                                                data_decimals = "2",
                                                                data_prefix = "$"
                                                            })
                            @Html.ValidationMessageFor(m => m.Credit)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Salesperson)
                            <select id="Salesperson" name="Salesperson" class="form-control">
                                <option value="@(Model?.Salesperson ?? "")">@(Model?.Salesperson ?? "")</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.Salesperson)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Remark)
                            @Html.TextAreaFor(m => m.Remark, new
                                                             {
                                                                 @class = "form-control",
                                                                 rows = "4"
                                                             })
                            @Html.ValidationMessageFor(m => m.Remark)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PricePlan)
                            @Html.DropDownListFor(m => m.PricePlan, pricePlans, new
                                                                               {
                                                                                   @class = "form-control",
                                                                                   onchange = "getPromoCode(this);"
                                                                               })
                            @Html.ValidationMessageFor(m => m.PricePlan)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DefaultPromoCode)
                            @Html.DevExpress().TokenBox(settings =>
                                                        {
                                                            settings.Name = "DefaultPromoCode";
                                                            settings.Width = Unit.Percentage(100);
                                                            settings.Properties.AllowCustomTokens = false;
                                                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                                            settings.Properties.ShowDropDownOnFocus = ShowDropDownOnFocusMode.Always;
                                                            settings.Properties.TextField = "Text";
                                                            settings.Properties.ValueField = "Value";
                                                        }).BindList(CustomersController.GetCharges()).Bind(Model?.DefaultPromoCode).GetHtml()
                            @Html.ValidationMessageFor(m => m.DefaultPromoCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CompanyPrefix)
                            @Html.TextBoxFor(m => m.CompanyPrefix, new
                                                                   {
                                                                       @class = "form-control"
                                                                   })
                            @Html.ValidationMessageFor(m => m.CompanyPrefix)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsActive)
                                Is Active
                            </label>
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.UseGroupPrice)
                                Use Group Price
                            </label>
                            @Html.ValidationMessageFor(m => m.UseGroupPrice)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>