﻿@using Courier_Management_System.Helpers;
@{
    ViewBag.Title = "Show Customers";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-show-customers').addClass("active");
            $('#menu-show-customers').parents('.treeview').addClass("active");
            $('#menu-show-customers').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function deleteRow(index) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                gridViewCustomers.DeleteRow(index);
            });
        }
    </script>
}

<section class="content">
    <form method="POST" action="@Url.Action("Export", "Customers")">

        @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.CustomersExportCustomers))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 margin-bottom">
                    <button class="btn btn-primary" name="Type" value="XLS">Export to XLS</button>
                    <button class="btn btn-primary" name="Type" value="XLSX">Export to XLSX</button>
                </div>
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("ListViewPartial")
            </div>
        </div>

    </form>
</section>
