﻿@model Courier_Management_System.Models.AddEditProductTypeViewModel

@{
    ViewBag.Title = "Edit Product Type";
}

@section scripts
{
    <script>
        var editor;
        $(function () {
            $('#menu-add-product-type').addClass("active");
            $('#menu-add-product-type').parents('.treeview').addClass("active");
            $('#menu-add-product-type').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            editor = $(".textarea").wysihtml5();
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" onsubmit="return validateForm();">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new
                            {
                                @class = "form-control textarea",
                                rows = "5"
                            })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BinCode)
                            @Html.TextBoxFor(m => m.BinCode, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.BinCode)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
