﻿@using Courier_Management_System.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title</title>   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/styles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body_bg">
        <div id="dnn_wrapper">
            <header class="header_bg">
                 
                <div class="dnn_layout">
                    
                    <div class="head_mid clearfix">
                        <div class="dnn_logo">
                            <img style="max-width: 50px;" src="~/images/icon=150x.png" /><a id="dnn_dnnLOGO_hypLogo" title="Roadbull" href="#"><img style="max-width: 150px;" src="~/images/body/logo.jpg" /></a>
                        </div>
                        <div class="Login">
                            <span class="sep" style="margin-right: 50px;"></span>

                            @if (User.Identity.IsAuthenticated)
                            {
                                var cartId = Request.Cookies["Cart"] == null ? "" : Request.Cookies["Cart"].Value;
                                Guid cartGuid = Guid.Empty;
                                Guid.TryParse(cartId, out cartGuid);
                                var db = new CourierDBEntities();
                                var cart = db.ConsignmentNumbers.FirstOrDefault(x => x.Id == cartGuid);
                                var cartCount = 0;
                                if (cart != null && !string.IsNullOrEmpty(cart.ConsignmentNumbers))
                                {
                                    var consignmentNumbers = cart.ConsignmentNumbers.ToLower().Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                    cartCount = db.Orders.Count(x => !x.IsDeleted && consignmentNumbers.Contains(x.ConsignmentNumber.ToLower()));
                                }

                                <form action="@Url.Action("Logoff", "Account")" style="display: inline-block;">
                                    <button title="Logout" class="LoginLink" rel="nofollow" type="submit" value="Logout" style="background: transparent; border: none; font-size: 16px; text-transform: uppercase; font-weight: bold; color: #3f3f3f;">
                                        Logout
                                    </button>
                                </form>
                                <a href="@Url.Action("Cart", "Order", new { id = cartId })">
                                    <img src="@Url.Content("~/images/icon_cart.png")" style="width: 32px;" alt="" /> (<span>@cartCount</span>)
                                </a>
                            }
                            else
                            {
                                <a title="Login" class="LoginLink" rel="nofollow" href="@Url.Action("Login", "Account")">Login</a>
                                @*<span class="sep"></span>
                                    <a title="Register" class="LoginLink" rel="nofollow" href="@Url.Action("CustomerRegister", "Account")">Register</a>*@
                            }
                        </div>
                        <div class="clearfix"></div>
                            
                        @if (User.Identity.IsAuthenticated)
                        {
                            <nav>
                                <ul class="menu">
                                    <li><a href="@Url.Action("Home", "Order")"><span class="iconic home"></span> Home</a></li>
                                    <li>
                                        <a href="#"><span class="iconic lightbulb"></span> Orders</a>
                                        <ul>
                                            <li><a href="@Url.Action("Book", "Order")">New Order</a></li>
                                            <li><a href="@Url.Action("Bulk", "Order")">Bulk Order</a></li>
                                            <li><a href="@Url.Action("Marketplace", "Order")">e-Market Order</a></li>
                                            <li><a href="@Url.Action("History", "Order")">Order History</a></li>
                                        </ul>
                                    </li>
                                    @if (User.IsInRole(AccountHelper.VendorRole))
                                    {
                                        <li>
                                            <a href="#"><span class="iconic map-pin"></span> Tracking</a>
                                            <ul>
                                                <li><a href="@Url.Action("BulkTracking", "Order")">Bulk Tracking</a></li>
                                                <li><a href="@Url.Action("ExportOrderTracking", "Order")">Export Csv</a></li>
                                            </ul>
                                        </li>
                                    }
                                    <li><a href="@Url.Action("Profile", "Account")"><span class="iconic user"></span>Profile</a></li>
                                    <li><a href="@Url.Action("Reports", "Order")"><span class="iconic book"></span>Report</a></li>

                                </ul>
                                <div class="clearfix"></div>
                            </nav>
                        }
                        @*<nav class="nav_box clearfix ">
                                <div id="top_menu">
                                    <div class="gomenu">
                                        <ul>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li class="nav_pad"><a href="@Url.Action("Home", "Order")"><span>Home</span></a></li>
                                                <li class="nav_pad"><a href="@Url.Action("Book", "Order")"><span>New Order</span></a></li>
                                                <li class="nav_pad"><a href="@Url.Action("Bulk", "Order")"><span>Bulk Order</span></a></li>
                                                <li class="nav_pad"><a href="@Url.Action("Marketplace", "Order")"><span>e-Market Order</span></a></li>
                                                if (User.IsInRole(AccountHelper.VendorRole))
                                                {
                                                    <li class="nav_pad"><a href="@Url.Action("BulkTracking", "Order")"><span>Bulk Tracking</span></a></li>
                                                }
                                                <li class="nav_pad"><a href="@Url.Action("History", "Order")"><span>Order History</span></a></li>
                                                <li><a href="@Url.Action("Profile", "Account")"><span>Profile</span></a></li>
                                                <li class="nav_pad"><a href="@Url.Action("Reports", "Order")"><span>Report</span></a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </nav>*@
                    </div>
                </div>
                
            </header>

            <div class="banner_bg">
                <div class="dnn_layout Inside_pos">
                    <div id="dnn_InsidBannerPane" class="InsidBannerPane">
                        <div class="inside_bre">@ViewBag.Title</div>
                    </div>
                </div>
            </div>
            <section id="dnn_content" class="index_pad">

                @RenderBody()

                <div class="con_bg02">
                    <div class="dnn_layout">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="right_new"><img alt="" class="img-responsive" src="/images/body/con01.png"></div>
                            </div>
                            <div class="col-sm-5 link_pos">
                                <div>
                                    <a href="#"><img alt="" class="img-responsive" src="/images/body/con02.png"></a>
                                    <a href="#"> <img alt="" class="img-responsive" src="/images/body/con03.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; path=/; " + expires;
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
