﻿@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddEditVehicleViewModel

@{
    ViewBag.Title = "Add Vehicle";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-add-vehicle').addClass("active");
            $('#menu-add-vehicle').parents('.treeview').addClass("active");
            $('#menu-add-vehicle').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $("input.number-spinner").each(function () {
                $(this).TouchSpin({
                    min: $(this).data('min-value') || 0,
                    max: $(this).data('max-value') || 1000000000,
                    step: $(this).data('step') || 1,
                    maxboostedstep: $(this).data('max-boosted-step') || 1000,
                    prefix: $(this).data('prefix') || '',
                    postfix: $(this).data('postfix') || '',
                    decimals: $(this).data('decimals') || 0
                });
            });

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.VehicleNumber) (*)
                            @Html.TextBoxFor(m => m.VehicleNumber, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.VehicleNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.VehicleType)
                            @Html.TextBoxFor(m => m.VehicleType, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.VehicleType)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Color)
                            @Html.TextBoxFor(m => m.Color, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Color)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.Capacity)
                            @Html.TextBoxFor(m => m.Capacity, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "1",
                           data_decimals = "0"
                       })
                            @Html.ValidationMessageFor(m => m.Capacity)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.MileAge)
                            @Html.TextBoxFor(m => m.MileAge, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_postfix = "KM"
                       })
                            @Html.ValidationMessageFor(m => m.MileAge)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.FixedCostPerTrip)
                            @Html.TextBoxFor(m => m.FixedCostPerTrip, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_prefix = "$"
                       })
                            @Html.ValidationMessageFor(m => m.FixedCostPerTrip)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.CostPerKilometer)
                            @Html.TextBoxFor(m => m.CostPerKilometer, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_prefix = "$"
                       })
                            @Html.ValidationMessageFor(m => m.CostPerKilometer)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.DistanceLimit)
                            @Html.TextBoxFor(m => m.DistanceLimit, new
                       {
                           @class = "form-control number-spinner",
                           data_step = "0.01",
                           data_decimals = "2",
                           data_postfix = "KM"
                       })
                            @Html.ValidationMessageFor(m => m.DistanceLimit)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.WorkStartTime)
                            @Html.DevExpress().TimeEditFor(m => m.WorkStartTime, settings =>
                            {
                                settings.Properties.EditFormatString = "HH:mm";
                            }).GetHtml()
                            @Html.ValidationMessageFor(m => m.WorkStartTime)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.DrivingTimeLimit)
                            @Html.DevExpress().TimeEditFor(m => m.DrivingTimeLimit, settings =>
                            {
                                settings.Properties.EditFormatString = "HH:mm";
                            }).GetHtml()
                            @Html.ValidationMessageFor(m => m.DrivingTimeLimit)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.WorkingTimeLimit)
                            @Html.DevExpress().TimeEditFor(m => m.WorkingTimeLimit, settings =>
                            {
                                settings.Properties.EditFormatString = "HH:mm";
                            }).GetHtml()
                            @Html.ValidationMessageFor(m => m.WorkingTimeLimit)
                        </div>
                        <div class="form-group for-staff">
                            <label>
                                @Html.CheckBoxFor(m => m.IsActive)
                                Is Active
                            </label>
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
