﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using Courier_Management_System.Services.Implement
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridBulkPrintQRLabel";
        settings.CallbackRouteValues = new
        {
            Controller = "Orders",
            Action = "BulkPrintQRLabelListViewPartial"
        };
        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }
            ((MVCxGridView)sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);
        settings.KeyFieldName = "Id";

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.AllPages;
        settings.CommandColumn.Caption = "Select";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        //settings.Columns.Add(column =>
        //{
        //    column.Caption = "Select";
        //    column.SetDataItemTemplateContent(c =>
        //    {
        //        Html.DevExpress().CheckBox(checkboxSettings =>
        //        {
        //            checkboxSettings.Name = "cb_" + c.KeyValue.ToString();
        //            checkboxSettings.Checked = false;
        //            checkboxSettings.Properties.ClientSideEvents.CheckedChanged = "function(s,e){ var orderId = s.name.replace('cb_', ''); if (s.GetChecked()) { selectedOrderToPrint.push(orderId); } else { var index = selectedOrderToPrint.indexOf(orderId); if (index > -1) { selectedOrderToPrint.splice(index, 1);}}}";
        //        }).Render();
        //    });
        //    column.SetHeaderCaptionTemplateContent(c =>
        //    {
        //        Html.DevExpress().CheckBox(checkboxSettings =>
        //        {
        //            checkboxSettings.Name = "cbSelectAll";
        //            checkboxSettings.Checked = false;
        //            checkboxSettings.Properties.ClientSideEvents.CheckedChanged = "";
        //        }).Render();
        //    });
        //});

        settings.Columns.Add(column =>
        {
            column.FieldName = "Status";
            column.Width = Unit.Pixel(200);
            column.Caption = "Status";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(OrderStatuses));
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ConsignmentNumber";
            column.Width = Unit.Pixel(200);
            column.Caption = "Consignment Number";
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            column.SetDataItemTemplateContent(e =>
            {
                var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"{row.ConsignmentNumber}");
                if (!string.IsNullOrEmpty(row.QrCodePath))
                {
                    ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-purple' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.QrCodePath) + "\", \"" + row.ConsignmentNumber + "\")'>View QR code</a>");
                }
            });
        });
        var col = settings.Columns.Add("BinCode");
        col.Width = Unit.Pixel(100);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("OrderNumber");
        col.Width = Unit.Pixel(150);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("CustomerCompany");
        col.Width = Unit.Pixel(200);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Columns.Add("FromZipCode").Width = Unit.Pixel(200);
        col = settings.Columns.Add("FromDistrictCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("FromZoneCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("FromAddress");
        col.Width = Unit.Pixel(300);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        if (!User.IsInRole(AccountHelper.NoSenderInformation))
        {
            col = settings.Columns.Add("FromMobilePhone");
            col.Width = Unit.Pixel(200);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        }
        col = settings.Columns.Add("PickupDate", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        settings.Columns.Add(column =>
        {
            column.FieldName = "PickupTimeSlotId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Pickup Time Slot";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
            {
                Id = x.Id,
                Name = x.Name,
                FromTime = x.FromTime.ToString("HH:mm"),
                ToTime = x.ToTime.ToString("HH:mm")
            }).ToList();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
            comboBoxProperties.Columns.Add("FromTime");
            comboBoxProperties.Columns.Add("ToTime");
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ToName";
            column.Width = Unit.Pixel(200);
            column.Caption = "To Name";
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

            //column.SetDataItemTemplateContent(e =>
            //{
            //    var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
            //    ViewContext.Writer.Write($"{row.ToName}");
            //    if (!string.IsNullOrEmpty(row.ToSignature))
            //    {
            //        var time = row.DeliveredOn?.ToString("dd/MM/yyyy HH:mm:ss");
            //        if (row.Status == OrderStatuses.DeliveryFailed)
            //        {
            //            ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.ToSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show proof of delivery</a>");
            //        }
            //        else
            //        {
            //            ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.ToSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show receiver's signature</a>");
            //        }
            //    }
            //});
        });
        settings.Columns.Add("ToZipCode").Width = Unit.Pixel(200);
        col = settings.Columns.Add("ToDistrictCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("ToZoneCode");
        col.Width = Unit.Pixel(200);
        col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
        col = settings.Columns.Add("ToAddress");
        col.Width = Unit.Pixel(300);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("ToMobilePhone");
        col.Width = Unit.Pixel(200);
        col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        col = settings.Columns.Add("DeliveryDate", MVCxGridViewColumnType.DateEdit);
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        settings.Columns.Add(column =>
        {
            column.FieldName = "DeliveryTimeSlotId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Delivery Time Slot";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
            {
                Id = x.Id,
                Name = x.Name,
                FromTime = x.FromTime.ToString("HH:mm"),
                ToTime = x.ToTime.ToString("HH:mm")
            }).ToList();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
            comboBoxProperties.Columns.Add("FromTime");
            comboBoxProperties.Columns.Add("ToTime");
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ServiceId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Service";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetServices();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "ProductTypeId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Product Type";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetProductTypes();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "SizeId";
            column.Width = Unit.Pixel(200);
            column.Caption = "Size";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = OrdersController.GetSizes();
            comboBoxProperties.TextField = "Name";
            comboBoxProperties.ValueField = "Id";
            comboBoxProperties.ValueType = typeof(int);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "CreatedOn";
            column.Width = Unit.Pixel(200);
            column.SortOrder = ColumnSortOrder.Descending;
            column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
        });


        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.CustomJSProperties = (s, e) =>
        {
            var g = (ASPxGridView)s;
            e.Properties["cpFilterExpression"] = g.FilterExpression;
        };


        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.BeginCallback = "function(s, e) {e.customArgs['pickupStartDate'] = pstart.format('DD/MM/YYYY'); e.customArgs['pickupEndDate'] = pend.format('DD/MM/YYYY');" +
                                                  "e.customArgs['deliveryStartDate'] = dstart.format('DD/MM/YYYY'); e.customArgs['deliveryEndDate'] = dend.format('DD/MM/YYYY');}";
        settings.ClientSideEvents.SelectionChanged = "function(s,e) { s.GetSelectedFieldValues('Id',OnGetSelectedFieldValues)}";
    });
}

@*<script type="text/javascript">
    

</script>*@
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) =>
{
    var orderService = new OrderService();
    e.QueryableSource = orderService.GetOrdersList(ViewBag.PickUpStartDate, ViewBag.PickUpEndDate, ViewBag.DeliveryStartDate, ViewBag.DeliveryEndDate, OrdersController.DB);
}).GetHtml()
