﻿@using System.Drawing
@using System.Text.RegularExpressions
@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using DevExpress.Data
@using DevExpress.Data.Linq
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html
        .DevExpress()
        .GridView(settings =>
        {
            settings.Name = "gridViewOrders";
            settings.CallbackRouteValues = new
            {
                Controller = "Orders",
                Action = "ListViewPartial"
            };

            settings.SettingsEditing.DeleteRowRouteValues = new
            {
                Controller = "Orders",
                Action = "ListViewPartialDelete"
            };

            settings.AfterPerformCallback = (sender, args) =>
            {
                if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
                {
                    return;
                }
                ((MVCxGridView)sender).DataBind();
            };

            settings.Width = Unit.Percentage(100);

            settings.CommandColumn.Visible = false;

            settings.KeyFieldName = "Id";

            settings.EnableRowsCache = true;

            settings.SettingsCookies.StoreColumnsVisiblePosition = true;
            settings.SettingsCookies.StoreColumnsWidth = true;

            settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
            settings.Settings.ShowGroupPanel = true;
            settings.Settings.ShowFilterRow = true;
            settings.Settings.ShowHeaderFilterButton = true;
            settings.Settings.GridLines = GridLines.Both;

            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
            settings.SettingsBehavior.AllowSelectByRowClick = true;
            settings.SettingsBehavior.ConfirmDelete = true;

            settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
            if (!User.IsInRole(AccountHelper.BasicOrderList))
            {
                settings.SettingsPager.Visible = true;
                settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                settings.SettingsPager.FirstPageButton.Visible = true;
                settings.SettingsPager.LastPageButton.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Visible = true;
                settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
            }
            else
            {
                settings.SettingsPager.Visible = false;
                settings.Settings.ShowHeaderFilterButton = false;
            }

            var codSummaryItem = new ASPxSummaryItem("TotalCodAmount", SummaryItemType.Sum);
            settings.TotalSummary.Add(codSummaryItem);
            var codCollectedSummaryItem = new ASPxSummaryItem("TotalCodCollectedAmount", SummaryItemType.Sum);
            settings.TotalSummary.Add(codCollectedSummaryItem);

            if (!User.IsInRole(AccountHelper.BasicOrderList))
            {
                settings.Columns.Add(column =>
                {
                    column.Width = Unit.Pixel(270);
                    column.SetDataItemTemplateContent(
                                                      e =>
                                                      {
                                                          var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                                                          if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditOrder) || User.IsInRole(AccountHelper.EditOrderPrice))
                                                          {
                                                              ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("Edit", "Orders", new
                                                              {
                                                                  id = row.Id
                                                              }) + "'><span class='fa fa-pencil'></span></a>");
                                                          }
                                                          if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersDeleteOrder))
                                                          {
                                                              ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                          }
                                                          if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditOrder))
                                                          {
                                                              //if (row.Status == OrderStatuses.OrderSubmitted)
                                                              //{
                                                              //    // Wait for confirmation or reject
                                                              //    ViewContext.Writer.Write("<a title='Confirm this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'confirm')\"><span class='fa fa-check'></span></a>");
                                                              //    ViewContext.Writer.Write("<a title='Reject this order' class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'reject')\"><span class='fa fa-reply-all'></span></a>");
                                                              //}
                                                              if (row.Status == OrderStatuses.OrderConfirmed)
                                                              {
                                                                  // Wait for item collected or failed pickup or cancel
                                                                  ViewContext.Writer.Write("<a title='Send to Special Job' class='btn bg-teal btn-circle' href=\"javascript:doAction(" + row.Id + ", 'sendjob')\"><span class='fa fa-road'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Collect item of this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'collect')\"><span class='fa fa-hand-rock-o'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Collect item failed' class='btn bg-navy btn-circle' href=\"javascript:doAction(" + row.Id + ", 'failpickup')\"><span class='fa fa-exclamation'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Cancel this order' class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'cancel')\"><span class='fa fa-ban'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.PickupFailed || row.Status == OrderStatuses.DeliveryFailed)
                                                              {
                                                                  ViewContext.Writer.Write("<a title='Cancel this order' class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'cancel')\"><span class='fa fa-ban'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.OrderRejected)
                                                              {
                                                                  // Allow to confirm again
                                                                  ViewContext.Writer.Write("<a title='Confirm this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'confirm')\"><span class='fa fa-check'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.ItemCollected)
                                                              {
                                                                  // Allow to proceed item
                                                                  ViewContext.Writer.Write("<a title='Put item into depot' class='btn bg-navy btn-circle' href=\"javascript:doAction(" + row.Id + ", 'goin')\"><span class='fa fa-level-down'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.ItemInDepot)
                                                              {
                                                                  // Allow item to go out
                                                                  ViewContext.Writer.Write("<a title='Send to Special Job' class='btn bg-teal btn-circle' href=\"javascript:doAction(" + row.Id + ", 'sendjob')\"><span class='fa fa-road'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Take item out of depot' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'goout')\"><span class='fa fa-level-up'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.ItemOutDepot)
                                                              {
                                                                  // Allow to delivery item or failed deliver
                                                                  ViewContext.Writer.Write("<a title='Deliver this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'deliver')\"><span class='fa fa-sign-out'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Fail to deliver this order' class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'faildeliver')\"><span class='fa fa-exclamation'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.SpecialOrderForPickup)
                                                              {
                                                                  ViewContext.Writer.Write("<a title='Collect item of this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'collect')\"><span class='fa fa-hand-rock-o'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Collect item failed' class='btn bg-navy btn-circle' href=\"javascript:doAction(" + row.Id + ", 'failpickup')\"><span class='fa fa-exclamation'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Cancel this order' class='btn bg-orange btn-circle' href=\"javascript:doAction(" + row.Id + ", 'cancel')\"><span class='fa fa-ban'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.SpecialOrderForDelivery)
                                                              {
                                                                  ViewContext.Writer.Write("<a title='Take item out of depot' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'goout')\"><span class='fa fa-level-up'></span></a>");
                                                              }
                                                              else if (row.Status == OrderStatuses.ItemHasBeingPicked)
                                                              {
                                                                  ViewContext.Writer.Write("<a title='Collect item of this order' class='btn bg-olive btn-circle' href=\"javascript:doAction(" + row.Id + ", 'collect')\"><span class='fa fa-hand-rock-o'></span></a>");
                                                                  ViewContext.Writer.Write("<a title='Collect item failed' class='btn bg-navy btn-circle' href=\"javascript:doAction(" + row.Id + ", 'failpickup')\"><span class='fa fa-exclamation'></span></a>");
                                                              }
                                                          }
                                                      });
                });
            }

            settings.Columns.Add(column =>
            {
                column.FieldName = "Status";
                column.Width = Unit.Pixel(200);
                column.Caption = "Status";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;
                column.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = EnumHelper.GetSelectList(typeof(OrderStatuses));
                comboBoxProperties.TextField = "Text";
                comboBoxProperties.ValueField = "Value";
                comboBoxProperties.ValueType = typeof(int);
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "ConsignmentNumber";
                column.Width = Unit.Pixel(220);
                column.Caption = "Consignment Number";
                column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

                column.SetDataItemTemplateContent(e =>
                {
                var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                ViewContext.Writer.Write($"{row.ConsignmentNumber}");
                if (!string.IsNullOrEmpty(row.QrCodePath))
                {
                    ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-purple' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + Url.Content(row.QrCodePath) + "\", \"" + row.ConsignmentNumber + "\")'>QR code</a>");
                }
                if (!string.IsNullOrEmpty(row.ConsignmentNumber))
                {
                    if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersShowOrderDetail))
                    {
                        ViewContext.Writer.Write("&nbsp; <a class='btn btn-flat bg-purple' style='margin-top: 5px' href='javascript:void(0);' onclick='showOrderDetails(\"" + row.ConsignmentNumber + "\")'>Driver/Ops</a>");
                    }
                }
                });
            });
            var col = settings.Columns.Add("BinCode");
            col.Width = Unit.Pixel(100);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
            col = settings.Columns.Add("OrderNumber");
            col.Width = Unit.Pixel(150);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            settings.Columns.Add(column =>
            {
                column.FieldName = "COD";
                column.Width = Unit.Pixel(100);
                column.Caption = "COD";

                column.SetDataItemTemplateContent(e =>
                {
                    var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                    var cods = OrdersController.GetCodOptions(row.Id);
                    foreach (var cod in cods)
                    {
                        ViewContext.Writer.Write(((CodOptionTypes)cod.Type).ToString());
                        ViewContext.Writer.Write("<br />");
                        ViewContext.Writer.Write(cod.Amount.ToString("C"));
                        ViewContext.Writer.Write("<br />");
                    }
                });

                column.SetHeaderCaptionTemplateContent(c =>
                {
                    var total = decimal.Parse(c.Grid.GetTotalSummaryValue(c.Grid.TotalSummary[0])?.ToString() ?? "0");
                    ViewContext.Writer.Write($@"{column.Caption}<br /><strong>{total.ToString("c")}</strong>");
                });
                column.SetFilterTemplateContent(c =>
                {
                    @Html.DevExpress().DropDownEdit(t =>
                    {
                        t.Width = Unit.Percentage(100);
                        t.Name = "CODOptions";
                        t.Properties.ClientSideEvents.DropDown = "function (s, e) { codCheckListBox.SelectValues($('#COD').val().split(',')); }";
                        t.SetDropDownWindowTemplateContent(list =>
                        {
                            @Html.DevExpress().ListBox(
                                                       listBoxSettings =>
                                                       {
                                                           listBoxSettings.Name = "codCheckListBox";
                                                           listBoxSettings.ControlStyle.Border.BorderWidth = 0;
                                                           listBoxSettings.ControlStyle.BorderBottom.BorderWidth = 1;
                                                           listBoxSettings.ControlStyle.BorderBottom.BorderColor = Color.FromArgb(0xDCDCDC);
                                                           listBoxSettings.Height = Unit.Pixel(170);
                                                           listBoxSettings.Width = Unit.Percentage(100);
                                                           listBoxSettings.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;
                                                           listBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s, e) { var selectedItems = codCheckListBox.GetSelectedItems(); var values = []; for (var i = 0; i < selectedItems.length; i++) { values.push(selectedItems[i].value); } $('#COD').val(values.join(',')); }";
                                                       }
                                )
                                 .BindList(EnumHelper.GetSelectList(typeof(CodOptionTypes)))
                                 .Render();
                            ViewContext.Writer.Write("<div style=\"margin: 6px; overflow: hidden;\">");
                            @Html.DevExpress().Button(buttonSettings =>
                            {
                                buttonSettings.Name = "buttonClose";
                                buttonSettings.Text = "Close";
                                buttonSettings.Style.Add("float", "right");
                                buttonSettings.ClientSideEvents.Click = "function(s, e){ CODOptions.HideDropDown(); gridViewOrders.PerformCallback({cod: $('#COD').val(), codCollected: $('#CODCollected').val()}); e.customArgs['StartDate'] = start.format('DD/MM/YYYY'); e.customArgs['EndDate'] = end.format('DD/MM/YYYY'); }";
                                buttonSettings.Height = 26;
                            }).Render();
                            ViewContext.Writer.Write("</div>");
                        });
                    }).Render();
                });
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "CODCollected";
                column.Width = Unit.Pixel(150);
                column.Caption = "COD Collected";

                column.SetDataItemTemplateContent(e =>
                {
                    var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                    var cods = OrdersController.GetCodOptions(row.Id);
                    foreach (var cod in cods)
                    {
                        ViewContext.Writer.Write(cod.IsCollected ? ((CodOptionTypes)cod.Type).ToString() : " ");
                        ViewContext.Writer.Write("<br />");
                        ViewContext.Writer.Write(cod.IsCollected ? cod.CollectedAmount.ToString("C") : " ");
                        ViewContext.Writer.Write("<br />");
                    }
                });

                column.SetHeaderCaptionTemplateContent(c =>
                {
                    var total = decimal.Parse(c.Grid.GetTotalSummaryValue(c.Grid.TotalSummary[1])?.ToString() ?? "0");
                    ViewContext.Writer.Write($@"{column.Caption}<br /><strong>{total.ToString("c")}</strong>");
                });
                column.SetFilterTemplateContent(c =>
                {
                    @Html.DevExpress().DropDownEdit(t =>
                    {
                        t.Width = Unit.Percentage(100);
                        t.Name = "CODCollectedOptions";
                        t.Properties.ClientSideEvents.DropDown = "function (s, e) { codCollectedCheckListBox.SelectValues($('#CODCollected').val().split(',')); }";
                        t.SetDropDownWindowTemplateContent(list =>
                        {
                            @Html.DevExpress().ListBox(
                                                       listBoxSettings =>
                                                       {
                                                           listBoxSettings.Name = "codCollectedCheckListBox";
                                                           listBoxSettings.ControlStyle.Border.BorderWidth = 0;
                                                           listBoxSettings.ControlStyle.BorderBottom.BorderWidth = 1;
                                                           listBoxSettings.ControlStyle.BorderBottom.BorderColor = Color.FromArgb(0xDCDCDC);
                                                           listBoxSettings.Height = Unit.Pixel(170);
                                                           listBoxSettings.Width = Unit.Percentage(100);
                                                           listBoxSettings.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;
                                                           listBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s, e) { var selectedItems = codCollectedCheckListBox.GetSelectedItems(); var values = []; for (var i = 0; i < selectedItems.length; i++) { values.push(selectedItems[i].value); } $('#CODCollected').val(values.join(',')); }";
                                                       }
                                )
                                 .BindList(EnumHelper.GetSelectList(typeof(CodOptionTypes)))
                                 .Render();
                            ViewContext.Writer.Write("<div style=\"margin: 6px; overflow: hidden;\">");
                            @Html.DevExpress().Button(buttonSettings =>
                            {
                                buttonSettings.Name = "buttonCollectedClose";
                                buttonSettings.Text = "Close";
                                buttonSettings.Style.Add("float", "right");
                                buttonSettings.ClientSideEvents.Click = "function(s, e){ CODCollectedOptions.HideDropDown(); gridViewOrders.PerformCallback({cod: $('#COD').val(), codCollected: $('#CODCollected').val()});e.customArgs['StartDate'] = start.format('DD/MM/YYYY'); e.customArgs['EndDate'] = end.format('DD/MM/YYYY');  }";
                                buttonSettings.Height = 26;
                            }).Render()
                            ;
                            ViewContext.Writer.Write("</div>");
                        });
                    }).Render();
                });
            });
            col = settings.Columns.Add("Remark");
            col.Width = Unit.Pixel(250);
            col.Caption = "Customer Remark";
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col = settings.Columns.Add("IsExchange", MVCxGridViewColumnType.CheckBox);
            col.Caption = "Exchange?";
            col.Width = Unit.Pixel(100);

            col = settings.Columns.Add("CustomerCompany");
            col.Width = Unit.Pixel(200);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            if (!User.IsInRole(AccountHelper.NoDetailOrderList))
            {
                if (!User.IsInRole(AccountHelper.NoSenderInformation))
                {
                    settings.Columns.Add(column =>
                    {
                        column.FieldName = "FromName";
                        column.Width = Unit.Pixel(200);
                        column.Caption = "From Name";
                        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

                        column.SetDataItemTemplateContent(e =>
                        {
                            var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                            ViewContext.Writer.Write($"{row.FromName}");
                            if (!string.IsNullOrEmpty(row.FromSignature))
                            {
                                var time = row.CollectedOn?.ToString("dd/MM/yyyy HH:mm:ss");
                                if (row.Status == OrderStatuses.PickupFailed)
                                {
                                    ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-olive' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.FromSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show proof of pickup</a>");
                                }
                                else
                                {
                                    ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-olive' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.FromSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show sender's signature</a>");
                                }
                            }
                        });
                    });
                }
                settings.Columns.Add("FromZipCode").Width = Unit.Pixel(200);
                col = settings.Columns.Add("FromDistrictCode");
                col.Width = Unit.Pixel(200);
                col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                col = settings.Columns.Add("FromZoneCode");
                col.Width = Unit.Pixel(200);
                col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
                col = settings.Columns.Add("FromAddress");
                col.Width = Unit.Pixel(300);
                col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                if (!User.IsInRole(AccountHelper.NoSenderInformation))
                {
                    col = settings.Columns.Add("FromMobilePhone");
                    col.Width = Unit.Pixel(200);
                    col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
                }
            }
            col = settings.Columns.Add("PickupDate", MVCxGridViewColumnType.DateEdit);
            col.Width = Unit.Pixel(200);
            col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
            settings.Columns.Add(column =>
            {
                column.FieldName = "PickupTimeSlotId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Pickup Time Slot";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
                {
                    Id = x.Id,
                    Name = x.Name,
                    FromTime = x.FromTime.ToString("HH:mm"),
                    ToTime = x.ToTime.ToString("HH:mm")
                }).ToList();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
                comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
                comboBoxProperties.Columns.Add("FromTime");
                comboBoxProperties.Columns.Add("ToTime");
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "ToName";
                column.Width = Unit.Pixel(200);
                column.Caption = "To Name";
                column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

                column.SetDataItemTemplateContent(e =>
                {
                    var row = (OrderViewModel)e.Grid.GetRow(e.VisibleIndex);
                    ViewContext.Writer.Write($"{row.ToName}");
                    if (!string.IsNullOrEmpty(row.ToSignature))
                    {
                        var time = row.DeliveredOn?.ToString("dd/MM/yyyy HH:mm:ss");
                        if (row.Status == OrderStatuses.DeliveryFailed)
                        {
                            ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.ToSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show proof of delivery</a>");
                        }
                        else
                        {
                            ViewContext.Writer.Write("<br /><a class='btn btn-flat bg-maroon' style='margin-top: 5px' href='javascript:void(0);' onclick='showPopupImage(\"" + row.ToSignature.TrimEnd('\n', '\r') + " at " + time + "\")'>Show receiver's signature</a>");
                        }
                    }
                });
            });
            settings.Columns.Add("ToZipCode").Width = Unit.Pixel(200);
            col = settings.Columns.Add("ToDistrictCode");
            col.Width = Unit.Pixel(200);
            col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
            col = settings.Columns.Add("ToZoneCode");
            col.Width = Unit.Pixel(200);
            col.Settings.HeaderFilterMode = HeaderFilterMode.CheckedList;
            col = settings.Columns.Add("ToAddress");
            col.Width = Unit.Pixel(300);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col = settings.Columns.Add("ToMobilePhone");
            col.Width = Unit.Pixel(200);
            col.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
            col = settings.Columns.Add("DeliveryDate", MVCxGridViewColumnType.DateEdit);
            col.Width = Unit.Pixel(200);
            col.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
            settings.Columns.Add(column =>
            {
                column.FieldName = "DeliveryTimeSlotId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Delivery Time Slot";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = TimeSlotsController.GetTimeSlots().ToList().Select(x => new
                {
                    Id = x.Id,
                    Name = x.Name,
                    FromTime = x.FromTime.ToString("HH:mm"),
                    ToTime = x.ToTime.ToString("HH:mm")
                }).ToList();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.TextFormatString = "{0} ({1} - {2})";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
                comboBoxProperties.Columns.Add("Name", "Time Slot Name", Unit.Pixel(200));
                comboBoxProperties.Columns.Add("FromTime");
                comboBoxProperties.Columns.Add("ToTime");
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "ServiceId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Service";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = OrdersController.GetServices();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "ProductTypeId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Product Type";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = OrdersController.GetProductTypes();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "SizeId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Size";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = OrdersController.GetSizes();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "PaymentTypeId";
                column.Width = Unit.Pixel(200);
                column.Caption = "Payment Type";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = OrdersController.GetPaymentTypes();
                comboBoxProperties.TextField = "Name";
                comboBoxProperties.ValueField = "Id";
                comboBoxProperties.ValueType = typeof(int);
            });
            if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NoDetailOrderList) || User.IsInRole(AccountHelper.BasicOrderList))
            {
                col = settings.Columns.Add("Price");
                col.Width = Unit.Pixel(200);
                col.PropertiesEdit.DisplayFormatString = "c";
            }
            settings.Columns.Add("PromoCode").Width = Unit.Pixel(200);
            col = settings.Columns.Add("CreatedOn");
            col.Width = Unit.Pixel(200);
            col.SortOrder = ColumnSortOrder.Descending;

            settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
            settings.CustomJSProperties = (s, e) =>
            {
                var g = (ASPxGridView)s;
                e.Properties["cpFilterExpression"] = g.FilterExpression;
            };
            settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['cod'] = $('#COD').val(); e.customArgs['codCollected'] = $('#CODCollected').val(); e.customArgs['StartDate'] = start.format('DD/MM/YYYY'); e.customArgs['EndDate'] = end.format('DD/MM/YYYY'); }";
            if (User.IsInRole(AccountHelper.BasicOrderList))
            {
                settings.PreRender = (s, e) =>
                {
                    var g = (ASPxGridView)s;
                    if (string.IsNullOrEmpty(g.FilterExpression))
                    {
                        g.FilterExpression = "[ConsignmentNumber] = ''";
                    }
                };
            }
        });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = OrdersController.GetOrders(ViewBag.COD, ViewBag.CODCollected, ViewBag.StartDate, ViewBag.EndDate); }).GetHtml()