﻿@using Courier_Management_System.Helpers

@{
    ViewBag.Title = "BulkPrintQRLabel";
}




@section scripts
{
    <script>
        var pstart, pend, dstart, dend;
        var selectedOrderToPrint = [];

        function performCallback() {
            gridBulkPrintQRLabel.PerformCallback({
                pickupStartDate: pstart.format('DD/MM/YYYY'),
                pickupEndDate: pend.format('DD/MM/YYYY'),
                deliveryStartDate: dstart.format('DD/MM/YYYY'),
                deliveryEndDate: dend.format('DD/MM/YYYY')
            });
        }

        $(function () {
            $('#menu-bulk-printQR-order').addClass("active");
            $('#menu-bulk-printQR-order').parents('.treeview').addClass("active");
            $('#menu-bulk-printQR-order').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");


            $('#pickupDate').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                locale: {
                    format: 'dd/MM/yyyy'
                }
            }, function (s, e) {
                pstart = s;
                pend = e;

                $('#StartDate').val(pstart.format('DD/MM/YYYY'));
                $('#EndDate').val(pend.format('DD/MM/YYYY'));

                $('#pickupDate').val(pstart.format('DD/MM/YYYY') + " - " + pend.format('D/MM/YYYY'));

                performCallback();
            });


            $('#deliveryDate').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                locale: {
                    format: 'dd/MM/yyyy'
                }
            }, function (s, e) {
                dstart = s;
                dend = e;
                $('#StartDate').val(dstart.format('DD/MM/YYYY'));
                $('#EndDate').val(dend.format('DD/MM/YYYY'));
                $('#deliveryDate').val(dstart.format('DD/MM/YYYY') + " - " + dend.format('D/MM/YYYY'));

                performCallback();
            });



            @if (ViewBag.PickUpStartDate != null && ViewBag.PickUpEndDate != null)
            {
            <text>
            pstart = moment("@(ViewBag.PickUpStartDate.ToUniversalTime().ToString("o"))");
            pend = moment("@(ViewBag.PickUpEndDate.ToUniversalTime().ToString("o"))");
            $('#pickupDate').val("@(ViewBag.PickUpStartDate.ToString("dd/MM/yyyy")) - @(ViewBag.PickUpEndDate.ToString("dd/MM/yyyy"))");
            </text>
            }
            @if (ViewBag.DeliveryStartDate != null && ViewBag.DeliveryEndDate != null)
            {
            <text>
            dstart = moment("@(ViewBag.DeliveryStartDate.ToUniversalTime().ToString("o"))");
            dend = moment("@(ViewBag.DeliveryEndDate.ToUniversalTime().ToString("o"))");
            $('#deliveryDate').val("@(ViewBag.DeliveryStartDate.ToString("dd/MM/yyyy")) - @(ViewBag.DeliveryEndDate.ToString("dd/MM/yyyy"))");
            </text>
            }
        });

        // Pass parameter for printing
        function onPreSubmit(startPosition) {
            $("#orderIdsstr").val(selectedOrderToPrint);
            $("#startPosition").val(startPosition);
        }

        // Collect sellected rows
        function OnGetSelectedFieldValues(selectedValues) {
            selectedOrderToPrint = selectedValues;
        }

        // Popup QR Code
        function showPopupImage(path, consignmentNumber) {
            $('#personName').text("");
            var parts = path.split('|');
            $('#popupImage').attr("src", parts[0]);
            if (parts[1]) {
                $('#personName').text(parts[1]);
            }

            if (consignmentNumber) {
                $('#popupModal .print-qr').attr("href", "/Order/PrintCode/" + consignmentNumber + "?ops=1");
            } else {
                $('#popupModal .print-qr').attr("href", $('#popupImage').attr("src"));
            }

            $('#popupModal').modal('show');
        }
    </script>
}

<section class="content">
    <form method="POST" action="@Url.Action("BulkPrintQRLabel", "Orders")">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Filter</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="col-md-4 col-sm-4">
                    <label for="pickupDate">Date Range <b>(Pickup date)</b></label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left" id="pickupDate">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label for="pickupDate">Date Range <b>(Delivery Date)</b></label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left" id="deliveryDate">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group pull-right">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#selectPosition">BULK PRINT QR LABLES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("BulkPrintQRLabelListViewPartial", new
           {
               pickupStartDate = ViewBag.PickUpStartDate?.ToString("dd/MM/yyyy"),
               pickupEndDate = ViewBag.PickUpEndDate?.ToString("dd/MM/yyyy"),
               deliveryStartDate = ViewBag.DeliveryStartDate?.ToString("dd/MM/yyyy"),
               deliveryEndDate = ViewBag.DeliveryEndDate?.ToString("dd/MM/yyyy")
           })
            </div>
        </div>
    </form>
</section>


@*Add input start number modal*@
<div id="selectPosition" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Please select start printing position</h4>
            </div>
            <div class="modal-body">
                <div class="form-group select-print-position row">
                    @using (Html.BeginForm("PrintBulkCode", "Orders", FormMethod.Post))
                    {
                        <input type="hidden" name="orderIdsstr" id="orderIdsstr" value="" />
                        <input type="hidden" name="startPosition" id="startPosition" value="" />
                        <div class="col-xs-6 col-xs-offset-3 simu-page">
                            @for (var index = 1; index <= 8; index++)
                            {
                            <div class="input-group col-xs-6">
                                <input type="submit" onclick="onPreSubmit(@index)" value="@index" class="form-control btn btn-default" />
                            </div>
                            }
                        </div>
                        @*<div class="input-group col-xs-4">
                                <input type="submit" onclick="onPreSubmit(2)" value="2" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4 col-xs-offset-2">
                                <input type="submit" onclick="onPreSubmit(3)" value="3" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4">
                                <input type="submit" onclick="onPreSubmit(4)" value="4" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4 col-xs-offset-2">
                                <input type="submit" onclick="onPreSubmit(5)" value="5" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4">
                                <input type="submit" onclick="onPreSubmit(6)" value="6" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4 col-xs-offset-2">
                                <input type="submit" onclick="onPreSubmit(7)" value="7" class="form-control btn btn-default" />
                            </div>
                            <div class="input-group col-xs-4">
                                <input type="submit" onclick="onPreSubmit(8)" value="8" class="form-control btn btn-default" />
                            </div>*@

                    }
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@*QR Code Popup Modal*@
<div class="modal fade modal-success" id="popupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Orders</h4>
            </div>
            <div class="modal-body">
                <img id="popupImage" src="" alt="Image" class="img-responsive" style="margin: auto;">
                <h4 id="personName" class="text-center"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline print-qr" target="_blank">Print</a>
                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>
    .select-print-position {
        padding: 12px;
    }

        .select-print-position .input-group {
            float: left;
        }

            .select-print-position .input-group .btn {
                font-weight: 600;
                font-size: 17px;
                height: 65px;
                margin-bottom: 10px;
                background: #fff;
            }
            .select-print-position .input-group .btn:hover {
                background: rgba(29,133,205,1);
            }
            .select-print-position .simu-page {
                border: 1px solid #a0a0a0;
                padding: 15px; 
            }
            
</style>
