﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@model Courier_Management_System.Models.BulkUpdateViewModel

@{
    ViewBag.Title = "Bulk Update";
    var timeslots = TimeSlotsController.GetTimeSlots().ToList()
                                       .Select(x => new
                                       {
                                           x.Id,
                                           x.Name,
                                           FromTime = x.FromTime.ToString("HH:mm:ss"),
                                           ToTime = x.ToTime.ToString("HH:mm:ss"),
                                           x.IsAllowPreOrder
                                       })
                                       .ToList();
    var rowsAffected = ViewBag.RowsAffected as List<string> ?? new List<string>();
    var rows = ViewBag.Rows as List<string> ?? new List<string>();
    var customerName = ViewBag.CustomerName as List<SelectListItem> ?? new List<SelectListItem>();
    customerName.Insert(0, new SelectListItem { Text = "", Value = "" });
}

@section scripts
{

    <script>

        //Validation
        // for more info visit the official plugin documentation:
        // http://docs.jquery.com/Plugins/Validation

        //function Init_BulkUpdateValidation() {
        //    //console.log('entered Init_BulkUpdateValidation');

        //    var BulkUpdateForm = $('#updateform');
        //    var error = $('.alert-danger', BulkUpdateForm);
        //    var success = $('.alert-success', BulkUpdateForm);

        //    BulkUpdateForm.validate({
        //        errorElement: 'span', //default input error message container
        //        errorClass: 'help-block help-block-error', // default input error message class
        //        focusInvalid: false, // do not focus the last invalid input
        //        ignore: "", // validate all fields including form hidden input


        //        rules: {
        //            'ConsignmentNumbers': {
        //                required: true

        //            },
        //            'CustomerName': {
        //                required: function () {
        //                    return $('#UpdateUsingField').val() == '2';
        //                }
        //            },
        //            'Updatefield': {
        //                required: true
        //            },

        //            'Status': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '1';
        //                },
        //            },
        //            'FromName': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '2';
        //                },
        //                maxlength: 200
        //            },
        //            'FromZipCode': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '3';
        //                },
        //                minlength: 6,
        //                maxlength: 6
        //            },
        //            'FromAddress': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '4';
        //                },
        //                maxlength: 200
        //            },
        //            'FromMobilePhone': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '5';
        //                },
        //                maxlength: 30
        //            },
        //            'ToName': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '6';
        //                },
        //                maxlength: 200
        //            },
        //            'ToZipCode': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '7';
        //                },
        //                minlength: 6,
        //                maxlength: 6
        //            },
        //            'ToAddress': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '8';
        //                },
        //                maxlength: 200
        //            },
        //            'ToMobilePhone': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '9';
        //                },
        //                maxlength: 30
        //            },
        //            'DriverId': {
        //                required: function() {
        //                    return $('#Updatefield').val() == '20' || $('#Updatefield').val() == '21';
        //                }
        //            }

        //        },

        //        invalidHandler: function(event, validator) { //display error alert on form submit
        //            success.hide();
        //            error.show();
        //            App.scrollTo(error, -200);
        //        },

        //        highlight: function(element) { // hightlight error inputs
        //            $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
        //        },

        //        unhighlight: function(element) { // revert the change done by hightlight
        //            $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
        //        },

        //        success: function(label) {
        //            label.closest('.form-group').removeClass('has-error'); // set success class to the control group
        //        },

        //        errorPlacement: function(error, element) {
        //            error.appendTo(element.closest('.form-group'));
        //        },

        //        submitHandler:
        //            BulkUpdateForm.on('submit', function () {
        //                if (BulkUpdateForm.valid()) {
        //                //Do something here
        //                alert("Validation passed");
        //            }
        //            return false;
        //        })
        //    });
        //}


        $(document)
            .ready(function () {

                $('#UpdateField')
                    .on(
                        'change',
                        function () {

                            $('.updatefieldgroup').addClass('hide');

                            var selectedValue = $(this).val();

                            if (selectedValue != '') {
                                $('.updatefield-' + selectedValue).removeClass('hide');
                            }
                        });

                $("#UpdateField").val($("#UpdateField").data("init-value"));
                if ($("#UpdateField").data("init-value") != '') {
                    $('.updatefield-' + $("#UpdateField").data("init-value")).removeClass('hide');
                }

                $('#UpdateUsingField')
                    .on(
                        'change',
                        function () {

                            $('.UpdateUsingFieldGroup').addClass('hide');

                            var selectedValue = $(this).val();

                            if (selectedValue == 2) {
                                $('.UpdateUsingFieldGroup').removeClass('hide');
                            }
                        });

                //Init_BulkUpdateValidation();

            });

    </script>


}

<section class="content">
    <span>@ViewBag.Message</span>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @{ Html.EnableClientValidation(false); }
                <form method="post" name="updateform" id="updateform">

                    <div class="box-body">
                        <div class="form-group">
                            @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <ul>
                                            @foreach (var message in ViewBag.ErrorMessages)
                                            {
                                                <li>@message</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ProcessSuccess != null && ViewBag.ProcessSuccess == true)
                            {
                                <div class="col-md-12">
                                    <div class="alert alert-info">
                                        <ul>
                                            <li>Completed Successfully.</li>
                                            <li>
                                                Records Affected: @rowsAffected.Count / @rows.Count
                                            </li>
                                            <br />
                                            @if (rowsAffected.Count != rows.Count)
                                            {
                                                <li> List of un - changed Consignment Numbers: </li>
                                                    <br />
                                            }
                                            @foreach (var cn in rows)
                                            {
                                                if (!rowsAffected.Contains(cn))
                                                {
                                                    @cn
                                                    <br />
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (ViewBag.ProcessSuccess == null)
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.Label("UpdateUsing", "Update Using")
                                    <select class="form-control" id="UpdateUsingField" name="UpdateUsingField">
                                        <option value="1">Consignment Number</option>
                                        <option value="2">Order Number</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group UpdateUsingFieldGroup hide">
                                <div class="col-md-6">
                                    @Html.LabelFor(m => m.CustomerName) (*)
                                    @Html.DropDownListFor(m => m.CustomerName, customerName.OrderBy(x => x.Text), new
                           {
                               @class = "form-control required"
                           })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.ConsignmentNumbers) (*)
                                    @Html.TextAreaFor(m => m.ConsignmentNumbers, new { @class = "form-control required", rows = 10 })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.Label("Updatefield", "Action?") (*)
                                    <select class="form-control" id="UpdateField" name="UpdateField" data-init-value="@Model.UpdateField" required>
                                        <option value="">Select Action</option>
                                        <option value="1">Update Status</option>
                                        <option value="10">Update Date and Time</option>
                                        <option value="20">Assign Driver as Special jobs</option>
                                        <option value="21">Assign Driver as Normal jobs (Dashboard)</option>
                                    </select>
                                </div>
                            </div>
                                <div class="form-group updatefieldgroup updatefield-1 hide">
                                    <div class="col-md-12">
                                        @Html.Label("Status", "New Status") (*)
                                        <select class="form-control" id="Status" name="Status" required>
                                            <option value="">Select New Status</option>
                                            <option value="3">Item is Collected</option>
                                            <option value="5">Item is in Warehouse</option>
                                            <option value="8">Order is Canceled</option>
                                            <option value="10">Order is Moved to Special Jobs For Pickup</option>
                                            <option value="11">Order is Moved to Special Jobs For Delivery</option>
                                            <option value="6">Delivery in progress</option>
                                            <option value="15">Item is Returned to Sender</option>
                                            <option value="7">Item is Delivered</option>
                                            <option value="4">Pickup Failed</option>
                                            <option value="9">Deliver Failed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-2 hide">
                                    <div class="col-md-12">
                                        @Html.Label("FromName", "Sender Name") (*)
                                        @Html.TextBox("FromName", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-3 hide">
                                    <div class="col-md-12">
                                        @Html.Label("FromZipCode", "Sender ZipCode") (*)
                                        @Html.TextBox("FromZipCode", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-4 hide">
                                    <div class="col-md-12">
                                        @Html.Label("FromAddress", "Sender Address") (*)
                                        @Html.TextBox("FromAddress", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-5 hide">
                                    <div class="col-md-12">
                                        @Html.Label("FromMobilePhone", "Sender Phone") (*)
                                        @Html.TextBox("FromMobilePhone", null, new { @class = "form-control required" })
                                    </div>
                                </div>

                                <div class="form-group updatefieldgroup updatefield-6 hide">
                                    <div class="col-md-12">
                                        @Html.Label("ToName", "Recipient Name") (*)
                                        @Html.TextBox("ToName", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-7 hide">
                                    <div class="col-md-12">
                                        @Html.Label("ToZipCode", "Recipient ZipCode") (*)
                                        @Html.TextBox("ToZipCode", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-8 hide">
                                    <div class="col-md-12">
                                        @Html.Label("ToAddress", "Recipient Address") (*)
                                        @Html.TextBox("ToAddress", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group updatefieldgroup updatefield-9 hide">
                                    <div class="col-md-12">
                                        @Html.Label("ToMobilePhone", "Recipient Contact") (*)
                                        @Html.TextBox("ToMobilePhone", null, new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="updatefieldgroup updatefield-10 hide">
                                    <div class="text-danger form-group">
                                        <div class="col-md-12">
                                            <p>
                                                Date & Time slot are validated after you submit this form only. If your inputed values are not feasible for any of above orders, they will be ignored.
                                                <br />
                                                Please note that there may be many service types in those above orders, so that cannot apply same Time slot for all. In that case, unfeasible orders will be ignored too.
                                                <br />
                                                Empty values mean old data remains unchanged.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Label("PickupDate", "Pickup Date")
                                            @Html.DevExpress().DateEditFor(m => m.PickupDate,
                                                                   settings =>
                                                                   {
                                                                       settings.Name = "PickupDate";
                                                                       settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                                       settings.Properties.EditFormat = EditFormat.Custom;
                                                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                                       settings.Properties.AllowUserInput = false;
                                                                       settings.Width = Unit.Percentage(100);
                                                                       settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                                   }).GetHtml()
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Label("PickupTimeSlotSelection", "Pickup Time Slot")
                                            @Html.HiddenFor(m => m.PickupTimeSlotId)
                                            @Html.DevExpress().ComboBox(settings =>
                                                                {
                                                                    settings.Name = "PickupTimeSlotSelection";
                                                                    settings.Width = Unit.Percentage(100);
                                                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                                    settings.Properties.TextField = "Name";
                                                                    settings.Properties.TextFormatString = "{0} ({1} - {2})";
                                                                    settings.Properties.ValueField = "Id";
                                                                    settings.Properties.ValueType = typeof(int?);

                                                                    settings.Properties.Columns.Add("Name", "Name", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("FromTime", "From Time", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("ToTime", "To Time", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("IsAllowPreOrder", "Allow to book before time", Unit.Pixel(100));

                                                                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s, e) { $('#PickupTimeSlotId').val(s.GetValue()); }";
                                                                }).BindList(timeslots).Bind(Model?.PickupTimeSlotId).GetHtml()
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Label("DeliveryDate", "Delivery Date")
                                            @Html.DevExpress().DateEditFor(m => m.DeliveryDate,
                                                                   settings =>
                                                                   {
                                                                       settings.Name = "DeliveryDate";
                                                                       settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                                       settings.Properties.EditFormat = EditFormat.Custom;
                                                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                                       settings.Properties.AllowUserInput = false;
                                                                       settings.Width = Unit.Percentage(100);
                                                                       settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                                   }).GetHtml()
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Label("DeliveryTimeSlotSelection", "Delivery Time Slot")
                                            @Html.HiddenFor(m => m.DeliveryTimeSlotId)
                                            @Html.DevExpress().ComboBox(settings =>
                                                                {
                                                                    settings.Name = "DeliveryTimeSlotSelection";
                                                                    settings.Width = Unit.Percentage(100);
                                                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                                    settings.Properties.TextField = "Name";
                                                                    settings.Properties.TextFormatString = "{0} ({1} - {2})";
                                                                    settings.Properties.ValueField = "Id";
                                                                    settings.Properties.ValueType = typeof(int?);

                                                                    settings.Properties.Columns.Add("Name", "Name", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("FromTime", "From Time", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("ToTime", "To Time", Unit.Pixel(100));
                                                                    settings.Properties.Columns.Add("IsAllowPreOrder", "Allow to book before time", Unit.Pixel(100));

                                                                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s, e) { $('#DeliveryTimeSlotId').val(s.GetValue()); }";
                                                                }).BindList(timeslots).Bind(Model?.DeliveryTimeSlotId).GetHtml()
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group updatefieldgroup updatefield-20 updatefield-21 hide">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.DriverId) (*)
                                        @Html.HiddenFor(m => m.DriverId)
                                        @Html.DevExpress().ComboBox(comboSettings =>
                               {
                                   comboSettings.Name = "driverSelection";
                                   comboSettings.Width = Unit.Percentage(100);
                                   comboSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;

                                   comboSettings.Properties.CallbackPageSize = 30;
                                   comboSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                   comboSettings.Properties.TextField = "Name";
                                   comboSettings.Properties.TextFormatString = "{2}";
                                   comboSettings.Properties.ValueField = "Id";
                                   comboSettings.Properties.ValueType = typeof(string);

                                   comboSettings.Properties.Columns.Add("AccountType", "Account Type", Unit.Pixel(200));
                                   comboSettings.Properties.Columns.Add("UserName", "UserName", Unit.Pixel(200));
                                   comboSettings.Properties.Columns.Add("Name", "Name", Unit.Pixel(200));
                                   comboSettings.Properties.Columns.Add("MobileNumber", "Mobile Number", Unit.Pixel(200));
                                   comboSettings.Properties.Columns.Add("ICNumber", "IC Number", Unit.Pixel(200));
                                   comboSettings.Properties.Columns.Add("IdentityNumber", "Staff Number", Unit.Pixel(200));

                                   comboSettings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s, e) { $('#DriverId').val(s.GetValue()); }";

                               }).BindList(DriversController.GetDrivers().Where(x => x.IsActive).OrderBy(x => x.AccountType).ToList()).GetHtml()
                                    </div>
                                </div>
                        }
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer form-group">
                        <div class="col-md-12">
                            @if (ViewBag.ProcessSuccess == null)
                            {
                                <input type="submit" name="submit" class="btn btn-primary" value="Submit" />
                            }

                        </div>
                    </div>
                </form>

                @{ Html.EnableClientValidation(false); }

            </div>
        </div>
    </div>
</section>