﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddEditOrderViewModel

@{
    ViewBag.Title = "Edit Failed Order";
    var pickupTimeSlots = ViewBag.PickupTimeslots as List<SelectListItem> ?? new List<SelectListItem>();
    var deliveryTimeSlots = ViewBag.DeliveryTimeslots as List<SelectListItem> ?? new List<SelectListItem>();
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" id="orderForm">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group" style="@(ViewBag.IsPickupTimeAllow == false || Model.Status == OrderStatuses.DeliveryFailed ? "display: none" : "")">
                            @Html.LabelFor(m => m.PickupTimeSlotId)
                            @Html.DropDownListFor(m => m.PickupTimeSlotId, pickupTimeSlots, new
                                                                                            {
                                                                                                @class = "form-control"
                                                                                            })
                            @Html.ValidationMessageFor(m => m.PickupTimeSlotId)
                        </div>
                        <div class="form-group is-pickup-date-allow" style="@(ViewBag.IsPickupDateAllow == false || Model.Status == OrderStatuses.DeliveryFailed ? "display: none" : "")">
                            @Html.LabelFor(m => m.PickupDate)
                            @Html.DevExpress().DateEditFor(m => m.PickupDate,
                                                           settings =>
                                                           {
                                                               settings.Name = "PickupDate";
                                                               settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                               settings.Properties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                               settings.Properties.AllowUserInput = false;
                                                               settings.Properties.MinDate = DateTime.Now.Date;
                                                               settings.Properties.MaxDate = DateTime.MaxValue;
                                                               settings.Width = Unit.Percentage(100);
                                                               settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                           }).GetHtml()
                            @Html.ValidationMessageFor(m => m.PickupDate)
                        </div>
                        <div class="form-group is-delivery-time-allow" style="@(ViewBag.IsDeliveryTimeAllow == false ? "display: none" : "")">
                            @Html.LabelFor(m => m.DeliveryTimeSlotId)
                            @Html.DropDownListFor(m => m.DeliveryTimeSlotId, deliveryTimeSlots, new
                                                                                                {
                                                                                                    @class = "form-control"
                                                                                                })
                            @Html.ValidationMessageFor(m => m.DeliveryTimeSlotId)
                        </div>
                        <div class="form-group is-delivery-date-allow" style="@(ViewBag.IsDeliveryDateAllow == false ? "display: none" : "")">
                            @Html.LabelFor(m => m.DeliveryDate)
                            @Html.DevExpress().DateEditFor(m => m.DeliveryDate,
                                                           settings =>
                                                           {
                                                               settings.Name = "DeliveryDate";
                                                               settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                               settings.Properties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                               settings.Properties.AllowUserInput = false;
                                                               settings.Properties.MinDate = DateTime.Now.Date;
                                                               settings.Properties.MaxDate = DateTime.MaxValue;
                                                               settings.Width = Unit.Percentage(100);
                                                               settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                           }).GetHtml()
                            @Html.ValidationMessageFor(m => m.DeliveryDate)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" name="Action" value="ReDelScheduled">Submit</button>
                        @if (ViewBag.OrderStatus == (int) OrderStatuses.DeliveryFailed)
                        {
                            <button type="submit" class="btn btn-primary" name="Action" value="ReturnToSender">Return to Sender</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>