﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddEditOrderViewModel

@{
    ViewBag.Title = "Edit Order";
    var paymentTypes = ViewBag.PaymentTypes as List<SelectListItem> ?? new List<SelectListItem>();
    var productTypes = ViewBag.ProductTypes as List<SelectListItem> ?? new List<SelectListItem>();
    var pickupRequests = (SettingProvider.PickupRequests ?? "").Split(new[] { '\n', '\r' }, StringSplitOptions.RemoveEmptyEntries);
    var deliveryRequests = (SettingProvider.DeliveryRequests ?? "").Split(new[] { '\n', '\r' }, StringSplitOptions.RemoveEmptyEntries);
}

@section scripts
{
    <script>
        $('#menu-edit-order').addClass("active");
        $('#menu-edit-order').parents('.treeview').addClass("active");
        $('#menu-edit-order').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

        var findCustomersLink = "@Url.Action("FindCustomers", "Orders")";
        var loadServiceOptionsLink = "@Url.Action("LoadServiceSelectItems", "Orders")";
        var loadSizeOptionsLink = "@Url.Action("LoadSizeSelectItems", "Orders")";
        var serviceId = @(Model?.ServiceId ?? 0);
        var sizeId = @(Model?.SizeId ?? 0);

        $(function() {
            $('input[type = "checkbox"], input[type = "radio"]')
                .iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
        });
    </script>
    <script src="@Url.Content("~/Content/admin-order.js")"></script>
    @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersEditOrder))
    {
        <script>
            $(function() {
                $('#ServiceId').trigger('change');
            })
        </script>
    }
    <script>
        $(function() {
            setTimeout(
                function() {
                    var curPrice = $("#Price").val();
                    updatePrice();
                    $("#Price").val(curPrice);
                },
                500);
        })
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST" id="orderForm">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerId)
                            <select id="CustomerId" name="CustomerId" class="form-control">
                                <option value="@(Model?.CustomerId != null ? Model?.CustomerId.Value.ToString() : "")">@(Model?.Customer != null ? $"{Model?.Customer.CustomerName}" + (string.IsNullOrEmpty(Model?.Customer.CustomerCompany) ? "" : " / " + Model?.Customer.CustomerCompany) + $" ({Model?.Customer.CustomerAddress})" : "") </option>
                            </select>
                            @Html.ValidationMessageFor(m => m.CustomerId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FromName) (*)
                            @Html.TextBoxFor(m => m.FromName, new
                                                              {
                                                                  @class = "form-control"
                                                              })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FromZipCode) (*)
                            @Html.TextBoxFor(m => m.FromZipCode, new
                                                                 {
                                                                     @class = "form-control"
                                                                 })
                            @Html.ValidationMessageFor(m => m.FromZipCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FromAddress) (*)
                            @Html.TextBoxFor(m => m.FromAddress, new
                                                                 {
                                                                     @class = "form-control"
                                                                 })
                            @Html.ValidationMessageFor(m => m.FromAddress)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FromMobilePhone) (*)
                            @Html.TextBoxFor(m => m.FromMobilePhone, new
                                                                     {
                                                                         @class = "form-control"
                                                                     })
                            @Html.ValidationMessageFor(m => m.FromMobilePhone)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ToName) (*)
                            @Html.TextBoxFor(m => m.ToName, new
                                                            {
                                                                @class = "form-control"
                                                            })
                            @Html.ValidationMessageFor(m => m.ToName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ToZipCode) (*)
                            @Html.TextBoxFor(m => m.ToZipCode, new
                                                               {
                                                                   @class = "form-control"
                                                               })
                            @Html.ValidationMessageFor(m => m.ToZipCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ToAddress) (*)
                            @Html.TextBoxFor(m => m.ToAddress, new
                                                               {
                                                                   @class = "form-control"
                                                               })
                            @Html.ValidationMessageFor(m => m.ToAddress)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ToMobilePhone) (*)
                            @Html.TextBoxFor(m => m.ToMobilePhone, new
                                                                   {
                                                                       @class = "form-control"
                                                                   })
                            @Html.ValidationMessageFor(m => m.ToMobilePhone)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductTypeId) (*)
                            @Html.DropDownListFor(m => m.ProductTypeId, productTypes, new
                                                                                      {
                                                                                          @class = "form-control"
                                                                                      })
                            @Html.ValidationMessageFor(m => m.ProductTypeId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ServiceId) (*)
                            <select class="form-control valid" data-val="true" data-val-number="The field Service must be a number." data-val-required="The Service field is required." id="ServiceId" name="ServiceId"></select>
                            @Html.ValidationMessageFor(m => m.ServiceId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SizeId) (*)
                            <select class="form-control valid" data-val="true" data-val-number="The field Size must be a number." data-val-required="The Size field is required." id="SizeId" name="SizeId"></select>
                            @Html.ValidationMessageFor(m => m.SizeId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentTypeId) (*)
                            @Html.DropDownListFor(m => m.PaymentTypeId, paymentTypes, new
                                                                                      {
                                                                                          @class = "form-control"
                                                                                      })
                            @Html.ValidationMessageFor(m => m.PaymentTypeId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Remark)
                            @Html.TextAreaFor(m => m.Remark, new
                                                             {
                                                                 @class = "form-control",
                                                                 rows = "4"
                                                             })
                            @Html.ValidationMessageFor(m => m.Remark)
                        </div>
                        @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.EditOrderPrice))
                        {
                            <div class="form-group for-staff">
                                <div id="priceDetail"></div>
                                @Html.LabelFor(m => m.Price) (*)
                                @if (Model?.Status == OrderStatuses.ItemDelivered)
                                {
                                    @Html.TextBoxFor(m => m.Price, new
                                                                   {
                                                                       @class = "form-control number-spinner",
                                                                       data_step = "0.01",
                                                                       data_decimals = "2",
                                                                       data_prefix = "$",
                                                                       @readonly = "readonly"
                                                                   })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Price, new
                                                                   {
                                                                       @class = "form-control number-spinner",
                                                                       data_step = "0.01",
                                                                       data_decimals = "2",
                                                                       data_prefix = "$"
                                                                   })
                                }
                                @Html.ValidationMessageFor(m => m.Price)
                            </div>
                        }
                        <div class="form-group is-pickup-time-allow" style="display: none;">
                            @Html.LabelFor(m => m.PickupTimeSlotId)
                            <select id="PickupTimeSlotId" name="PickupTimeSlotId" class="form-control" data-val="@(Model?.PickupTimeSlotId)"></select>
                            @Html.ValidationMessageFor(m => m.PickupTimeSlotId)
                        </div>
                        <div class="form-group is-pickup-date-allow" style="display: none;">
                            @Html.LabelFor(m => m.PickupDate)
                            @Html.DevExpress().DateEditFor(m => m.PickupDate,
                                                           settings =>
                                                           {
                                                               settings.Name = "PickupDate";
                                                               settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                               settings.Properties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                               settings.Properties.AllowUserInput = false;
                                                               settings.Properties.MinDate = DateTime.Now;
                                                               settings.Width = Unit.Percentage(100);
                                                               settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                           }).GetHtml()
                            @Html.ValidationMessageFor(m => m.PickupDate)
                        </div>
                        <div class="form-group is-delivery-time-allow" style="display: none;">
                            @Html.LabelFor(m => m.DeliveryTimeSlotId)
                            <select id="DeliveryTimeSlotId" name="DeliveryTimeSlotId" class="form-control" data-val="@(Model?.DeliveryTimeSlotId)"></select>
                            @Html.ValidationMessageFor(m => m.DeliveryTimeSlotId)
                        </div>
                        <div class="form-group is-delivery-date-allow" style="display: none;">
                            @Html.LabelFor(m => m.DeliveryDate)
                            @Html.DevExpress().DateEditFor(m => m.DeliveryDate,
                                                           settings =>
                                                           {
                                                               settings.Name = "DeliveryDate";
                                                               settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                                                               settings.Properties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                                                               settings.Properties.AllowUserInput = false;
                                                               settings.Properties.MinDate = DateTime.Now;
                                                               settings.Width = Unit.Percentage(100);
                                                               settings.Properties.ClientSideEvents.GotFocus = "function(s, e) { s.ShowDropDown(); }";
                                                           }).GetHtml()
                            @Html.ValidationMessageFor(m => m.DeliveryDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status) (*)
                            @Html.EnumDropDownListFor(m => m.Status, new
                                                                     {
                                                                         @class = "form-control"
                                                                     })
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PromoCode)
                            @Html.TextBoxFor(m => m.PromoCode, new
                                                               {
                                                                   @class = "form-control"
                                                               })
                            @Html.ValidationMessageFor(m => m.PromoCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.OperatorRemark)
                            @Html.TextAreaFor(m => m.OperatorRemark, new
                                                                     {
                                                                         @class = "form-control",
                                                                         rows = "4"
                                                                     })
                            @Html.ValidationMessageFor(m => m.OperatorRemark)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PickupRequest)
                            <label style="display: block;">
                                <input type="radio" name="PickupRequest" value="" @(string.IsNullOrEmpty(Model?.PickupRequest) ? "checked=checked" : "") />- No request -
                            </label>
                            @foreach (var request in pickupRequests)
                            {
                                <label style="display: block;">
                                    <input type="radio" name="PickupRequest" value="@request" @(request.Equals(Model?.PickupRequest, StringComparison.OrdinalIgnoreCase) ? "checked=checked" : "") />@request</label>
                            }
                            @Html.ValidationMessageFor(m => m.PickupRequest)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DeliveryRequest)
                            <label style="display: block;">
                                <input type="radio" name="DeliveryRequest" value="" @(string.IsNullOrEmpty(Model?.DeliveryRequest) ? "checked=checked" : "") />- No request -
                            </label>
                            @foreach (var request in deliveryRequests)
                            {
                                <label style="display: block;">
                                    <input type="radio" name="DeliveryRequest" value="@request" @(request.Equals(Model?.DeliveryRequest, StringComparison.OrdinalIgnoreCase) ? "checked=checked" : "") />@request</label>
                            }
                            @Html.ValidationMessageFor(m => m.DeliveryRequest)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsExchange)
                            @Html.CheckBoxFor(m => m.IsExchange)
                            @Html.ValidationMessageFor(m => m.IsExchange)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CodOptions)
                            <div class="row margin-bottom">
                                <div class="col-sm-4 text-bold">
                                    Name
                                </div>
                                <div class="col-sm-4 text-bold">
                                    Amount
                                </div>
                                <div class="col-sm-4 text-bold">
                                    Collected Amount
                                </div>
                            </div>
                            @if (Model?.CodOptions != null)
                            {
                                for (var i = 0; i < Model?.CodOptions.Count; i++)
                                {
                                    <div class="row margin-bottom">
                                        <div class="col-sm-4">
                                            @Html.Raw(Model?.CodOptions[i].Name)
                                            @Html.HiddenFor(m => m.CodOptions[i].Id)
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(m => m.CodOptions[i].Amount, new
                                                                                          {
                                                                                              @class = "form-control number-spinner",
                                                                                              data_step = "0.01",
                                                                                              data_decimals = "2",
                                                                                              data_prefix = "$"
                                                                                          })
                                            @Html.ValidationMessageFor(m => m.CodOptions[i].Amount)
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(m => m.CodOptions[i].CollectedAmount, new
                                                                                                   {
                                                                                                       @class = "form-control number-spinner",
                                                                                                       data_step = "0.01",
                                                                                                       data_decimals = "2",
                                                                                                       data_prefix = "$"
                                                                                                   })
                                            @Html.ValidationMessageFor(m => m.CodOptions[i].CollectedAmount)
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>