﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Edit Order";
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-edit-order').addClass("active");
            $('#menu-edit-order').parents('.treeview').addClass("active");
            $('#menu-edit-order')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");
        });

        function doAction(id, action) {
            gridViewOrders.PerformCallback({ id: id, command: action });
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("ListViewPartialNew")
        </div>
    </div>
</section>