﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Orders";
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-show-orders').addClass("active");
            $('#menu-show-orders').parents('.treeview').addClass("active");
            $('#menu-show-orders')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('#popupModal')
                .modal({
                    show: false
                });
        });

        function deleteRow(index) {
            swal(
                {
                    title: "Are you sure?",
                    text: "You will not be able to recover this action!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                function() {
                    gridViewOrders.DeleteRow(index);
                });
        }

        function doAction(id, action) {
            gridViewOrders.PerformCallback({ id: id, command: action });
        }

        function showPopupImage(path, consignmentNumber) {
            $('#personName').text("");
            var parts = path.split('|');
            $('#popupImage').attr("src", parts[0]);
            if (parts[1]) {
                $('#personName').text(parts[1]);
            }

            if (consignmentNumber) {
                $('#popupModal .print-qr').attr("href", "/Order/PrintCode/" + consignmentNumber + "?ops=1");
            }
            else {
                $('#popupModal .print-qr').attr("href", $('#popupImage').attr("src"));
            }

            $('#popupModal').modal('show');
        }

        function showOrderDetails(consignmentNumber) {
            popupControl.SetWidth($(window).innerWidth() * 0.8);
            popupControl.SetHeight($(window).innerHeight() * 0.8);
            popupControl.SetContentUrl("@Url.Action("OrderDetails", "Orders")" + "?consignmentNumber=" + consignmentNumber);
            popupControl.Show();
        }

        function exportToVRP() {
            $('#FilterExpression').val(gridViewOrders.cpFilterExpression);
            $('#StartDate').val(start.format('DD/MM/YYYY'));
            $('#EndDate').val(end.format('DD/MM/YYYY'));
        }

        var start, end;
        $(function() {

            $('#dateRange')
                .daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment(),
                        locale: {
                            format: 'dd/MM/yyyy'
                        }
                    },
                    function(s, e) {
                        start = s;
                        end = e;

                        $('#StartDate').val(start.format('DD/MM/YYYY'));
                        $('#EndDate').val(end.format('DD/MM/YYYY'));

                        $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                        gridViewOrders.PerformCallback({
                            start: start.format('DD/MM/YYYY'),
                            end: end.format('DD/MM/YYYY')
                        });
                    }
                );

            @if (ViewBag.StartDate != null && ViewBag.EndDate != null)
            {
                <text>
                    start = moment("@(ViewBag.StartDate.ToUniversalTime().ToString("o"))");
                    end = moment("@(ViewBag.EndDate.ToUniversalTime().ToString("o"))");
                    $('#dateRange').val("@(ViewBag.StartDate.ToString("dd/MM/yyyy")) - @(ViewBag.EndDate.ToString("dd/MM/yyyy"))");
                </text>
            }
        });

    </script>
}

<section class="content">

    <form method="POST" action="@Url.Action("Export", "Orders")">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Filter</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="col-md-12 col-sm-6">
                    <label for="dateRange">Date Range</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left" id="dateRange">
                        </div>
                    </div>
                </div>

                <input type="hidden" name="FilterExpression" id="FilterExpression" />
                <input type="hidden" name="COD" id="COD" />
                <input type="hidden" name="CODCollected" id="CODCollected" />
                <input type="hidden" name="StartDate" id="StartDate" />
                <input type="hidden" name="EndDate" id="EndDate" />

                <div class="col-md-12 col-sm-12 margin-bottom">
                    @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersExportOrders))
                    {
                        <button class="btn btn-primary" name="Type" value="XLS" onclick="exportToVRP()">Export to XLS</button>
                        <button class="btn btn-primary" name="Type" value="XLSX" onclick="exportToVRP()">Export to XLSX</button>
                        <button class="btn bg-orange" name="Type" value="VRP" onclick="exportToVRP()">Export to VRP file</button>
                    }
                    <a href="@SettingProvider.VrpLink" target="_blank" class="btn bg-aqua">Open VRP system</a>
                    @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersExportOrders))
                    {
                        <button class="btn bg-fuchsia" name="Type" value="AutoVRP" onclick="exportToVRP()">Run in VRP system</button>
                    }
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-xs-12">
                @Html.Action("ListViewPartial", new
                                                {
                                                    start = ViewBag.StartDate?.ToString("dd/MM/yyyy"),
                                                    end = ViewBag.EndDate?.ToString("dd/MM/yyyy")
                                                })
            </div>
        </div>

    </form>

</section>

<div class="modal fade modal-success" id="popupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Orders</h4>
            </div>
            <div class="modal-body">
                <img id="popupImage" src="" alt="Image" class="img-responsive" style="margin: auto;" />
                <h4 id="personName" class="text-center"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline print-qr" target="_blank">Print</a>
                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.DevExpress().PopupControl(settings =>
                                {
                                    settings.Name = "popupControl";
                                    settings.CloseAction = CloseAction.OuterMouseClick;
                                    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                                    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                                    settings.AllowDragging = true;
                                    settings.AllowResize = true;
                                    settings.Modal = true;
                                    settings.EnableHotTrack = true;
                                    settings.Width = 600;
                                    settings.Height = 400;
                                    settings.HeaderText = "Details";
                                }).GetHtml()