﻿@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@{
    Layout = null;
    var orders = ViewBag.BulkPrintOrders as List<Order> ?? new List<Order>();
    var fromOps = !string.IsNullOrEmpty(Request["ops"]);
    var startPossition = ViewBag.StartPossition as int? ?? 0;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bulk Print QR Code</title>
        <style type="text/css">
            body {
                font-size: 10px;
            }

            h4 {
                margin: 3px 0;
                font-size: 10px;
                text-align: left;
                font-family: 'Century Gothic';
            }

            h2 {
                margin: 3px 0;
                font-size: 19px;
                font-family: 'Alpaca Scarlett Demo';
            }

            h5 {
                margin: 3px 0;
                font-size: 8px;
                font-family: 'Century Gothic';
            }

            img {
                margin: 0;
            }

            hr {
                margin: 5px 0;
            }

            .divTable {
                /*box-sizing: border-box;*/
                float: left;
                @if (!fromOps)
                {
                    @: width: 46%;
                }
                else
                {
                    @: width: 86%;
                }
                padding: 2%;
                /*border: solid;*/
                /*margin: 10px;*/
                /*height: 260px;*/
            }

            .divHeaderRow {
                display: block;
                width: 100%;
                height: 50px;
            }

            .divRow {
                float: left;
                width: 100%;
            }

            .divCell {
                box-sizing: border-box;
                float: left;
                width: 40%;
            }

            .divCell.right {
                width: 20%;
            }

            .divCell.center {
                width: 40%;
                margin-left: -6%
            }

            @@page {
                margin-left: 0.130in;
                margin-right: 0.120in;
                margin-top: 0.05in;
                margin-bottom: 0.05in;
            }

            @@media print {
                .divTable {
                    @if (fromOps)
                    {
                        @: height: 2.35in;
                        @: padding-left: %;
                    }
                    else
                    {
                        @: height: 2.70in; /* 11.69291 inches - 0.2 in / 4 */
                    }
                    /*margin-right: auto;*/
                    padding-top: 0.1in;
                    padding-bottom: 0.1in;
                }
            }
        </style>
    </head>
    <body>

        <div style="text-align: center;">

            @if (ViewBag.ErrorMessage != null)
            {
                <div style="color: #ff0000">@Html.Raw(ViewBag.ErrorMessage)</div>
            }
            else
            {
                var db = OrdersController.DB;
                for (var i = 0; i < orders.Count + startPossition; i++)
                {
                    if (i % 2 == 0)
                    {
                        <div style="clear: left;"></div>
                    }

                    if (i < startPossition)
                    {
                        <div class="divTable">
                        </div>
                    }
                    else
                    {
                        var order = orders[i - startPossition];
                        var toPostalPlace = db.ZipCodes.FirstOrDefault(x => x.PostalCode == order.ToZipCode);
                        <div class="divTable">
                            <div class="divHeaderRow">
                                <div class="divCell">
                                    <img style="max-width: 40px; max-height: 40px;" src="~/images/LogoQRCode.png" />
                                </div>
                                <div class="divCell center" style="text-align: left">
                                    <h2 style="font-size: 17px">ROADBULL</h2>
                                    <h4 style="text-align: left">www.roadbull.com<a href="www.roadbull.com"></a></h4>
                                    <hr />
                                </div>
                                <div class="divCell right" style="align-content: center">
                                    <table border="1" style="font-size: 12px; float: right">
                                        <tr>
                                            <td>@order.ToZipCode.Substring(0, 2)</td>
                                            <td> @order.BinCode</td>
                                        </tr>
										@if(order.CodOptionOfOrders.Count > 0 || order.IsExchange)
										{
											<tr>
												<td colspan="2" style="font-size:1.1vw">
													@if (order.CodOptionOfOrders.Count > 0)
													{
														foreach (var cod in order.CodOptionOfOrders)
														{
															<span>@cod.Amount.ToString("C")</span>
															 if (cod.CodOption.Description.ToUpper().Contains("Cash".ToUpper()))
															{
																<span>Cash</span>
															}
															else if (cod.CodOption.Description.ToUpper().Contains("Cheque".ToUpper()))
															{
																<span>Cheque</span>
															}
														}
														if(order.IsExchange)
														{
															<br/>
														}
													}
													@if(order.IsExchange)
													{
														<span>Exchange</span>
													}
												</td>
											</tr>
										}
                                    </table>
                                </div>
                            </div>
                            <div class="divRow">
                                <div class="divCell">
                                    <img style="width: 60%" src="@Url.Content(order.QrCodePath)" alt="@order.ConsignmentNumber" />
                                    <h4 style="font-size: 12px; text-align: center;">
                                        <strong>@order.ConsignmentNumber</strong>
                                    </h4>
                                    <h5>
                                        <strong>RB_@order.OrderNumber</strong>
                                    </h5>

                                    <h5 style="text-align: center;">
                                        Size:
                                        @order.Size.SizeName
                                    </h5>
                                </div>
                                <div class="divCell center" style="width: 60%">
                                    <h4>
                                        FROM: <strong>@order.Customer.CustomerCompany</strong>
                                    </h4>
                                    <h4>
                                        TO:
                                        <strong>@order.ToName</strong>
                                    </h4>
                                    <h4>
                                        HP: &nbsp;
                                        <strong>@order.ToMobilePhone</strong>
                                    </h4>
                                    <h4>
                                        <strong>@order.ToAddress</strong>, @order.ToZipCode
                                    </h4>
                                    <h4>POSTAL CODE: &nbsp; @order.ToZipCode</h4>
                                    <hr style="width: 100%;" />
                                    <h4>REMARKS: @order.Remark, @order.Location,@order.SKU,@order.Quantity</h4>
                                </div>
                                @*<div class="divCell right">
                                </div>*@
                            </div>
                            <div class="divRow" style="margin-top: 25px ">
                                <img style="height:19px; width:80%" src="@Url.Content(PathHelper.OrderUploadBaseDirectory + PathHelper.BarCodesDirectory + @order.ConsignmentNumber +".jpg" )" />
                                <div>
                                    <span>@order.ConsignmentNumber</span>
                                </div>
                            </div>
                        </div>
                    }
                    
                    if (i % 8 == 7)
                    {
                        <p style="page-break-after: always"></p>
                    }
                }
            }
        </div>

        <script>
            window.print();
        </script>
    </body>
</html>