﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Today Orders";
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-show-today-orders').addClass("active");
            $('#menu-show-today-orders').parents('.treeview').addClass("active");
            $('#menu-show-today-orders')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('#popupModal')
                .modal({
                    show: false
                });
        });

        function deleteRow(index) {
            swal(
                {
                    title: "Are you sure?",
                    text: "You will not be able to recover this action!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                function() {
                    gridViewOrders.DeleteRow(index);
                });
        }

        function doAction(id, action) {
            gridViewOrders.PerformCallback({ id: id, command: action });
        }

        function showPopupImage(path, consignmentNumber) {
            $('#personName').text("");
            var parts = path.split('|');
            $('#popupImage').attr("src", parts[0]);
            if (parts[1]) {
                $('#personName').text(parts[1]);
            }

            if (consignmentNumber) {
                $('#popupModal .print-qr').attr("href", "/Order/PrintCode/" + consignmentNumber + "?ops=1");
            }
            else {
                $('#popupModal .print-qr').attr("href", $('#popupImage').attr("src"));
            }

            $('#popupModal').modal('show');
        }

        function exportToVRP() {
            $('#FilterExpression').val(gridViewOrders.cpFilterExpression);
        }
    </script>
}

<section class="content">

    <form method="POST" action="@Url.Action("ExportToday", "Orders")">
        <input type="hidden" name="FilterExpression" id="FilterExpression" />
        <input type="hidden" name="COD" id="COD" />
        <input type="hidden" name="CODCollected" id="CODCollected" />

        <div class="row">
            <div class="col-md-12 col-sm-12 margin-bottom">
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersExportTodayOrders))
                {
                    <button class="btn btn-primary" name="Type" value="XLS" onclick="exportToVRP()">Export to XLS</button>
                    <button class="btn btn-primary" name="Type" value="XLSX" onclick="exportToVRP()">Export to XLSX</button>
                    <button class="btn bg-orange" name="Type" value="VRP" onclick="exportToVRP()">Export to VRP file</button>
                }
                <a href="@SettingProvider.VrpLink" target="_blank" class="btn bg-aqua">Open VRP system</a>
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersExportTodayOrders))
                {
                    <button class="btn bg-fuchsia" name="Type" value="AutoVRP" onclick="exportToVRP()">Run in VRP system</button>
                }
            </div>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("TodayListViewPartial")
            </div>
        </div>

    </form>

</section>

<div class="modal fade modal-success" id="popupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Orders</h4>
            </div>
            <div class="modal-body">
                <img id="popupImage" src="" alt="Image" class="img-responsive" style="margin: auto;" />
                <h4 id="personName" class="text-center"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline print-qr" target="_blank">Print</a>
                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>