@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html
        .DevExpress()
        .GridView(settings =>
                  {
                      settings.Name = "gridViewPaySchemes";
                      settings.CallbackRouteValues = new
                                                     {
                                                         Controller = "Drivers",
                                                         Action = "PaySchemesViewPartial"
                                                     };

                      settings.SettingsEditing.DeleteRowRouteValues = new
                                                                      {
                                                                          Controller = "Drivers",
                                                                          Action = "PaySchemesViewPartialDelete"
                                                                      };

                      settings.Width = Unit.Percentage(100);

                      settings.CommandColumn.Visible = false;

                      settings.KeyFieldName = "Id";

                      settings.EnableRowsCache = true;

                      settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                      settings.SettingsPager.Visible = true;
                      settings.Settings.ShowGroupPanel = true;
                      settings.Settings.ShowFilterRow = true;
                      settings.Settings.GridLines = GridLines.Both;

                      settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                      settings.SettingsBehavior.AllowSelectByRowClick = true;
                      settings.SettingsBehavior.ConfirmDelete = true;
                      settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                      settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                      settings.SettingsPager.FirstPageButton.Visible = true;
                      settings.SettingsPager.LastPageButton.Visible = true;
                      settings.SettingsPager.PageSizeItemSettings.Visible = true;
                      settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

                      settings.Columns.Add(column =>
                                           {
                                               column.Width = Unit.Pixel(150);
                                               column.SetDataItemTemplateContent(e =>
                                                                                 {
                                                                                     var row = (PayScheme) e.Grid.GetRow(e.VisibleIndex);
                                                                                     if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversEditPayScheme))
                                                                                     {
                                                                                         Html.ViewContext.Writer.Write("<a class='btn bg-purple btn-circle' href='" + Url.Action("EditPayScheme", "Drivers", new
                                                                                                                                                                                                             {
                                                                                                                                                                                                                 id = row.Id
                                                                                                                                                                                                             }) + "'><span class='fa fa-pencil'></span></a>");
                                                                                     }
                                                                                     if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversDeletePayScheme))
                                                                                     {
                                                                                         Html.ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                                                     }
                                                                                     if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversAddPayScheme))
                                                                                     {
                                                                                         Html.ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("AddPayScheme", "Drivers")}'><span class='fa fa-plus'></span></a>");
                                                                                     }
                                                                                 });
                                           });
                      settings.Columns.Add("SchemeName").Width = Unit.Pixel(200);
                      settings.Columns.Add(column =>
                                           {
                                               column.Caption = "Pay Rate";
                                               column.Width = Unit.Pixel(400);
                                               column.SetDataItemTemplateContent(e =>
                                                                                 {
                                                                                     var row = (PayScheme) e.Grid.GetRow(e.VisibleIndex);
                                                                                     foreach (var rate in row.PayRates.Where(x => !x.IsDeleted))
                                                                                     {
                                                                                         Html.ViewContext.Writer.Write(rate.Service.ServiceName + " " + rate.Size.SizeName + ": " + rate.Amount.ToString("C"));
                                                                                         Html.ViewContext.Writer.Write("<br />");
                                                                                     }
                                                                                 });
                                           });
                      settings.Columns.Add("CreatedOn").Width = Unit.Pixel(200);

                      settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
                  });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = DriversController.GetPaySchemes(); }).GetHtml()