﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.AddDriverViewModel

@{
    ViewBag.Title = "Add Driver";
    var countryCodes = ViewBag.CountryCodes as List<SelectListItem> ?? new List<SelectListItem>();
    var paySchemes = ViewBag.PaySchemes as List<SelectListItem> ?? new List<SelectListItem>();
    paySchemes.Insert(0, new SelectListItem()
                         {
                             Text = "--- No Pay Rate ---",
                             Value = ""
                         });
}

@section styles{
    <style>
        .staff .for-staff, .member .for-member { display: block; }

        .staff .for-member, .member .for-staff { display: none; }
    </style>
}


@section headerScripts
{
    <script>
        function rating_ItemClick(s, e) {
            $('#Rating').val(s.GetValue());
        }
    </script>
}

@section scripts
{
    <script>
        var staffValue = @((int) AccountTypes.Staff);
        $(function() {
            $('#menu-add-driver').addClass("active");
            $('#menu-add-driver').parents('.treeview').addClass("active");
            $('#menu-add-driver')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('input')
                .iCheck({
                    labelHover: false,
                    cursor: true,
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });

            $('#Rating').val(0);

            $('#UserName').on('change', onCheckDuplicateUsername);

            onChangeAccountType();
            $('#AccountType').on('change', onChangeAccountType);

            var editor = $(".textarea").wysihtml5();
        });

        function onCheckDuplicateUsername() {
            $.ajax({
                url: "/api/Accounts/CheckUserName/" + $('#UserName').val(),
                type: "POST",
                success: function(data) {
                    if (data.Existed == true) {
                        $('#UserName').addClass("input-validation-error");
                        $('#UserName')
                            .parent()
                            .append('<span class="field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true">' +
                                '<span for="UserName" class="">This User Name exists. You can use the alternative(s): <strong>' +
                                data.Suggestion.join(',') +
                                '</strong>.</span>' +
                                '</span>');
                    }
                }
            });
        }

        function onChangeAccountType() {
            if ($('#AccountType').val() == staffValue) {
                $('form').removeClass("member").addClass("staff");
            } else {
                $('form').removeClass("staff").addClass("member");
            }
        }

        function onFileUploadComplete(e) {
            if (e.callbackData) {
                var fileData = e.callbackData.split('|');
                var fileName = fileData[0],
                    fileUrl = fileData[1],
                    fileSize = fileData[2];

                $('#userAvatar').attr("src", fileUrl);
                $('#Photo').val(fileUrl);
            }
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName) (*)
                            @Html.TextBoxFor(m => m.UserName, new
                                                              {
                                                                  @class = "form-control"
                                                              })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password) (*)
                            @Html.PasswordFor(m => m.Password, new
                                                               {
                                                                   @class = "form-control"
                                                               })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new
                                                                      {
                                                                          @class = "form-control"
                                                                      })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                                                          {
                                                              @class = "form-control"
                                                          })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            <div>@Html.LabelFor(m => m.Photo)</div>
                            <div style="float: left; width: 100px; height: 100px; border: dashed 1px #555; overflow: hidden; text-align: center;">
                                <img style="max-width: 100%; max-height: 100%;" id="userAvatar" src="@(!string.IsNullOrEmpty(Model?.Photo) ? Url.Content(Model.Photo) : "")" />
                                @Html.HiddenFor(m => m.Photo)
                            </div>
                            <div style="margin-left: 115px;">
                                @Html.DevExpress().UploadControl(
                                                                 settings =>
                                                                 {
                                                                     settings.Name = "uploadControl";
                                                                     settings.CallbackRouteValues = new
                                                                                                    {
                                                                                                        Controller = "Drivers",
                                                                                                        Action = "PhotoUpload"
                                                                                                    };

                                                                     settings.Width = Unit.Percentage(100);
                                                                     settings.ShowProgressPanel = true;
                                                                     settings.ShowUploadButton = true;
                                                                     settings.AdvancedModeSettings.EnableMultiSelect = false;
                                                                     settings.AdvancedModeSettings.EnableFileList = false;
                                                                     settings.AdvancedModeSettings.EnableDragAndDrop = true;
                                                                     settings.NullText = "Select photo file...";

                                                                     settings.ValidationSettings.Assign(PathHelper.UploadSettings);

                                                                     settings.ClientSideEvents.FileUploadComplete = "function(s,e) { onFileUploadComplete(e); }";
                                                                 }).GetHtml()
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new
                                                           {
                                                               @class = "form-control"
                                                           })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address) (*)
                            @Html.TextBoxFor(m => m.Address, new
                                                             {
                                                                 @class = "form-control"
                                                             })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(m => m.CountryCode, "Country Code (*)", new
                                                                                       {
                                                                                           @class = "col-md-3"
                                                                                       })
                                @Html.LabelFor(m => m.MobileNumber, "Mobile Number (*)", new
                                                                                         {
                                                                                             @class = "col-md-9"
                                                                                         })
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.CountryCode, countryCodes, new
                                                                                            {
                                                                                                @class = "form-control"
                                                                                            })
                                    @Html.ValidationMessageFor(m => m.CountryCode)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.MobileNumber, new
                                                                          {
                                                                              @class = "form-control"
                                                                          })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PayRateScheme)
                            @Html.DropDownListFor(m => m.PayRateScheme, paySchemes, new
                                                                                    {
                                                                                        @class = "form-control"
                                                                                    })
                            @Html.ValidationMessageFor(m => m.PayRateScheme)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AccountType) (*)
                            @Html.DropDownListFor(m => m.AccountType, EnumHelpers.ConvertEnumToSelectList<AccountTypes>(), new
                                                                                                                           {
                                                                                                                               @class = "form-control"
                                                                                                                           })
                            @Html.ValidationMessageFor(m => m.AccountType)
                        </div>
                        <div class="form-group for-staff">
                            @Html.LabelFor(m => m.IdentityNumber)
                            @Html.TextBoxFor(m => m.IdentityNumber, new
                                                                    {
                                                                        @class = "form-control"
                                                                    })
                            @Html.ValidationMessageFor(m => m.IdentityNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ICNumber)
                            @Html.TextBoxFor(m => m.ICNumber, new
                                                              {
                                                                  @class = "form-control"
                                                              })
                            @Html.ValidationMessageFor(m => m.ICNumber)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DrivingLicense) (*)
                            @Html.TextBoxFor(m => m.DrivingLicense, new
                                                                    {
                                                                        @class = "form-control"
                                                                    })
                            @Html.ValidationMessageFor(m => m.DrivingLicense)
                        </div>
                        <div class="form-group for-member">
                            @Html.LabelFor(m => m.VehicleNumber)
                            @Html.TextBoxFor(m => m.VehicleNumber, new
                                                                   {
                                                                       @class = "form-control"
                                                                   })
                            @Html.ValidationMessageFor(m => m.VehicleNumber)
                        </div>
                        <div class="form-group for-member">
                            @Html.LabelFor(m => m.VehicleType)
                            @Html.TextBoxFor(m => m.VehicleType, new
                                                                 {
                                                                     @class = "form-control"
                                                                 })
                            @Html.ValidationMessageFor(m => m.VehicleType)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Rating)
                            @Html.HiddenFor(m => m.Rating)
                            @Html.DevExpress().RatingControl(controlSettings =>
                                                             {
                                                                 controlSettings.Name = "RatingControl";
                                                                 controlSettings.ItemCount = 5;
                                                                 controlSettings.ItemWidth = 20;
                                                                 controlSettings.ItemHeight = 20;
                                                                 controlSettings.FillPrecision = RatingControlItemFillPrecision.Exact;
                                                                 controlSettings.ClientSideEvents.ItemClick = "rating_ItemClick";
                                                             }).Bind(Model?.Rating ?? 0).GetHtml()
                            @Html.ValidationMessageFor(m => m.Rating)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Remark)
                            @Html.TextAreaFor(m => m.Remark, new
                                                             {
                                                                 @class = "form-control textarea",
                                                                 rows = "5"
                                                             })
                            @Html.ValidationMessageFor(m => m.Remark)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsActive)
                                Is Active
                            </label>
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>