﻿@using System.Web.UI.WebControls
@using Courier_Management_System.Helpers

@model PayScheme

@{
    ViewBag.Title = "Add Pay Scheme";
    var services = ViewBag.Services as List<SelectListItem> ?? new List<SelectListItem>();
    var sizes = ViewBag.Sizes as List<SelectListItem> ?? new List<SelectListItem>();
}

@section scripts
{
    <script>
        $(function() {
            $('#menu-add-pay-scheme').addClass("active");
            $('#menu-add-pay-scheme').parents('.treeview').addClass("active");
            $('#menu-add-pay-scheme')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");
            initControls($("#payRates"));
        });

        function initControls(container) {
            container.find("input.number-spinner")
                .each(function() {
                    $(this)
                        .TouchSpin({
                            min: $(this).data('min-value') || 0,
                            max: $(this).data('max-value') || 1000000000,
                            step: $(this).data('step') || 1,
                            maxboostedstep: $(this).data('max-boosted-step') || 1000,
                            prefix: $(this).data('prefix') || '',
                            postfix: $(this).data('postfix') || '',
                            decimals: $(this).data('decimals') || 0
                        });
                });
        }

        function addRow() {
            var row = $("#template").children().first().clone();
            initControls(row);
            var time = (new Date()).getTime();
            row.find("input[name=Amount]").attr("name", "Amount_" + time);
            row.find("select[name=Service]").attr("name", "Service_" + time);
            row.find("select[name=Size]").attr("name", "Size_" + time);
            row.find("[data-valmsg-for=Amount]").attr("data-valmsg-for", "Amount_" + time);
            $("#payRates").append(row);
            $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
        }

        function removeRow(element) {
            $(element).parent().parent().remove();
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchemeName) (*)
                            @Html.TextBoxFor(m => m.SchemeName, new
                                                                {
                                                                    @class = "form-control",
                                                                    data_val = "true",
                                                                    data_val_required = "Scheme Name is required."
                                                                })
                            @Html.ValidationMessageFor(m => m.SchemeName)
                        </div>
                        <div class="form-group">
                            <label>Pay Rate</label> (*)
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <label class="control-label">Type of Service</label>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <label class="control-label">Size</label>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <label class="control-label">Amount</label>
                                </div>
                            </div>
                            <div id="payRates">
                                @if (Model?.PayRates != null)
                                {
                                    foreach (var rate in Model?.PayRates)
                                    {
                                        services.ForEach(x => x.Selected = x.Value == rate.ServiceId.ToString());
                                        sizes.ForEach(x => x.Selected = x.Value == rate.SizeId.ToString());

                                        <div class="row" style="margin: 5px -15px;">
                                            <div class="col-xs-4">
                                                @Html.DropDownList("Service_" + rate.Id, services, new
                                                                                                   {
                                                                                                       @class = "form-control"
                                                                                                   })
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.DropDownList("Size_" + rate.Id, sizes, new
                                                                                             {
                                                                                                 @class = "form-control"
                                                                                             })
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" class="form-control number-spinner" data-decimals="2" data-prefix="$" data-step="0.01" name="Amount_@rate.Id" data-val="true" data-val-required="Amount is required." value="@rate.Amount" />
                                                <span class="field-validation-valid" data-valmsg-for="Amount_@rate.Id" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-xs-1">
                                                <a class="btn btn-danger" onclick="removeRow(this);">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <div>
                                <a class="btn btn-info" onclick="addRow();">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

                <div id="template" class="hidden">
                    <div class="row" style="margin: 5px -15px;">
                        <div class="col-xs-4">
                            @Html.DropDownList("Service", services, new
                                                                    {
                                                                        @class = "form-control"
                                                                    })
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownList("Size", sizes, new
                                                              {
                                                                  @class = "form-control"
                                                              })
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control number-spinner" data-decimals="2" data-prefix="$" data-step="0.01" name="Amount" data-val="true" data-val-required="Amount is required." />
                            <span class="field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-xs-1">
                            <a class="btn btn-danger" onclick="removeRow(this);">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>