﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show History of Driver \"" + ViewBag.DriverName + "\"";
}

@section scripts
{
    <script>
        var start, end;
        $(function() {
            $('#menu-show-drivers').addClass("active");
            $('#menu-show-drivers').parents('.treeview').addClass("active");
            $('#menu-show-drivers')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('#dateRange')
                .daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment(),
                        locale: {
                            format: 'dd/MM/yyyy'
                        }
                    },
                    function(s, e) {
                        start = s;
                        end = e;

                        $('#StartDate').val(start.format('DD/MM/YYYY'));
                        $('#EndDate').val(end.format('DD/MM/YYYY'));

                        var url = $("#payslip").attr("href");
                        if (url.indexOf('?') != -1) {
                            url = url.substr(0, url.indexOf('?'));
                        }
                        $("#payslip").attr("href", url + "?start=" + start.format("YYYYMMDD") + "&end=" + end.format("YYYYMMDD"));

                        $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                        gridViewHistories.PerformCallback({
                            username: $("#Username").val(),
                            start: start.format('DD/MM/YYYY'),
                            end: end.format('DD/MM/YYYY')
                        });
                    }
                );

            @if (ViewBag.StartDate != null && ViewBag.EndDate != null)
            {
                <text>
                    start = moment("@(ViewBag.StartDate.ToUniversalTime().ToString("o"))");
                    end = moment("@(ViewBag.EndDate.ToUniversalTime().ToString("o"))");
                    $('#dateRange').data('daterangepicker').setStartDate(start);
                    $('#dateRange').data('daterangepicker').setEndDate(end);
                    $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                </text>
            }
        });

        function deleteRow(index) {
            swal(
                {
                    title: "Are you sure?",
                    text: "You will not be able to recover this action!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                },
                function() {
                    gridViewHistories.DeleteRow(index);
                });
        }
    </script>
}

<section class="content">

    <form method="POST" action="@Url.Action("ExportHistory", "Drivers")">

        <div class="row">
            <div class="col-md-12 col-sm-12 margin-bottom">
                <input type="hidden" name="StartDate" id="StartDate" value="@(ViewBag.StartDate?.ToString("dd/MM/yyyy"))" />
                <input type="hidden" name="EndDate" id="EndDate" value="@(ViewBag.EndDate?.ToString("dd/MM/yyyy"))" />
                <input type="hidden" name="Username" id="Username" value="@ViewBag.Username" />
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversExportDriverHistory))
                {
                    <button class="btn btn-primary" name="Type" value="XLS">Export to XLS</button>
                    <button class="btn btn-primary" name="Type" value="XLSX">Export to XLSX</button>
                }
                @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversShowDriverPayslip))
                {
                    <a id="payslip" class="btn btn-info" href="@Url.Action("Payslip", "Drivers", new { id = ViewBag.DriverId })?start=@(ViewBag.StartDate?.ToString("yyyyMMdd"))&end=@(ViewBag.EndDate?.ToString("yyyyMMdd"))" target="_blank">Generate Pay Slip</a>
                }
            </div>
            <div class="col-md-12 col-sm-12 margin-bottom">
                <label for="dateRange">Date Range</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-left" id="dateRange">
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("HistoryListViewPartial", new
                                                       {
                                                           username = ViewBag.Username,
                                                           start = ViewBag.StartDate?.ToString("dd/MM/yyyy"),
                                                           end = ViewBag.EndDate?.ToString("dd/MM/yyyy")
                                                       })
            </div>
        </div>

    </form>

</section>