﻿@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Payslip";
    var payslip = ViewBag.Payslip as List<PayslipModel> ?? new List<PayslipModel>();
}

<div class="container">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    <div class="row margin-bottom">
        <div class="col-md-12 col-xs-12">
            <h2 style="text-align: center; font-weight: bold;">PAYMENT STATEMENT</h2>
            <div style="margin: 5px 0;">
                <strong>Employee Name: </strong><h4 style="display: inline">@ViewBag.DriverName</h4>
            </div>
            <div style="margin: 5px 0 20px 0;">
                <strong>Pay Period: </strong><h4 style="display: inline">@(ViewBag.StartDate?.ToString("dd/MM/yyyy")) - @(ViewBag.EndDate?.ToString("dd/MM/yyyy"))</h4>
            </div>

            @if (payslip.Count > 0)
            {
                var totalAmount = (decimal) 0;
                var totalDeduction = (decimal) 0;

                <table class="table table-striped" style="border: 1px solid #f4f4f4; border-spacing: 0; border-collapse: collapse; width: 100%; max-width: 100%; margin-bottom: 20px;">
                    <thead>
                        <tr style="background-color: #d9edf7">
                            <th style="text-align: center; border: 1px solid #f4f4f4">Date</th>
                            <th style="text-align: center; border: 1px solid #f4f4f4">Job ID</th>
                            <th style="text-align: center; border: 1px solid #f4f4f4">Amount</th>
                            <th style="text-align: center; border: 1px solid #f4f4f4">Deduction</th>
                            <th style="text-align: center; border: 1px solid #f4f4f4">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in payslip)
                        {
                            totalAmount += row.Amount;
                            totalDeduction += row.Deduction;

                            <tr>
                                <td style="border: 1px solid #f4f4f4">@(row.Date?.ToString("dd/MM/yyyy"))</td>
                                <td style="border: 1px solid #f4f4f4">@row.JobId</td>
                                <td style="text-align: right; border: 1px solid #f4f4f4">@row.Amount.ToString("c")</td>
                                <td style="text-align: right; border: 1px solid #f4f4f4">@row.Deduction.ToString("c")</td>
                                <td style="text-align: right; border: 1px solid #f4f4f4">@((row.Amount - row.Deduction).ToString("c"))</td>
                            </tr>
                        }
                        <tr>
                            <td style="border: 1px solid #f4f4f4">&nbsp;</td>
                            <td style="border: 1px solid #f4f4f4"></td>
                            <td style="border: 1px solid #f4f4f4"></td>
                            <td style="border: 1px solid #f4f4f4"></td>
                            <td style="border: 1px solid #f4f4f4"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr style="background-color: #f2dede">
                            <td colspan="3" style="text-align: center; font-weight: bold; border: 1px solid #f4f4f4">Gross Earning</td>
                            <td colspan="2" style="text-align: center; font-weight: bold; border: 1px solid #f4f4f4">Total Deduction</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center; border: 1px solid #f4f4f4">@totalAmount.ToString("c")</td>
                            <td colspan="2" style="text-align: center; border: 1px solid #f4f4f4">@totalDeduction.ToString("c")</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: right; font-weight: bold; border: 1px solid #f4f4f4">Net Earning</td>
                            <td style="border: 1px solid #f4f4f4">@((totalAmount - totalDeduction).ToString("c"))</td>
                        </tr>
                    </tfoot>
                </table>

                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.DriversEmailDriverPayslip))
                {
                    <form method="POST" class="hidden-print text-right">
                        <button class="btn btn-primary" type="submit">Send via Email</button>
                    </form>
                }
            }
        </div>
    </div>
</div>