﻿@model Courier_Management_System.Models.AddEditTimeSlotViewModel
@{
    ViewBag.Title = "Add Time Slot";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-add-time-slot').addClass("active");
            $('#menu-add-time-slot').parents('.treeview').addClass("active");
            $('#menu-add-time-slot').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $('input[data-provide="timepicker"]').timepicker({
                showInputs: false,
                showMeridian: false
            });

            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name) (*)
                            @Html.TextBoxFor(m => m.Name, new
                            {
                                @class = "form-control"
                            })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BinCode) (*)
                            @Html.TextBoxFor(m => m.BinCode, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.BinCode)
                        </div>
                        <div class="form-group bootstrap-timepicker timepicker">
                            @Html.LabelFor(m => m.FromTime)
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.FromTime, new
                           {
                               @class = "form-control",
                               data_provide = "timepicker"
                           })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.FromTime)
                        </div>
                        <div class="form-group bootstrap-timepicker timepicker">
                            @Html.LabelFor(m => m.ToTime)
                            <div class="input-group timepicker">
                                @Html.TextBoxFor(m => m.ToTime, new
                                {
                                    @class = "form-control",
                                    data_provide = "timepicker"
                                })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.ToTime)
                        </div>
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(m => m.IsAllowPreOrder)
                                Is Allow To Pre-Order
                            </label>
                            @Html.ValidationMessageFor(m => m.IsAllowPreOrder)
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
