@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using Courier_Management_System.Models
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
                                          {
                                              settings.Name = "gridViewNotifications";
                                              settings.CallbackRouteValues = new
                                                                             {
                                                                                 Controller = "Notifications",
                                                                                 Action = "DriversListViewPartial"
                                                                             };

                                              settings.SettingsEditing.DeleteRowRouteValues = new
                                                                                              {
                                                                                                  Controller = "Notifications",
                                                                                                  Action = "ListViewPartialDelete"
                                                                                              };

                                              settings.Width = Unit.Percentage(100);

                                              settings.CommandColumn.Visible = false;

                                              settings.KeyFieldName = "Id";

                                              settings.EnableRowsCache = true;

                                              settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
                                              settings.SettingsPager.Visible = true;
                                              settings.Settings.ShowGroupPanel = true;
                                              settings.Settings.ShowFilterRow = true;
                                              settings.Settings.GridLines = GridLines.Both;

                                              settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                                              settings.SettingsBehavior.AllowSelectByRowClick = true;
                                              settings.SettingsBehavior.ConfirmDelete = true;
                                              settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
                                              settings.SettingsPager.Position = PagerPosition.TopAndBottom;
                                              settings.SettingsPager.FirstPageButton.Visible = true;
                                              settings.SettingsPager.LastPageButton.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Visible = true;
                                              settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

                                              settings.Columns.Add(column =>
                                                                   {
                                                                       column.Width = Unit.Pixel(150);
                                                                       column.SetDataItemTemplateContent(e =>
                                                                                                         {
                                                                                                             var row = (NotificationViewModel) e.Grid.GetRow(e.VisibleIndex);
                                                                                                             if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.NotificationsSendToDrivers))
                                                                                                             {
                                                                                                                 ViewContext.Writer.Write($"<a class='btn bg-olive btn-circle' href='{Url.Action("Send", "Notifications")}'><span class='fa fa-plus'></span></a>");
                                                                                                             }
                                                                                                             //ViewContext.Writer.Write($"<a class='btn bg-maroon btn-circle' href='javascript:deleteRow({e.VisibleIndex})'><span class='fa fa-trash-o'></span></a>");
                                                                                                         });
                                                                   });
                                              settings.Columns.Add("Message").Width = Unit.Pixel(600);
                                              settings.Columns.Add("SendTo").Width = Unit.Pixel(200);
                                              settings.Columns.Add("SendBy").Width = Unit.Pixel(200);
                                              settings.Columns.Add("SentOn").Width = Unit.Pixel(200);

                                              settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
                                          });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = NotificationsController.GetDriverNotifications(); }).GetHtml()