﻿@using Courier_Management_System.Helpers
@model Courier_Management_System.Models.SendNotificationViewModel

@{
    ViewBag.Title = "Send Notification to Users";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-add-notifications-users').addClass("active");
            $('#menu-add-notifications-users').parents('.treeview').addClass("active");
            $('#menu-add-notifications-users').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="POST">
                    <div class="box-body">
                        @if (ViewBag.ErrorMessages != null)
                        {
                            <div class="alert alert-danger alert-dismissible">
                                <ul>
                                    @foreach (var message in ViewBag.ErrorMessages)
                                    {
                                        <li>@message</li>
                                    }
                                </ul>
                            </div>
                        }

                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message) (*)
                            @Html.TextBoxFor(m => m.Message, new
                       {
                           @class = "form-control"
                       })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Token, "Customer")
                            @Html.HiddenFor(m => m.ToUser)
                            @{
                                Html.RenderPartial("_UsersComboBoxPartial");
                            }
                            @Html.ValidationMessageFor(m => m.Token)
                        </div>
                        <input id="IsDriver" name="IsDriver" type="hidden" value="false">
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" name="Send">Submit</button>
                        <button type="submit" class="btn btn-danger" name="SendAll">Send to All Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
