﻿
@{
    ViewBag.Title = "Show Notifications for Users";
}


@section scripts
{
    <script>
        $(function () {
            $('#menu-show-notifications-users').addClass("active");
            $('#menu-show-notifications-users').parents('.treeview').addClass("active");
            $('#menu-show-notifications-users').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function deleteRow(index) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this action!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                gridViewNotifications.DeleteRow(index);
            });
        }
    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("UsersListViewPartial")
        </div>
    </div>
</section>
