@using System.Web.UI.WebControls
@using Courier_Management_System.Areas.Admin.Controllers
@using Courier_Management_System.Helpers
@using DevExpress.Data
@using GridLines = System.Web.UI.WebControls.GridLines
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gridViewInvoices";
        settings.CallbackRouteValues = new
        {
            Controller = "Reports",
            Action = "InvoicesListViewPartial"
        };
        settings.AfterPerformCallback = (sender, args) =>
        {
            if (string.IsNullOrEmpty(args.Args.FirstOrDefault()))
            {
                return;
            }

                                            ((MVCxGridView) sender).DataBind();
        };

        settings.Width = Unit.Percentage(100);

        settings.CommandColumn.Visible = false;

        settings.KeyFieldName = "Id";

        settings.EnableRowsCache = true;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.GridLines = GridLines.Both;

        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.FilterRowMode = GridViewFilterRowMode.OnClick;
        settings.SettingsPager.Position = PagerPosition.TopAndBottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

        settings.Columns.Add(column =>
        {
            column.Width = Unit.Pixel(250);
            column.SetDataItemTemplateContent(e =>
            {
                var id = (long) e.Grid.GetRowValues(e.VisibleIndex, "Id");
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersInvoicesReportPrintInvoice))
                {
                    ViewContext.Writer.Write("<a class='btn bg-purple' href='/Order/Invoice/" + id + "' target='_blank'>Print Invoice</a>");
                }
                if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.OrdersInvoicesReportSendInvoice))
                {
                    ViewContext.Writer.Write("<a class='btn bg-maroon' href='javascript:sendInvoice(" + id + ")' style='margin-left: 10px;'>Send Invoice</a>");
                }
            });
        });
        settings.Columns.Add("Payer").Width = Unit.Pixel(200);
        settings.Columns.Add("Customer.CustomerCompany").Width = Unit.Pixel(200);
        settings.Columns.Add(column =>
        {
            column.FieldName = "AccountType";
            column.Width = Unit.Pixel(200);
            column.Caption = "Account Type";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;

            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = EnumHelpers.ConvertEnumToSelectList<PaymentTypes>();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        var col = settings.Columns.Add("PaymentAmount");
        col.Width = Unit.Pixel(200);
        col.PropertiesEdit.DisplayFormatString = "c";
        settings.Columns.Add(column =>
        {
            column.FieldName = "Orders";
            column.Width = Unit.Pixel(600);
            column.SetDataItemTemplateContent(e =>
            {
                var orders = (List<string>) e.Grid.GetRowValues(e.VisibleIndex, "Orders");
                if(orders!= null)
                {
                    foreach (var order in orders)
                    {
                        ViewContext.Writer.Write(order + ",");
                    }
                }
            });
        });
        settings.Columns.Add("InvoiceSent", MVCxGridViewColumnType.CheckBox).Width = Unit.Pixel(100);
        settings.Columns.Add("InvoiceSentOn", "Last Invoice Sent").Width = Unit.Pixel(200);
        col = settings.Columns.Add("CreatedOn");
        col.Width = Unit.Pixel(200);
        col.SortOrder = ColumnSortOrder.Descending;

        settings.ClientSideEvents.Init = "function(s, e) { s.PerformCallback(); }";
        settings.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['StartDate'] = start.format('DD/MM/YYYY'); e.customArgs['EndDate'] = end.format('DD/MM/YYYY'); }";
    });
}
@grid.BindToLINQ(string.Empty, string.Empty, (s, e) => { e.QueryableSource = ReportsController.GetInvoices(ViewBag.StartDate, ViewBag.EndDate); }).GetHtml()