﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Billing Report";
}


@section scripts
{
    <script>
        $(function () {
            $('#menu-billing-report').addClass("active");
            $('#menu-billing-report').parents('.treeview').addClass("active");
            $('#menu-billing-report')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            $('#dateRange').daterangepicker({
                ranges: {
                    'Today': [moment(), moment()],
                    'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                locale: {
                    format: 'dd/MM/yyyy'
                }
            },
                function (s, e) {
                    start = s;
                    end = e;

                    $('#StartDate').val(start.format('DD/MM/YYYY'));
                    $('#EndDate').val(end.format('DD/MM/YYYY'));

                    $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                    gridViewBilling.PerformCallback({
                        startDate: start.format('DD/MM/YYYY'),
                        endDate: end.format('DD/MM/YYYY')
                    });
                });

            @if (ViewBag.StartDate != null && ViewBag.EndDate != null)
            {
                <text>
            startDate = moment("@(ViewBag.StartDate.ToUniversalTime().ToString("o"))");
            endDate = moment("@(ViewBag.EndDate.ToUniversalTime().ToString("o"))");
            $('#dateRange').val("@(ViewBag.StartDate.ToString("dd/MM/yyyy")) - @(ViewBag.EndDate.ToString("dd/MM/yyyy"))");
            </text>
            }
        });

        function saveFilterExpression() {
            $('#FilterExpression').val(gridViewBilling.cpFilterExpression);
        }
    </script>
}

<section class="content">

    <form method="POST" action="@Url.Action("ExportBillingReport", "Reports")">
        <input type="hidden" name="FilterExpression" id="FilterExpression" />
        <input type="hidden" name="COD" id="COD" />
        <input type="hidden" name="CODCollected" id="CODCollected" />
      
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Filter</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="col-md-9 col-sm-6">
                    <label for="dateRange">Date Range (Pickup date)</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left" id="dateRange">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <input type="hidden" name="StartDate" id="StartDate" />
                        <input type="hidden" name="EndDate" id="EndDate" />
                        @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsExportBillingReport))
                        {
                            <button class="btn btn-primary" name="Type" onclick="saveFilterExpression()" value="XLS">Export to XLS</button>
                            <button class="btn btn-primary" name="Type" onclick="saveFilterExpression()" value="XLSX">Export to XLSX</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("BillingListViewPartial", new
           {
               startDate = ViewBag.StartDate?.ToString("dd/MM/yyyy"),
               endDate = ViewBag.EndDate?.ToString("dd/MM/yyyy")
           })
            </div>
        </div>
    </form>
</section>