﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Billing Summary";
}

@section scripts
{
    <script>
        var start, end;
        $(function() {
            $('#menu-billing-summary').addClass("active");
            $('#menu-billing-summary').parents('.treeview').addClass("active");
            $('#menu-billing-summary').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");

            $('#dateRange')
                .daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Past 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Past 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment(),
                        locale: {
                            format: 'dd/MM/yyyy'
                        }
                    },
                    function(s, e) {
                        start = s;
                        end = e;

                        $('#StartDate').val(start.format('DD/MM/YYYY'));
                        $('#EndDate').val(end.format('DD/MM/YYYY'));

                        $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                        gridViewBillingSummary.PerformCallback({
                            startDate: start.format('DD/MM/YYYY'),
                            endDate: end.format('DD/MM/YYYY')
                        });
                    });

            @if (ViewBag.StartDate != null && ViewBag.EndDate != null)
            {
                <text>
                    start = moment("@(ViewBag.StartDate.ToUniversalTime().ToString("o"))");
                    end = moment("@(ViewBag.EndDate.ToUniversalTime().ToString("o"))");
                    $('#dateRange').val("@(ViewBag.StartDate.ToString("dd/MM/yyyy")) - @(ViewBag.EndDate.ToString("dd/MM/yyyy"))");
                </text>
            }
        });

        function sendInvoice(id) {
            gridViewBillingSummary.PerformCallback({ id: id });
        }

    </script>
}

<section class="content">
    <form method="POST" action="@Url.Action("ExportBillingSummary", "Reports")">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Filter</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="col-md-9 col-sm-6">
                    <label for="dateRange">Date Range</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left" id="dateRange">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <input type="hidden" name="StartDate" id="StartDate" />
                        <input type="hidden" name="EndDate" id="EndDate" />
                        @if (User.IsInRole(AccountHelper.AdministratorRole) || User.IsInRole(AccountHelper.ReportsExportBillingSummary))
                        {
                            <button class="btn btn-primary" name="Type" value="XLS">Export to XLS</button>
                            <button class="btn btn-primary" name="Type" value="XLSX">Export to XLSX</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @Html.Action("BillingSummaryListViewPartial", new
                                                              {
                                                                  startDate = ViewBag.StartDate?.ToString("dd/MM/yyyy"),
                                                                  endDate = ViewBag.EndDate?.ToString("dd/MM/yyyy")
                                                              })
            </div>
        </div>
    </form>
</section>