﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Jobs History Report";
}

@section scripts
{
    <script>
        $(function () {
            $('#menu-job-history-report').addClass("active");
            $('#menu-job-history-report').parents('.treeview').addClass("active");
            $('#menu-job-history-report').parents('.treeview').find('.treeview-menu').addClass("menu-open").css("display", "block");
        });

        function showOrderDetail(cn) {
            popupControl.SetContentUrl("@Url.Action("OrderDetail", "Jobs")" + "?consignmentNumber=" + cn);
            popupControl.Show();
        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            @Html.Action("JobsHistoryListViewPartial")
        </div>
    </div>
</section>

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "popupControl";
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.AllowDragging = true;
    settings.AllowResize = true;
    settings.Modal = true;
    settings.EnableHotTrack = true;
    settings.Width = 600;
    settings.Height = 500;
    settings.HeaderText = "Order detail";

}).GetHtml()
