﻿@using Courier_Management_System.Helpers
@{
    ViewBag.Title = "Show Management Report";
}

@section scripts
{
    <script>
        var start, end;
        $(function() {
            $('#menu-show-management-report').addClass("active");
            $('#menu-show-management-report').parents('.treeview').addClass("active");
            $('#menu-show-management-report')
                .parents('.treeview')
                .find('.treeview-menu')
                .addClass("menu-open")
                .css("display", "block");

            //Make the dashboard widgets sortable Using jquery UI
            $(".connectedSortable")
                .sortable({
                    placeholder: "sort-highlight",
                    connectWith: ".connectedSortable",
                    handle: ".box-header, .nav-tabs",
                    forcePlaceholderSize: true,
                    zIndex: 999999
                });
            $(".connectedSortable .box-header, .connectedSortable .nav-tabs-custom").css("cursor", "move");

            var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                {
                    value: @ViewBag.TotalDelivered,
                    color: "#00a65a",
                    highlight: "#00a65a",
                    label: "Delivered"
                },
                {
                    value: @ViewBag.TotalFailed,
                    color: "#f56954",
                    highlight: "#f56954",
                    label: "Failed Delivery"
                },
                {
                    value: @ViewBag.TotalCancelled,
                    color: "#f39c12",
                    highlight: "#f39c12",
                    label: "Cancelled"
                },
                {
                    value:
                        @(ViewBag.TotalOrders - ViewBag.TotalDelivered - ViewBag.TotalFailed - ViewBag.TotalCancelled),
                    color: "#3c8dbc",
                    highlight: "#3c8dbc",
                    label: "Others"
                }
            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: "#fff",
                //Number - The width of each segment stroke
                segmentStrokeWidth: 1,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: "easeOutBounce",
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: false,
                //String - A legend template
                legendTemplate:
                    "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                //String - A tooltip template
                tooltipTemplate: "<%=value %> <%=label%> item(s)"
            };
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);

            start = moment("@(ViewBag.StartDate.ToUniversalTime().ToString("o"))");
            end = moment("@(ViewBag.EndDate.ToUniversalTime().ToString("o"))");
            $('#dateRange')
                .val("@(ViewBag.StartDate.ToString("dd/MM/yyyy")) - @(ViewBag.EndDate.ToString("dd/MM/yyyy"))");

            $('#dateRange')
                .daterangepicker(
                    {
                        ranges: {
                            'January': [moment().month(0).startOf('month'), moment().month(0).endOf('month')],
                            'February': [moment().month(1).startOf('month'), moment().month(1).endOf('month')],
                            'March': [moment().month(2).startOf('month'), moment().month(2).endOf('month')],
                            'April': [moment().month(3).startOf('month'), moment().month(3).endOf('month')],
                            'May': [moment().month(4).startOf('month'), moment().month(4).endOf('month')],
                            'June': [moment().month(5).startOf('month'), moment().month(5).endOf('month')],
                            'July': [moment().month(6).startOf('month'), moment().month(6).endOf('month')],
                            'August': [moment().month(7).startOf('month'), moment().month(7).endOf('month')],
                            'September': [moment().month(8).startOf('month'), moment().month(8).endOf('month')],
                            'October': [moment().month(9).startOf('month'), moment().month(9).endOf('month')],
                            'November': [moment().month(10).startOf('month'), moment().month(10).endOf('month')],
                            'December': [moment().month(11).startOf('month'), moment().month(11).endOf('month')]
                        },
                        startDate: start,
                        endDate: end,
                        locale: {
                            format: 'dd/MM/yyyy'
                        }
                    },
                    function(s, e) {
                        start = s;
                        end = e;

                        $('#StartDate').val(start.format('DD/MM/YYYY'));
                        $('#EndDate').val(end.format('DD/MM/YYYY'));

                        $('#dateRangeForm').submit();

                        $('#dateRange').val(start.format('DD/MM/YYYY') + " - " + end.format('D/MM/YYYY'));
                    }
                );
        });

    </script>
}

<section class="content">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Filter</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="col-md-9 col-sm-6">
                <label for="dateRange">Date Range</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-left" id="dateRange">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <label>&nbsp;</label>
                <div class="form-group">
                    <form id="dateRangeForm" method="post">
                        <input type="hidden" name="StartDate" id="StartDate" />
                        <input type="hidden" name="EndDate" id="EndDate" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Management Reports</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Number of items</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Delivered</td>
                                    <td>@(ViewBag.TotalDelivered.ToString("###,###,##0"))</td>
                                    <td>@((ViewBag.TotalDelivered / (float) ViewBag.TotalOrders).ToString("P"))</td>
                                </tr>
                                <tr>
                                    <td>Failed Delivery</td>
                                    <td>@(ViewBag.TotalFailed.ToString("###,###,##0"))</td>
                                    <td>@((ViewBag.TotalFailed / (float) ViewBag.TotalOrders).ToString("P"))</td>
                                </tr>
                                <tr>
                                    <td>Cancelled</td>
                                    <td>@(ViewBag.TotalCancelled.ToString("###,###,##0"))</td>
                                    <td>@((ViewBag.TotalCancelled / (float) ViewBag.TotalOrders).ToString("P"))</td>
                                </tr>
                                <tr class="success">
                                    <td>Total</td>
                                    <td>@(ViewBag.TotalOrders.ToString("###,###,##0"))</td>
                                    <td></td>
                                </tr>
                                <tr class="success">
                                    <td>Total Sale Revenue</td>
                                    <td>@(ViewBag.TotalRevenue.ToString("C"))</td>
                                    <td>
                                        @{
                                            var change = ViewBag.LastRevenue > 0 
                                                ? (ViewBag.TotalRevenue - ViewBag.LastRevenue) / ViewBag.LastRevenue
                                                : (ViewBag.TotalRevenue > 0 ? 100 : 0);
                                        }
                                        <span class="label @(change > 0 ? "label-success" : (change < 0 ? "label-danger" : "label-warning"))">@(change.ToString("P"))</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
            <!-- solid sales graph -->
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">Management Reports Graph</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <div class="chart" style="height: 250px;">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- right col -->
    </div>
</section>