﻿@using Courier_Management_System.Helpers

@{
    ViewBag.Title = "Drivers Tracking";
    var googleApiKey = SettingProvider.GoogleClientKey ?? "";
}

@section scripts {
    <script>
        var googlePin = "https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=";

        function getPinIcon(character, background, foreground) {
            return googlePin + character + "|" + background + "|" + foreground;
        }

        var map;
        var geocoder;
        var directionsService, directionsDisplay;
        var matrixDistance;
        var infowindow;

        function initMap() {
            // Create a map object and specify the DOM element for display.
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 1.352083, lng: 103.819836 },
                scrollwheel: true,
                zoom: 14
            });

            geocoder = new google.maps.Geocoder();

            directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer({ map: map });

            matrixDistance = new google.maps.DistanceMatrixService;

            infowindow = new google.maps.InfoWindow({});
        }

        var markers = [];

        function dropMarker(id, position, title, label, icon) {
            // Check if this marker exists
            for (var i = 0; i < markers.length; i++) {
                if (markers[i].id == id) {
                    markers[i].marker.setPosition(position);
                    markers[i].marker.setTitle(title);
                    markers[i].marker.setLabel(label);
                    if (icon) {
                        markers[i].marker.setIcon(icon);
                    }
                    return;
                }
            }

            var marker = new google.maps.Marker({
                map: map,
                position: position,
                title: title,
                animation: google.maps.Animation.DROP,
                label: label
            });

            if (icon) {
                marker.setIcon(icon);
            }

            marker.addListener('click', function () {
                infowindow.setContent(this.getTitle());
                infowindow.open(map, this);
            });

            markers.push({
                id: id,
                marker: marker
            });
        }

        var running = false;
        $(function () {
            $('.content').height($('.content-wrapper').height() - $('.content-header').outerHeight() - 30);

            // Update after 500 ms
            setInterval(function() {
                if (running) {
                    return;
                }

                running = true;
                $.ajax({
                    url: "@Url.Action("GetLocations", "Reports")",
                    type: "POST",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            dropMarker(data[i].Driver, new google.maps.LatLng(data[i].Location.Latitude, data[i].Location.Longitude),
                                data[i].Location.DriverName + "<br />" + data[i].Location.TasksCompleted + " completed out of " + data[i].Location.Tasks, i + 1);
                        }

                        running = false;
                    }
                })
            }, 500);
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@(googleApiKey)&signed_in=true&callback=initMap"></script>
}

<section class="content">
    <div class="row" style="height: 100%;">
        <div class="col-lg-12 col-xs-12" style="height: 100%;">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</section>